.o_action_manager{
overflow: auto !important;
}

.oh_dashboards{
    padding-top :15px;
    background-color: #f8faff !important;
}

.oh-card h4 {
    font-size: 1.1rem;
}
.breadcrumbs {
    margin-top: 0;
}
.stat-icon{
    display: inline-block;
}

.stat-widget-one .stat-icon {
    vertical-align: top;
    margin: auto;
    width: 100%;
    color: #01c490;
}

.stat-widget-one .stat-icon i {
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  color: #01c490;}

.stat-widget-one .stat-text {
    font-size: 14px;
    color: #868e96;
    font-weight: bold;

}

.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #02448b;
}

.stat_count {
	font-size: 28px !important;
}

.oh_dashboards {
    background-color: #f8faff !important;
    padding: 0px !important;

}
.container-fluid.o_hr_dashboard {
    padding: 0px !important;
}
.oh-card {

    padding-top: 0px;
    padding: 0px;
    margin-bottom: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;

}
.oh-card:hover {

    transform: translateY(-2px) translateZ(0) !important;
    box-shadow: 0 10px 10px 0 rgba(62, 57, 107, 0.12), 0 0 0 transparent !important;

}
.oh-payslip {

    margin-top: 1.5%;

}
.oh-payslip .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 2%;
    color: #fff;

}
.oh-payslip .oh-card {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);

}
.stat-widget-one .stat-text {

    font-size: 14px;
    margin-top: 2.3rem;
    margin-left: 1rem;

}
.stat-widget-one .stat-digit {

    font-size: 17px;
    color: #000;
    margin-left: 1rem;
    padding-left: 26px;

}

.stat-widget-one .stat-icon i {
	font-size: 42px;
	font-weight: 900;
	display: inline-block;
	color: #000;
	top: 16px;
	position: relative;
}
.stat-widget-one {

    background-color: white;
    text-align: inherit !important;

}
.stat-widget-one {
    width: 100%;
}
.oh-payslip .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 2%;

}

.hr-chart-1{
    margin: 15px 0px;
    background: #fff;
    padding: 0px !important;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
}
.hr-chart-1:hover{
    transform: translateY(-2px) translateZ(0) !important;
    box-shadow: 0 10px 10px 0 rgba(62, 57, 107, 0.12), 0 0 0 transparent !important;
}
.stat-head {
	text-align: left !important;
	font-weight: 300;
	font-size: 21px;
	margin-bottom: 12px;
	margin-left: 2px;
	width: 100%;
}
.emp_graph {
    padding-left: 90px;
    height: auto;
    padding-bottom: 65px;
    text-align: center !important;
}
.hr_notification {
    background: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    height: 757pxpx;
    margin-bottom: 15px;
}
.hr_notification .media {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 10px;
}
.hr_notification .text-color.display-6 {
    margin: 0px 0 3px;
    color: #2d2d2d;
}
.hr_notification p {
    margin: 0 0 1px;
    color: #666;
    font-size: 10px;
}
.hr_notification_head {
    font-size: 17px;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    font-weight: 300;
    background: #5ebade;
    margin-bottom: 9px;
}
.hr-chart-1 {
    margin: 15px 0px;
    background: #fff;
    padding: 0px !important;
        padding-top: 0px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    padding-top: 3px !important;
}
.row.main-section {
    margin-right: 0px; !important;
}

.text-align {
  margin-left: 17px;
}

.chart {
  width: 100% !important;
  height: 400px !important;
}
.inner_select {
    min-width: 150px
}

#table_status {
    width: 90%;
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

#table_status tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table_status tr:hover {
    background-color: #ddd;
}

.project-pill {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    width: auto;
    position: relative;
    border-radius: 100px;
    line-height: 1;
    overflow: hidden;
    padding: 0px 8px 0px 7px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: #fff;
    word-break: break-word;
    background: #0253e8;
}

.inner_select p {
    margin-left: 20px
}
