.brands {
    margin-top: 100px;
    @media screen and(max-width:996px) {
        margin-top: 75px;
    }
    @media screen and(max-width:996px) {
        margin-top: 50px;
    }
    .brand_img {
        max-width: 120px;
        display: block;
        margin: auto;
        @media screen and(max-width:996px) {
            margin-bottom: 15px;
        }
        img {
            width: 100%;
            opacity: 0.2;
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
