.hot {
  // display: grid;
  // grid-template-columns: 1fr 1fr !important;
  margin-top: 70px;
  .left {
    background-image: url(./../img/exclusive.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #00000069;
    }
    .wrapper {
      text-align: center;
      position: relative;
      padding: 33px 109px;
      @media screen and(max-width:996px) {
        padding: 73px 109px;
      }
      @media screen and(max-width:576px) {
        padding: 30px 50px;
      }
      z-index: 1;
      .deal {
        color: $white;
        font-size: 33px;
        font-weight: 600;
        padding-top: 120px;
        margin-bottom: 7px;
      }
    }
    .bt {
      color: $white;
      font-size: 15px;
    }
    #countdown {
      width: 100%;
      border-radius: 8px;
      margin-top: 65px;
      @media screen and(max-width:576px) {
        margin-top: 30px;
      }
    }
    label {
      clear: both;
      display: block;
    }
    #countdown span {
      color: $white;
      font-size: 45px;
      font-weight: 700;
      text-align: center;
      width: 25%;
      // dispaly: block;
      float: left;
    }
    // #countdown span:last-child {
    //   border-right: 1px solid #313233;
    // }
  }
  .right {
    background-color: $link;
    height: 100%;
    padding-top: 20%;
    .wrapper {
      text-align: center;
      position: relative;
      .img_right {
        max-width: 350px;
        margin: auto;
        img {
          width: 100%;
        }
      }
      h5 {
        color: $title-color;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 15px;
        font-family: $title-font;
        font-size: 25px;
        margin-bottom: 30px;
      }
      .rate {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        p {
          color: $title-color;
          margin-right: 50px;
        }
        span {
          color: $pfont;
          text-decoration: line-through;
        }
      }
    }
    #owl-theme2 {
      position: relative;
      .owl-nav {
        .owl-prev {
          color: $hover;
          &:hover {
            color: $black;
          }
          i {
            font-size: 27px;
            padding: 10px;
          }
        }
        .owl-next {
          color: $hover;
          &:hover {
            color: $black;
          }
          i {
            font-size: 27px;
          }
        }
      }
    }
  }
}
