.offers {
    padding-top: 100px;
    @media screen and(max-width:996px) {
        padding-top: 75px;
    }
    .tt {
        @media screen and(max-width:996px) {
            margin-top: 20px;
        }
    }
    .offer_img {
        position: relative;
        img {
            width: 100%;
            display: block;
            height: auto;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background-color: #00000069;
            &:hover {
                opacity: 1;
            }
            .text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
        }
    }
    .offer_left {
        position: relative;
        @media screen and(max-width:996px) {
            margin-top: 25px;
        }
        img {
            width: 100%;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background-color: #00000069;
            &:hover {
                opacity: 1;
            }
            .text {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
            }
        }
    }
}
