.fixed-top {
    position: fixed !important;
    top: 30px;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar {
    -webkit-box-shadow: 0px 10px 8px 0px rgba(49, 49, 50, 0.15);
    -moz-box-shadow: 0px 10px 8px 0px rgba(49, 49, 50, 0.15);
    box-shadow: 0px 10px 8px 0px rgba(49, 49, 50, 0.15);
    padding: 8px 42px;
    border-radius: 24px;
    .navbar-collapse {
        transition: all 0.35s ease-out;
        transform-origin: center left;
    }
    .navbar-nav {
        width: 100%;
        background: $color-white;
        display: flex;
        // margin-left: auto;
        // justify-content: end;
        // display: flex;
        .nav-item {
            padding: 0 15px;
            text-align: center;
            .active {
                color: $color-black !important;
            }
        }
        .nav-link {
            color: $color-brand !important;
            padding-left: 15px;
            font-weight: 700;
            transition: all 0.35s ease-out;
            transform-origin: center left;
            &:hover {
                color: $color-grey;
            }
            img {
                width: 100%;
                max-width: 25px;
            }
        }
    }
    .nav-shop {
        margin-left: auto;
        .nav-link {
            color: $color-black;
            padding-left: 15px;
            &:hover {
                color: rgba(0, 0, 0, 0.747);
            }
        }
    }
}
.bg-light {
    background-color: rgb(255, 255, 255) !important;
}
.navbar-light {
    .navbar-brand {
        // color: black !important;
        // font-size: 35px;
        // font-family: $font-heading;
        margin: auto;
      
        max-width: 45px;
        img {
            width: 100%;
        }
        @media screen and(max-width:992px) {
            margin: 0 !important;
        }
        @media screen and(max-width:768px) {
            font-size: 25px;
        }
    }
    .brand-shop {
        color: $color-black !important;
    }
    .footer_icon {
        margin-left: auto;
        @media screen and(max-width:992px) {
            text-align: center;
            margin-top: 30px;
        }
        a {
            color: $color-black;
            margin-right: 15px;
            &:hover {
                color: $color-brand2;
            }
        }
    }
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: $color-brand;
    border: 1px solid;
    border-color: transparent;
    padding-bottom: 10px;
}
.new {
    fill: black;
    &:hover {
        fill: rgba(75, 75, 75, 0.747) !important;
    }
}
.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}
.dropdown-menu.show {
    display: block !important;
}
.dropdown {
    .dropdown-menu {
        position: static;
        top: 90%;
        left: 0%;
        z-index: 1000;
        display: none !important;
        float: none;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #ffffff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 0.25rem;
        transition: all 0.5s;
    }
    &:hover {
        .dropdown-menu {
            display: block !important;
            text-align: center;
            -webkit-box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.35);
            -moz-box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.35);
            box-shadow: 0px 10px 18px 2px rgba(0, 0, 0, 0.35);
            border-color: transparent !important;
            border-bottom-color: $color-brand !important;
            border: 2px solid;
        }
    }
}
.nav-item:hover .dropdown-menu {
    .dropdown-item {
        padding-top: 10px;
        padding-bottom: 10px;
        font-weight: 400;
        &:hover {
            background: #00000036;
            border: none;
            border-left: 1.5px solid #fff !important;
            border-radius: 0px 50px 50px 0px;
            padding-left: 30px;
        }
    }
}
/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}
/**
     * Animate collapse into X.
     */
/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}
/**
     * Animate collapse open into hamburger menu
     */
/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}
