.pos .leftpane {
    float: left;
    height: 98%;
    max-height: 97vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
    border: solid 5px teal;
    ;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.cash-move-button:hover {
    background-color: teal;
}

.header-button:hover {
    background-color: teal !important;
}

.oe_status:hover {
    background-color: teal !important;
}

.search-bar-portal {
    display: none !important;
}

.pos .subwindow .subwindow-container-fix {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    ;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.pos .products-widget {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
    ;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.pos .order .orderlines {
    &::-webkit-scrollbar {
        width: 0;
    }
}

.pos-topheader {
    background: teal !important;
}

.payment-status-container {
    margin-top: 70px !important;
}

.paymentlines-container {
    height: 29% !important;
}

.nextorder {
    margin-bottom: 8px !important;
    width: 29% !important;
}

.pos .product-list-container .product-list-empty p {
    margin: 10px;
    text-align: center;
    color: teal;
    font-size: 14px;
}

.pos .button.validation .pay-circle {
    background: white;
    color: teal;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pos .numpad {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 8px;
    margin-left: 0px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-color: teal;
    border-top-right-radius: 4px;
    min-width: 216px;
    margin: 0 !important;
}

.pos .numpad button {
    width: 25%;
    height: 25%;
    border-color: teal;
    background: white;
}

.pos .mode-button.selected-mode {
    color: teal;
    background: white;
    border-color: teal;
}

.pos .actionpad {
    padding: 0;
    text-align: center;
    vertical-align: top;
    border: none;
    border-right: 1px solid gray;
    flex-grow: 1;
    width: 50%;
}

.pos .right {
    float: right;
    background: white;
    width: 30%;
    height: 98.9%;
    max-height: 97vh;
    border: solid 5px teal;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 8px;
}

.pos .customer-button {
    width: 65%;
    margin-bottom: 110px;
    border: 2px solid teal !important;
    color: teal !important;
}

.pos .head {
    color: #017e84;
    font-size: 12px;
    font-weight: bold;
}

.pos .center {
    background: white;
    height: 100%;
    max-height: 97vh;
}

.pos ._o_customer {
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
}

.pos .paymentlines-container {
    padding: 16px;
    padding-top: 0;
    border: solid 5px teal;
    min-height: 154px;
    text-align: center;
    padding: 50px 30px 0px 18px;
    font-size: 30px;
    color: #43996E;
}

.pos p.title-category {
    margin: 0;
    text-align: center;
    background: #ededed;
    color: teal;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    order: 1;
    height: 23px;
    padding-top: 4px;

}

.pos .payment-status-total-due {
    font-size: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: gray;
    padding-left: 100px;
}

.pos .payment-status-container {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-top: 15px;
}

.pos .button.validation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(var(--btn-height-size) * 2.3);
    border: none;
    background: teal;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    transition: all 150ms linear;
    background: #39B8B8 !important;
    margin-bottom: 13px !important;
    height: 11.85%;
}

.pos .amount-paymentmethod {
    padding-left: 40%;
}

.pos .delete-button {
    padding-left: 30%;
}

.pos .form-container {
    max-width: 450px;
    padding: 30px;
    background-color: white;
}

.pos .orderlinesactionpad-receipt {
    font-size: 15px;
    text-align: left;
    margin-left: 35px;
}

.highlight {
    width: 29.45% !important;
}

.next {
    border-bottom: solid 5px teal !important;
}

.paymentmethods-container {
    overflow: scroll;
    height: 48%;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.pos .nextorder {
    position: absolute;
    width: 28.3%;
    bottom: 0;
}

.pos .search-bar-container.sb-product {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: start;
    justify-content: center;
    height: 100%;
    min-height: 48px;
    display: flex;
    position: relative;
    flex: 1;
    align-items: center;
}

.pos .search-bar-container.sb-product input {
    flex: 1;
    font-size: medium;
    height: 100%;
    border: none;
    color: #63717f;
    padding-left: 38px;
    padding-right: 38px;
    border-radius: 5px;
}

.pos .search-bar-container.sb-product input:focus-visible {
    outline: none;
}

.pos .search-bar-container.sb-product .icon {
    position: absolute;
    left: 0;
    margin-left: 4px;
    z-index: 1;
    color: #4f5b66;
    font-size: 15px;
    margin-left: 15px;
}

.pos .search-bar-container.sb-product .clear-icon {
    position: absolute;
    right: 13px;
    margin-left: 28%;
    color: #4f5b66;
    cursor: pointer;
}

.pos .button.new-order {
    background: #39b8b8 !important;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: grid;
    bottom: 13px;
    width: 29.15% !important;
    height: 11.5%;
}