@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}
*::-webkit-scrollbar {
  width: 0;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
.carousel {
  position: relative;
  padding-top: 63%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}
.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow-y: hidden;
}
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}
.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  font-size: 2em;
}
.carousel__snapper {
  scroll-snap-align: center;
}
.carousel__snapper img{
  height: 300px
}
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel__navigation-button {
  display: inline-block;
  background-clip: content-box;
  transition: transform 0.1s;
}
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  transform: translateY(-50%);
}
.carousel::before,
.carousel__prev {
  left: -1rem;
}
.carousel::after,
.carousel__next {
  right: -1rem;
}
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}
