.generate-token-body{
    background-image: url("/odoo_queue_manager/static/src/images/aqua_beige_gradient.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.g-card{
        margin-top: 49px;
        background-color:red;
}

.g-card-token-body{
background-color: rgba(255, 255, 255, 0.2);
height:500px;
}

.close-button{
display:flex;
}