.btn {
  border: none !important;
  outline: 0 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: uppercase;
  &-primary {
    border-radius: 0px;
    font-size: 14px !important;
    text-decoration: none;
    position: relative;
    border: 1px solid var(--p-brand-green) !important;
    background-color: var(--voltro-primary);
    color: var(--white-color) !important;
    transition: all 0.3s;
    padding: 15px 30px;

    &:hover {
      background-color: var(--white-color);
      color: var(--voltro-primary) !important;
    }
  }

  &-secondary {
    border-radius: 0px;
    font-size: 14px !important;
    text-decoration: none;
    position: relative;
    border: 1px solid white !important;
    background-color: transparent;
    color: var(--white-color) !important;
    transition: all 0.3s;
    padding: 12px 20px;
    text-transform: uppercase;

    &:hover {
      background-color: var(--white-color);
      color: var(--voltro-primary) !important;
    }
  }
}