.o_text_002{
      position: absolute;
      padding: 15px;
      background: linear-gradient(0deg, #fff0 65%, #000 90%);
      color: transparent;
      transition: 850ms
    }
.o_text_002:hover{
      position: absolute;
      padding: 15px;
      background: linear-gradient(0deg, #fff0 -3%, #000 70%);
      color: #fff;
    }
.o_img_002{ transition: 850ms;}
.o_img_002:hover{transform: scale(1.1);}
.o_img_002:hover+.o_text_002{
      position: absolute;
      padding: 15px;
      background: linear-gradient(0deg, #fff0 -3%, #000 70%);
      color: #fff;
      z-index: 2 !important;
      }
