.o_box_011{
    margin-bottom: 20px;
    padding: 5px;
}

.a_snippet_011{
    float: left;
}
.md-7-011{
    transition: 250ms;
    padding: 5px;
    height: 97px;
    border-radius: 5px;
}
.o_box_011:hover > .md-7-011{
    background: var(--o-color-5);
    color: var(--o-color-3);
}