.a_img_list, .a_product_btn{
   transition: 850ms;
}
.a_product_list{
    padding-top: 20px;
}
.a_product_list_item_link{
    top: auto;
    left: 10%;
    bottom: 0;
    right: 10%;
}
.a_item:hover .a_img_list{
    scale: 1.2;
    box-shadow: 0px 15px 35px -10px;
}
.a_item:hover .a_product_btn{
    background: var(--o-color-2);
    color: var(--o-color-3);
}