*{
    list-style-type:none;

    font-family: $font-default;
   
    &:focus,&:active{
        outline: none !important;
    }
}
img{width: 100%;}



body{
    background-color:$color-white;
}


*:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}



// @media (max-width: 1300px) {
// .my-custom-container{
//     width:1300px;
// }}

*::selection {
    color: rgb(0, 204, 255);
  
  }