*{
    list-style-type:none;

    font-family: $font-default;
   
    &:focus,&:active{
        outline: none !important;
    }
}
img{width: 100%;}



body{
    background-color:$color-white;
}

*:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

*::selection {
    color: rgb(0, 204, 255);
  
  }