//font
$font-default: 'Lora', serif;
$font-offer:'Cinzel Decorative', cursive;

//colors
$color-red: #ff5254;
$color-pink: #fab4bf;
$color-black: #000000;
$color-grey: #858585;
$color-white:#ffffff;
$color-footer:#fdeaea;
$color-hover:#3e300bdb;
$color-border:#cfcdcd;
$color-bg-heading:#e6e4e4d1;
$color-whitesmoke:#8d8d8d;


//fon-size
$font-size-h1: 36px;
$font-size-h4:18px;
$font-size-subheading:25px;
$font-size-text: 14px;
$font-size-s:15px;
$font-size-banner:53px;
$font-size-form:12px;
$font-bold:18px;


