@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

//Global
@import './variables';
@import './normalize';
@import './layout/layouts';
@import './components/components';
@import './pages/pages';

@import './common';
