
.o_entertainment_games_req_footer{
    display:none;
}
.sudokupage
{
	height: 650px;
	width:100%;
	background-color: #CDD5F4;
}
.sudokupage1
{
	height: auto;
	width:25%;
	float: left;
	margin-top: 250px;
}
.sudokupage2
{
	height: 650px;
	width:55%;
	float: left;
	background-color: #CDD5F4;
}
.sudokupage2 h3
{
	color: red;
	font-size: 28px;
}
.sudokupage2 h4
{
	color: red;
	font-size: 20px;
}
.sudokupage3
{
	height: auto;
	width:20%;
	float:right;
	background-color: #CDD5F4;
}

.sudokunewbutton {
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sudokulevelbutton {
  border-radius: 3px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbuttonreset {
  border-radius: 3px;
  display: none;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbuttoncheck {
  border-radius: 3px;
  display: none;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbuttoncheckback {
  border-radius: 3px;
  display: none;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbuttonsolve {
  border-radius: 3px;
  display: none;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbutton1 {
  border-radius: 3px;
  background-color: #00b3b3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbutton2 {
  border-radius: 3px;
  background-color: #00b3b3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.sudokulevelbutton3 {
  border-radius: 3px;
  background-color: #00b3b3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  width: 170px;
  height:55px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.sudokulevelselection {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.sudokulevelselection-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.sudokulevelselectionclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.sudokulevelselection:hover,
.sudokulevelselection:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sudokulevelselection-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.sudokulevelselection-body {padding: 2px 16px;}

.sudokulevelselection-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

table.sudoright td {width: 50px; height:80px;
font-weight: bold;
text-align: center
}
table.sudoright {
margin-top: 120px;
}
table.sudoku td {width: 55px; height:55px;
border-width: 1px;
border-style: solid;
border-color: black;
font-weight: bold;
text-align: center
}
table.sudoku {
border-width: 3px;
border-style: solid;
border-color:black;
}
table.sudoku td[id^=cell_0] {border-bottom-width: 3px;border-bottom-style: double;}
table.sudoku td[id^=cell_1] {border-bottom-width: 3px;border-bottom-style: double;}
table.sudoku td[id^=cell_2] {border-bottom-width: 3px}
table.sudoku td[id^=cell_3] {border-bottom-width: 3px;border-bottom-style: double;}
table.sudoku td[id^=cell_4] {border-bottom-width: 3px;border-bottom-style: double;}
table.sudoku td[id^=cell_5] {border-bottom-width: 3px}
table.sudoku td[id^=cell_6] {border-bottom-width: 3px;border-bottom-style: double;}
table.sudoku td[id^=cell_7] {border-bottom-width: 3px;border-bottom-style: double;}
table.sudoku td[id$=_0] {border-right-width: 3px;border-right-style: double;}
table.sudoku td[id$=_1] {border-right-width: 3px;border-right-style: double;}
table.sudoku td[id$=_2] {border-right-width: 3px}
table.sudoku td[id$=_3] {border-right-width: 3px;border-right-style: double;}
table.sudoku td[id$=_4] {border-right-width: 3px;border-right-style: double;}
table.sudoku td[id$=_5] {border-right-width: 3px}
table.sudoku td[id$=_6] {border-right-width: 3px;border-right-style: double;}
table.sudoku td[id$=_7] {border-right-width: 3px;border-right-style: double;}
td.selected {background-color: rgb(100%, 70%, 0%)}
td.tofill   {color: blue;background-color: #f2ffde }
td.filled   {color: blue;background-color: #c0ff96}
td.green{color:green;background-color: #fff}
td.red{color:red;background-color:#FC9E9E;border-color: red;border-width: 1.5px}
td.notfill {color: green;font-style:bold;background-color: #cac5c3;}