.time_range_pr {
    width: 125px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;

}
.apply_sale {
    margin-right: 5px;
    padding: 4px;
}
#apply_filter {
    margin-right: 25px;
}
#pdf, #xlsx, #apply_filter {
    color: white;
    background-color: #7c7bad;
    border-color: #7c7bad;
}
a.dropdown-toggle.report-type {
    margin: 10px;
}
.search-Result-Selection {
    border: 2px solid #ccc;
    max-width: 360px;
    min-width: 250px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    min-height: 40px;
}
.search-Result-Selection:hover{
    border:2px solid #eaeaea;
}
.dropdown-togglereport-type{
    min-height: 40px;
    padding-top: 10px;
}
.low_case, #report_res {
    text-transform: capitalize;
    text-align: center;
}
#report_res{
    padding-right: 3px;
}
.print-btns {
    margin-bottom: 30px;
}
.table_pr_head {
    background-color: #714b67;
    color: #fff;
    padding: 20px;
    margin: 20px;
    height: 57px;
    width: 100%;
    border: 1px solid #000;
}
tr.pr-line {
    height: 48px;
}
tr.table_pr_head th {
    font-size: 18px;
    text-align: center;
}
.table_view_sr {
    overflow-y: scroll;
    position: relative;
    height: 500px;
    max-width: 100%;
}
.my_custom_dropdown{
    min-width:200px;
    height:150px;
    padding: 20px;
}
.my_custom_dropdown input{
    height:25px;
}
.report_type{
    min-width: 150px;
    padding: 10px 10px 10px;
}
.sub_container_right, .print-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
input[type="date"]{
    font-family: "Roboto Mono",monospace;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .sub_container_right, .print-btns {
        flex-flow: column;
        align-items: center;
    }
    .sub_container_left {
        order: 2;
        margin: 0;
    }
    .sub_container_right {
        flex-flow: row;
        margin-bottom: 10px;
        flex-wrap: wrap !important;
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .apply_filter {
        width: 100%;
        position: relative;
    }
    #apply_filter {
        position: absolute;
        margin: 30px 0 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    #date_chose {
        margin-bottom: 15px;
    }
    .search-Result-Selection {
        text-align: center;
    }
    .sub_container_left {
        order: 2;
        display: flex;
        margin-top: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap !important;
    }
    .sub_container_right {
        flex-direction: column;
    }
}
