.style_event {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}
.style_event_type {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}
