.blog_single {
    margin-bottom: 50px;
    @media screen and(max-width:768px) {
        margin-bottom: 40px;
    }
    .wrapper {
        padding-bottom: 40px;
        @media screen and(max-width:768px) {
            padding-bottom: 0px;
        }
        .Blog_content {
            margin-bottom: 30px;
            .Blog_heading {
                margin-top: 20px;
                @media screen and(max-width:768px) {
                    font-size: 30px;
                }
                h3 {
                    a {
                        color: $color-brand3;
                        font-size: 35px;
                        font-weight: 400;
                    }
                }
                .b_p {
                    color: $color-font !important;
                    font-size: 15px !important;
                    a {
                        color: $color-brand3;
                    }
                }
            }
            .c_news {
                padding-top: 15px;
                font-size: 17px;
                line-height: 1.8rem;
            }
        }
        .blog_sidebar {
            margin-top: 30px;
            .b_s_wrapper {
                padding-bottom: 40px;
                .abt_heading {
                    margin-bottom: 10px;
                    border: 1px solid;
                    border-color: transparent;
                    border-bottom-color: $color-border !important;
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        height: 1px;
                        width: 70px;
                        bottom: 0px;
                    }
                    h3 {
                        font-weight: 700;
                        font-size: 20px;
                    }
                }
                a {
                    color: $color-brand3;
                    padding-left: 10px;
                    margin-top: 15px;
                }
            }
        }
    }
}
