.link-style{
   width: 400px;
    height: 55px;
    font-size: 20px;
    border-color: black;
    border-width: 1.5px;
    margin-left: 100px;
    margin-top: 4px;
    }
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: 20px;
    line-height: 1.5;
    color: black;
    }
i.fa.fa-eye{
    padding-left:350px;
    font-size:20px;

}
.toggle_eye{
    position: absolute;
    right: 100px;
    top: 17px;
}

.wrong_password_alert{
    display:none;
}

#password {
    margin-right:100px;
    margin-left:100px;
    margin-top:80px;
}
