.movie_details{
    display: -webkit-box;
}

.param{
    margin-left:10px;
}

.sidebar{
    max-width:280px;
    margin-left: 20px;
    margin-right:20px;
    margin-bottom:20px;
    padding: 20px;
    background-color: #c9e3fd;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.seating-chart-container {
    position: relative;
    display: ruby-text;
    max-width: 100%;
    overflow-x: auto;
    user-select: none;
}

.seating-chart {
    flex-grow: 1;
    overflow-x: auto;
}

.seat-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.seat-row-inner {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.seat-wrapper {
    display: inline-block;
}

.seat-label {
    border-radius: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: #d3d3d3;
}

.seat-checkbox {
    display: none;
}

.seat-checkbox:checked + .seat-label {
    background-color: #28a745;
    color: white;
}

.seat-checkbox:disabled + .seat-label {
    background-color: #dc3545;
    color: white;
    cursor: not-allowed;
}

.screen{
    text-align: center;
    background: darkseagreen;
    padding: 10px;
    margin-top: 5rem;
    margin-bottom: 10px;
    border-radius: 15px;
}

.button-container {
    position: absolute;
    right: 25%;
}

.seat-demo-booked{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    background-color: #dc3545;
    color: white;
}

.seat-demo-selected{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    background-color: #28a745;
    color: white;
}

.seat-demo-available{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    background-color: #d3d3d3;
}

.card{
    min-width: 300px;
    margin-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body{
    justify-content: center;
}

.text{
    font-family: system-ui;
    font-size: larger;
}

.time-slot-btn {
    margin: 5px;
    cursor: pointer;
}
