
.o_action_manager {
    overflow: auto !important;
}

.help_dashboards {
    padding-top: 10px;
    background-color: #f8faff !important;
}

.dashboard_card h4 {
    font-size: 1.1rem;
}

.main-section {
    margin-left: 6px;
}

.breadcrumbs {
    margin-top: 0;
}

/*    Widget One
---------------------------*/
.stat-content {
    display: inline-block;
    width: 66%;
}

.stat-icon {
    display: inline-block;
}

.stat-widget-one .stat-icon {
    vertical-align: top;
    margin: auto;
    width: 100%;
    color: #01c490;
}

.stat-widget-one .stat-icon i {
    font-size: 30px;
    font-weight: 900;
    display: inline-block;
    color: #01c490;
}

.stat-widget-one .stat-text {
    font-size: 11px;
    color: #868e96;
    font-weight: bold;
}

.stat-widget-one .stat-digit {
    font-size: 24px;
    color: #02448b;
}

.stat-count {
    font-size: 20px;
    text-align: center;
    color: #00438b;
}

.stat-title {
    font-size: 17px;
    text-align: center;
    color: #00438b;
}

/*=====================Dashboard===========================*/

.dashboard_card {
    padding: 0px;
    margin-bottom: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
}

.dashboard_card:hover {
    transform: translateY(-2px) translateZ(0) !important;
    box-shadow: 0 10px 10px 0 rgba(62, 57, 107, 0.12), 0 0 0 transparent !important;
}

.helpdesk {
    margin-top: 3%;
    margin-bottom: 2%;
}

.helpdesk .stat-icon {
    border-radius: 15px 0 0 15px;
    width: 30%;
    height: 100px;
    text-align: center;
    padding-top: 11%;
    background: #4a5c9a;
    color: #fff;
}

#team_ico {
    -webkit-text-stroke: 1px #8e8e8e;
}

.helpdesk .dashboard_card {
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07),
    0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.stat-widget-one .stat-text {
    font-size: 14px;
    color: #314384ff;
    margin: 2rem 0rem 1rem 0rem;
    text-align: center;
}

.stat-widget-one .stat-digit {
    font-size: 20px;
    font-weight: bolder;
    padding: 1px 10px 2px 0;
    color: #8061a9;
    text-shadow: 0px 0px 20px #000000;
    text-align: center;
}

.stat-widget-one .stat-icon i {
    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    color: #fff;
}

.stat-widget-one {
    border-radius: 15px;
    background-color: white;
    text-align: inherit !important;
}

.stat-widget-one {
    width: 100%;
}


.inbox_tickets .stat-widget-one .stat-text {
    color: #706F8E;
}

.inbox_tickets .stat-icon {
    background: #706F8E !important;
}

.inprogress_tickets .stat-widget-one .stat-text {
    color: #9AA8A8;
}

.inprogress_tickets .stat-icon {
    background: #9AA8A8 !important;
}

.done_tickets .stat-icon {
    background: #847A9F !important;
}

.done_tickets .stat-widget-one .stat-text {
    color: #847A9F;
}

.team_card .stat-icon {
    background: #66719a !important;
}

.team_card .stat-widget-one .stat-text {
    color: #66719a;
}

.dashboard_card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pending_detail {
    width: 75%;
    padding: 0 0 0 40px;
    margin: 0 0 0 4px;
}

.ticket_box {
    height: 32rem;
    overflow-y: auto;
}

.ticket_box_head {
    text-align: center;
    padding: 12px 0;
    color: rgb(73 80 87 / 76%);
    font-weight: bold;
    font-size: 20px;
    background: #b1cccc;
    margin-bottom: 9px;
}

.tickets_head {
    margin-left: 10px;
}

.pending_tickets {
    padding-left: 0 ! important;
}

.tickets_list {
    font-weight: 500;
    font-size: 14px;
    margin: 10px;
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid rgba(69, 72, 103, 0.71);
    background: #f3f3f3bd;
    padding: 10px !important;
}

.half_chart.chart-container.card-shadow {
    height: 32rem;
}
.chart-container.card-shadow {
    height: 32rem;
}
.row {
    /* Define your styles here */
    font-weight: bold;
    margin-bottom: 20px;
    /* Add more styles as needed */
     transition: background-color 0.3s ease-in-out;
}
.td{
width:20%;
padding:15px;
    transition: background-color 0.3s ease-in-out; /* Add a transition for background-color */

}
.td:hover {
    background-color: #e0e0e0; /* Change the background color on hover */
}
.custom-tr{
width:10%;

}
.custom-tr:hover {
    background-color: #ff8080; /* Change the background color on hover */
    color: white; /* Change the text color on hover */
    font-size: 18px; /* Change the font size on hover */
    font-weight: normal; /* Change the font weight on hover */
    border: 2px solid #ff8080; /* Add a border on hover */
    /* Add more hover styles as needed */
}
.user-image{
  width: 10%;
    height: auto; /* Let the height adjust proportionally to maintain aspect ratio */
    border-radius: 50%; /* This will create a circular shape */
    display: block; /* Ensures it's a block element for proper centering */
    margin: 0 auto; /* Centers the circular image horizontally */
}
