.banner {
    // background-image: url(./../img/banner/bg.jpg);
    // background-size: cover;
    // width: 100%;
    // padding-bottom: 160px;
    // background-repeat: no-repeat;
    // background-position: center;
    position: relative;
    height: 100vh;
    #bgvid {
        // position: absolute;
        // right: 0;
        // bottom: 0;
        // min-width: 100%;
        // min-height: 100vh;
        // width: 100%;
        // height: 100vh;
        // z-index: 0;
        // background: transparent url(poster_image.jpg) no-repeat;
        // background-position: center center;
        // -webkit-background-size: cover !important;
        // -moz-background-size: cover !important;
        // -o-background-size: cover !important;
        // background-size: cover !important;

        object-fit: cover;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
//         @media screen and(max-width:492px) {
//            height: 100vh;
//         }
    }


    &:after {
        position: absolute;
        content: " ";
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: #5554064b !important;
    }
    .banner_content {
        position: relative;
        z-index: 2;
        padding-top: 75px;
        .banner_left {
            margin-top: 75px;
            .card {
                padding-top: 50px;
                border: transparent;
                background: transparent;
              
                @media screen and(max-width:492px) {
                   padding-top: 30px;
                        }

                .card-body {
                    background: transparent !important;
                    .card-title {
                        font-size: 55px;
                        text-transform: uppercase;
                        color: $color-white;
                        font-weight: 900;
                        padding-bottom: 20px;
                        margin-left: 0px;
                        font-family: $font-banner-heading !important;
                        @media screen and(max-width:992px) {
                    font-size: 40px;

                        }

                        @media screen and(max-width:492px) {
                            font-size: 35px;
                                }
                    }
                    .card-text {
                        line-height: 25px;
                        padding-bottom: 20px;
                        font-size: 15px;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
