.footer {
    padding-bottom: 0px!important;
    background: #15161d;
    color: #f8f8f8 !important;
    @media screen and(max-width:992px) {
       padding-top: 50;
    }
    .footer_content {
        padding-bottom: 40px;
        .wrapper {
            .footer_logo {
                max-width: 150px;
                margin: auto;
                padding-bottom: 20px;
                @media screen and(max-width:768px) {
                    margin-left: 10px;
                }
                img {
                    width: 100%;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
            p {
                text-align: center;

                @media screen and(max-width:768px) {
                 text-align: left;
                 margin-left: 10px;
                }
            }
            .footer_icon {
                padding-top: 30px;
                text-align: center;
                display: flex;
                justify-content: center;
                @media screen and(max-width:768px) {
                  justify-content: left;
                   }
          

                a {
                    display: block;
                    color: $color-black;
                    margin-right: 15px;
                   
                  
              


                
                    span {
                        height: 37px;
                        width: 37px;
                        color: $color-white;
                        font-size: 19px;
                        padding-top: 9px;
                        border-radius: 50%;
                    }


                    &:nth-child(1) {
                        span {
                            color: rgb(55, 180, 230) !important;
                           
                            &:hover {
                                color: rgb(255, 255, 255) !important;
                                background:rgb(55, 180, 230) !important; ;
                            }
                        }
                    }
                    &:nth-child(2) {
                        span {
                            color: rgb(255, 52, 52) !important;
                            &:hover {
                                color:$color-white !important;
                            background-color: rgb(255, 52, 52) !important;

                                
                            }
                        }
                    }
                    &:nth-child(3) {
                       span {
                        color: rgb(128, 62, 18) !important;
                          
                            &:hover {
                                color:$color-white !important;
                               background-color: rgb(128, 62, 18) !important;

                            }
                        }
                    }
                    &:nth-child(4) {
                        span { color: rgb(5, 85, 151) !important;
                            &:hover {
                                background-color: rgb(5, 85, 151) !important;
                            color:$color-white !important;

                            }
                        }
                    }

                    &:nth-child(5) {
                        span {
                            color: rgba(202, 40, 129, 0.801) !important;
                            &:hover {
                                background-color: rgba(202, 40, 129, 0.801) !important;   
                            color:$color-white !important;

                            }
                        }
                    }
                }

              
            }
        }
    }

    .footer_bottom{
        margin-top: 20px;
        border:1px solid;
        border-color: transparent;
        border-top-color: $color-grey ;
        padding: 30px 0;
        text-align: center;
        @media screen and(max-width:768px) {
            text-align: left;
           
           }
           span{
            @media screen and(max-width:768px) {
          margin-left: 20px;
               
            }
           }
        a{
            color: $color-brand;
            text-decoration: none;
         
           
            &:hover{
                color: $color-brand2;
            }
        }
    }
}
