.locations_section {
    padding-top: 80px;
    padding-bottom: 80px;
    #map1, #map2 {
        height: 350px;
        display: block;
        border-radius: 8px;
    }
    
    .wrapper{
        padding-top: 40px;
    }
    
    .leaflet-control-attribution {
        display: none !important;
    }

    .location-card{
        width: 75%;
        @media(max-width:992px){
        width: 100%;
        }
margin: auto;
        h4{
            font-size: 24px;
            font-weight: 500;
            padding-top: 20px;
            color: var( --brand-heading);
        }
        p{
            font-size: 16px;
            line-height: 1.5;
            padding-top: 15px;
        }
        .contact-info{
            margin-top: 40px;
            border: 1px solid;
            border-color: transparent;
            border-top-color: var(--brand-grey) !important;
            border-bottom-color: var(--brand-grey);
            padding: 30px 0px;

            li{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 15px;
            }

            .icon_wrapp{
                height: 30px;
                width: 30px;
                background-color: var(--up-primary);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              
                svg{
                    width: 20px;
                }
            }
        }
    }
}

