$background-color_1: #fff;
$background-color_2: #f7f7f7;

.services-section {
    padding-top: 60px;
    margin-bottom: 60px;

    @media(max-width:992px){
       padding-top: 0px;
          }
.wrapper{
    .services-grid{
       
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            justify-content: center;
            gap: 2rem;
            @media(max-width:992px){
                grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
                   }
          .service-card{
            background-color: var(--card-bg);
            padding: 30px 40px;
            border-radius: 5px;

            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            .icon-bg-1 {
                background-color: #87CEEB; /* Soft Blue */
            }
            
            .icon-bg-2 {
                background-color: #FF7F50; /* Coral */
            }
            
            .icon-bg-3 {
                background-color: #98FF98; /* Mint Green */
            }
            
            .icon-bg-4 {
                background-color: #FFD700; /* Golden Yellow */
            }
            
            .icon-bg-5 {
                background-color: #9370DB; /* Light Purple */
            }
            
            .icon-bg-6 {
                background-color: #FA8072; /* Salmon Pink */
            }
            
            .icon-bg-7 {
                background-color: #D3D3D3; /* Light Gray */
            }
            
            .icon-bg-8 {
                background-color: #FFA07A; /* Soft Orange */
            }
            


            .service-icon{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                margin-bottom: 30px;
                img{
                    width: 60px;
                }
               
            }
            h3{
                font-size: 24px;
                font-weight: 500;
                padding-bottom: 10px;
            }
            p{
                font-size: 16px;
                color: var(--black-color);
                line-height: 1.4;
                // padding-bottom: 15px;
            }

            &:hover{
                background-color: var(--brand-dark);
                cursor: pointer;
                h3{
                    color: var(--white-color);
                }
                p{
                    color: var(--white-color);
                }



                .icon-bg-1,.icon-bg-2,.icon-bg-3,.icon-bg-4,.icon-bg-5,.icon-bg-6 {
                    background-color: white; /* Soft Blue */
                }
               
                .service-icon{
                    height: 70px;
                    width: 70px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                    img{
                        width: 60px;
                        margin: auto;
                    }
                   
                }





            }
          }
    }
}

}