*{
    list-style-type:none;

    font-family: $font-default;
   
    &:focus,&:active{
        outline: none !important;
    }
}

.bordered_header {
    font-size: 18px;
    position: relative;
    &::after{
      position: absolute;
      left: 0;
      bottom: -4px;
      height: 2px;
      width: 70px;
      background: #db4242;
      content: "";
      display: block;
    }
    
  }



