*{
    list-style-type:none;

    font-family: $font-default;
   
    &:focus,&:active{
        outline: none !important;
    }
}
.bordered_header {
    font-size: 18px;
    position: relative;
    &::after{
      position: absolute;
      left: 0;
      bottom: -4px;
      height: 2px;
      width: 70px;
      background: #db4242;
      content: "";
      display: block;
    }
}
.modal-open #wrapwrap {
    overflow: auto !important;
}
//scrollbar starts
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.19);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.2);
	background-color: #c9ccd6;
}
//scrollbar ends
