//font
$font-default:'Roboto', sans-serif;
$font-offer: 'Kaushan Script', cursive;

//colors
$color-red: #ff5254;
$color-pink: #fab4bf;
$color-black: #000000;
$color-grey: #858585;
$color-offwhite:#e6e4e4d1;
$color-footer:#e9e2d8;
$color-banner_product:#0b393edb;
$color-border:#cfcdcd;
$color-bg-heading:#e6e4e4d1;
$color-whitesmoke:#f5f5f5;


//fon-size
$font-size-h1: 36px;
$font-size-h4:18px;
$font-size-subheading:25px;
$font-size-text: 14px;
$font-size-s:15px;
$font-size-banner:53px;
$font-size-form:12px;
$font-bold:18px;


