.time_range_pr {
    width: 125px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}
.apply_sale{
    margin-right: 5px;
    padding: 4px;
}
a.dropdown-toggle.report-type {
    margin: 10px;
}
.search {
    border: 2px solid #ccc;
    width: 257px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.table_pr_head {
    background-color: #7c7bad;
    color: #fff;
    padding: 20px;
    margin: 20px;
    height: 57px;
    width: 100%;
    border: 1px solid #000;
}
element.style {
    top: 0px;
    height: 42px;
    color: white;
    background-color: #7c7bad;
    border-color: #7c7bad;
    width: 100px;
}
tr.pr-line {
    height: 48px;
}
tr.table_pr_head th {
    font-size: 18px;
    text-align: center;
}
.btn-secondary {
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #66598f;
    PADDING: 0PX;
}
.table_view_pr {
    overflow-y: scroll;
    position: relative;
    height: 800px;
    max-width: 100%;
}
