.sale_order_button {
    display: inline-block;
    margin-left:5px;
    width: 405px;
    height: 40px;
    text-align: center;
    color: #555555;
    border-color: #bfbfbf;

}
.sale_order_button p {
    position: absolute;
    left: 80px;
    top: 0px;
}
.pos-so-cart{
    position: absolute;
    left: 30px;
    top: 13px;
    margin-right: 8px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.5);
    line-height: 30px;
    width: 30px;
    border-radius: 100%;

}

.sale_order_button:hover {
    background: #efefef;
}

.sale_order_button:active {
    background: black;
    border-color: black;
    color: white;
}
.alert_msg{
    color:red;
}

.popup_so_ref{
    height: 150px !important;
}

