.qr_video {
    display: block;  /* Initially visible */
}

.qr_video.hidden {
    display: none;  /* Will hide the QR scanner when the close button is clicked */
}

#close_qr_scanner {
    cursor: pointer;
    color: red;
    font-weight: bold;
}
.qr_video_kiosk {
    display: block;  /* Initially visible */
}

.qr_video_kiosk.hidden {
    display: none;  /* Will hide the QR scanner when the close button is clicked */
}

#close_qr_scanner_kiosk {
    cursor: pointer;
    color: red;
    font-weight: bold;
}
