body { background-color: #ececec; }

.header-menu-section{ background-color:#fff; padding: 12px 10px; }

.left-menu a img{ width:12%; }

.left-menu span { color:#767977;  } 

.left-menu a { color:#767977; text-decoration: none; font-size: 14px; }

.right-menu span {color:#767977; float: left; font-size: 14px;
    line-height: 27px; }

.right-menu .dropdown button { height: 26px;
    padding-top: 0px;
    font-size: 14px;
    margin-left: 10px; background-color:#974f79; }

    .thumbnail-view-icon{
        width:24px; height: 24px; float: right;
    }

    .list-view-icon{
        width:24px; height: 24px; float: right;
    }

    .project-container{
        background-color: #fff;
        border: 1px solid #333;
        color:#45a2a1;
        height: 135px;
        overflow: auto;
    }

    .project-container h6{ font-weight: 600; }
    .project-container .tasks a{
        color:#45a2a1;
        text-decoration: none;
    }

    .project-container .tasks{
        font-size: 14px;
        margin-top: 40px;
    }

    .project-container .tasks a{
        font-weight: 600;
    }

    .search-container button{
        background-color: #8c4e77;
        height: 30px;
        width: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-container button img {
        width:20px;
    }

    .search-container input{ height: 30px; }

    .input-group-append-btn button{
        -webkit-border-top-left-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .container-section-tasks {
        width: 260px;
        float: left;
       }

    .progress-number{
        color:#000;
        float: right;
        margin-top: -5px;
    }

    .progres-bar{
        background-color: #dedfe8;
        height: 12px;
        width:202px;
        float: left;
        position: relative;
    }
    .container-section-tasks h5 { font-weight: 600; font-size: 17px; }

    .progres-bar-green {
        width: 28px;
        height: 12px;
        background-color:#00b44e;
        float: left;
    }

    .progres-bar-red {
        width:63px;
        height: 12px;
        background-color:#f60034;
        float: left;
    }

    .task-box {
        background-color: #fff;
    }

    .task-box h6{
        font-size: 14px;
        margin-bottom: 0px;
        color: #767977;
    } 

    .task-box span {
        font-size: 12px;
        font-style: italic;
    } 

    .clock img { width: 6%; }
    .input-button {
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #00b44e;
    }

    .input-button-red {
        width:10px;
        height:10px;
        border-radius: 50%;
        background-color:red;
        }

        .input-button-gray {
            width:10px;
            height:10px;
            border-radius: 50%;
            background-color:#dedfe8;
            }

    .profile-pic-container{
        justify-content: space-between;
    }

    .task-box{
        border: 1px solid #ccc;
        word-wrap: break-word;
    }

    .task-box .w-75{ padding-right: 11px;}

    .date-task-box {
        font-style: normal !important;
        color:#f60034 !important ;
        font-weight: bold;
     }

     .container-tasks {
        overflow-x: scroll;
       width:100%;
       display:-webkit-box;
       padding-bottom: 10px;
       display: flex;
       gap: 15px;
     }

     .img-task {
     margin-top: 22px;
     }
