#language_select_div {
    display: flex;
    margin-top: 9px;
    color: #000;
}
#language_selector {
    padding-top:10px;
    padding-right:0px;
    color: #000;
    text-align: center;
}
.language_options{
    background-color: #fff;
    color:#000;
}
.new_icon{
    margin-top: -10px;
}
