:root {
  --background-color:red;
  --margin-left-color:inherit;
  --margin-right-color:inherit;
  --margin-top-color:inherit;
  --margin-bottom-color:inherit;
}
$backgroundColor: var(--background-color);
$marginLeftColor: var(--margin-left-color);
$marginRightColor: var(--margin-right-color);
$marginTopColor: var(--margin-top-color);
$marginBottomColor: var(--margin-bottom-color);

.o_required_modifier .o_input {
    background: $backgroundColor !important;
    border-bottom : solid $marginBottomColor 2px !important;
    border-left : solid $marginLeftColor 2px !important;
    border-right : solid $marginRightColor 2px !important;
    border-top : solid $marginTopColor 2px !important;
}
