.featured {
    padding-top: 100px;
    padding-bottom: 100px;
    @media screen and (max-width:768px) {
    padding-bottom: 50px;
    }

    .wrapper {
       
        .featured_content{
            padding-top: 30px;
            .fearured_product_card{

                width: 200px;
                height: 300px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

             

.img_wrapper{
    img{
        transition: opacity 0.5s ease-in-out;
    }
    .product-img{
    // background-image: url();
        transition: opacity 0.3s ease;

    }

}











                text-align: center;
                h6{
                    color: white;
                    font-size: 18px;
                    padding-top: 15px;
                    font-weight: 400;
                }
            }
        }
    }
}