.offer_section {
    margin-bottom: 80px;

    @media screen and (max-width: 768px) {
        margin-bottom: 40px;
    }

    .content {
        padding: 20px;

        @media screen and (max-width: 768px) {
            padding: 20px 15px;
        }

        text-align: center;

        .p_top {
            font-weight: 100;
        }

        h4 {
            font-size: 32px;
            font-weight: 600;
        }

        .p_bottom {
            padding-top: 15px;
        }
    }
}