.offer_section{
    margin-bottom: 80px;
    @media screen and (max-width:768px) {
    margin-bottom: 40px;
    }
    .offer_bg{
        height: 70vh;
        background-image: url(../../../assets/offer/offer_bg.png);
        background-position: left;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .content{
            padding-right: 100px;
            @media screen and (max-width:768px) {
            padding: 0px 15px;
            }
text-align: center;
.p_top{
font-weight: 100;
}
h4{
    font-size: 32px;
    font-weight: 600;
}
.p_bottom{
    padding-top: 15px;
}
        }
    }
}