.footer {
    margin-top: 50px;
    padding: 40px 0px;
    border: 1px solid;
    border-color: transparent;
    border-top-color: var(--brand-grey);
    text-align: center;
    position: relative;

    .info {
        margin: auto;
        padding: 5px 15px;
        border-radius: 25px;
        margin: auto;
        background-color: #FFF1DA;
        padding: 5px 15px;
        border-radius: 25px;
        margin-top: -60px;
        width: fit-content;
        margin-bottom: 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: fit-content;
      

        span {
            font-weight: 400;
            font-style: italic;
            color:  #B88635;
            font-size: 14px;
        }
    }

    .credit{
        margin-top: 20px;
        @media (max-width:768px){
            text-align: start;
        }
    }
}

.footer_brand2 {
    text-align: center;

    .footer_logo {

display: flex;
align-items: center;
        img {
            width: 40px;
            margin-right: 15px;
            height: fit-content;
            align-items: center;
        }

        span {
            color: var(--up-bg-section);
            font-size: 36px;
            font-weight: 700;
        }
    }

}

.footer_brand {
    text-align: center;

    .footer_logo {

display: flex;
justify-content: center;
align-items: center;

        img {
            width: 40px;
            margin-right: 15px;
            height: fit-content;
            align-items: center;
            
        }

        span {
            color: var(--up-bg-section);
            font-size: 36px;
            font-weight: 700;
        }
    }

}

.footer-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding-left: 0;

    @media (max-width:768px){
        flex-direction: column;
        align-items: baseline;
    }

    li {
        a {
            color: var(--black-color);
            &:hover{
                color: var( --brand-red);
            }

        }
    }
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.footer-social {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media (max-width:768px){
   justify-content: start;
   padding-top: 15px;
   :first-child{
    margin-left: 0 !important;
  }
    }

    a {
        margin: 0 0.5rem;
     

        img {
            width: 24px;
            height: 24px;

            
        }
    }
}