.navigation {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .wrapper {
     
        // Main nav style
        .navbar {
            padding-top: 15px;
        
            .navbar-brand {
                display: flex;
                align-items: center;
              img{
                width: 40px;
                margin-right: 15px;
              }
              span{
                color: var(--white-color);
                font-size: 36px;
                font-weight: 700;
              }

              .brandD{
                color: var(--black-color);
              }


              @media (max-width: 768px) {
                img{
                    width: 25px;
                    margin-right: 5px;
                  }
                  span{
                    color: var(--white-color);
                    font-size: 24px;
                    font-weight: 700;
                  }
              }
            }
            .navbar-collapse {
                justify-content: end;
                justify-content: center;
                @media (max-width:992px) {
                    padding-top: 20px;
                }
            }
            @media (max-width: 992px) {
             .navbar-collapse {
                    padding-top: 20px;
                    background-color: var(--brand-dark) !important;
                   
                }
                .collapse2{
                  background-color: #ffffff !important;
                }
            }
            .navbar-nav {
                .nav-item {
                    &:hover {
                        background-color: var(--brand-blue-100);
                        border-radius: 5px !important;
                    }
                    .nav-link {
                        color: var(--white-color);
                        font-size: 16px;
                        padding: 0px 15px;
                        @media (max-width:1200px) {
                            padding: 0px 8px;
                        }
                        @media (max-width:992px) {
                            padding: 10px 0px;
                            padding-left: 15px;
                        }
                        &:hover {
                            color: var(--brand-blue-900);
                            font-weight: 500;
                        }
                    }

                    .nav-link2{
                        color: var(--black-color);

                    }
                }
            }

.dropdown-menu{
background-repeat: no-repeat;
    min-width: 220px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-shadow: rgb(239, 239, 239) 0px 1px 10px;
    background-position: right bottom;
    border-image: initial;
    border-style: solid;
    border-color: rgb(244, 244, 244);
    margin: 0px;
    border-radius: 4px;
    padding: 10px;
    overflow: visible;
    border-width: 1px !important;
    top: 45px;

    .dropdown-item{
      color: var(--brand-dark);
      font-size: 16px;
      padding: 15px 15px;
      padding-bottom: 5px;
      &:hover{
        color: var(--up-);
      }
    }
}


        }
        // Main nav style
    }
}
.navigation.scrolled {
    box-shadow: -7px 2px 17px rgba(0, 0, 0, 0.1);
    background-color: var(--brand-dark) !important;

}

.navigation.scrolled2 {
    box-shadow: -7px 2px 17px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color) !important;

    // .nav-link{
    //     color: var(--brand-dark) !important;
    // }

}






.navbar-toggler{
  background-color: white;
}

.navbar-toggler {
  position: relative;
  width: 45px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

.navbar-toggler-icon {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.toggler2{
  background-color: black !important;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}
.toggler2::before,
.toggler2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #000000;
  transition: transform 0.3s ease;
}

.navbar-toggler-icon::before {
  top: -10px;
}

.navbar-toggler-icon::after {
  bottom: -10px;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler.collapsed .toggler2 {
  background-color: white !important;
  background-image:none
}

.navbar-toggler.collapsed .navbar-toggler-icon::before {
  transform: translateY(10px) rotate(45deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  transform: translateY(-10px) rotate(-45deg);
}







