td.fc-day.fc-widget-content.fc-public-holiday{
    background-color:red !important;
}
td.fc-day.fc-widget-content.fc-sat{
    background-color:red !important;
}
td.fc-day.fc-widget-content.fc-sun{
    background-color:red !important;
}
.holidaay{
display :none !important;
}
.o_timeoff_duration{
    margin-top:12px !important;
}
.employee_details{
    font-size:12px !important;
    margin-top: 12px;
    margin-bottom: 12px;
}
.o_timeoff_card:not(:last-child) {
    font-size: 12px !important;
    padding: 12px !important;
    position:relative;
}
.o_timeoff_card .o_timeoff_duration{
    margin-bottom:12px !important;
}
.o_treeEntry:before, .o_treeEntry:after{
    background: #7a539e !important;
}
.duration{
    width: 190px;
    float: left;
    margin: 1px 2px 0px 10px;
    height: 29px;
    padding: 5px;
    margin-bottom: 21px;
}
.time_off_dashboard_table tr th{
    background-color: #eaeef3 !important;
    font-size: 11px;
}
.employee_image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: relative;
}
.employee_name{
    font-size: 16px !important;
    width: 165px;
   /* position: absolute; */
    right:62px;
    top:24px;
}
.employee_box{
       display:flex;
       justify-content:center;
       align-items:center;
}
.divider-box{
float: left;
    margin-bottom: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-content{
width: 100%;
    margin-right: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    margin-top: 0px;
    border: 1px solid #cebce1;
    background-color: #eaedf3;
    color: #573674;
}
.divide-leave{
padding:10px;
border: 1px solid #cebce1;
background-color: #eaedf3;
color: #573674;
margin-top:10px;
}
