/* message input class */
.ac-user-input--autocomplete{
  border: none;
  resize: none;
  background: transparent;
  position: absolute;
  top: 1.15px;
  pointer-events: none;
  z-index: 0;
}
.ac-input-container{
  position: relative;
}
.ac-user-input--user{
  position: relative;
  background: transparent;
  z-index: 2;
  color: #000;
}
