.testimonial-carousel {
            background-color: #f8f9fa;
            padding: 60px 0;
        }
.testimonial-content {
            max-width: 800px;
            margin: 0 auto;
        }
.testimonial-text {
            font-size: 1.25rem;
            font-style: italic;
            color: #333;
        }
.testimonial-author {
            font-weight: bold;
            color: #007bff;
        }
.testimonial-position {
            color: #6c757d;
        }
.carousel-control-prev-icon,
.carousel-control-next-icon {
            border-radius: 80%;
            padding: 10px;
        }
.testimonial-text.mb-4 {
	color: var(--white-color);
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 15px;
	line-height: 1.5;
}
.testimonial-author {
	font-weight: bold;
	color: white;
}
.carousel-item {
	background-color: #161616;
}
