.fa-sun-o{
    color:#e8a214;
    font-size: 130% !important;
    background:white;
}
.fa-moon-o{
    font-size: 130% !important;
    color:black;
}
#button_toggle{
    border: none;
    background: none;
}
