.st-btn__sm {
    color: $primary-color;
    font-size: $st-font-size-sm;
    width: fit-content;
    border: 1px solid $primary-color;
    border-radius: 2px;
    font-weight: 400;
    white-space: nowrap;
}

.st-btn__solid {
    color: $primary-color;
    font-size: $st-font-size-sm;
    width: fit-content;
    background-color: $white-color;
    border-radius: 2px;
    font-weight: 700;
    padding: 0.6rem 1.4rem;
    white-space: nowrap;
}

.st-cart_btn--sm {
    background-color: $primary-color;
    color: $white-color;
    font-size: $st-font-size-sm;
    font-weight: 700;
    width: auto;

    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    &:hover{
        color: $white-color;
    }
}

.st-product-like_btn{
    border-radius: 50%;
    background-color: $white-color;
    color: $font-color;
    font-size: $st-font-size-base;
    width: 36px;
    height: 36px;
    display: flex;
    align-self: center;
    justify-content: center;
    @media (max-width:575px){
        width: 30px;
        height: 30px;
        align-items: center;
    }

}