p, span, a, ul, li, button {
    font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	font-weight: 300;	
}

strong {
  font-weight: 400;
}

.sub_title {
	font-size: 14px;
}

.sub_title div span {
	font-weight: 600;
}

.chart #canvas_graph {
	height: 400px !important;
}

.highcharts-background {
	fill: none;
}