.btn {
    border: none !important;
    outline: none !important;
    &-primary {
        background-color: #0aa1aa !important;
        border-color: #0aa1aa;
        padding: 10px 26px;
        color: #fff !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        &:hover {
            background-color: darken($color-sub-head, 5%) !important;
            border: none; 
        }
    }
    &-qut {
        background-color: #0aa1aa !important;
        border-color: #0aa1aa;
        padding: 10px 26px;
        color: #fff !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        &:hover {
            background-color: darken($color-sub-head, 5%) !important;
            border: none; 
        }


        @media screen  and(max-width:1198px){
            
            font-size: 16px;
            padding: 5px 45px;
        }
    }
    &-get {
        background-color: $color-white !important;
        border-color: $color-white;
        padding: 11px 29px;
        color: $color-sub-head !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        margin-right: 10px;
        &:hover {
            color: $color-black !important;
            border: none; 
        }

        @media screen and(max-width:382px) {

            margin-bottom: 20px;
            margin-left: 10px;
        }
    }

    &-get_t {
        background-color: $color-white !important;
        border-color: $color-white;
        padding: 11px 29px;
        color: $color-sub-head !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        margin-right: 10px;
        &:hover {
            color: $color-black !important;
            border: none; 
        }

        @media screen and(max-width:424px) {

            margin-bottom: 20px;
          
        }
    }
    &-quote {
        background-color:transparent !important;
        border-color: none;
        color: #6ddbba !important;
        font-size: 18px;
        font-weight: 600;
        outline: transparent !important;
        &:hover {
          color: darken(#6ddbba, 5%) !important;
            border: none; 
        }
    }
    &-quoteF {
        background-color:transparent !important;
        border-color: none;
        color: #6ddbba !important;
        font-size: 18px;
        font-weight: 600;
        outline: transparent !important;
        padding-left: 0;
        &:hover {
          color: darken(#6ddbba, 5%) !important;
            border: none; 
        }
    }
    &-light {
        margin-left: 20px;
        color: #fff;
        padding: 9px 25px !important;
       
  cursor: pointer;
     
        padding: 9px 35px;
        &:hover {
 
  color: #fff;

        }
    }
   
    &-service {
        background-color: $color-white !important;
        border-color: #0aa1aa;
        border: 1px solid !important;
        padding: 11px 29px;
        color:  #0aa1aa !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        margin-top: 20px;
        &:hover {
            background-color:$color-sub-head !important;
            border: none; 
            color: $color-white !important;
        }
        
    }  
    
    &-sub {
        background-color: #0aa1aa !important;
        border-color: #0aa1aa;
        padding: 11px ;
        width: 100%;
        color: #fff !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
        &:hover {
            background-color: darken($color-sub-head, 5%) !important;
            border: none; 
        }
    }
    &-booking {
        background-color: transparent !important;
        border-color: #ffffff;
        border: 1px solid !important;
        padding: 11px 29px;
        color: $color-white !important;
        font-size: 20px;
        font-weight: 600;
        border-radius: 8px;
       
        &:hover {
            background-color:$color-white !important;
            border: $color-white !important; 
            color: $color-black !important;
        }
        
    } 
    &-reply{
        color: $color-sub-head;
        font-size: 16px;
        font-weight: 600;
        padding: 0;
        outline-style: none !important;
        outline: none !important;
        &:hover{
            color: $color-brand;
        }
    }

    &-pop{
        color: $color-font2;
        font-size: 18px;
        border: 1px solid !important;
        border-color:$color-border !important;
        border-radius: 5px;
        padding: 6px 10px;
        margin-bottom: 10px !important;
        &:hover{
            
            color: $color-white !important;
            background-color: $color-sub-head;
        }
    }
}