.calc-pad-tool {
    display: block;
    text-align: center;
}
.calc_dropdown {
    display: flex;
    position: relative;
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
}
.calc_dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding: 0 0.75rem;
    color: black;
}
.calc_dropdown-menu {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1000;
    display: none;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    min-width: auto;
    top: auto;
    left: auto;
    transform: none;
}
.calculator-app {
    width: 320px;
    margin: auto;
    background-color: #f0f0f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.calculator-app #display {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-size: 32px;
    text-align: right;
    padding: 10px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.calculator-app .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.calculator-app button {
    width: 100%;
    height: 60px;
    font-size: 28px;
    border: none;
    border-radius: 5px;
    background-color: #e4e4e4;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
.calculator-app .number {
    background-color: #fff;
}
.calculator-app .number:hover {
    background-color: #d0d0d0;
}
.calculator-app .operator {
    background-color: #f0f0f0;
    color: #ff9500;
}
.calculator-app .operator:hover {
    background-color: #e0e0e0;
}
.calculator-app .equals {
    background-color: #ff9500;
    grid-column: span 2;
    color: #fff;
}
.calculator-app .equals:hover {
    background-color: #ff7400;
}
.calculator-app .clear {
    background-color: #acacac;
    color: #fff;
}
.calculator-app .clear:hover {
    background-color: #9a9a9a;
}
.calculator-app .decimal {
    background-color: #f0f0f0;
}
.calculator-app .decimal:hover {
    background-color: #e0e0e0;
}
