

html,
body {
    &,
    * {
        cursor: pointer !important;        
    }
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
                z-index: 1051;
}

.cursor-dot {
    $size: 8px;
    width: $size;
    height: $size;
    background-color: $primary;
}

.cursor-dot-outline {
    $size: 40px;
    width: $size;
    height: $size;
    background-color: rgba($primary-light, 0.5);
}