// Portfolio grid two coloumn
.portfolio_grid {
    padding-top: 100px;
    margin-bottom: 80px;
    .wrapper {
        .portfolio_grid_wrapper {
            .tab_portfolio {
                padding-bottom: 40px;
           
                .animated {
                    -webkit-animation-duration: 3s;
                    animation-duration: 3s;
                    -webkit-animation-delay: 500ms;
                    animation-delay: 500ms;
                }
                .animate-out {
                    -webkit-animation-delay: 0ms;
                    animation-delay: 0ms;
                }
                .wrapper_3 {
                    overflow: hidden;
                    .sliding_product {
                        .wrapper {
                            .img_wrapper {
                                position: relative;
                                margin: auto;
                                @media screen and(max-width:600px) {
                                    max-width: 100%;
                                }
                                img {
                                    min-height: 100%;
                                    width: 100%;
                                }
                                .inner {
                                    width: 100%;
                                    height: 100%;
                                    background-color: #00000300;
                                    position: absolute;
                                    top: 0;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    z-index: 3;
                                    &:hover {
                                        background-color: #0000038f;
                                    }
                                }
                            }
                            .quick_view {
                                color: white;
                                font-size: 22px;
                                text-align: center;
                                padding: 8px 23px;
                                display: none;
                                text-decoration: none;
                                font-weight: 600 !important;
                                span {
                                    font-weight: normal;
                                }
                                &:hover {}
                            }
                            &:hover {
                                .quick_view {
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .wrapper_3:hover .see {
                    transform: scale(1.3);
                    overflow: hidden;
                }
                /* default styles so shuffle doesn't have to set them (it will if they're missing) */
                .my-shuffle {
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                }
                [data-toggle="buttons"]>.btn input[type="checkbox"],
                [data-toggle="buttons"]>.btn input[type="radio"],
                [data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"],
                [data-toggle="buttons"]>.btn-group>.btn input[type="radio"] {
                    position: absolute;
                    clip: rect(0, 0, 0, 0);
                    pointer-events: none;
                }
                .port_grid {
                    // display: grid;
                    // grid-template-columns: 1fr 1fr 1fr;
                    // @media screen and(max-width:992px) {
                    // }
                }
                .masnory_grid_three>div {
                    width: 33% !important;
                    @media screen and(max-width:992px) {
                        width: 50% !important;
                    }
                    @media screen and(max-width:576px) {
                        width: 100% !important;
                    }
                }
                .masnory_grid_three>.m_s_3 {
                    width: 66% !important;
                    @media screen and(max-width:992px) {
                        width: 50% !important;
                    }
                    @media screen and(max-width:576px) {
                        width: 100% !important;
                    }
                }
                // Portfolio
                .btn-group {
                    float: left;
                }
                .vossen-portfolio-filters {
                    padding: 0;
                    margin-bottom: 40px;
               
                }
                .vossen-portfolio-filters .btn {
                    display: inline-block;
                    cursor: pointer;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-size: 11px;
                    letter-spacing: 0.5px;
                    line-height: 3;
                    text-transform: capitalize !important;
                    color: var(--level-color-1);
                    background-color: transparent;
                    padding: 0px 20px;
                    margin: 0 1.1px;
                    border-radius: 4px;
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    box-shadow: none;
                    border: 2px solid !important;
                    border-color: transparent !important;
                    border-radius: 25px;
                }
                .vossen-portfolio-filters .btn.active {
                    cursor: default;
                    opacity: 1;
                    border: 2px solid !important;
                    border-color: var(--level-color-1) !important;
                    border-radius: 0px;
                }
            }
        }
    }
}
.my-shuffle>div {
    opacity: 0;
    transition: opacity 1s, padding-top 1s;
    -moz-transition: opacity 1s, padding-top 1s;
    -webkit-transition: opacity 1s, padding-top 1s;
}
.my-shuffle>div.reveal {
    opacity: 1;
}
