:root{
    --background-color: #ffffff;
    --layout-color: #3a8180;
}
.o_MobileMessagingNavbar_tab{
    color: var(--layout-color);
    background-color:var(--background-color)
}
.o_DiscussMobileMailboxSelection_button{
    color: var(--layout-color);
    background-color:var(--background-color);
    border-color:var(--background-color);
}
.o_Discuss.o-mobile {
    color: var(--layout-color);
    background-color: var(--background-color);
}
.o_DiscussMobileMailboxSelection_button.active.o-active.btn.btn-secondary {
    background-color:var(--background-color);
    border-color:var(--background-color);
}
.o_ThreadPreview {
    background-color:var(--background-color)
}
.o_ThreadPreview_core {
    color: var(--layout-color)
}
.o_Discuss_mobileNewChatButton{
   color: var(--layout-color);
   background-color: var(--background-color);
   border-color: var(--background-color);
}
.o_Discuss_mobileNewChatButton:hover {
   color: var(--layout-color);
   background-color: var(--background-color);
   border-color: var(--background-color);
}
.o_Discuss_mobileNewChannelButton {
   color: var(--layout-color);
   background-color: var(--background-color);
   border-color: var(--background-color);
}
.o_Discuss_mobileNewChannelButton:hover {
   color: var(--layout-color);
   background-color: var(--background-color);
   border-color: var(--background-color);
}
.o_ThreadViewTopbar {
    color: var(--layout-color);
    background-color: var(--background-color);
}
.o_ComposerTextInput_textarea{
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.o_MessageList{
    background-color: var(--background-color) !important;
    background-image: var(--background-image) !important;
    background-repeat:no-repeat;
    background-size:cover;
}
.o_DiscussSidebar_startAMeetingButton {
    font-size: 24px;
    width: 55px;
    height: 65px;
    background-color: #eeedee!important;
    color: #979797;
    border-color: #eeedee;
    margin-left: 10px;
    padding-top: 18px;
}
.header {
    margin-left: 140px;
}
.o_ChatWindowHeader {
    background-color:var(--layout-color) !important;
    color: var(--background-color) !important;
}
.text-700 {
    color: gray!important;
}
.o_DiscussSidebarCategory_header.d-flex.align-items-center.my-1 {
    height: auto;
    background-color: var(--layout-color) !important;
    color: var(--background-color) !important;
}
.o_DiscussSidebarCategory_commandAdd {
    color: var(--background-color) !important;
}
button.o_DiscussSidebarCategory_title{
    color: white!important;
}
.o_ThreadIcon_mailboxInbox {
    font-size: 25px;
    color: var(--layout-color) !important;
}
.o_ThreadIcon_mailboxStarred{
    font-size: 25px;
    color: var(--layout-color) !important;
}
.o_ThreadIcon_mailboxHistory {
    font-size: 25px;
    color: var(--layout-color) !important;
}
.o_DiscussSidebarMailbox_name{
    margin-left: 22px;
    font-size: 18px;
}
.o_DiscussSidebarMailbox_item.o_DiscussSidebarMailbox_name.me-2.text-truncate {
    color: #fff;
    font-size: 17px;
}
