// Fonts
$font-default: "Rubik", sans-serif;

$white: #ffff;



$primary-color:#299E60;
$brand-dark: #0C0C0C;
$secondary-color: #19603B;
$orange:#FF9800;



$background-color: #f4f4f4;

$green-300:#EAF5EF;
$green-600: #00E0C6;
$green-700: #009393;
$green-500: #4DAE7B;
$green-400:#83C7A3;



$blue-700:#3B5266;

$grey-500: #B1B5C3;





:root {

    --up-primary: #D5BC93;
    --brand-red: #BE3144;
    --brand-dark: #242424;
    --up-bg-section:#161616;



    --brand-heading: #0C0C0C;
    --brand-text: #767676;

    --brand-blue-900: #090e1b;
    --brand-blue-100: #EEF1F8;

    --brand-green-900: #011E24;
    --brand-green-800: #323D46;
    --card-bg: #F5F5F5;
    --brand-grey:#DFDFDF;



    --grey-color-900: #34383B;
}