$button-bg-color: #71639e;
$button-color: white;
$button-box-shadow: 0 2px 4px darkslategray;
$button-hover-box-shadow: 0 0 0 0.5rem rgba(25, 135, 84, 0.25);
$button-size: 50px;
$button-padding: 5px;
$font-size: 21px;
$z-index-value: 9999;
$bottom-spacing: 30px;
$right-spacing: 20px;

.scroll_to_top,
.scroll_to_bottom {
  float: right;
  border-radius: 50%;
  background-color: $button-bg-color;
  color: $button-color;
  border: none;
  padding: $button-padding;
  font-size: $font-size;
  height: $button-size;
  width: $button-size;
  box-shadow: $button-box-shadow;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: $button-hover-box-shadow;
  }
}

.scroll_icon {
  position: fixed;
  bottom: $bottom-spacing;
  right: $right-spacing;
  z-index: $z-index-value;
  display: none;

  @media (min-height: 30rem) {
    display: none;
  }

  @media (max-height: 35rem) {
    display: block;
  }

  @media (max-width: 800px) {
    display: none !important;
  }
}

.scroll_icon_bottom {
  position: fixed;
  top: $bottom-spacing;
  right: $right-spacing;
  z-index: $z-index-value;
  display: none;

  @media (min-height: 30rem) {
    display: none;
  }

  @media (max-height: 35rem) {
    display: block;
  }

  @media (max-width: 800px) {
    display: none !important;
  }
}
