.div_pos{
    margin-left: 508px !important;
    margin-top: 10px;
}
.csv{
    margin: 0 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    padding: 8px 10px;
    color: #ffffff;
}
.xlsx{
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    padding: 8px 10px;
    color: #ffffff;
}
