//font
$font-default:'Poppins', sans-serif;
$font-offer: 'Roboto', sans-serif;
 

//colors


$color-brand: #031B09;
$color-brand2: #5FED83;
$color-black:#000000;
$color-white:#fff;
$color-font:#9f9f9f;
$color-font2:#9f9f9f;
$color-grey:#b8b8b8;
$color-green:#28a745;
$color-button:#0069d9;
$color-footer:#121725;
$color-grey:#6c6a74;
$color-hover:#e9c939;
$color-border:#dedede;
$color-transp:#3a3a3ab3;
$color-h-bg:#f4f2f8;

$select-border-color: #ccc;
$select-focus-color: green;









// $color-brand: #1b1b1b;
// $color-black:#000000;
// $color-white:#fff;
// $color-font:#797979;
// $color-font2:#535353;
// $color-green:#44a038;
$color-bg:#f7f7f7;
// $color-footer:#121725;
// $color-grey:#6c6a74;
// $color-hover:#e95a5a;
// $color-border:#c3c1cc;

//font-size


$font-h1:36px;
$font-h2: 18px;
$font-h3:36px;
$font-h4: 25px;
$font-h5:36px;
$font-h6: 18px;
$font-size-banner:60px;
$font-heading:46px;
$font-sub-heading:28px;
$font-text:14px;
