//font
$font-default:'Kumbh Sans', sans-serif;
$font-offer: 'Kaushan Script', cursive;

//colors


$color-brand: #24c5ce;
$color-black:#000000;
$color-white:#fff;
$color-font:#797979;
$color-font2:#535353;
$color-sub-head:#087b81;;
$color-bg:#f7f7f7;
$color-footer:#036b70;
$color-p:#aaa;
$color-border:#d6d6d6;

//fon-size


$font-size-subheading:36px;
$font-size-text: 18px;
$font-size-banner:60px;



