.orderline-product-list{
    overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.search-products{
    text-align: center;
    padding: 0.6rem;
    width: 100%;
    border-radius: 4px;
}
.search-products:hover{
    transform:scale(1.2);
}
  .no-product-warning {
        display: none;
    }
