.more_services {
    padding: 50px 0px;
    margin-top: 20px;
    border: 1px solid;
    border-color: transparent;
    border-bottom-color: #aeb0b6 !important;
    .m_img {
        max-width: 200px;
        width: 150px !important;
        margin: auto;
        img {
            width: 100%;
        }
    }
    .owl-theme4 {
    }
}
