footer{
    background-color: $white;
    .wrapper{
        padding-top: 50px;
        .footer_icon{
            padding-bottom: 30px;
        }
        .footer_heading{
            color: #3B5266;
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 15px;
        }
        .footer_address{
            padding-left: 0;
         
            li{
                padding-bottom: 10px;
              
                a{
                    color: #353945;
                    font-size: 16px;
                }
            }
        }
        address{
            color: #353945;
            font-size: 16px;
            margin-top: -10px;
        }
        .social-icons {
            a {
              margin-left: 15px;
              display: inline-block;
        
              img {
                width: 16px;
                height: 16px;
              }
            }
          }

          .footer_links{
            padding-left: 0;
            li{
                padding-bottom: 10px;
              
                a{
                    color: #353945;
                    font-size: 16px;
                }
            }
          }






          .location{
            height: 100%;
            display: flex;
            width: 100%;
          }
          
            .location-switcher {
              display: flex;
              align-items: center;
              font-family: Arial, sans-serif;
              position: relative;
             width: max-content;
            }
            
            .location-icon {
              font-size: 16px;
              
              margin-right: 8px;
            }
            
            .location-dropdown {
              appearance: none;
              -webkit-appearance: none; 
              -moz-appearance: none; 
              width: 100%;
              padding: 5px 30px 5px 10px; 
              font-size: 14px;
              color: #95A1BB;
              border: none;
              border-radius: 4px;
              background-color: transparent;
              background-image: none;
              background-repeat: no-repeat;
              background-position: right 10px center;
              background-size: 18px; /* Adjust size as needed */
              cursor: pointer;
              // overflow: ;
            }
            
            .location-dropdown:focus {
              outline: none;
              border-color: #007BFF;
            }




    }
}

.app_btn_wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.credit{
    color: #95A1BB;
    font-size: 14px;
}