p, span, a, li, button {
    font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
strong {
	font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.5em;
	font-weight: 500;
}
strong {
  font-weight: 400;
}
div span {
	font-weight: 400;
}
:root {
    /* Primary */
    --mauve: #7D7EAF;

    /* Light */
    --mauve-light: #e5e5ef;
    --mauve-taupe: #B0FFDF;
}
.bg-mauve-light {
    background-color: var(--mauve-taupe);
}
.text-mauve {
    color: var(--mauve);
}
.dashboard-card {
    display: flex;
    justify-content: left;
    padding: 1.1rem 1.5rem 1.5rem 1.5rem;
    margin: 1rem auto;
    height: 110px;
    width: 15%;
}
.dashboard-card__icon-container {
    height: 50px;
    width: 50px;
    border-radius: 15px;
}
.dashboard-card__icon-container i {
	font-size: 20px;
}
.dashboard-card__details h3 {
    font-weight: 700;
    font-size: 1.2rem;
    text-indent: 20px;
}
.dashboard-card__details h4 {
    font-weight: 700;
    font-size: 1.0rem;
    margin-top: -3px;
    text-indent: 20px;
}
h2.section-header {
    font-weight: 500;
    font-size: 1.5rem;
}
.card-shadow {
    box-shadow: 1px 3px 5px 0px rgba(222, 222, 222, 1);
}
.lead_vendor{
    background-color: #f2f2f2;
    height:500px;
    width:48%;
    float:left;
}
.lead_product{
    background-color: #f2f2f2;
    height:500px;
    width:48%;
    float:right;
}
.monthly_purchase{
    background-color: #f2f2f2;
    height:500px;
    width:100%;
}
.bar{
 margin-top:40px;
}
.graph{
 margin-top:40px;
}
.current_month_purchase{
    background-color: #f2f2f2;
    height:500px;
    width:48%;
    float:left;
}
.monthly_count{
    background-color: #f2f2f2;
    height:500px;
    width:48%;
    float:right;
}
.total-amount-tile{
    width: 100%;
    height: 150px;
    padding: 1.7rem 1.5rem 1.5rem 1.5rem;
    background: #848487;
}
.dashboard-card__icon-amount{
    font-weight: 700;
    height:50px;
    font-size: 1.2rem;
    text-indent: 2px;
    background: beige;
}
.form-group{
    float:right;
    width: 20%;
    height: 150px;
}
.dashboard-card:hover{
    background:#edebeb;
}
.date-filter{
    display: flex;
    margin: 1rem auto;
    height: 110px;
    padding:10px
}
.card-shadow-date{
    box-shadow: 1px 3px 5px 0px rgba(222, 222, 222, 1);
    width:500px;
    display: flex;
}