.store{
    background-color: var(--index-3-brand-color1);
    padding: 60px 0 40px 0;
    text-align: center;
    .wrapper{
        h3{
            padding-bottom: 10px;
        }
        p{
             letter-spacing: 0.08em;
             a{
                 color: var(--text-color);
                 text-decoration: underline;
             }
        }
    }
}