.o_main_navbar .dropdown .dropdown-toggle, .o_main_navbar .o_menu_sections .dropdown .dropdown-toggle,
.o_main_navbar .o_menu_systray .dropdown .dropdown-toggle, .o_main_navbar .o_nav_entry,
.o_main_navbar .o_menu_sections .o_nav_entry, .o_main_navbar .o_menu_systray .o_nav_entry,
.o_main_navbar > .o_menu_sections > div, .o_main_navbar > .o_menu_sections > div > a,
.o_main_navbar .o_menu_systray > div, .o_main_navbar .o_menu_systray > div > a,
.o_main_navbar .o_menu_toggle, .o_main_navbar .o_navbar_apps_menu, .o_main_navbar .o_menu_brand {
    color: #000000 !important;
    background: transparent !important;
}
.top_heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_heading ul {
  margin-bottom: 0 !important;
}
.top_heading > a {
  margin-left: 10px;
  font-size: 20px;
}
.top_heading li {
  list-style: none;
}
#sidebar_panel {
    height: calc(100% - 0%);
	position: fixed;
//     top: 0px;
    background-color: #2a3042;
    display: none;
    width: 320px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    z-index: 999;
    height: -webkit-fill-available;
}
#sidebar_panel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.sidebar_panel .sidebar {
    padding: 0;
    white-space: normal;
    padding-bottom: 20px;
    padding-top: 5px;
}
.sidebar_panel .sidebar_close {
    text-align: end;
    display: none;
    position: sticky;
    height: 35px;
    padding-top: 5px;
    top: 0;
    background: #2a3042;
    z-index: 1;
}
.sidebar_panel .sidebar_close a#closeSidebar {
    font-size: 18px;
    margin-right: 10px;
    color: #ffffff;
    opacity: .3;
}
.sidebar_panel .sidebar_close a#closeSidebar img {
    width: 15px;
}
.sidebar_panel .sidebar .sidebar_logo {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.sidebar_panel .sidebar .sidebar_logo img {
    max-width: 150px;
}

.sidebar_panel .sidebar .sidebar_head {
    padding-top: 20px;
    padding-left: 15px;
    color: #6a7187;
    font-size: 14px;
}

.sidebar_panel .sidebar .sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_panel .sidebar .sidebar_menu li {
    margin: 0;
    padding: 0;
    border: 0px;
    display: block;
}

.sidebar_panel .sidebar .sidebar_menu li a {
    margin: 0;
    border: 0px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 10px 8px 25px;
    color: #ffffff !important;
    font-size: 1.45rem;
    transition:.3s all;
}
.sidebar_panel .sidebar .sidebar_menu li:hover  a {
    background: #1e2230;
    color: #fff;
}
.sidebar_panel .nav-link {
	opacity: .5;
    transition:.3s all;
}
.sidebar_panel .sidebar a{
    color: #fff !important;
	opacity: 1;
}

.sidebar_panel .sidebar .sidebar_menu li a .sidebar_img {
    max-width: 3rem;
    margin-right: 8px;
}
.search_icons > .o-menu-search-result{
    width: 100%;
    height: auto;
    background-size: contain !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding-left: 30px;
    font-size: 12px;
    white-space: normal;
    word-wrap: normal;
    line-height: 140%;

    &::before{
        content: '' !important;
    }
}
.search-results{
    max-height: calc(100vh - 47px - 6em);
    padding-right: 5px;
    padding-left: 5px;
    overflow-y: scroll;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.input-group-prepend {
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background-color: #fe5031 !important;
    border: none !important;
}
.sidebar .search-container{
    padding-top: 20px;
    margin-right: 0px !important;
    padding-right: 0px !important;
}
.search-container .search-input{
    margin: 0px 0px 20px 0px !important;
}
.search-container .search-input .input-group {
    flex-direction: row-reverse;
}
.search-container .search-input .input-group input.form-control {
    color: #495057 !important;
    background-color: #f1f1f1 !important;
    padding-left: 10px;
    border-radius: 30px 0px 0px 30px !important;

    &:focus{
        outline: 0 !important;
    }
}
.input-group-text{
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
}