@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-size: 14px;
  font-family: lato, sans-serif
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: poppins, sans-serif
}

p {
  font-family: lato, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #444;
  margin-bottom: 0
}

p img {
  margin: 0
}

a, a:visited {
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  outline: 0;
  font-family: poppins, sans-serif
}

a:hover {
  text-decoration: none
}

a:focus {
  text-decoration: none;
  outline: 0
}

a {
  color: #000000 !important;
}

a:hover {
  color: #fe5031;
}

p a, p a:visited {
  line-height: inherit;
  outline: 0
}

ul, ol {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0
}

ul {
  margin: 0;
  list-style-type: none
}

ol {
  list-style: decimal
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 0
}

ul.square {
  list-style: square outside
}

ul.circle {
  list-style: circle outside
}

ul.disc {
  list-style: disc outside
}

ul ul, ul ol, ol ol, ol ul {
  margin: 0
}

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 0
}

input {
  font-size: 14px !important;
  border: 1px solid rgba(170, 170, 170, .3) !important;
  padding: 10.72px 12.8px;
  padding: .67rem .8rem;
  display: block;
  width: 100%;
  height: 37px !important;
  padding: 2.375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff !important;
  background-clip: padding-box;
  border: 1px solid #ced4da !important;
  border-radius: 0 !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button {
  cursor: pointer;
  outline: none !important;
  letter-spacing: 0
}

blockquote {
  padding: 60px;
  position: relative;
  background: #853bfa
}

blockquote:before {
  content: '\f10d';
  font-family: fontawesome;
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 16px;
  top: 46px
}

blockquote p {
  font-size: 17px;
  color: #fff
}

.blockquote-footer {
  color: #fff
}

/*Menu Bar*/
.o_main_navbar .cybro-main-menu {
  max-height: 100vh;
  min-width: 100%;
  overflow: auto;
  margin-top: 0;
  z-index: 99;
  height: 100vh;
  width: 280px;
  overflow-y: scroll;
  background: #30363F;
  box-shadow: 2px 0 32px rgba(0, 0, 0, .05);
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  transform: none !important;
  border: none;
}

i.fa.fa-th-large {
  font-size: 26px !important;
  color: #fe5031 !important;
  margin-top: 10px;
}

.cybro-main-menu a.dropdown-item.o_app {
  position: relative;
  display: block;
  color: #8d97ad !important;
  font-size: 15px;
  text-transform: capitalize;
  padding: 15px !important;
  letter-spacing: 0;
  font-weight: 400;
  padding-left: 32px !important;
}

.cybro-main-menu a.dropdown-item.o_app:hover {
  color: #ffffff !important;
}

.cybro-main-menu a:hover {
  color: #fff !important;
  background: #343942 !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff !important;
  background: #343942;
}

img.cybro-menuicon {
  width: 28px;
  margin-right: 10px;
}

/*//Menu Bar*/
/*Top bar*/
.o_main_navbar {
  position: relative;
  height: 70px;
  padding-top: 15px;
  border-bottom: 1px solid #d8e3e7;
  background-color: #ffffff !important;
  color: #333 !important;
}

.o_main_navbar > ul > li > a, .o_main_navbar > ul > li > label {
  height: 46px;
  padding: 0 10px;
  color: #333 !important;
  line-height: 46px;
  transition: .3s all ease;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
  background: none !important;
  border: none;
  color: #fe5031 !important;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
  background: none;
  color: inherit;
  color: #fe5031 !important;
}

.o_main_navbar .show .dropdown-toggle {
  background-color: #ffffff !important;
  color: #fe5031;
}

li.o_user_menu a.dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: -webkit-linear-gradient(left, #df2673 0%, #fe5031 100%);
  background: linear-gradient(to right, #df2673 0%, #fe5031 100%);
  padding: 17px 38px;
  color: #fff !important;
  height: 70px;
  font-size: 16px;
  font-family: poppins, sans-serif;
  margin-top: -15px;
}

.o_user_menu a.dropdown-toggle:hover {
  border: none;
  color: #020202 !important;
  background: linear-gradient(to right, #df2673 0%, #fe5031 100%) !important;
}

.o_main_navbar .o_user_menu .oe_topbar_avatar {
  height: 45px;
  transform: translateY(-2px);
  margin-right: 9px;
}

.dropdown-menu a:hover {
  color: #fe5031 !important;
  background: #ffffff !important;
}

.cybro-main-menu a:hover {
  color: #fff !important;
  background: #343942 !important;
}

.btn-primary {
  color: #fff;
  background-color: #fe5031;
  border-color: #fe5031;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem 1.5rem;
  font-size: 1.08333333rem;
  line-height: 1.5;
  border-radius: 0px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  bottom: auto;
  right: -10px;
  border-top: 19px solid transparent;
  border-bottom: 23px solid transparent;
  border-right: none;
  border-left: 11px solid white;
  transition: border 0.2s ease 0s;
  -moz-transform: scale(0.9999);
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
  color: #fe5031;
  font-size: 11px;
  background-color: #e9ecef;
  cursor: default;
}

.o_control_panel {
  border-bottom: 1px solid #d8e3e7;
}

.o_form_view .o_form_statusbar {
  border-bottom: 1px solid #d8e3e7;
}

.o_mail_systray_item .o_notification_counter {
  background: #fe5031;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
  background-color: #fe5031;
}

.o_searchview .o_searchview_input {
  border: none !important;
  padding: 4px 0 0 0;
}

.o_searchview {
  width: 96%;
  border-radius: 33px;
  border: none;
  height: 40px;
  padding-left: 20px;
  padding-right: 40px;
  letter-spacing: 0;
  background: #f1f1f1 !important;
  margin-top: 5px;
}

.o_searchview_input_container input {
  background: #f1f1f1 !important;
  height: 34px;
  color: #b1a7a7 !important;
}

.o_searchview .o_searchview_more {
  position: absolute;
  top: 11px;
  left: auto;
  bottom: auto;
  right: 14px;
  color: #b1a7a7;
}

.ui-autocomplete .ui-menu-item > a, .show .dropdown-menu .dropdown-item, .show .dropdown-menu .dropdown-header, .navbar-nav .show .dropdown-menu .dropdown-item, .navbar-nav .show .dropdown-menu .dropdown-header {
  padding: 3px 20px;
  transition: 0s !important;
}

.ui-autocomplete .ui-menu-item > a:hover {
  display: block;
  color: #ffffff !important;
}

.o_searchview_facet {
  border-radius: 30px;
  border: none !important;
  margin: 6px 3px 6px 0 !important;
}

.o_facet_values {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px !important;
  background: #fff;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

span.o_searchview_facet_label {
  border-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 3px 12px !important;
}

.o_facet_values span {
  padding: 0 2px 0 0px;
  font-size: 12px;
}

/*controll panel*/

.o_control_panel {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid darken($o-control-panel-background-color, 20%);
  @include o-webclient-padding($top: 10px, $bottom: 10px);
  background-color: $o-control-panel-background-color;

  > .breadcrumb {
    width: 50%;
  }

  &.o_breadcrumb_full > .breadcrumb {
    width: 100%;
  }

  > .o_cp_searchview {
    width: 40%;
    min-height: $o-cp-breadcrumb-height;
  }
  > .o_cp_left {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 5px;
  }
  > .o_cp_right {
    display: flex;
    width: 60%;
    margin-top: 5px;
  }
}

.o_control_panel hr {
  flex-basis: 100%;
  background: #f0f4f5;
}

.o_control_panel span.o_pager_counter {
  font-size: 12px;
}

.o_control_panel nav.o_cp_pager span.btn-group {
  font-size: 12px !important;
}

.o_control_panel button.fa.fa-chevron-left.btn.btn-secondary.o_pager_previous {
  font-size: 12px;
  padding-right: 4px;
  padding-left: 5px;
  padding-bottom: .8rem !important;
  padding-top: .8rem !important;
}

.o_control_panel button.fa.fa-chevron-right.btn.btn-secondary.o_pager_next {
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: .8rem !important;
  padding-top: .8rem !important;
}

.o_control_panel button.btn.btn-secondary.fa {
  padding: 11px;
  padding-bottom: .8rem !important;
  padding-top: .8rem !important;

}

.o_control_panel button.o_dropdown_toggler_btn.btn.btn-secondary.dropdown-toggle {
  box-shadow: 1px 3px 12px 1px #e5e0f3d4;
  margin-right: 8px;
  padding: .8rem 1rem;
  font-size: 12px;
}

.o_control_panel .o_cp_left {
  justify-content: flex-end;
}

.o_control_panel button.btn.btn-secondary.o_button_import {
  border: 1px solid #fe5031;
}

.o_control_panel .btn-secondary:not(:disabled):not(.disabled):active, .o_control_panel .btn-secondary:not(:disabled):not(.disabled).active, .o_control_panel .show > .btn-secondary.dropdown-toggle {
  color: #fe5031;
  background-color: #ffffff;
  border-color: #fe5031;
}

.o_control_panel .btn-secondary:hover {
  color: #fe5031;
  background-color: #ffffff;
  border-color: #fe5031;
}

/*//Controll panel*/
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
  background: none;
  background-color: #fe5031;
  color: white;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default:hover {
  background: none;
  background-color: rgb(254, 98, 67);
  border-color: #7C7BAD;
  color: white;
}

/*form header*/
.o_control_panel.o_breadcrumb_full .o_cp_right {
  order: 2;
  width: auto;
}

.o_control_panel.o_breadcrumb_full hr {
  flex-basis: 0;
}

.o_control_panel.o_breadcrumb_full ol.breadcrumb {
  order: 1;
}

.o_control_panel.o_breadcrumb_full .o_cp_left {
  order: 3;
  width: 58%;
  justify-content: space-between;
}

.o_control_panel.o_breadcrumb_full {
  justify-content: space-between;
}

.o_control_panel.o_breadcrumb_full .o_cp_buttons {
  order: 2;
}

.o_control_panel.o_breadcrumb_full aside.o_cp_sidebar {
  order: 1;
}

/*//Form Header*/
.ui-autocomplete .ui-menu-item.ui-state-focus {
  background-color: #fe5031;
  color: #fff !important;
}

.btn-group.o_date_range_buttons.d-none.d-md-inline-flex.float-right {
  float: left !important;
  margin-bottom: 5px;
}

.btn-group.d-none.d-md-inline-block.float-right {
  float: left !important;
}

a.btn.btn-primary {
  color: #fff !important;
}

.btn-primary:hover {
  background: #f13d4f !important;
  border-color: #f13d4f;
}

.oe_kanban_card.oe_kanban_global_click.o_kanban_record {
  box-shadow: 1px 3px 12px 1px #d2c9eab5;
  margin-right: 8px;
  padding: .8rem 1rem;
  font-size: 12px;
  border: none !important;
}

.o_view_controller {
  background: #fff;
}

.o_field_widget.badge.badge-primary {
  background: #fe5031;
  padding: 5px 8px;
  border-radius: 0px !important;
}

.clearfix.o_form_sheet {
  box-shadow: 1px 3px 12px 1px #d2c9eab5;
  border: none !important;
}

.o_form_sheet_bg {
  background: #ffffff !important;
}

ul.nav.nav-tabs li.nav-item a {
  padding: 1rem 1rem;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #fe5031 !important;
  background-color: #ffffff;
  border: 1px solid #fe5031;
  border-bottom: 0;
}

.o_form_view .o_horizontal_separator {
  color: #000000 !important;
  font-weight: 500 !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

.o_mail_discuss_content .o_mail_thread {
  background: #f1f1f1;
}

.o_mail_discuss .o_mail_discuss_content {
  background-color: white;
}

.o_mail_discuss .o_mail_discuss_sidebar {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 13px 9px 21px 20px #f1f1f1;
  box-shadow: 12px 0px 4px 6px black;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_active {
  background-color: #ffffff;
  box-shadow: 1px 3px 12px 1px #e5e0f3d4;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_mail_discuss_title_main {
  padding: 1rem 16px !important;
  margin-bottom: 2px;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item:hover {
  background-color: #fff;
  color: #fe5031;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title h4.o_mail_open_channels:hover {
  color: #fe5031;
}

span.fa.fa-cog.o_mail_channel_settings {
  opacity: .5 !important;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title .o_add:hover, .o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title .o_add:focus, .o_mail_discuss .o_mail_discuss_sidebar .o_mail_sidebar_title .o_add.focus {
  color: #fe5031;
}

select {
  border-radius: 0 !important;
  height: 37px;
}

.o_field_monetary.o_field_number.o_input.o_field_widget.o_required_modifier {
  border-radius: 0;
  height: 43px;
}

.datepicker .table-sm > tbody > tr > td.active, .datepicker .table-sm > tbody > tr > td .active {
  background-color: #fe5031;
  border-radius: 0 !important;
}

.datepicker .table-sm > thead > tr > th {
  border-radius: 0;
}

.datepicker .table-sm > thead {
  color: white;
  background-color: #fe5031;
}

.datepicker .table th, .datepicker .table td {
  vertical-align: top;
  border-top: 1px solid #ffffff;
}

i.fa {
  color: #848484 !important;
}

.dropdown-menu.cybro-main-menu.show {
  padding: 0 !important;
  width: 320px !important;
}

a.dropdown-item.o_app.cybro-mainmenu {
  width: 100% !important;
  text-align: left !important;
  display: flex;
  justify-content: flex-start !important;
  align-items: center !important;
  flex-direction: row !important;
  padding: 1rem 1rem 1rem 2rem !important;
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
  max-width: 3rem !important;
  margin-right: 11px;
}

.cybro-main-menu .input-group {
  order: 2;
}

.cybro-main-menu input.form-control {
  order: 1;
  border-bottom-left-radius: 30px !important;
  border-top-left-radius: 30px !important;
  font-size: 12px !important;
  border: none !important;
  outline: none !important;
}

.cybro-main-menu .input-group-prepend {
  order: 2;
}

.cybro-main-menu .input-group-text {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  background-color: #fe5031 !important;
  border: none !important;
  color: #fff !important;
}

.search-input.col-md-10.ml-auto.mr-auto.mb-2 {
  margin: 0 !important;
  width: 100%;
}

.cybro-main-menu a.o-menu-search-result.dropdown-item.col-12.ml-auto.mr-auto {
  padding-left: 30px !important;
  font-size: 12px;
  text-align: left !important;
  width: 100%;
  padding-right: 0px !important;
  flex-wrap: wrap;
  word-break: normal;
  color: #fff !important;

}

.cybro-main-menu .search-results.col-md-10.ml-auto.mr-auto {
  background: #30353f;
  margin: 10px 0 !important;
}

.o_menu_apps .dropdown-menu.show .form-row {
  width: 100%;
  margin: 25px 0px 0px 0px !important;
}

.o_kanban_record {
  border: none !important;
  box-shadow: 2px 4px 8px 2px rgba(67, 54, 251, .1) !important;
}

.o_searchview_input_container input {
  background: #f1f1f1 !important;
  height: 34px;
  color: #b1a7a7 !important;
  border-radius: 30px !important;
}

@media (min-width: 1200px) {
  .o_mail_discuss .o_mail_discuss_content {
    margin-left: 218px !important;
  }
  .o_mail_discuss .o_mail_discuss_sidebar {
    width: 218px;
  }
}

@media (min-width: 767px) {
  ul.o_menu_sections.collapse.show {
    margin-top: 24px !important;
  }
  .o_web_client .o_mobile_search .o_mobile_search_header {
    height: 46px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #fe5031 !important;
    color: white;
  }
  .o_searchview {
    padding-right: 0 !important;
    padding-left: 5px !important;
  }

  button.o_enable_searchview.btn.fa.fa-search {
    float: right !important;
    height: 39px !important;
    width: 33px !important;
    background: #fe5031 !important;
    color: #fff !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }
  .o_control_panel .btn.o_enable_searchview {
    margin-left: 2%;
    padding: 0px;
    float: right;
    background: white;
    margin-right: -43px;
    height: 40px;
    border-top-right-radius: 20px;
    margin-top: -1px;
    border: 1px solid #f1f1f1;
    padding: 11px;
    border-bottom-right-radius: 20px;
  }

}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item.o_unread_message {
  color: #6c757d !important;
}

.o_mail_discuss .o_mail_discuss_sidebar .o_mail_discuss_item > .badge {
  color: white;
  background-color: #fe5031 !important;
}

.o_onboarding.o_onboarding_blue .o_onboarding_wrap {
  background-color: rgb(254, 98, 67);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(223, 38, 115)), to(#fe4837));
  background-image: -webkit-linear-gradient(top, rgb(254, 72, 55), #df2673);
  background-image: -moz-linear-gradient(top, rgba(96, 171, 195, 0.5), #4187AE);
  background-image: -ms-linear-gradient(top, rgba(96, 171, 195, 0.5), #4187AE);
  background-image: -o-linear-gradient(top, rgba(96, 171, 195, 0.5), #4187AE);
  background-image: linear-gradient(to bottom, rgb(223, 38, 115), #fe4837);
  box-shadow: inset 0 -7px 20px -5px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.o_onboarding_step_title .mt16 a {
  color: #fff !important;
}

h4.o_onboarding_step_title.mt16 a {
  color: #fff !important;
}

.o_onboarding_step_content_info p {
  color: #ececec !important;
}

.btn-info {
  color: #fff !important;
  background-color: #717171;
  border-color: #717171;
}