.pos-product-magnify {
    position: absolute;
    top: 0px;
    left: 2px;
    line-height: 13px;
    border-radius: 2px;
    z-index: 1000;
}
.product-large-image{
    margin: auto;
    max-width: auto;
    max-height: 250px !important;
}
.product-large-image img{
    max-width: 100%;
    max-height: 250px !important;
}