.pos-product-magnify {
    position: absolute;
    bottom:auto;
    top:0;
    left: 2px;
    line-height: 13px;
    border-radius: 2px;
    z-index:1000;
}
.product_large_image{
    margin: 0 auto;
    width: 250px;
    height:250px;
}
.product_large_image img{
    width: 100%;
    height:100%;
}