.style_event {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}
.style_event_type {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}


.o_action_manager {
    overflow: auto !important;
}

.help_dashboards {
    padding-top: 10px;
    background-color: #f8faff !important;
}

.dashboard_card h4 {
font-size: 21px;
}

.main-section {
    margin-left: 6px;
}

.breadcrumbs {
    margin-top: 0;
}

/*    Widget One
---------------------------*/
.stat-content {
    display: inline-block;
    width: 66%;
}

.stat-icon {
    display: inline-block;
}

.stat-widget-one .stat-icon {
    vertical-align: top;
    margin: auto;
    width: 100%;
    color: #01c490;
}

.stat-widget-one .stat-text {
    font-size: 11px;
    color: #868e96;
    font-weight: bold;
}

.stat-widget-one .stat-digit {
    font-size: 24px;
    color: #02448b;
}

/*=====================Dashboard===========================*/

.customer{
margin-top: 15px;
backgroud: #fff;
transition: transform 0.2s ease, box-shadow 0.2s ease;
will-change: transform, box-shadow;
box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
height: 316px;
overflow-y: auto;
margin-bottom: 15px;
border-radius:10px;
}

.customer_head{
font-size: 17px;
padding: 12px;
color: #7d7eaf;
background-color: #e5e5ef;
}
.padding{
margin-bottom:75px;
}
.graph{
padding: 10px;
box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
background: #fff;
margin-bottom: 15px;
border-radius:15px;
}
.left{
    margin-top: -740px;
    margin-left: 800px;
}
.circle{
border-radius: 50%;
border-color:#fff;
    padding: 10px;
    color: #7d7eaf;
    background-color: #e5e5ef;
    font: 20px arial, sans-serif;
    height: 44px;
    width: 44px;
    text-align:center;
    margin:auto;
}
.head{
font-size: 18px;
color: #7d7eaf;
font-family: cursive;
}