// Font
$font-default:'Inter', sans-serif;


:root {

    --white-color: #ffff;
    --off-white:#F8F8F8;
    --black-color: #000000;
    --autofly-red: #D10202;
    --autofly-text-red: #D10205;
    --autofly-orange:#EB583D;
    --grey-1:#8b8b8b;
    --grey-2:#606060;
    --grey-3:#747474;
    --border-color:#E3E2DF;
    --border-color-2:#D7D4D4;
    --button-s-bg: #eb583d1a;
    --heading-color:#282828;
    --section-bg:#252525;
    
}
