.banner {
  .banner_bg1 {
    background-image: linear-gradient(#11111100, #11111100), url(./../images/banner/banner1.jpg);
    justify-content: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @media screen and(max-width:768px) {
      padding-bottom: 80px;
    }
  }
  .banner_bg2 {
    background-image: linear-gradient(#11111100, #11111100), url(./../images/banner/banner2.jpg);
    justify-content: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @media screen and(max-width:768px) {
      padding-bottom: 80px;
    }
  }
  .banner_bg3 {
    background-image: linear-gradient(#11111100, #11111100), url(./../images/banner/banner3.jpg);
    justify-content: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @media screen and(max-width:768px) {
      padding-bottom: 80px;
    }
  }
  // .h-100 {
  //   height: 100%;
  // }
  .wrapper {
    height: 100%;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 60px;
    @media screen and(max-width:996px) {
      padding-top: 150px;
    }
    @media screen and(max-width:500px) {
      padding-top: 110px;
    }
    .card {
      margin-top: 50px;
      border: none;
      background-color: transparent;
      width: 50%;
      @media screen and(max-width:996px) {
        width: 75%;
      }
      @media screen and(max-width:375px) {
        width: 90%;
      }
      .card-header {
        background: transparent;
        border-bottom-color: transparent;
        color: $color-brand2;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 0;
        @media screen and(max-width:768px) {
          padding-bottom: 20px;
        }
      }
      .card-body {
        .card-title {
          font-size: 50px;
          font-weight: 700;
          color: $color-brand6;
          letter-spacing: 1px;
          @media screen and(max-width:576px) {
            font-size: 35px;
          }
        }
        .card-text {
          font-size: 16px;
          margin: 26px 0;
          letter-spacing: 0.5px;
          color: $color-brand6;
          @media screen and(max-width:768px) {
            padding-bottom: 20px;
          }
        }
      }
      .footer_icon {
        margin-left: 26px;
        margin-top: 55px;
        @media screen and(max-width:992px) {
          text-align: start;
          margin-top: 30px;
          margin-left: 20px;
        }
        a {
          color: $color-brand4;
          margin-right: 15px;
          &:hover {
            color: $color-brand2;
          }
        }
      }
    }
  }
  .owl-carousel {
    position: relative;
    .owl-nav {
      position: absolute;
      width: 100%;
      bottom: 14%;
      @media screen and(max-width:996px) {
        width: auto;
        left: 4%;
        bottom: 0;
      }
      @media screen and(max-width:768px) {
        width: auto;
        left: 15%;
        bottom: 4%;
      }
      @media screen and(max-width:576px) {
        left: 2%;
        bottom: 7%;
      }
    }
    .owl-prev {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      float: left;
      color: $color-black;
      margin-left: 15px;
      &:hover {
        color: $color-black;
      }
      .pre {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
    .owl-next {
      color: $color-black;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      float: right;
      margin-right: 15px;
      &:hover {
        color: $color-black;
      }
      .nxt {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
    .owl-dots {
      position: absolute;
      position: absolute;
      bottom: 8em;
      right: 24em;
      z-index: 999;
      @media screen and(max-width:996px) {
        bottom: 9.5em;
        right: 30em;
      }
      @media screen and(max-width:768px) {
        bottom: 4em;
        right: 20em;
      }
      @media screen and(max-width:576px) {
        bottom: 10%;
      }
      @media screen and(max-width:500px) {
        bottom: 10%;
        right: 12em;
      }
      @media screen and(max-width:375px) {
        bottom: 3%;
        right: 18em;
      }
    }
    .owl-dot {
      background-color: deepskyblue;
      &.active {
        background: #7cd279 !important;
      }
      span {
        border: 1px solid;
        color: white;
        font-size: 1em;
        padding: 0.1em 0.6em;
        outline: none;
      }
    }
  }
}
// Sub pages
.banner_sub {
  margin-top: 80px;
  .wrapper {
    background-color: $color-brand5;
    padding: 50px 0;
    .sub_page {
      .name {
        color: $color-brand6;
        font-size: 28px;
        font-weight: 700;
        padding-left: 12px;
      }
      .breadcrumb {
        background-color: transparent;
        .material-icons {
          font-size: 18px;
          padding-top: 3px;
        }
        // .breadcrumb-item.active {
        // }
        .breadcrumb-item {
          &::before {
            display: none;
          }
          font-size: 16px;
          a {
            color: $color-black;
            text-decoration: none;
            font-size: 16px;
          }
        }
      }
    }
  }
}
.banner_sub2 {
  background-image: linear-gradient(#00000065, #00000065), url(./../images/banner/blog-bg.jpg);
  justify-content: center;
  height: 50vh;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin-top: 80px;
  .wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .b_heading {
      font-size: 40px;
      font-weight: 900;
      color: $color-white;
    }
  }
}
