.footer {
    background-color: $color-brand6;
    padding: 80px 0;
    @media screen and(max-width:992px) {
        padding-bottom: 40px;
        padding-top: 60px;
    }
    .wrapper {
        .name {
            .navbar-brand {
                max-width: 120px;
                margin-bottom: 20px;
                padding-top: 0;
                img {
                    width: 100%;
                }
            }
            p {
                line-height: 2rem;
                font-size: 16px;
                color: $color-white;
                padding-bottom: 10px;
            }
        }
        .footer_heading {
            color: $color-white;
            letter-spacing: 1px;
            font-size: 22px;
            font-weight: 700;
        }
        .footer_icons {
            padding-top: 10px;
            text-align: center;
            display: flex;
            justify-content: start;
            a {
                display: block;
                color: $color-black;
                margin-right: 8px;
                span {
                    height: 31px;
                    width: 43px;
                    font-size: 28px;
                    padding-top: 1px;
                    border-radius: 2px !important;
                    color: $color-white;
                }
                &:nth-child(1) {
                    span {
                        color: rgb(255, 255, 255) !important;
                        background: rgb(5, 85, 151) !important;
                        &:hover {
                            color: rgb(255, 255, 255) !important;
                            background: $color-black !important;
                        }
                    }
                }
                &:nth-child(2) {
                    span {
                        background: rgb(41, 111, 240) !important;
                        color: rgb(255, 255, 255) !important;
                        &:hover {
                            color: rgb(255, 255, 255) !important;
                            background: $color-black !important;
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        background: rgb(248, 130, 51) !important;
                        color: rgb(255, 255, 255) !important;
                        &:hover {
                            color: rgb(255, 255, 255) !important;
                            background: $color-black !important;
                        }
                    }
                }
                &:nth-child(4) {
                    span {
                        background: rgba(178, 202, 40, 0.801) !important;
                        color: rgb(255, 255, 255) !important;
                        &:hover {
                            color: rgb(255, 255, 255) !important;
                            background: $color-black !important;
                        }
                    }
                }
                &:nth-child(5) {
                    span {
                        background: rgba(40, 178, 202, 0.801) !important;
                        color: rgb(255, 255, 255) !important;
                        &:hover {
                            color: rgb(255, 255, 255) !important;
                            background: $color-black !important;
                        }
                    }
                }
            }
        }
        .footer_items {
            margin-top: 30px;
            text-align: left;
            padding-left: 0px;
        }
        .footer_items a {
            color: $color_grey;
            text-decoration: none;
            &:hover {
                color: $color-brand4;
            }
        }
        .footer_items li {
            margin-bottom: 8px;
        }
        .i_wrapper {
            @media screen and(max-width:576px) {
                margin-top: 50px;
            }
        }
        .s_wrapper {
            @media screen and(max-width:992px) {
                margin-top: 50px;
            }
        }
        .send {
            padding-top: 20px;
            p {
                line-height: 2rem;
                font-size: 16px;
                color: $color-white;
                padding-bottom: 10px;
            }
            .search_box {
                padding: 20px 0;
                .has-search .form-control {
                    padding-left: 3.375rem;
                    background-color: transparent;
                    color: $color-brand2;
                }
                .form-control {
                    padding: 20px 0;
                    display: block;
                    width: 100%;
                    height: calc(2.5em + 0.75rem + 2px);
                    padding: 0.375rem 0.75rem;
                    padding-left: 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    // background-color: rgb(146, 23, 23);
                    background-clip: padding-box;
                    border: 1px solid;
                    border-radius: 0;
                    border-color: transparent;
                    border-bottom-color: $color-white !important;
                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    box-shadow: none !important;
                    &:focus {
                        border-color: $color-white !important;
                    }
                }
                .has-search .form-control-feedback {
                    z-index: 2;
                    display: block;
                    width: 3.375rem;
                    height: 2.375rem;
                    line-height: 3.375rem;
                    text-align: center;
                    pointer-events: none;
                    color: #ffffff;
                    position: absolute;
                    right: 20px;
                }
                // .form-control-feedback {
                // }
                .form-group {
                    position: relative;
                }
            }
        }
        .copyright {
            width: 100%;
            text-align: center;
            margin-top: 40px;
            hr {
                border: 0;
                border-top: 1px solid rgba(86, 86, 86, 0.53) !important;
            }
            .copy {
                padding-top: 20px;
                color: $color-off-white;
                a {
                    color: $color-brand2;
                }
                span {
                    color: $color-brand2;
                }
            }
        }
    }
}
