.navigation {
    position: absolute;
    width: 100%;
    top: 50;
    left: 0;
    z-index: 999;
    background: transparent;
    box-shadow: 0px 9px 4px -1px rgba(213, 213, 213, 0.7);
    -webkit-box-shadow: 0px 9px 4px -1px rgba(213, 213, 213, 0.7);
    -moz-box-shadow: 0px 9px 4px -1px rgba(213, 213, 213, 0.7);
    @media screen and(max-width:996px) {
        background-color: rgb(255, 255, 255);
    }
    /* Underline Reveal */
    .hvr-underline-reveal {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
    }
    .hvr-underline-reveal:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2098d1;
        height: 4px;
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-underline-reveal:hover:before,
    .hvr-underline-reveal:focus:before,
    .hvr-underline-reveal:active:before {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    .bg-light {
        background: transparent !important;
    }
    .navbar {
        padding: 15px 0;
        .navbar-brand {
            max-width: 120px;
            img {
                width: 100%;
            }
        }

        .navbar-collapse {
            transition: all 0.35s ease-out;
            transform-origin: center left;
            text-align: center;
        }
        .navbar-toggler {
            color: rgb(0, 0, 0) !important;
            border-color: rgb(0, 0, 0) !important;
            border-radius: 0;
            border-width: 2px;
            max-width: 41px;
            padding: 3px 6px;
            img {
                width: 100%;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .nav-item {
                    margin: 0 15px;
                    .nav-link {
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                // &:active {
                //     display: inline-block;
                //     vertical-align: middle;
                //     -webkit-transform: translateZ(0);
                //     transform: translateZ(0);
                //     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                //     -webkit-backface-visibility: hidden;
                //     backface-visibility: hidden;
                //     -moz-osx-font-smoothing: grayscale;
                //     position: relative;
                //     overflow: hidden;
                // }
            }
            .dropdown {
                .dropdown-menu {
                    background-color: $color-brand6;
                    border-radius: 0;
                    border: 0;
                    top: 160%;
                    @media screen and(max-width:992px) {
                        text-align: center;
                    }
                }
                .dropdown-item {
                    display: block;
                    width: 100%;
                    padding: 0.4rem 2.5rem;
                    clear: both;
                    font-weight: 400;
                    color: #fff;
                    text-align: inherit;
                    white-space: nowrap;
                    border: 0;
                    font-size: 15px;
                    &:hover {
                        color: $color-black;
                    }
                }
            }
        }
        .navbar-text {
            display: flex;
            justify-content: space-around;
            width: 16%;
            align-items: unset;
            @media screen and(max-width:996px) {
                justify-content: center;
                width: 100%;
                margin-top: 10px;
            }
            a {
                margin-right: 10px;
                i {
                    font-size: 21px;
                }
                &:hover {
                    i {
                        color: $select-focus-color;
                    }
                }
            }
        }
    }
}
.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
color: #000000 !important;
position: relative;
&::after{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    height: 5px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
}
