.sidebar {
  margin-right: 10px;
  .wrapper {
    padding: 20px 10px;
    .box {
      margin-bottom: 30px;
      .example {
        position: relative;
      }
      form.example input[type="text"] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid $select-border-color;
        float: left;
        width: 100%;
        background: #ffffff;
      }
      form.example button {
        padding: 10px;
        background: transparent;
        color: $color-grey;
        font-size: 17px;
        border: 1px solid $select-border-color;
        border-left: none;
        cursor: pointer;
        position: absolute;
        right: 0;
        z-index: 999;
      }
      form.example button:hover {
        background: $select-focus-color;
      }
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }
      .accordion {
        .card {
          border-radius: 0;
          border: transparent;
          .card-header {
            border-radius: 0;
            background-color: transparent;
            padding: 20px 0;
            border: none;
            .btn-link {
              color: $color-brand6;
              font-size: 18px;
              font-weight: 700;
              text-decoration: none;
              text-transform: uppercase;
              padding-left: 0;
            }
          }
          .card-body {
            padding-left: 0;
            .wrapp1 {
              .list-group {
                height: 200px;
                overflow-x: hidden;
                overflow-y: auto;
                .list-group-item {
                  border: none;
                  &:hover {
                    background-color: aliceblue;
                  }
                  a {
                    color: $color-text;
                    text-decoration: none;
                    font-size: 16px;
                    &:hover {
                      color: $select-focus-color;
                    }
                  }
                }
              }
            }
            .wrapp2 {
              .list-group {
                .list-group-item {
                  border: none;
                  color: $color-text;
                  text-decoration: none;
                  font-size: 16px;
                }
              }
              .size {
                display: flex;
                flex-wrap: wrap;
                a {
                  color: $color-text;
                  font-size: 16px;
                  border: 1px solid;
                  border-color: $color-brand6;
                  padding: 5px 14px;
                  margin: 10px;
                  text-decoration: none;
                  &:focus {
                    background-color: $color-brand4 !important;
                    color: $color-white;
                    border-color: $color-brand4;
                  }
                }
              }
              .color {
                -webkit-transition: all, 0.6s;
                -o-transition: all, 0.6s;
                transition: all, 0.6s;
                .custom-radios {
                  div {
                    display: inline-block;
                  }
                  input[type="radio"] {
                    display: none;
                    + label {
                      color: #333;
                      font-size: 14px;
                      span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        margin: -1px 4px 0 0;
                        vertical-align: middle;
                        cursor: pointer;
                        border-radius: 50%;
                        border: 2px solid #ffffff;
                        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                        background-repeat: no-repeat;
                        background-position: center;
                        text-align: center;
                        // line-height: 44px;
                        img {
                          opacity: 0;
                          -webkit-transition: all, 0.6s;
                          -o-transition: all, 0.6s;
                          transition: all, 0.6s;
                          width: 50%;
                        }
                      }
                    }
                    &#color-1 + label span {
                      background-color: $color-1;
                    }
                    &#color-2 + label span {
                      background-color: $color-2;
                    }
                    &#color-3 + label span {
                      background-color: $color-3;
                    }
                    &#color-4 + label span {
                      background-color: $color-4;
                    }
                    &#color-5 + label span {
                      background-color: $color-brand2;
                    }
                    &#color-6 + label span {
                      background-color: $color-black;
                    }
                    &#color-7 + label span {
                      background-color: $color-4;
                    }
                    &#color-8 + label span {
                      background-color: grey;
                    }
                    &:checked + label span img {
                      opacity: 1 !important;
                      // border: 2px solid #140707;
                    }
                  }
                }
              }
              .tags {
                display: flex;
                flex-wrap: wrap;
                a {
                  color: $color-text;
                  font-size: 17px;
                  border: 1px solid;
                  border-color: $color-off-white;
                  padding: 5px 14px;
                  margin: 10px;
                  text-decoration: none;
                  font-weight: 600;
                  background-color: $color-off-white;
                  &:hover {
                    background-color: $color-black !important;
                    color: $color-white;
                    border-color: $color-black;
                  }
                }
              }
            }
          }
        }
      }
      .collapse.show {
        border: 1px solid;
        border-color: transparent;
        border-bottom-color: $select-border-color !important;
      }
    }
  }
}
