.progress_bar .pro-bar {
	background: hsl(0, 0%, 97%);
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
	height: 4px;
	width: 200px;
	margin-bottom: 15px;
	margin-top: 10px;
	position: relative;
}
.progress_bar .progress_number {
	float: right;
	margin-top: 2px;
	margin-right: 74px;
}