.first-product-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50px;
  margin-top: 40px;
}
.second-product-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 0px;
    margin-top: 40px;
    margin-left: 600px;
    margin-top: 5px;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.second-product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product-name {
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-top: 100px;
}
.second-product-name {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-left: 90px;
}
.product-description {
  font-size: 22px;
  color: #888;
  margin-top: 40px;
  max-width: 700px;
}
.product-price {
  font-size: 24px;
  color: #ff5252;
  margin-top: 10px;
}
.second-product-price {
    font-size: 30px;
    color: #ff5252;
    margin-top: 5px;
    font-style: italic;
    margin-left: 75px;
}
.third-product-price {
     color: grey;
  font-size: 22px;
}
.cta-button {
  margin-top: 40px;
  padding: 20px 40px;
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}
.cta-button:hover {
  background-color: #e63939;
}
.cta-button2 {
  padding: 20px 40px;
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  margin-left: 60px;
}
.cta-button:hover2 {
  background-color: #e63939;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.third-product-page {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.third-product-name {
    font-size: 24px;
}
.third-product-image {
  width: 300px;
}
.third-cta-button {
  padding: 20px 40px;
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.fourth-cta-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #ff5252;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.cta-button:hover3 {
  background-color: #e63939;
}
.s_special_products_options {
    border: 1px solid #EAEAEA;
    padding: 20px;
}
.fourth-product-image {
  width: 400px;
  margin-left: 500px;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  animation: slide-in 1s ease-in-out;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.fourth-product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fourth-product-price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.fourth-view-button {
    padding: 10px 30px;
    background-color: #ff5252;
    color: #fff;
    border: none;
    border-radius: 100px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 20%);
}
}
