.floor-map .edit-bar .edit-button .ticket-reserve{
    color: #007602;
}
.floor-map .edit-bar .edit-button .ticket-un-reserve{
    color: #6f0011;
}
.floor-map .reserved-border{
    border: 5px solid black;
}
.floor-map .reserved-border .table-reserved{
    display: flex;
    justify-content: center;
}
.floor-map .reserved-border .table-reserved .reserved-label{
    position: absolute;
    top: 15px;
    background: #000000;
    width: 80px;
    margin-top: -4px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 10;
    color: white;
}