.floor-map .edit-bar .edit-button .ticket-reserve{
    color: #007602;
}
.floor-map .edit-bar .edit-button .ticket-un-reserve{
    color: #6f0011;
}
.floor-map .reserved-border{
    border: 5px solid black !important;
}
.floor-map .reserved-border .table-reserved{
    display: flex;
    justify-content: center;
}
.floor-map .reserved-border .table-reserved .reserved-label{
    position: absolute;
    background: #000000;
    margin-top: -4px;
    font-size: 17px;
    z-index: 10;
    color: white;
}
