.oe_search_tab{
    cursor: pointer;
    transition: .2s;
    &:hover {
        background-color: #7c7bad !important;
    }
}
.oe_details_tree{
    display: none;
}

.oe_details_tree--show{
    display: block !important;
}

.btn_master_search{
    display: inline-block;
    background-color:#5f5e97;
    color:#fff !important;
    color: #fff;margin-left: 1px;
    margin-top: -1px;
}
.btn_master_search:hover{
    background-color: rgb(255, 255, 255) !important;
    color: rgb(61, 155, 187) !important;
}
.not-allowed{
    color: #d94242;
    border: 1px solid #ea9292;
    border-radius: 5px;
    background-color: #f9e7e7;
    padding: 1px 55px;
    width: 370px;
    margin-bottom: 5px;
    display: none;
}