@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;


}

.my_container {
    font-family: 'VT323', monospace;

    font-size: 8px;

}

.my_table, .my_product_table {
    width: 90%;
    border: transparent;
}

.my_table,.my_product_table {
    padding-left: 20px;
    padding-right: 20px;
}


.my_product_table tr:first-child {
    border-bottom: 1px;
    border-style: dashed;

}

.cntr {
    display: flex;
    justify-content: center;
    width: 100%;
}
.my_section{
    width: 90%;
    position: relative;
    padding: 0 5px

}

.detail_section{
    text-align:left;
}
.date_section{
    position: absolute;
    text-align: left;
    right: 0;
    top:10px;
}


.my_table  tr td:nth-child(3n+3) {
    text-align: right;
}


