.mon_fld{
text-align: right;

}

.cf_fld{
text-align: right;
width: 300px !important;
}
.select2-container-multi .select2-choices{
    width:4cm;
}
.table{
    margin-bottom: none !important;
}
.row > * {
    width: 30%;
}