.next-table{
    --table-bg: #007bc9;
    color: white;
}
.files_select{
      border-radius: 0.5rem;
      height: 30px;
      outline: none;
      border: none;
      font-size: 15px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      margin-left: 10px;
  }
.owncloud_header-search-input{
    border-radius: 0.5rem;
      height: 30px;
      width: 400px;
      outline: none;
      border: none;
      font-size: 15px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      margin-left: 30px;
}
.owncloud_export{
    background: #092f6e;
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 6px;
    float: right;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.owncloud_import{
    background: #092f6e;
    color: white;
    height: 50px;
    width: 120px;
    border-radius: 6px;
    float: right;
    margin: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.owncloud_content{
    overflow-y: scroll;
    height: 100vh;
    width: auto;
    }
