.banner {
    background-image: url(./../img/banner/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .banner_content {
        position: relative;
        padding-top: 250px;
        padding-bottom: 150px;
        @media screen and(max-width:996px) {
            padding-top: 220px;
            padding-bottom: 75px;
        }
        .banner_left {
            h1 {
                font-size: 50px;
                font-weight: 700;
                text-transform: uppercase;
                color: $white;
                @media screen and(max-width:1100px) {
                    font-size: 40px;
                }
                @media screen and(max-width:996px) {
                    font-size: 30px;
                }
            }
            p {
                color: $white;
                line-height: 24px;
                margin-bottom: 33px;
            }
        }
        .banner_img {
            @media screen and(max-width:786px) {
                display: none;
            }
            img {
                width: 100%;
            }
        }
        .owl-carousel {
            position: relative;
            .owl-nav {
                position: absolute;
                right: 50px;
                bottom: 12px;
                .owl-prev {
                    color: $white;
                    &:hover {
                        color: $black;
                    }
                    i {
                        font-size: 27px;
                        padding: 10px;
                    }
                }
                .owl-next {
                    color: $white;
                    &:hover {
                        color: $black;
                    }
                    i {
                        font-size: 27px;
                    }
                }
            }
        }
    }
}
.banner_product {
    background-image: url(./../img/banner/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .banner_content {
        text-align: end;
        padding-top: 180px;
        .product_heading {
            h1 {
                color: $black;
                text-transform: uppercase;
                font-size: 50px;
                font-weight: 700;
                color: $white;
                @media screen and(max-width:768px) {
                    font-size: 40px;
                }
                @media screen and(max-width:600px) {
                    font-size: 25px;
                    text-align: left;
                }
            }
            .breadcrumb {
                background-color: transparent;
                justify-content: end;
                @media screen and(max-width:600px) {
                    justify-content: left;
                    padding-left: 0;
                }
                .active {
                    color: $black;
                }
                .breadcrumb-item {
                    a {
                        color: $white;
                        text-decoration: none;
                    }
                    &:before {
                        display: inline-block;
                        padding-right: 0.5rem;
                        color: #1b80da;
                        content: "";
                    }
                    .material-icons {
                        padding-top: 6px;
                        padding-left: 3px;
                    }
                }
            }
        }
    }
}
