.btn {
    border: none !important;
    outline: 0 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: none !important;
    &-primary {
        background-color: transparent !important;
        border-color: $white;
        padding: 12px 36px;
        color: $black !important;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0;
        border: 1px solid !important;
        &:hover {
            border: none !important;
            color: $black !important;
            background: $white !important;
        }
    }
    &-add {
        text-transform: uppercase !important;
        font-size: 14px;
        font-weight: 600;
        color: $title-color;
        display: flex;
        color: $white;
        align-items: center;
        text-decoration: none !important;
        &:hover {
            color: $primary-color2;
        }
        i {
            height: 45px;
            width: 45px;
            background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
            color: rgb(255, 255, 255) !important;
            border-radius: 50%;
            padding: 12px;
            margin-right: 13px;
        }
    }
    &-add2 {
        text-transform: uppercase !important;
        font-size: 14px;
        font-weight: 600;
        color: $title-color;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none !important;
        &:hover {
            color: $title-color;
        }
        i {
            height: 45px;
            width: 45px;
            background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
            color: #fff !important;
            border-radius: 50%;
            padding: 12px;
            margin-right: 13px;
            color: $title-color !important;
            &:hover {
                background-image: linear-gradient(45deg, #22c1c3 0%, #e0d8d8 60%);
            }
        }
    }
    &-shop {
        color: $title-color;
        display: block;
        position: absolute;
        z-index: 2;
        left: 41%;
        top: 62%;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        padding: 14px 27px;
        font-weight: 600;
        border-radius: 25px;
        @media screen and(max-width:996px) {
            top: 75%;
        }
        &:hover {
            text-decoration: none;
            color: $title-color;
        }
    }
    &-cart {
        color: $white;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        padding: 14px 35px;
        font-weight: 600;
        border-radius: 6px;
        box-shadow: none !important;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
    &-replay {
        color: $black;
        border: 1px solid !important;
        border-radius: 25px;
        border-color: $pfont !important;
        padding: 5px 15px;
        box-shadow: none !important;
        &:hover {
            text-decoration: none;
            color: $white;
            background-color: $primary-color !important;
            border: none !important;
        }
    }
    &-login {
        color: $white;
        border-radius: 0px;
        background-color: $primary-color !important;
        padding: 8px 22px;
        box-shadow: none !important;
        border-radius: 5px;
        font-weight: 600;
        &:hover {
            text-decoration: none;
            color: $white;
            border: none !important;
        }
    }
    &-checkout_c {
        text-transform: uppercase !important;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        height: 50px;
        padding-top: 15px;
        display: block;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        text-decoration: none !important;
        &:hover {
            color: $white;
            background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        }
    }
    &-update {
        background-color: $bg !important;
        padding: 12px 36px;
        color: $black !important;
        font-size: 16px;
        border-radius: 0;
        &:hover {
            border: none !important;
            color: $black !important;
        }
    }
    &-update2 {
        background-color: $bg !important;
        display: block;
        padding: 12px 36px;
        color: $black !important;
        font-size: 16px;
        border-radius: 0;
        &:hover {
            border: none !important;
            color: $black !important;
        }
    }
    &-cartc {
        color: $white;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        padding: 14px 35px;
        font-weight: 600;
        box-shadow: none !important;
        &:hover {
            text-decoration: none;
            color: $white;
        }
        @media screen and(max-width:474px) {
            margin-bottom: 15px;
            padding: 14px 38px;
        }
    }
    &-cartd {
        color: $white;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        padding: 14px 28px;
        font-weight: 600;
        box-shadow: none !important;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
    &-register {
        color: $white;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        padding: 14px 28px;
        font-weight: 600;
        box-shadow: none !important;
        border-radius: 0 !important;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
    &-login {
        color: $white;
        display: block;
        background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
        padding: 14px 28px;
        font-weight: 600;
        box-shadow: none !important;
        border-radius: 0 !important;
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
    &-send {
        background-color: $primary-color !important;
        border-color: $white;
        padding: 8px 40px;
        color: $white !important;
        font-size: 16px;
        border-radius: 0;
        margin-top: 31px;
        margin-left: auto;
        margin-right: 16px;
        &:hover {
            border: none !important;
            background: darken($primary-color, 5%) !important;
        }
    }
}
