.product {
    margin-top: 100px;
    .main_heading {
        text-align: center;
        padding-bottom: 10px;
        h3 {
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: $title-font;
            color: $title-color;
        }
        p {
            color: $pfont;
            line-height: 24px;
            margin-bottom: 33px;
        }
    }
    .wrapper {
        margin-top: 40px;
        .product_img {
            @media screen and(max-width:576px) {
                margin: 0 10px;
                padding-bottom: 30px;
            }
            margin-bottom: 50px;
            .wrapper_img {
                padding-bottom: 15px;
                img {
                    width: 100%;
                }
            }
            h5 {
                color: $title-color;
                text-transform: uppercase;
                font-weight: 600;
                margin-top: 15px;
                font-family: $title-font;
            }
            .rate {
                display: flex;
                padding-top: 10px;
                p {
                    color: $title-color;
                    margin-right: 50px;
                }
                span {
                    color: $pfont;
                    text-decoration: line-through;
                }
            }
            .product_bottom {
                display: flex;
                padding-left: 0;
                position: relative;
                li {
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    background-color: $primary-color3;
                    margin-right: 12px;
                }
                a {
                    color: $white;
                    span {
                        padding: 11px;
                    }
                }
            }
        }
    }
}
.main_heading {
    text-align: center;
    padding-bottom: 10px;
    h3 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $title-font;
        color: $title-color;
    }
    p {
        color: $pfont;
        line-height: 24px;
        margin-bottom: 33px;
    }
}
