.main_body_blog_detial {
    z-index: 3;
    position: relative;
    background-color: #fff;
    margin-bottom: 400px;

    @media screen and(max-width:768px) {
        margin-bottom: 800px;
           }


           .header {
            position: relative;
            z-index: 1;
            .wrapper_blog_d {
            .banner_blog_d {
              .banner_bg {
                background-image: url(./../img/banner/bg9.jpg) !important;
                justify-content: center;
                width: 100%;
                margin: auto;
                background-size: cover;
                height: 100vh;
                background-repeat: no-repeat;
                background-position: center;
                @media screen and(max-width:768px) {
                  height: auto;
                }
                .card {
                  display: none;
                  background: transparent;
                  padding-top: 100px;
                  padding-bottom: 100px;
                  border: none !important;
                  letter-spacing: -2px;
                  // animation-name: fadeInOut;
                  // animation-delay: 1s;
                  // animation-duration: 3s;
                  text-transform: uppercase;
                  @media screen and(max-width:996px) {
                    display: block;
                    padding-top: 200px;
                    padding-left: 100px;
                  }
                  @media screen and(max-width:768px) {
                    display: block;
                    padding-top: 200px;
                    padding-left: 100px;
                  }
                  @media screen and(max-width:572px) {
                    display: block;
                    padding-top: 100px;
                    padding-left: 25px;
                  }
                  @media screen and(max-width:450px) {
                    display: block;
                    padding-top: 100px;
                    padding-left: 20px;
                  }
                  .card-title {
                    font-size: 2.5vw;
                    font-weight: 700;
                    color: $color-brand2;
                    @media screen and(max-width:996px) {
                      font-size: 25px;
                    }
                    @media screen and(max-width:572px) {
                      font-size: 18px;
                    }
                    @media screen and(max-width:768px) {
                      font-size: 25px;
                    }
                  }
                  .card-text {
                    color: $color-white;
                    font-size: 3.5vw;
                    font-weight: bolder;
                    @media screen and(max-width:996px) {
                      font-size: 40px;
                    }
                    @media screen and(max-width:768px) {
                      font-size: 40px;
                    }
                    @media screen and(max-width:572px) {
                      font-size: 30px;
                    }
                  }
                  .text-bottom {
                    font-size: 30px;
                    span{
                      font-size:25px;
                      color: $color-brand2;
                      font-weight: bolder;
                      padding-bottom: 40px;
                      letter-spacing: 0px;
                      @media screen and(max-width:572px) {
                        font-size: 20px;
                      }
                      @media screen and(max-width:415px) {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
              .banner_left {
                width: 100%;
                height: 100vh;
                background-color: #b22126;
                @media screen and(max-width:996px) {
                  display: none;
                }
                p {
                  // first we make all instances of this transparent.
                  opacity: 0;
                  // as we're using the same animation for each instance, call it here so we're not repeating it
                  animation: fadeInUp 1s ease-in-out 0s forwards;
                  // then define the animation delay in each class
                  &.first {
                    animation-delay: 1s;
                  }
                  &.second {
                    animation-delay: 3s;
                  }
                  &.third {
                    animation-delay: 5s;
                  }
                  &.fourth {
                    animation-delay: 7s;
                  }
                  &.fifth {
                    animation-delay: 9s;
                  }
                  &.sixth {
                    animation-delay: 11s;
                  }
                }
                .card {
                  background: transparent;
                  padding-top: 150px;
                  padding-bottom: 100px;
                  border: none !important;
                  letter-spacing: -2px;
                  // animation-name: fadeInOut;
                  // animation-delay: 1s;
                  // animation-duration: 3s;
                  text-transform: uppercase;
                  //@media screen and(max-width:768px){
                  //padding-top:50px;
                  //padding-bottom: 100px;
                  // }
                  .card-title {
                    font-size: 2.5vw;
                    font-weight: 700;
                    color: $color-brand2;
                  }
                  .card-text {
                    color: $color-white;
                    font-size: 3.5vw;
                    font-weight: bolder;
                  }
                  .text-bottom {
                    font-size: 20px;
                    color: $color-brand2;
                    font-weight: bolder;
                    padding-bottom: 40px;
                    letter-spacing: 0px;
                  }
                }
              }
            }
            }
          }


        //    .banner {
        //     .banner_bg {
        //       background-image: url(./../img/banner/bg9.jpg);
        //       justify-content: center;
        //       width: 100%;
        //       margin: auto;
        //       background-size: cover;
        //       height: 100vh;
        //       background-repeat: no-repeat;
        //       background-position: center;
        
        //       @media screen and(max-width:768px) {
        //         height: auto;
        //       }
        //       .card {
        //         display: none;
        //         background: transparent;
        //         padding-top: 100px;
        //         padding-bottom: 100px;
        //         border: none !important;
        //         letter-spacing: -2px;
        //         // animation-name: fadeInOut;
        //         // animation-delay: 1s;
        //         // animation-duration: 3s;
        //         text-transform: uppercase;
        //         @media screen and(max-width:996px) {
        //           display: block;
        //           padding-top: 200px;
        //           padding-left: 100px;
        //         }
        //         @media screen and(max-width:768px) {
        //           display: block;
        //           padding-top: 200px;
        //           padding-left: 100px;
        //         }
        //         @media screen and(max-width:572px) {
        //           display: block;
        //           padding-top: 100px;
        //           padding-left: 25px;
        //         }
        //         @media screen and(max-width:450px) {
        //           display: block;
        //           padding-top: 100px;
        //           padding-left: 20px;
        //         }
        //         .card-title {
        //           font-size: 2.5vw;
        //           font-weight: 700;
        //           color: $color-brand2;
        //           @media screen and(max-width:996px) {
        //             font-size: 25px;
        //           }
        //           @media screen and(max-width:572px) {
        //             font-size: 18px;
        //           }
        //           @media screen and(max-width:768px) {
        //             font-size: 25px;
        //           }
        //         }
        //         .card-text {
        //           color: $color-white;
        //           font-size: 3.5vw;
        //           font-weight: bolder;
        //           @media screen and(max-width:996px) {
        //             font-size: 40px;
        //           }
        //           @media screen and(max-width:768px) {
        //             font-size: 40px;
        //           }
        //           @media screen and(max-width:572px) {
        //             font-size: 30px;
        //           }
        //         }
        //         .text-bottom {
                  
        
        //           span{
        //             font-size:25px;
        //             color: $color-brand2;
        //             font-weight: bolder;
        //             padding-bottom: 40px;
        //             letter-spacing: 0px;
        
        //             @media screen and(max-width:572px) {
        //               font-size: 20px;
        //             }
        //             @media screen and(max-width:415px) {
        //               font-size: 14px;
        //             }
        //           }
        
                  
        //         }
        //       }
        //     }
        //     .banner_left {
        //       width: 100%;
        //       height: 100vh;
        //       background-color: #b22126;
        
        //       @media screen and(max-width:996px) {
        //         display: none;
        //       }
        //       p {
        //         // first we make all instances of this transparent.
        //         opacity: 0;
        //         // as we're using the same animation for each instance, call it here so we're not repeating it
        //         animation: fadeInUp 1s ease-in-out 0s forwards;
        //         // then define the animation delay in each class
        //         &.first {
        //           animation-delay: 1s;
        //         }
        //         &.second {
        //           animation-delay: 3s;
        //         }
        //         &.third {
        //           animation-delay: 5s;
        //         }
        //         &.fourth {
        //           animation-delay: 7s;
        //         }
        //         &.fifth {
        //           animation-delay: 9s;
        //         }
        //         &.sixth {
        //           animation-delay: 11s;
        //         }
        //       }
        //       .card {
        //         background: transparent;
        //         padding-top: 150px;
        //         padding-bottom: 100px;
        //         border: none !important;
        //         letter-spacing: -2px;
        //         // animation-name: fadeInOut;
        //         // animation-delay: 1s;
        //         // animation-duration: 3s;
        //         text-transform: uppercase;
        //         //@media screen and(max-width:768px){
        //         //padding-top:50px;
        //         //padding-bottom: 100px;
        //         // }
        //         .card-title {
        //           font-size: 2.5vw;
        //           font-weight: 700;
        //           color: $color-brand2;
        //         }
        //         .card-text {
        //           color: $color-white;
        //           font-size: 3.5vw;
        //           font-weight: bolder;
        //         }
        //         .text-bottom {
        //           font-size: 20px;
        //           color: $color-brand2;
        //           font-weight: bolder;
        //           padding-bottom: 40px;
        //           letter-spacing: 0px;
        //         }
        //       }
        //     }
        //   }
    // Blog main
    .blog_main_detial {
        padding: 100px 0;
        .wrapper {
            padding: 0 50px;
            .blog_wrapper {
                margin: 0 30px;
                a {
                    text-decoration: none;
                }
                .card {
                    border-radius: 0;
                    border: none;
                    padding: 40px 0;
                    .img_wrapper {
                        overflow: hidden;
                    }
                    .card-img-top {
                        border-radius: 0;
                        overflow: hidden;
                        &:hover {
                            overflow: hidden;
                            transform: scale(1.1);
                            -webkit-transition: all 1s ease;
                            -moz-transition: all 1s ease;
                            -o-transition: all 1s ease;
                            transition: all 1s ease-in-out;
                            transition-property: all;
                        }
                    }
                    .card-body {
                        margin-top: 20px;
                        padding-left: 0;
                        padding-right: 0;
                        .blog_details {
                            .one,
                            .two,
                            .three,
                            .five {
                                font-family: "Open Sans", sans-serif;
                                font-size: 14px;
                                line-height: 29px;
                                letter-spacing: 1px;
                                color: $color-brand2;
                                font-weight: 600;
                            }
                            .two,
                            .five {
                                padding-top: 20px;
                            }
                            .three {
                                padding-top: 20px;
                                .bh {
                                    color: $color-brand2;
                                    font-weight: 700;
                                    font-size: 30px;
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                    text-align: center;
                                }
                            }
                            .four {
                                margin-top: 30px;
                                margin-bottom: 20px;
                                .wrapper_i {
                                    display: flex;
                                    flex-flow: wrap;
                                    .img_wrapper {
                                        max-width: 435px;
                                        overflow: hidden;
                                        img {
                                            width: 100%;
                                            overflow: hidden;
                                            &:hover {
                                                overflow: hidden;
                                                transform: scale(1.1);
                                                -webkit-transition: all 1s ease;
                                                -moz-transition: all 1s ease;
                                                -o-transition: all 1s ease;
                                                transition: all 1s ease-in-out;
                                                transition-property: all;
                                            }
                                        }
                                        &:nth-child(1) {
                                            img {
                                                padding-right: 15px !important;
                                                padding-bottom: 15px;
                                            }
                                        }
                                        &:nth-child(2) {
                                            img {
                                                padding-left: 15px !important;
                                                padding-bottom: 15px;
                                            }
                                        }
                                        &:nth-child(3) {
                                            img {
                                                padding-right: 15px !important;
                                                padding-top: 15px;
                                            }
                                        }
                                        &:nth-child(4) {
                                            img {
                                                padding-left: 15px !important;
                                                padding-top: 15px;
                                            }
                                        }
                                    }
                                }
                            }
                            .test_details {
                                margin-top: 60px;
                                position: relative;
                                background-color: $color-brand;
                                padding: 30px 20px;
                                font-family: "Open Sans", sans-serif;
                                font-size: 15px;
                                line-height: 29px;
                                letter-spacing: 2px;
                                color: $color-white;
                                font-weight: 700;
                                text-align: justify;
                                &:after {
                                    content: " ";
                                    position: absolute;
                                    background-color: $color-brand;
                                    height: 20px;
                                    width: 20px;
                                    left: 95%;
                                    bottom: -10px;
                                    -webkit-transform: translateX(-50%) rotate(45deg);
                                    -ms-transform: translateX(-50%) rotate(45deg);
                                    transform: translateX(-50%) rotate(45deg);
                                }
                            }
                            .blog_icons {
                                display: flex;
                                justify-content: end;
                                align-items: baseline;
                                margin-top: 40px;
                                h6 {
                                    padding-right: 20px;
                                    color: $color-grey;
                                }
                                .icons {
                                    display: flex;
                                    // @media screen and(max-width:768px) {
                                    //     margin-top: 40px;
                                    // }
                                    a {
                                        color: $color-black;
                                        margin-right: 25px;
                                        &:hover {
                                            color: $color-hover;
                                        }
                                        span {
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                            .next {
                                .wrapper_b {
                                    margin-top: 75px;
                                    h6 {
                                        font-size: 16px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        font-family: "Open Sans", sans-serif;
                                    }
                                    .card-deck {
                                        .card {
                                            border-radius: 0;
                                            border: none;
                                            padding-top: 10px !important;
                                            .img_wrapper {
                                                overflow: hidden;
                                            }
                                            .card-img-top {
                                                border-radius: 0;
                                                overflow: hidden;
                                                &:hover {
                                                    overflow: hidden;
                                                    transform: scale(1.1);
                                                    -webkit-transition: all 1s ease;
                                                    -moz-transition: all 1s ease;
                                                    -o-transition: all 1s ease;
                                                    transition: all 1s ease-in-out;
                                                    transition-property: all;
                                                }
                                            }
                                            .card-body {
                                                margin-top: 10px;
                                                .card-title {
                                                    font-size: 14px;
                                                    text-transform: uppercase;
                                                    color: $color-brand2;
                                                    margin: 0 10px;
                                                    letter-spacing: 2px;
                                                }
                                                .card-text {
                                                    padding-top: 10px;
                                                    margin: 0 10px;
                                                    span {
                                                        a {
                                                            color: $color-brand3;
                                                            text-decoration: none;
                                                            text-transform: uppercase;
                                                            letter-spacing: 2px;
                                                            font-size: 12px;
                                                            font-weight: 700;
                                                            &:hover {
                                                                color: $color-hover;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .comment{
                                .top_comment{
                                    padding:60px;
                                    display: flex;
                                    .img_wrapper{
                                        max-width: 200px;
                                        img{
                                            width: 100%;
                                        }
                                    }
                                    .comment_details{
                                        padding-top: 10px;
                                        padding-left: 20px;
                                h6{
                                  font-size: 16px;
                                  padding-bottom: 10px;

                                    }
                                    p{
                                        font-family: "Open Sans", sans-serif;
                                        font-size: 14px;
                                        line-height: 20px;
                                        letter-spacing: 1px;
                                        color: $color-brand2;
                                        font-weight: 600;
                                        margin-bottom: 10px;
                                    }
                                    .icons {
                                        display: flex;
                                        // @media screen and(max-width:768px) {
                                        //     margin-top: 40px;
                                        // }
                                        a {
                                            color: $color-black;
                                            margin-right: 25px;
                                            &:hover {
                                                color: $color-hover;
                                            }
                                            span {
                                                font-size: 15px;
                                            }
                                        }
                                    }
                                    }
                                }
                                .replay{
                                    margin-top: 30px;
                                    h6{
                                        font-size: 16px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        font-family: "Open Sans", sans-serif;
                                    }
                                    .top_comment{
                                        padding:20px;
                                        display: flex;

                                        border: 1px solid;
                                        border-color: transparent;
                                        border-bottom-color: $color-grey;
                                        .img_wrapper{
                                            max-width: 75px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .comment_details{
                                            padding-top: 10px;
                                            padding-left: 20px;

                                            .top{
                                                display: flex;
                                                justify-content: space-between;
                                                padding-bottom: 15px;
                                                span{
                                                    color: $color-brand2;
                                                    font-size: 14px;
                                                    font-weight: 700;

                                                    a{
                                                        color: $color-brand2;
                                                        font-size: 14px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                .date{
                                    font-family: "Open Sans", sans-serif;
                                    padding-bottom: 15px;
                                }

                                        p{
                                            font-family: "Open Sans", sans-serif;
                                            font-size: 14px;
                                            line-height: 20px;
                                            letter-spacing: 1px;
                                            color: $color-brand2;
                                            font-weight: 600;
                                            margin-bottom: 10px;
                                        }
                                        .icons {
                                            display: flex;
                                   
                                            a {
                                                color: $color-black;
                                                margin-right: 25px;
                                                &:hover {
                                                    color: $color-hover;
                                                }
                                                span {
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                        }
                                    }
                                    .top_comment_1{
                                        padding:20px;
                                    margin-top: 30px;
                                        display: flex;

                                       
                                        .img_wrapper{
                                            max-width: 75px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .comment_details{
                                            padding-top: 10px;
                                            padding-left: 20px;
                                          
                                            border: 1px solid;
                                            border-color: transparent;
                                            border-bottom-color: $color-grey;
                                            .top{
                                                display: flex;
                                                justify-content: space-between;
                                                padding-bottom: 15px;
                                                span{
                                                    color: $color-brand2;
                                                    font-size: 14px;
                                                    font-weight: 700;

                                                    a{
                                                        color: $color-brand2;
                                                        font-size: 14px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                .date{
                                    font-family: "Open Sans", sans-serif;
                                    padding-bottom: 15px;
                                }

                                        p{
                                            font-family: "Open Sans", sans-serif;
                                            font-size: 14px;
                                            line-height: 20px;
                                            letter-spacing: 1px;
                                            color: $color-brand2;
                                            font-weight: 600;
                                            margin-bottom: 25px;
                                        }
                                        .icons {
                                            display: flex;
                                   
                                            a {
                                                color: $color-black;
                                                margin-right: 25px;
                                                &:hover {
                                                    color: $color-hover;
                                                }
                                                span {
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                        }
                                    }
                                    .top_comment_2{
                                        padding:20px;
                                    margin-top: 30px;
                                        display: flex;
                                                margin-left: 75px;
                                       
                                        .img_wrapper{
                                            max-width: 75px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .comment_details{
                                            padding-top: 10px;
                                            padding-left: 20px;
                                          
                                            border: 1px solid;
                                            border-color: transparent;
                                            border-bottom-color: $color-grey;
                                            .top{
                                                display: flex;
                                                justify-content: space-between;
                                                padding-bottom: 15px;
                                                span{
                                                    color: $color-brand2;
                                                    font-size: 14px;
                                                    font-weight: 700;

                                                    a{
                                                        color: $color-brand2;
                                                        font-size: 14px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                .date{
                                    font-family: "Open Sans", sans-serif;
                                    padding-bottom: 15px;
                                }

                                        p{
                                            font-family: "Open Sans", sans-serif;
                                            font-size: 14px;
                                            line-height: 20px;
                                            letter-spacing: 1px;
                                            color: $color-brand2;
                                            font-weight: 600;
                                            margin-bottom: 25px;
                                        }
                                        .icons {
                                            display: flex;
                                   
                                            a {
                                                color: $color-black;
                                                margin-right: 25px;
                                                &:hover {
                                                    color: $color-hover;
                                                }
                                                span {
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                        }
                                    }
                                    .top_comment_3{
                                        padding:20px;
                                    margin-top: 30px;
                                        display: flex;
                                                margin-left: 125px;
                                       
                                        .img_wrapper{
                                            max-width: 75px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .comment_details{
                                            padding-top: 10px;
                                            padding-left: 20px;
                                          
                                            border: 1px solid;
                                            border-color: transparent;
                                            border-bottom-color: $color-grey;
                                            .top{
                                                display: flex;
                                                justify-content: space-between;
                                                padding-bottom: 15px;
                                                span{
                                                    color: $color-brand2;
                                                    font-size: 14px;
                                                    font-weight: 700;

                                                    a{
                                                        color: $color-brand2;
                                                        font-size: 14px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                .date{
                                    font-family: "Open Sans", sans-serif;
                                    padding-bottom: 15px;
                                }

                                        p{
                                            font-family: "Open Sans", sans-serif;
                                            font-size: 14px;
                                            line-height: 20px;
                                            letter-spacing: 1px;
                                            color: $color-brand2;
                                            font-weight: 600;
                                            margin-bottom: 25px;
                                        }
                                        .icons {
                                            display: flex;
                                   
                                            a {
                                                color: $color-black;
                                                margin-right: 25px;
                                                &:hover {
                                                    color: $color-hover;
                                                }
                                                span {
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                        }
                                    }
                                    .top_comment_4{
                                        padding:20px;
                                    margin-top: 30px;
                                        display: flex;
                                                margin-left: 50px;
                                       
                                        .img_wrapper{
                                            max-width: 75px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .comment_details{
                                            padding-top: 10px;
                                            padding-left: 20px;
                                          
                                            border: 1px solid;
                                            border-color: transparent;
                                            border-bottom-color: $color-grey;
                                            .top{
                                                display: flex;
                                                justify-content: space-between;
                                                padding-bottom: 15px;
                                                span{
                                                    color: $color-brand2;
                                                    font-size: 14px;
                                                    font-weight: 700;

                                                    a{
                                                        color: $color-brand2;
                                                        font-size: 14px;
                                                        font-weight: 700;
                                                    }
                                                }
                                            }
                                .date{
                                    font-family: "Open Sans", sans-serif;
                                    padding-bottom: 15px;
                                }

                                        p{
                                            font-family: "Open Sans", sans-serif;
                                            font-size: 14px;
                                            line-height: 20px;
                                            letter-spacing: 1px;
                                            color: $color-brand2;
                                            font-weight: 600;
                                            margin-bottom: 25px;
                                        }
                                        .icons {
                                            display: flex;
                                   
                                            a {
                                                color: $color-black;
                                                margin-right: 25px;
                                                &:hover {
                                                    color: $color-hover;
                                                }
                                                span {
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                        }
                                    }
                                }

                                .post_replay{
                                    padding-top: 50px;
                                    h6{
                                        font-size: 16px;
                                        font-weight: 700;
                                        text-transform: uppercase;
                                        letter-spacing: 1px;
                                        font-family: "Open Sans", sans-serif; 
                                    }

                                    form{

                                    

                                        margin-top: 30px;
                                        .form-group{
                                          margin-bottom: 30px;
                                            .form-control{
                                                border-radius: 0;
                                                height: calc(3.5em + .95rem + 2px);
                                                padding: .575rem .75rem;
                                                box-shadow: none !important;
                                                
                                                &:focus {
                                                    color: #5f5f5f;
                                                    background-color: #fff;
                                                    border-color: #fa3737;
                                                    outline: 0;
                                                
                                                }
                                            }
                                         
                                        }
                                        textarea{
                                       border: 1px solid !important;
                                            border-top-color:$color-border !important;
                                            border-right-color:$color-border !important;
                                            border-bottom-color:$color-border !important;
                                            border-left-color: $color-border !important;
                                            padding: 30px 20px;
                                        
                                           
                                            // &:focus {
                                            //     color: #5f5f5f;
                                            //     background-color: #fff;
                                            //     border-color: #fa3737;
                                            //     outline: 0;
                                            
                                            // }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .b_wrapp{
        position: absolute;
        bottom: 40px;
        z-index: 999;
        right: 26%;
        @media screen and(max-width:650px) {
          right: 40%;
          bottom: 20px;
        }
        .btn.btn-down {
        position: relative;
        z-index: 999;
      color: $color-white;
        &::after{
        display: block;
        top: 103%;
      left: 50%;
      position: absolute;
        content: '';
        width: 16px;
        height: 16px;
        margin: -12px 0 0 -8px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: border-box;
         }
         &::before{
        display: block;
          position: absolute;
            top: 26%;
            left: 29%;
            z-index: -1;
            content: '';
            width: 44px;
            height: 44px;
            box-shadow: 0 0 0 0 rgba(255,255,255,.1);
            border-radius: 100%;
            opacity: 0;
            -webkit-animation: sdb03 3s infinite;
            animation: sdb03 3s infinite;
            box-sizing: border-box;
          }
          @-webkit-keyframes sdb03 {
            0% {
              opacity: 0;
            }
            30% {
              opacity: 1;
            }
            60% {
              box-shadow: 0 0 0 60px rgba(255,255,255,.1);
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes sdb03 {
            0% {
              opacity: 0;
            }
            30% {
              opacity: 1;
            }
            60% {
              box-shadow: 0 0 0 60px rgba(255,255,255,.1);
              opacity: 0;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
}
