.add_section{
    background-color: $white;
    padding: 100px 0;
    .add_img{
        max-width: 550px;
        img{
            width: 100%;
        }
    }
    .add_info_wrapper{
        height: 100%;
        display: flex;
        align-items: center;
    }
    .add_info{
        h2{
            font-size: 48px;
            color: $secondary-color;
            padding-bottom: 40px;
        }
        p{
            font-size: 16px;
            color: $brand-dark;
            line-height: 1.9;
        }
    }
}