.categories_section {
padding-top: 50px;
padding-bottom: 100px;


    .categories_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: 15px;
        .categories{
            text-align: center;
        &:hover{
            cursor: pointer;
        }
            .img_wrapper{
                margin-bottom: 15px;
            }
            .type{
                color: $green-500;
            }
        }
    }
}