.choose {
   padding-top: 50px;
   padding-bottom: 100px;
    .choose_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
        gap: 15px;

        .choose_content {
            position: relative;

            .img_wrapper {
                max-width: 450px
            }

            img {
                max-width: 100%;
            }

            .content {
                position: absolute;
                z-index: 3;
                top: 30%;
                left: 20px;
                width: 50%;
                p{
                    color: $white;
                    font-size: 22px;
                    span{
color: #FFAA2B;
                    }
                }

            }
        }
    }
}