.service{
    background-color: $white;
    padding: 50px 0;
    .service_wrapper{
        display: grid;
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
            justify-content: center;
            gap: 2rem;
            .grid-item{
                text-align: center;
                padding: 20px 20px;
                img{
                    width: 50px;
                    margin-bottom: 20px;
                }
                h6{
                    font-size: 22px;
                }
                p{
                    font-size: 14px;
                    color: $blue-700;
                }
            }
    }
}