
  .subscribe{
background-image: url(../../../assets/banner/sb-bg.png);
background-position: center;
background-size: cover;
    p{
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        padding-bottom: 20px;
    }
    .sb_wrapp{
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 30px;
        gap: 20px;
        input{
        
            padding: 15px;
            border: 1px solid;
            border-color: $grey-500;
            border-radius: 8px;
          background-color: transparent;
            outline: none;
            font-size: 16px;
        }
      }
  }