.main_body_contact {
  z-index: 3;
  position: relative;
  background-color: #fff;
  margin-bottom: 400px;



  @media screen and(max-width:768px) {
    margin-bottom: 800px;
       }




  .header {
    position: relative;
    z-index: 1;
    .wrapper_abt {
      .banner {
        .banner_bg {
          background-image: url(./../img/banner/bg10.jpg);
          justify-content: center;
          width: 100%;
          margin: auto;
          background-size: cover;
          height: 100vh;
          background-repeat: no-repeat;
          background-position: center;
    
          @media screen and(max-width:768px) {
            height: auto;
          }
          .card {
            display: none;
            background: transparent;
            padding-top: 100px;
            padding-bottom: 100px;
            border: none !important;
            letter-spacing: -2px;
            // animation-name: fadeInOut;
            // animation-delay: 1s;
            // animation-duration: 3s;
            text-transform: uppercase;
            @media screen and(max-width:996px) {
              display: block;
              padding-top: 200px;
              padding-left: 100px;
            }
            @media screen and(max-width:768px) {
              display: block;
              padding-top: 200px;
              padding-left: 100px;
            }
            @media screen and(max-width:572px) {
              display: block;
              padding-top: 100px;
              padding-left: 25px;
            }
            @media screen and(max-width:450px) {
              display: block;
              padding-top: 100px;
              padding-left: 20px;
            }
            .card-title {
              font-size: 2.5vw;
              font-weight: 700;
              color: $color-brand2;
              @media screen and(max-width:996px) {
                font-size: 25px;
              }
              @media screen and(max-width:572px) {
                font-size: 18px;
              }
              @media screen and(max-width:768px) {
                font-size: 25px;
              }
            }
            .card-text {
              color: $color-white;
              font-size: 3.5vw;
              font-weight: bolder;
              @media screen and(max-width:996px) {
                font-size: 40px;
              }
              @media screen and(max-width:768px) {
                font-size: 40px;
              }
              @media screen and(max-width:572px) {
                font-size: 30px;
              }
            }
            .text-bottom {
              
    
              span{
                font-size:25px;
                color: $color-brand2;
                font-weight: bolder;
                padding-bottom: 40px;
                letter-spacing: 0px;
    
                @media screen and(max-width:572px) {
                  font-size: 20px;
                }
                @media screen and(max-width:415px) {
                  font-size: 14px;
                }
              }
    
              
            }
          }
        }
        .banner_left {
          width: 100%;
          height: 100vh;
          background-color: #b22126;
    
          @media screen and(max-width:996px) {
            display: none;
          }
          p {
            // first we make all instances of this transparent.
            opacity: 0;
            // as we're using the same animation for each instance, call it here so we're not repeating it
            animation: fadeInUp 1s ease-in-out 0s forwards;
            // then define the animation delay in each class
            &.first {
              animation-delay: 1s;
            }
            &.second {
              animation-delay: 3s;
            }
            &.third {
              animation-delay: 5s;
            }
            &.fourth {
              animation-delay: 7s;
            }
            &.fifth {
              animation-delay: 9s;
            }
            &.sixth {
              animation-delay: 11s;
            }
          }
          .card {
            background: transparent;
            padding-top: 150px;
            padding-bottom: 100px;
            border: none !important;
            letter-spacing: -2px;
            // animation-name: fadeInOut;
            // animation-delay: 1s;
            // animation-duration: 3s;
            text-transform: uppercase;
            //@media screen and(max-width:768px){
            //padding-top:50px;
            //padding-bottom: 100px;
            // }
            .card-title {
              font-size: 2.5vw;
              font-weight: 700;
              color: $color-brand2;
            }
            .card-text {
              color: $color-white;
              font-size: 3.5vw;
              font-weight: bolder;
            }
            .text-bottom {
              font-size: 20px;
              color: $color-brand2;
              font-weight: bolder;
              padding-bottom: 40px;
              letter-spacing: 0px;
            }
          }
        }
      }
    }
  }
  .contact {
    background: $color-brand;
    padding: 100px 0;


    @media screen and(max-width:1200px) {
      padding-top:50px;
      }
      @media screen and(max-width:768px) {
        padding: 50px;
            }

    .wrapper {
      padding: 0 60px;

      @media screen and(max-width:768px) {
padding: 0 20px;      
   }
    }
    h1 {
      text-align: center;
      color: $color-brand2;
      text-transform: uppercase;
      font-size: 65px;
      letter-spacing: -2px;
      font-weight: 700;
      margin-bottom: 30px !important;

      @media screen and(max-width:768px) {
        font-size: 40px;
         }
    }
    p {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 29px;
      letter-spacing: 2px;
      font-weight: 700;
      padding-bottom: 40px;
    }
    .contact_details {
      margin-top: 75px;
      margin-bottom: 50px;
      @media screen and(max-width:768px) {
        margin: 30px 0;
            }
      .wrapper_c {
        h5 {
          color: $color-brand2;
          font-size: 16px;
          font-weight: bolder;
          padding-bottom: 10px;
        }
        .e_details {
          color: $color-white;
          font-size: 35px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding-bottom: 20px;

          @media screen and(max-width:1200px) {
            font-size: 25px;
               }

               @media screen and(max-width:820px) {
                font-size: 22px;
                font-weight: 600;
                   }

          
        }
        .mail {
          ul {
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            padding-right: 100px;
            
          @media screen and(max-width:992px) {
            display: block;
               }
            li {
              padding-bottom: 5px;
              a {
                color: #ffffff;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 11px;
                &:hover {
                  color: $color-brand2;
                }
              }
            }
          }
        }
      }
    }
  }
  .contact_form {
  background-image: url();


  background-image: url(./../img/contact/contact-bg.jpg);
  justify-content: center;
  width: 100%;
  margin: auto;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;




    padding: 100px 0;
    h4 {
      text-align: center;
      color: $color-brand;
      margin-bottom: 50px;
    }
    form {
      padding: 0 100px;
      margin-top: 75px;

      @media screen and(max-width:1000px) {
       padding: 0;
           }

           @media screen and(max-width:768px) {
            margin-top: 50px;
                }
      .input-group-addon {
        position: absolute;
        right: 9px;
        top: 10px;
      }
      .form-group {
        position: relative;

        @media screen and(max-width:768px) {
          margin-bottom: 40px;
              }
        .form-label {
          position: absolute;
          top: -15px;
          left: 10px;
          z-index: 2;
          pointer-events: none;
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 1px;
          color: rgb(0, 0, 0);
          opacity: 1;
          @media screen and(max-width:1000px) {
            font-size: 16px;
                }
        }
        .form-txt {
          position: absolute;
          top: 0px;
          left: 10px;
          z-index: 2;
          pointer-events: none;
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 1px;
          color: rgb(0, 0, 0);
          opacity:1;
        }
        .form-txt1 {
          position: absolute;
          top: 60px;
          left: 10px;
          z-index: 2;
          pointer-events: none;
          font-size: 25px;
          font-weight: 500;
          letter-spacing: 1px;
          color: rgb(0, 0, 0);
          opacity: 1;
        }
        .transform {
          -webkit-transition: all 2s ease;
          -moz-transition: all 2s ease;
          -o-transition: all 2s ease;
          -ms-transition: all 2s ease;
          transition: all 2s ease;
        }
        .transform-active {
          color: #ffffff;
          font-size: 10px;
        }
        .form-control {
          display: block;
          width: 100%;
          height: calc(2.5em + 0.75rem + 2px);
          padding: 0.575rem 0.75rem;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          color: $color-black !important;
          background-color: transparent !important;
          background-clip: padding-box;
          border: 1px solid;
          border-color: transparent;
          border-bottom-color: $color-black;
          border-radius: 0;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          box-shadow: none !important;
        }
        .btn-secondary.focus {
          background-color: transparent !important;
        }
        .btn-secondary {
          &:hover {
            background-color: transparent !important;
            color: $color-black;
          }
          &:active {
            background-color: transparent !important;
            color: $color-black;
          }
        }
        textarea {
          border: 0.5px solid;
          border-color: transparent;
          border-bottom-color: $color-black;
          border-radius: 0;
          background-color: transparent;
          margin-top: 60px;
          margin-bottom: 50px;
          position: relative;
        }
      }
    }
  }
}


