.order-card {
    color: #fff;
}

.bg-c-red {
    background: linear-gradient(45deg, #e60000, #ff8080);
}

.bg-c-lavender {
    background: linear-gradient(45deg, #d279d2, #df9fdf);
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card{
    width:110%
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.card-block:hover{
    box-shadow: 5px 5px 10px #ccc;
}

.expiry_dashboard_row{
    padding-left: 250px;
}

.dashboard-heading{
    min-height: 140px;
    padding: 20px;
    text-align: center;
    background: #376270;
}

.banner-heading {
    color: #ffffff;
    font-size: 45px;
    margin: 0;
  }

.product_expired_heading{
    background: aliceblue;
    width: 236px;
    float: left;
    border-radius: 16px;
    height: 102px;
}
