*:focus {
    outline: 0 !important;
}

*button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

* {
    list-style-type: none;

    font-family: $font-default;
    font-size: 14px;
    &:focus,
    &:active {
        outline: none !important;
    }
}

*:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

*::selection {
    color: rgb(80, 233, 174);
}

*a,
a:visited {
    color: #990000;
    text-decoration: none;
}

body {
//     background-color: #ffffff; /* light gray */
//     font-family:$font-third;
//     font-weight: 500;
//     font-size: 14px;
//     color: $color-text; /* dark gray */
    
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
h1, h2, h3, h4, h5, h6 { 
    
    font-family:$font-default;
    color: $color-black; } 

.gap{
    padding-top: 100px;
    padding-bottom: 50px;
}

.gap2{
    padding-top: 50px;

}


.section_heading{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    h3{
        font-size: 35px;
        font-family:'Overpass Mono', monospace;
        font-weight: 900;
        text-transform: uppercase;
    }
    hr{
        width: 15%;
        background: $color-brand;
        height: 1px;
    }
    p{
line-height: 30px;
padding-top: 10px;
    }
}
html {
    scroll-behavior: smooth;
  }

  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}
