/* date time picker colour changes for the theme */
.datepicker {
    .table-sm {
        > thead {
            > tr > .prev {
                color: #fff !important;
                background-color: #556ee6 !important;
                &:hover{
                    background-color: darken(#556ee6, 10%) !important;
                }
                > .fa{
                    color: #fff !important;
                }
            }
            > tr > .next {
                color: #fff !important;
                background-color: #556ee6 !important;
                &:hover{
                    background-color: darken(#556ee6, 10%) !important;
                }
                > .fa{
                    color: #fff !important;
                }
            }
            > tr > .picker-switch {
                color: #fff !important;
                background-color: #556ee6 !important;
                &:hover{
                    background-color: darken(#556ee6, 10%) !important;
                }
            }
        }
        > tbody > tr > td {
            &.today:before {
                border-bottom-color: #556ee6 !important;
            }
            &.active {
                background-color: #556ee6 !important;
            }
        }
    }
}
.picker-switch {
    span.fa {
        margin: 0;
        @include transition($btn-transition);
        &.primary {
            background-color: #556ee6;
            color: white;
            &:hover {
                background-color: darken(#556ee6, 20%);
            }
        }
    }
}

.daterangepicker .drp-calendar .calendar-table thead tr:first-child {
    color: #FFFFFF;
    background-color: #556ee6;
}

.daterangepicker .drp-calendar .calendar-table tbody tr td:not(.off).active, .daterangepicker .drp-calendar .calendar-table tbody tr td:not(.off).active:hover {
    background-color: #556ee6;
}

.daterangepicker .drp-calendar .calendar-table thead tr:first-child th.prev:hover, .daterangepicker .drp-calendar .calendar-table thead tr:first-child th.next:hover {
    background-color: darken(#556ee6, 20%);
}