.datepicker-dropdown {
    top: 0;
    left: 0;
    padding: 4px
}

.datepicker table tr td,
.datepicker table tr th {
    text-align: center;
    width: 30px;
    height: 30px;
    border: none
}

.datepicker table tr td.day:hover,
.datepicker table tr td.focused {
    background: #eee;
    cursor: pointer;
    border-radius: 18px;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
    color: #fff;
    background-color: #7C7BAD;
    border-radius:18px;
    border-color: #7C7BAD;
    background-radius:11px;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
}

.datepicker table tr td span.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active:hover {
    color: #fff;
    background-color: #7C7BAD;
    border-color: #2e6da4;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25)
}

.datepicker .datepicker-switch {
    width: 145px;
    background:#7C7BAD;
    color:white;
}

.datepicker .datepicker-switch,
.datepicker .next,
.datepicker .prev,
.datepicker tfoot tr th {
    cursor: pointer;
    background:#7C7BAD;
    color:white;

}