.category-area{
    padding-left: 45px;
    padding-right: 45px;
    @media #{$lg}{
        padding-left: 0px;
        padding-right: 0px;
    } 
     @media #{$xs}{
        padding-left: 0px;
        padding-right: 0px;
    }
    .single-category{
        .category-img{
            img{
                width: 100%;
                border-radius: 6px;
            }
            position: relative;
            .category-caption{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 52px;
                @media #{$laptop}{
                    right:13px;
                }
                @media #{$xs}{
                    right:13px;
                }
                h2{
                    color: #1f1f1f;
                    text-transform: capitalize;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 1.1;
                    text-transform: capitalize;
                    margin-bottom: 13px;
                    @media #{$laptop}{
                        font-size: 26px;
                    }
                    @media #{$xs}{
                        font-size: 22px;
                        margin-bottom: 0px;
                    }
                }
                .best{
                   a{
                    color: #000000;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.1;
                    text-transform: capitalize;
                    background: #ffce25;
                    padding:13px 24px;
                    border-radius: 30px;
                    display: inline-block;
                    @media #{$laptop}{
                        padding: 13px 15px;
                    }
                    @media #{$xs}{
                        padding: 13px 15px;
                        font-size: 12px;
                    }
                   }
                }
                .collection{
                    display: block;
                    color: #0071fe;
                    text-transform: capitalize;
                    font-size: 30px;
                    line-height: 1.1;
                    text-transform: capitalize;
                    font-weight: 600;
                    text-shadow: 0px -3px 0px #fff;
                    margin-top: -8px;
                    @media #{$laptop}{
                        font-size: 23px;
                    }
                    @media #{$xs}{
                        font-size: 20px;
                    }
                }
                p{
                    color: #000000;
                }
            }
        }
    }
}


// section Tittle
.section-tittle{
    & h2{
        color: #000;
        font-size:48px;
        font-weight:700;
        line-height:1;
        @media #{$md}{
			font-size: 37px;
        }
         @media #{$xs}{
			font-size: 33px;
		}
    }
}