// Font Family
    $font_1 :'Josefin Sans', sans-serif; //Heading
    $font_2 :'Roboto', sans-serif;     //Body 


/*------------------- Responsive --------------------------*/

    $laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
    $lg :'only screen and (min-width: 992px) and (max-width: 1199px)';
    $md:'only screen and (min-width: 768px) and (max-width: 991px)';
    $sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
    $xs:'(max-width: 575px)';

// Extra Responsive

    $medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
    $tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
    $large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
    $tab: '(max-width: 991px)';
    $small_mobile:'(max-width: 576px)';
    $xs_mobile:'(max-width: 420px)';
    $sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
    $big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
    $extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';
    $extra_big_screen_2: 'only screen and (min-width: 1600px) and (max-width: 3640px)';


// More Extra Responsive
    $large_device_2:'(min-width: 1501px) and (max-width: 1700px)';

    $large1:'(min-width: 1200px) and (max-width: 1400px)';

    $large_device:'(min-width: 1200px) and (max-width: 1600px)';
    $mid_device:'(min-width: 992px) and (max-width: 1200px)';
    $tablet_device:'(min-width: 768px) and (max-width: 991px)';
    $mobile_device:'(max-width: 767px)';
    $large_mobile:'only screen and (min-width: 480px) and (max-width: 767px)';




// Element Page btn
@import 'color';
$white_color:#fff;
.boxed-btn {
	background: #fff;
    color: #fff !important;
    
	display: inline-block;
	padding: 18px 44px;
	font-family: $font_1;
	font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid $theme-color;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background: $theme-color;
        color: #000 !important;
        border: 1px solid $theme-color;
    }
    &:focus{
        outline: none;
    }
    &.large-width{
        width: 220px;
    }
}



// .......................

$font_stack_1: 'Playfair Display', serif;
$font_stack_2: 'Poppins', sans-serif; 
/*Color Variables*/

$primary-color  : #2577fd;
$title-color    : #2a2a2a;
$text-color     : #795376;
$offwhite       : #f6f6f6;
$white: #fff;
$section_bg: #f4f4f4;
$white_color: #fff;
$black_color: #000;
$menu_color: #000;
$icon_color: #0c2e60;
$icon_bg: #f0f4f6;
$author_text_color: #556172;
$section_bg: #f4f4f4;

$color_1: #f8fbff;
$color_2: #fffbf9;
$color_3: #fafafa;
$color_4: #fffcf4;

$btn_hover: #f5790b;
$section_bg_1: #e8f0f2;
$heading_color: #4B3049;
$heading_color2: #ff8b23;
// $font_1: #666666;
// $font_2: #222222;
// $font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #777777;
$font_8: #888888;
$font_d: #dddddd;
$border_color: #edeff2;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;




  
  
