.oe_website_sale .o_pricelist_dropdown > .btn, .oe_website_sale .o_pricelist_dropdown > .btn:hover, .oe_website_sale .o_pricelist_dropdown > .btn:focus, .oe_website_sale .o_pricelist_dropdown > .btn:active, .oe_website_sale .o_sortby_dropdown > .btn, .oe_website_sale .o_sortby_dropdown > .btn:hover, .oe_website_sale .o_sortby_dropdown > .btn:focus, .oe_website_sale .o_sortby_dropdown > .btn:active
{
    background-color: #f2c300 !important;
    }
#products_grid.o_wsale_layout_list .oe_product_cart{
  height: 200px !important;
    width: 1000px !important;
    margin-left: 163px !important;
    margin-bottom: 20px !important;
    }

.o_wsale_apply_layout > .o_wsale_apply_grid::before{
  content: "\f009" !important;
  background: #f2c300 !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  background: #4a4a4b;
  z-index: 1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: unset;
  border-radius: 0px;
}
#oe_main_menu_navbar > .btn{
content:"\f00b" !important;
}
.o_wsale_apply_layout > .o_wsale_apply_list::before{
  content: "\f00b" !important;
    background: #f2c300 !important;
  margin-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #4a4a4b;
  z-index: 1;
  transition: transform 0.5s;
  transition-timing-function: ease;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: unset;
  border-radius: 0px;

}
.o_wsale_apply_layout > .btn:hover::before {
  transform: scaleX(1);
  color: #fff !important;
  z-index: -1;
}
.o_wsale_apply_layout > .btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
.o_wsale_apply_layout > .btn{
  background-color: #f2c300 !important;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  padding: 17px 28px;
  border-radius: 0px;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
  margin-bottom: 0;
  margin: 10px;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  -moz-user-select: none;
  border: 0;
  overflow: hidden;
  margin: 0;
}