*:focus {
    outline: 0 !important;
}

*button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

* {
    list-style-type: none;

    font-family: $font-default;
    font-size: 14px;
    &:focus,
    &:active {
        outline: none !important;
    }
}

*:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

*::selection {
    color: rgb(28, 132, 158);
}

*a,
a:visited {
    color: #990000;
    text-decoration: none;
}

body {
//     background-color: #ffffff; /* light gray */
//     font-family:$font-third;
//     font-weight: 500;
//     font-size: 14px;
    color: $color-text; /* dark gray */  


    // overflow: hidden;
    // -webkit-user-select: none;
    //    -moz-user-select: none;
    //      -o-user-select: none;
    //     -ms-user-select: none;
    //         user-select: none;
}
.main_body{
    z-index: 2;
    position: relative;
    background-color: $color-white;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }
h1, h2, h3, h4, h5, h6 { 
    
    font-family:$font-default;
    color: $color-black; } 

.gap{
    padding-top: 100px;
    padding-bottom: 50px;
}

.gap2{
    padding-top: 50px;

}


// .section_heading{
//     margin-top: 40px;
//     margin-bottom: 40px;
//     text-align: center;
//     h3{
//         font-size: 35px;
//         font-family:'Overpass Mono', monospace;
//         font-weight: 900;
//         text-transform: uppercase;
//     }
//     hr{
//         width: 15%;
//         background: $color-brand;
//         height: 1px;
//     }
//     p{
// line-height: 30px;
// padding-top: 10px;
//     }
// }
html {
    scroll-behavior: smooth;
  

  .back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: block;
    z-index: 999;
}
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 2px;
}

.progress-bar {
    position: fixed;
    top: 0;
    height: 3px;
    width: 0;
    background-image: linear-gradient(90deg, #B8C1E5 0%, #FF2E38 100%);
    z-index: 11;
    transition: width .2s;
    will-change: width;
  }


  @keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
   
}
.fade-in-element {
  animation: fade-in 1.4s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  transition-delay: 1s ;
  -webkit-transition-delay: 1s;
}


.hidden {
    opacity: 0;
  }
  
  
  
