.card{
    border: none;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-header{
    background-color: transparent;
    border: none;
}
:root {
            /* Colors */
            --green: #00C689;
            --blue: #3DA5F4;
            --red: #F1536E;
            --yellow: #FDA006;
            /*Fonts*/
            --primary-font: 'Roboto', sans-serif;
        }

        html .o_web_client > .o_action_manager {
        overflow:auto;
        }

        .bg-green {
            background-color: var(--green);
        }

        .bg-blue {
            background-color: var(--blue);
        }

        .bg-red {
            background-color: var(--red);
        }

        .bg-yellow {
            background-color: var(--yellow);
        }

        .text-color-yellow {
            color: var(--yellow);
        }

        .text-color-green {
            color: var(--green);
        }

        .text-color-blue {
            color: var(--blue);
        }

        .text-color-red {
            color: var(--red);
        }

        .text-color-yellow {
            color: var(--yellow);
        }

        .tile-container {
            padding: 3.2rem 1.5rem;
            border-radius: 2rem;
        }

        .tile-container__icon-container {
            border-radius: 50%;
            width: 4.75rem;
            height: 4.75rem;
            font-size: 28px;
        }

        .status-container__title {
            font-family: var(--primary-font);
            font-weight: 500;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        .status-container__figures {
            font-family: var(--primary-font);
        }

        .status-container__figures>h3 {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 1.813rem;
        }

        .tile-container__setting-icon {
            top: 0.638rem;
            right: 1rem;
        }

// Main Navbar Dropdown menu location override
.o_menu_systray > .o_user_menu > .o-dropdown--menu{
    left: auto !important;
    right: 0px !important;
}
.button-container{
    padding-top: 5px;
}
.add_block{
    margin-left: 6px;
}
.tile-container__status-container{
    padding-left: 7px;
}
