.about_banner{
    background-size: cover;
    width: 100%;
    background-image: url(/theme_silon/static/src/img/about/banner/about-banner.jpg) !important;
    margin-top: 20px;
    padding:100px 0;

    h1{
        margin:auto;
        color:$color-offwhite;
      padding: 90px;
      font-size: $font-size-banner;
      font-weight: 300;
      letter-spacing: 8px;

      @media screen and (max-width:491px){

          text-align: center;
      
      }
    }
}

.about{
    margin-top: 45px;
    margin-bottom: 20px;


    .abt{
        display: flex;
        align-items: center;
    }
    }
.about_top{
    padding-top:40px;
    padding-bottom: 45px;
    align-items: baseline;
    margin: 0;
}

.a-product-heading{
    text-align: left;
}

.about_words{
    color:$color-grey;
     font-size: $font-size-text;
      line-height: 24px;
       margin-top: 20px;
      text-align: justify;
       text-justify: inter-word; 

}

.about_image{
    width: 100%;
    margin-top: 40px;
    img{
        width: 540px;
         @media screen and (max-width:491px){
            width: 330px;

      }
    }
}


