.contact_banner {
  background-size: cover;

  width: 100%;
  background-image: url(/theme_silon/static/src/img/contact_banner/contact_baner.jpg) !important;
  margin-top: 20px;
  padding: 100px 0;

  h1 {
    margin: auto;
    color: $color-offwhite;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: $font-size-banner;
    font-weight: 300;
    letter-spacing: 8px;

    @media screen and (max-width: 491px) {
      text-align: center;
    }
  }
}

.contact {
  max-width: 75%;
  margin: auto;
}

  .contact_body {
    margin-top: 70px;
  }

  .cnt {
    display: flex;
    align-items: center;
  }
  label {
    color: $color-grey;
  }

    input[type="text"],
    select {
      padding: 12px;
      height: 50px;
      border: 1px solid;
      box-sizing: border-box;
         border-radius: 2px;
border-color: $color-grey !important;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
  .contact_img {
    img{
        width: 450px !important;
        height: 350px !important;
        }

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }

    @media screen and (max-width: 400px) {
      visibility: hidden;
    }
  }

  input[type="text"],
  select {
    width: 100%;
    padding: 12px;

    border: 1px solid;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
 
  textarea {
    height: 100px;
    width: 100%;
border-color: $color-grey;
    padding: 12px;
    border: 1px solid;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .contact_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
}
