

.preview{
    margin-top: 10px;
    margin-bottom: 30px;

    .breadcrumb-option{
        margin-bottom: 45px;
    .breadcrumb__links{
        color: $color-grey;
        a{
            color: $color-black;
           

            &:hover{
                text-decoration: none;
            }
        }

    }
    }

    .preview_image{

        width: 100%;
        img{
            max-height: 577px;
        }

        
    }

    .preview_details{

        margin-top: 20px;
margin-left: 20px;

        .preview_type{
            color: $color-grey;
        }
    
        .product__rating{
            justify-content: left;
           .star_review{
               align-items: center;
               .count_review{margin-left: 10px;
                font-size: 13px;
                color:$color-grey;}
              
           }
            
            .first_star{
            img{
                width: 100%;
                max-width: 14px;
                margin-left: 4px;
                
            }
        }
        }
        .description{
            color: $color-grey;
        }
       
        #myform {
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    display: flex;
    margin: 2%;
    border-radius: 9px;
}
.qty {
    width: 40px;
    height: 25px;
    text-align: center;
    border: none;
}
input.qtyplus { width:25px; height:25px;

background-color: transparent;
border: none;
}
input.qtyminus { width:25px; height:25px; 

    background-color: transparent;
    border: none;
}
       
        .wrapper{
        .img{

            width: 100%;
            max-width: 24px;
            margin: 0px;   
        }
    }
    }

.product__details__tab{

    padding-top: 70px;
    margin-bottom: 50px;

    .nav{
        border-bottom: none;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;

    &::before {
        position: absolute;
        left: 0;
        top: 13px;
        height: 1px;
        width: 335px;
        background: #e1e1e1;
        content: "";

        @media screen and(max-width:1199px) {
        
            width: 240px;   
        
    }
    @media screen  and (max-width:992px) {
        
        width: 125px;   
    
}
@media screen  and (max-width:768px) {
        
    width: 60px;   

}
@media screen  and (max-width:535px) {
        
    visibility: hidden;

}
    }

    &::after {
        position: absolute;
        right: 0;
        top: 13px;
        height: 1px;
        width: 335px;
        background: #e1e1e1;
        content: "";

        @media screen  and (max-width:1199px) {
        
            width: 240px;   
        
    }
    @media screen  and (max-width:992px) {
        
        width: 125px;   
    
}

@media screen  and (max-width:768px) {
        
    width: 60px;   

}
@media screen  and (max-width:535px) {
    visibility: hidden;
}
    }



    }

    .nav-item {
        margin-right: 46px;
    
        &:last-child {
            margin-right: 0;
        }
    
        .nav-link {
            font-size: $font-size-h4;
            color: $color-grey;
            font-weight: 500;
            border: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 0;
    
            &.active {
                color:$color-black;
            }
        }
    }

    .tab-content {

        .tab-pane {
    
            h6 {
                color: #666666;
                font-weight: 600;
                margin-bottom: 24px;
            }
    
            p {
                color: $color-grey;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    
}

    
}