.product_banner{
   
    background-size: cover;
    
    width: 100%;
    margin-top: 20px;
    padding:100px 0;
    margin-bottom: 20px;

    h1{
        margin:auto;
        color:$color-banner-product;
      padding: 90px;
      font-size: $font-size-banner;
      font-weight: 300;
      letter-spacing: 8px;

      @media screen and (max-width:491px){
        padding: 30px;
          text-align: center;
      
      }
    }
}



.main_product{
  
    padding-top: 85px;
    .product_parts{
       
      .sidebar__categories {
        margin-bottom: 50px;
      
        .section-title {
          margin-bottom: 35px;
          .bordered_header{
            text-transform: uppercase;
          }
          .bordered_header{
          text-transform: uppercase;
          }
        }
      }  

      .categories__accordion {

        .card {
          border: none;
          border-radius: 0;
          padding-bottom: 12px;
          border-bottom: 1px solid #f2f2f2!important;
          margin-bottom: 12px;
      
          &:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none!important;
          }
        }
      
        .card-heading {
          cursor: pointer;
      
          a {
            font-size: 14px;
            font-weight: 500;
            color: $color-grey;
            display: block;
          }
        }
      
        .card-body {
          padding-left: 0;
          padding-top: 6px;
          padding-bottom: 0;
      
          li {
            list-style: none;
            position: relative;
            padding-left: 16px;
      
            &:before {
              position: absolute;
              left: 4px;
              top: 14px;
              height: 1px;
              width: 4px;
              background: #666666;
              content: "";
            }
      
            a {
              font-size: 14px;
              color: #666666;
              line-height: 30px;
            }
          }
        }
      }

      .categories__accordion .card-heading a:after,
.categories__accordion .card-heading > a.active[aria-expanded=false]:after {
  content: "\f107";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: 0px;
}

.categories__accordion .card-heading.active a:after {
  content: "\f106";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: -1px;
}

.categories__accordion .card-heading a[aria-expanded=true]:after,
.categories__accordion .card-heading > a.active:after {
  content: "\f106";
  font-size: 14px;
  font-family: "FontAwesome";
  color: #666666;
  position: absolute;
  right: 30px;
  top: -1px;
}
     
.sidebar__filter {
  position: relative;
  margin-bottom: 60px;

  .section-title {
    margin-bottom: 50px;
    .bordered_header{
      text-transform: uppercase;
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
    }
  }

  a {
    font-size: 14px;
    color: #0d0d0d !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: inline-block;
    padding: 5px 16px 5px 24px;
    border: 2px solid #ff0000 !important;
    position: absolute;
    right: 0;
    bottom: -5px;
    border-radius: 2px;
  }
}

  #slider-range{
    margin-bottom: 30px;
    background-color: $color-grey;
    border-radius: 14px;
    border: none;
    height: 8px;

    .ui-state-default, .ui-widget-content .ui-state-default{
      background-color:$color-red !important;
      border: none;
      border-radius: 50%;
      height: 15px;
width: 15px;
top: -3.8px;

    }
    &.ui-slider-horizontal .ui-slider-range {
      top: 0;
      height: 100%;
      background-color: $color-red !important;
  }
  }

  .sidebar__sizes {
    margin-bottom: 40px;
  
    .section-title {
      margin-bottom: 35px;
      .bordered_header{
        text-transform: uppercase;
      }
      h4 {
        font-size: 18px;
      }
    }
  
.size__list{
  label{
    display: block;
  
    font-size: 14px;
    text-transform: uppercase;
    color: #444444;
    position: relative;
    cursor: pointer;
display: flex;
flex-direction: row-reverse;
justify-content: flex-end;

input{
  visibility: hidden;
margin-right: 4px;


  
  &:checked {

    & ~ .checkmark {
      border-color: $color-red;

      &:after {
        border-color: $color-red;
        opacity: 1;
      }
    }
  }
}


.checkmark{
  border: 1px solid #444444;
  border-radius: 2px;
  position: absolute;
        left: 0;
        top: 4px;
        height: 11px;
        width: 11px;

        &:after {
          position: absolute;
          left: 0px;
          top: -2px;
          width: 11px;
          height: 5px;
          border: solid #f2f2f2;
          border-width: 1.5px 1.5px 0px 0px;
          -webkit-transform: rotate(127deg);
          -ms-transform: rotate(127deg);
          transform: rotate(127deg);
          opacity: 0;
          content: "";
        }
        
}

    
  }
}
    
  }

  .sidebar__color {
    @extend .sidebar__sizes;
  
    .color__list {
  
      label {
        text-transform: capitalize;
      }
    }
  }


}

}

.product{
  .product__image{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  }
#wsale_products_categories_collapse ul li a{
    font-size: 14px;
    color: #666666;
    line-height: 30px;

}
.sidebar__categories{
    .section-title {
    margin-bottom: 30px;
    margin-top:20px;
    .bordered_header{
      text-transform: uppercase;
    }

    h4 {
      font-size: 18px;
      font-weight: bold;
    }
  }

}