/* CSS for Organization Chart */

/* Base styles for organization chart container */
.org-chart {
    position: relative;
}

/* Styles for children nodes */
.org-children {
    top: 90px; /* Adjust as needed */
    left: 0;
    width: 100%;
    justify-content: space-around;
}

/* Styles for child nodes */
.child-node {
    margin-top: px;
}
