.banner{
  
    margin-top: 50px;
    margin-bottom: 50px;
    // height: 100vh;
.right_banner_coloumn{

}
   
    
    .banner_left{
        padding: 0;
        background-color: $color-theme;

        padding-left: 100px;
    
    }
   

.card{
background-color: $color-theme;
border-radius: 0;
padding: 50px;

@media screen  and (max-width:946px) {
        
    padding-left: 10px; 
}
.card-header{

}

.card-title{
    color: $color-white;
    text-align-last: left;
    margin-bottom: 20px
}
.card-body{
    color: $color-white;
    text-align-last: left;   
    padding-bottom: 1px;
  
    
}
.hr{
    background-color:$color-white;
width: 71%;
height: 3px;
float: left;
}

.hr2{
    background-color:$color-white;
width: 100%;
height: 1px;
float: left;
}

.social_media{
  
    ul{display: flex;
        padding-left: 15px;
    li{
        width: 28px;
        margin: 5px;
        list-style-type: none;
        
        background-color: $color-theme;
        
    }
    
    }
    img{
        width: 100%;
        padding: 2px;
        &:hover{
            border-radius: 9px;
            background-color: $color-red;
          
        }
      
    }
}

}

}

.banner_right{
    margin-top: 60px;
  
    width:100%;
    max-width: 660px;
    padding-left: 0px;
// padding-bottom: 16px;
// padding-right: 16px;
// padding-top: 0px;
// border-top-width: 6px;
// border-left-width: 7px;
// position: absolute;
 
@media screen  and (max-width:991px) {
    
    max-width: 100%;
  
}
@media screen  and (max-width:768px) {
    
    max-width: 100%;
  
}



}
.hh{
    &:after {
        content: "";  
        display: block;
        margin-top: 5px; 
        padding-top: 20px; /* This creates some space between the element and the border. */
         
        width: 200px;
    height: 2px;
    background-color: $color-red;
    }
}



.nn{
    &:after {
        content: "";  
        display: block;
        margin-top: 5px; 
        padding-top: 20px; /* This creates some space between the element and the border. */
         
        width: 200px;
    height: 2px;
    background-color: $color-red;
    }
}



.banner_img{
    
    height: 290px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
   

    
}