.contact{
    


    .contact_form_info{
        padding-bottom: 50px;
        padding-top: 50px;
        color: white !important;
        .contact_info{
            background-color: #131313;
            padding: 15px 30px;
            padding-top: 20px;
            border: 1px solid #727272;


            .c_info{
                .icon_name{
                    padding-bottom: 20px;
                    img{
                        width: 40px;
                        margin-right: 15px;
                    }
                    
                }
                p{
                    a{
                        color: var(--white-color);
                        padding-left: 10px;
                    }
                }
            }
        }




        .contact-form {
            background-color:#131313;
            padding: 40px 30px;
            border: 1px solid #cccccc99;
            border-radius: 0px;
            label{
                padding-bottom: 10px;
            }
        }
    
        .form-control {
           
            border: 1px solid #cccccc99;
            border-radius: 0;
            box-shadow: none;
            background-color: transparent;
            margin-bottom: 25px;
            padding: .75rem 0.75rem;
            color: var(--white-color);

        }
    
        .form-control:focus {
            border-color: var(--white-color);
            box-shadow: none;
        }










    }

    .map{
        margin-top: 100px;
    }
}