#sidebar_panel {

    height: calc(100% - 0%);
	position: fixed;
    top: 0px;
    background-color:#dedde1;
    display: none;
    width: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    z-index: 999;
    border:1px solid;
  border-color:transparent;
  border-right-color: $secondary_color;
}
#sidebar_panel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.sidebar_panel .sidebar {
    padding: 0;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-top: 5px;
}
// .sidebar_panel .sidebar_close {
//     text-align: end;
//     display: none;
//     position: sticky;
//     height: 35px;
//     padding-top: 5px;
//     top: 0;
//     background: #2a3042;
//     z-index: 1;
// }
// .sidebar_panel .sidebar_close a#closeSidebar {
//     font-size: 18px;
//     margin-right: 10px;
//     color: #ffffff;
//     opacity: .3;
// }
// .sidebar_panel .sidebar_close a#closeSidebar img {
//     width: 15px;
// }
.sidebar_panel .sidebar .sidebar_logo {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.sidebar_panel .sidebar .sidebar_logo img {
    max-width: 150px;
}

.sidebar_panel .sidebar .sidebar_head {
    padding-top: 20px;
    padding-left: 15px;
    color: #6a7187;
    font-size: 14px;
}

.sidebar_panel .sidebar .sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_panel .sidebar .sidebar_menu li {
    margin: 0;
    padding: 0;
    border: 0px;
    display: block;
}

.sidebar_panel .sidebar .sidebar_menu li a {
    margin: 0;
    border: 0px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 10px 8px 25px;
    color: $secondary_color;
    font-size: 14px;
    transition:.3s all;
}
.sidebar_panel .sidebar .sidebar_menu li:hover  a {
    background: #1e2230;
    color: #fff;
}
.sidebar_panel .nav-link {
	opacity: .5;
    transition:.3s all;
}
.sidebar_panel .sidebar a.nav-link.active {
    color: #626262 !important;
	opacity: 1;
}

.sidebar_panel .sidebar .sidebar_menu li a .sidebar_img {
    width: 20px;
    margin-right: 8px;
}

.navbar-toggler span {
    display: block;
    background-color: $secondary_color;
    height: 3px;
    width: 22px;
    margin-top: 4px;
    border-radius: 2px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}
/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}
/**
 * Animate collapse into X.
 */
/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}
/**
 * Animate collapse open into hamburger menu
 */
/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}




