//Font
$font-deafault:'Montserrat', sans-serif;

//Colors
$color-theme:#21272B;
$color-secondary:#875a7b;
$color-footer:#55595a;
$color-red:#fe0000;
$color-black:#0000;
$color-white:#ffff;
$color-red-btn:#6d1616af;


//Font_size

$font-size-h1: 36px;
$font-size-h4:18px;
$font-size-subheading:25px;
$font-size-text: 14px;
$font-size-s:15px;
$font-size-banner:53px;
$font-size-form:12px;
$font-bold:18px;