@charset "utf-8";

.text-stock-value-not {
    color: rgb(226, 0, 0);
    font-size: small;
    font-family: fantasy;
    font-style: italic;
}
.text-stock-value {
    color: rgb(0, 88, 220);
    font-size: small;
    font-family: fantasy;
    font-style: italic;
}

.special-ribbon{
  display: block;
  width: 85px;
  height: 88px;
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.special-ribbon-red{
  display: block;
  width: 85px;
  height: 88px;
  z-index: 5;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

.special-ribbon-banner-red {

    font: bold 14px Sans-Serif;
    color: white;
    text-align: center;
    /* -webkit-transform: rotate(320deg); */
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 6px 0;
    left: 0px;
    top: 0px;
    width: 109px;
    cursor: default;
    height: 28px;
    float: left;
    background-color: #a94442;
}

.special-ribbon-banner {
    font: bold 14px Sans-Serif;
    color: white;
    text-align: center;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(-53deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 8px 0;
    left: 1px;
    top: 0px;
    width: 141px;
    cursor: default;
    height: 31px;
    float: left;
    background-color: #004c8e;}