.st-topnavbar {
    background-color: $primary-color;
}

.st-search_icon {
    position: absolute;
    background-color: transparent;
    padding-right: 0px;
    border: none;
    color: $primary-color;
    z-index: 1;
}

.st-search_input {
    background-color: $background-color;
    border-radius: 30px;
    padding-left: 2rem;
    border: none;
    font-size: $st-font-size-sm;
}

.st-search_container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

}

.st-top_menubar {
    display: flex;
    align-items: center;
    padding-left: 0px;
    list-style: none;

    margin-bottom: 0px;
    padding: 1.3rem 0;
}



.st-menu__item {
    color: $black-color;
    font-weight: 400;
    transition: all 0.3s;
    padding: 1.4rem 0;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 0px;
        height: 2px;
        background-color: $primary-color;
        transition: width 0.3s ease-in-out;
    }

    &:hover::before,
    &.active::before {
        width: 100%;
    }

    &:hover {
        color: $primary-color;
    }

}

.st-topmenu_list {
    box-shadow: 0px -4px 12px 4px rgba(0, 0, 0, 0.25);

}

.st-header_link {
    color: $white-color;
    font-size: $st-font-size-base;
    font-weight: 300;
    transition: all 0.3s;
    padding: 0.2rem 0.5rem;
    border-radius: 30px;

    &:hover {
        background-color: rgba($background-color, 0.2);
        color: $white-color;
    }
}

.st-header_link-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 1rem;
}


.st-header_signin {
    font-size: $st-font-size-sm;
}

.st-menu_btn {
    background-color: transparent;
    border: none;
}

.st-header_menu-link {
    padding: 0.3rem 0.5rem;
}

.st-sub_menu {
    position: absolute;
    width: 100vw;
    padding: 40px 1%;
    background-color: $background-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1.3rem;
    border-top: 1px solid $border-light;
    transition: transform .65s cubic-bezier(.165, .84, .44, 1) .075s, opacity .65s cubic-bezier(.165, .84, .44, 1) .15s;
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    right: -15%;
    visibility: hidden;
    opacity: 0;
    z-index: 11;
}

.st-menu_list {

    padding: 0 0.75rem;

    &:hover {
        .st-sub_menu {
            visibility: visible;
            opacity: 1;
        }
    }
}

.st-mega_menu--container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.st-mega-menu_header {
    color: $primary-color;
    font-size: $st-font-size-sm;
    font-weight: 400;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $border-light;
    margin-bottom: 0.5rem;
    display: block;
    width: 100%;
}

.st-mega-menu-heading {
    margin-bottom: 1rem;
}

.st-mega-menu_item--list {
    color: $dark-gray;
    font-size: $st-font-size-sm;
    font-weight: 400;

    &:hover {
        color: $black-color;
    }
}

.st-mob_navbar {
    padding: 0px;
    display: flex;
    background-color: $background-color;
}

.st-mob_sidebar {
    width: 56px;
    padding: 15px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.st-mob_close-btn {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: none;
    background-color: $background-color;
    color: $black-color;
    transition: all 0.3s;
    border: 0.5px solid $background-color;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: rgba($background-color, 0.2);
        color: $white-color;
    }
}

.st-mob_sidebar--links {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    flex-direction: column;
}

.st-mob_sidebar--link {
    font-size: 1.3rem;
}

.st-soical__links {
    height: 100%;
    justify-content: end;
}

.st-mob_sidebar--search {
    border: 1px solid $border-light;

    &:focus {
        box-shadow: none;
        border: 1px solid $primary-color;
        background-color: $background-color;
    }
}

.st-mob_sidebar--content {
    width: 100%;
    padding: 1.3rem 1rem;
}

.st-mob-sidebar_menu-container {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;


}

.st-mob-sidebar--nav-btn {
    display: block;
    position: relative;
    padding: 7px 0;
    text-align: left;
    font-size: $st-font-size-sm;
    line-height: 1;
    font-weight: 400;
    color: $dark-gray;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
    transition: color 250ms ease, background-color 250ms ease;

    &:hover {
        color: $black-color;
    }

    &:before {
        content: '\EA6E';
        font-family: "remixicon";
        color: $dark-gray;
        font-size: $st-font-size-sm;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        right: -5px;
        font-weight: 900;
    }
}

.st-mob-sidebar-sub__list {
    display: block;
    position: relative;
    padding: 7px 0;
    text-align: left;
    font-size: $st-font-size-sm;
    line-height: 1;
    font-weight: 400;
    color: $dark-gray;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
    transition: color 250ms ease, background-color 250ms ease;

    &:hover {
        color: $black-color;
    }
}

.st-mob-sidebar--back-btn {
    color: $primary-color;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;

    &:hover {
        color: $primary-color;
    }

    &:before {
        content: '\EA64';
    }

    &:after {
        content: "";
        border-bottom: 1px solid $border-light;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.sub-menu {
    position: absolute;
    top: 0;
    right: 0;

    width: 100%;
    display: none;
    background-color: $background-color;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    height: 100%;
}

.sub-menu.active {
    display: block;

}
