@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-size: 14px;
  font-family: lato, sans-serif
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: poppins, sans-serif
}

p {
  font-family: lato, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #444;
  margin-bottom: 0
}

p img {
  margin: 0
}

a, a:visited {
  text-decoration: none;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  outline: 0;
  font-family: poppins, sans-serif
}

a:hover {
  text-decoration: none
}

a:focus {
  text-decoration: none;
  outline: 0
}

p a, p a:visited {
  line-height: inherit;
  outline: 0
}

ul, ol {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0
}

ul {
  margin: 0;
  list-style-type: none
}

ol {
  list-style: decimal
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 0
}

ul.square {
  list-style: square outside
}

ul.circle {
  list-style: circle outside
}

ul.disc {
  list-style: disc outside
}

ul ul, ul ol, ol ol, ol ul {
  margin: 0
}

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 0
}

button {
  cursor: pointer;
  outline: none !important;
  letter-spacing: 0
}

blockquote {
  padding: 60px;
  position: relative;
  background: #853bfa
}

blockquote:before {
  content: '\f10d';
  font-family: fontawesome;
  color: #fff;
  font-size: 32px;
  position: absolute;
  left: 16px;
  top: 46px
}

blockquote p {
  font-size: 17px;
  color: #fff
}

.blockquote-footer {
  color: #fff
}
/*==============login================*/
.oe_website_login_container {
    padding: 1rem 5rem 5rem;
    background: #f1f4f5;
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form {
  color: #fff !important;
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    max-width: 360px;
    position: relative;
    margin: 50px auto;
    border-radius: 7px;
    padding: 3rem;
    background: #ffffff;
    box-shadow: 0 0 11px 0px #4477d4;
}

.oe_login_form input {
    height: 40px !important;
    border-radius: 0 !important;
    background: #fff !important;
    border: 1px solid #ffffff;
}

.oe_login_form i.fa.fa-database {
  margin-left: 6px;
}

.oe_login_form a.btn.btn-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 !important;
}
.cybro-login-btn {
    height: 47px;
    border-radius: 0;
    background: #3e8df7 !important;
    border: none;
    color: #ffffff !important;
    font-size: 16px;
}
.cybro-super-btn {
    color: #fff;
    font-size: 14px;
  text-decoration: none;
}
.cybro-super-btn:hover {
    color: black !important;
    text-decoration: none;
}
.cybro-bg footer{
    background: #303641 !important;
    color: #fff;
    padding-top: 2rem;
}
.cybro-bg .navbar {
    background: #303641 !important;
    color: #fff;
}
.cybro-bg footer a,.cybro-bg footer p,.cybro-bg header a,.cybro-bg header p {
    color: #fff;
}
.cybro-bg .navbar-light .navbar-nav .nav-link {
    color: #ffffff !important;
}
.homepage .dropdown-menu.js_usermenu.dropdown-menu-right.show {
    background: #303641;
}
.oe_website_login_container .btn-secondary {
    color: #FFFFFF;
    background-color: #afafaf;
    border-color: #afafae;
}
input {
    border: 1px solid #e4eaec !important;
}
.oe_login_form, .oe_signup_form, .oe_reset_password_form {
    color: #37474f !important;
    font-weight: 300 !important;
}
form label {
    font-weight: 300 !important;
}
/*==============//login================*/
