.reco-slider-wrapper {
    overflow: hidden;
    position: relative;
}

.reco-slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;

    /* slider behaviour */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE */
    scroll-snap-type: x mandatory;
}

.reco-slider::-webkit-scrollbar {
    display: none; /* Chrome */
}

.reco-card {
    width: 220px;
    flex: 0 0 auto;
    border-radius: 6px;
    margin: 0 10px;
    scroll-snap-align: start;     /* Snap each card */
}
