.about{
    background: $color-brand2;
    padding: 100px 0;
    
   

    h1{
        text-align: center;
        color: $color-brand;
        text-transform: uppercase;
        font-size: 65px;
        letter-spacing: -2px;
        font-weight: 700;


        @media screen and(max-width:768px) {
       font-size: 40px;
        }
     
    }


    .animation-elementH {
        opacity: 1;
        position: relative;
      }
      /*animation element sliding left*/
      
      .animation-elementH.slide-left {
        opacity: 1;
        -moz-transition: all 500ms linear;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        -moz-transform: translate3d(-200px, 0px, 0px);
        -webkit-transform: translate3d(-200px, 0px, 0px);
        -o-transform: translate(-200px, 0px);
        -ms-transform: translate(-200px, 0px);
        transform: translate3d(-200px, 0px, 0px);
      }
      
      .animation-elementH.slide-left {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate3d(0px, 0px, 0px);
      }
// .in-view{
//   opacity: 1;
// }



    .wrapper{
        color: $color-white;
        margin-top: 50px;
        padding: 0 40px;
        .about_text{
            
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            line-height: 29px;
        }
        .bt{
            margin-top: 50px;
            letter-spacing: 4px;
            text-align: center;
            font-size: 13px;
        }


.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 900ms linear;
  -webkit-transition: all 900ms linear;
  -o-transition: all 900ms linear;
  transition: all 900ms linear;
  -moz-transform: translate3d(-200px, 0px, 0px);
  -webkit-transform: translate3d(-200px, 0px, 0px);
  -o-transform: translate(-200px, 0px);
  -ms-transform: translate(-200px, 0px);
  transform: translate3d(-200px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

    }
}