.partners{
    background: $color-brand2;
    padding: 100px 0;

    .wrapper{
        h3{
      
            color: $color-brand;
            text-transform: uppercase;
            font-size: 45px;
            font-weight: 700;
            
            margin-bottom: 10px;
            @media screen and(max-width:768px) {
                font-size: 30px;
                 }
    
        }

        
    }
    .partners_contents{

        margin-top: 30px;
        padding: 60px;

        @media screen and(max-width:768px) {
padding: 0;
margin-top: 60px;
                }
        .brd{
            a{
                width: 100%;
                height: 100%;
                border: 1px solid;
                border-color: red;      
                display: block;    
                border-top-color: transparent;   
                border-left-color: transparent;
                
            }
    
            &:nth-child(4) {
                a {
                    border-right-color: transparent !important;
                }
            }

            @media screen and(max-width:768px) {
                &:nth-child(2) {
                    a {
                        border-right-color: transparent !important;
                    }
                }
            }
            @media screen and(max-width:768px) {
                &:nth-child(6) {
                    a {
                        border-right-color: transparent !important;
                    }
                }


                &:nth-child(10) {
                    a {
                        border-right-color: transparent !important;
                        border-bottom-color: transparent !important;
                    }
                }
            }
            &:nth-child(8) {
                a {
                    border-right-color: transparent !important;
                }
            }


            &:nth-child(9) {
                a {
                    
                    border-bottom-color: transparent !important;
                }
            }

            &:nth-child(10) {
                a {
                    
                    border-bottom-color: transparent !important;
                }
            }

            &:nth-child(11) {
                a {
                    
                    border-bottom-color: transparent !important;
                }
            }

            &:nth-child(12) {
                a {
                    border-right-color: transparent !important;
                    border-bottom-color: transparent !important;
                }
            }

            @media screen and(max-width:768px) {
                &:nth-child(11) {
                    a {
              
                        border-top-color: red !important;
                    }
                }
                &:nth-child(12) {
                    a {
              
                        border-top-color: red !important;
                    }
                }
            }
        }
      
    }
   
}
      


        .part_wrapp{
            margin: auto;
padding:40px 20px;
           max-width: 200px;
           
            img{
              
                width: 100%;
               &:hover{

                -moz-transition: all 500ms linear;
        -webkit-transition: all 500ms linear;
        -o-transition: all 500ms linear;
        transition: all 500ms linear;
        filter: grayscale(100%) sepia(100%) brightness(102%) hue-rotate(128deg) saturate(1000%) contrast(1000%) invert(100%);
-webkit-filter: grayscale(100%) sepia(100%) brightness(102%) hue-rotate(128deg) saturate(1000%) contrast(1000%) invert(100%);
-moz-filter: grayscale(100%) sepia(100%) brightness(102%) hue-rotate(128deg) saturate(1000%) contrast(1000%) invert(100%);
              
               }
            }
            
        }
  