.video{
    background-image: url(./../img/video/video.jpg);
    justify-content: center;
    width: 100%;

    background-size: cover;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

    .pulse {
     border: 0 !important;
     cursor: unset !important;
        width: 70px;
        height: 70px;
        border-radius: 100px;
        background: rgb(145, 31, 31);
        box-shadow: 0 0 0 rgba(133, 18, 18, 0.541);
        animation: pulse 2000ms infinite;
        position: relative;

        &:after{
            content: " ";
            
position: absolute;
left: 56%;
top: 21px;
transform: translateX(-50%) rotate(-180deg);
width: 0;
height: 0;
border-top: 15px solid transparent;
border-right: 20px solid #252222;
border-bottom: 15px solid transparent;
        }
      
      }
      
      @keyframes pulse {
        0% {
          -webkit-box-shadow: 0 0 0 0 rgba(247, 59, 59, 0.9);
        }
       
        90% {
            -webkit-box-shadow: 0 0 0 20px rgba(0,0,0,0);
        }
        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
        }
      }

.bs-example { 
  margin: 20px; 
} 
.modal{
  position: fixed;

  left: 0;
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;

  
}



.modal-dialog{
  max-width: 800px;
  margin: 7.75rem auto;
  .modal-header{
    border: none;

    .close{
      color: $color-white;
      padding: 0;
background-color: transparent;
border: 0;
      float: right;

line-height: 1;
color: #fff;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0);
opacity: 1;
padding: 0;

    }


      
.close-button {

  margin: -1rem -1rem -1rem auto;

  height: 1px;
  width: 43px;
  position: relative;
  box-sizing: border-box;
  line-height: 20px;
  display: inline-block;

  &:before, &:after {
      $width: 30px;
      $height: 5px;
      transform: rotate(-45deg);
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -$height/2;
      margin-left: -$width/2;
      display: block;
      height: $height;
      width: $width;
      background-color: #fff;
      transition: all 0.25s ease-out;
  }

  &:after {
      transform: rotate(-135deg);
  }

  &:hover {

      &:before, &:after {
          transform: rotate(0deg);
      }
  }
   }
  }
  .modal-body{
    padding: 0;
  }
}
.modal-content iframe { 
  margin: 0 auto; 
  display: block; 

}

.modal-content{
  position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
width: 100%;
pointer-events: auto;
background-color: rgba(255, 255, 255, 0);
background-clip: padding-box;
border: none !important;
border-radius: 0;
outline: 0;

}
}


      
      
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  // z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: none;
}