
.oe_tender_card_content {
  border: 1px solid #ddd;
  border-radius: 10px 10px 0px 0px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin:20px;
  align-items:self-start;
}
.oe_tender_date_group{
    display:flex;
    width:100%;
    justify-content:space-between;
    padding: 8px 16px;
}
.oe_tender_date_group strong{
    color:#71639E;
}
.oe_tender_bid_date_group,.oe_tender_tender_date_group{
    display:flex;
    flex-direction:column;
    text-align:start;
}
.oe_tender_type{
    width: 100%;
    text-align: start;
    background: #71639E;
    padding: 10px 16px;
 }
 .oe_tender_type span{
    color:#FFF
 }
 .oe_tender_group{
    display:flex;
    justify-content:space-between;
    padding: 24px 16px 12px 16px;;
    width:100%;
 }
.oe_tender_group_category span{
    padding: 6px 12px;
    background-color: darkseagreen;
    border-radius: 5px;
    color: #FFF;
}
.oe_tender_title {
  font-size: 20px;
  font-weight: bold;
  color: #71639E;
}
.date_text{
 color:#71639E;
}
.oe_tender_card{
    width:100%;
}
.oe_tender_details {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  margin-top: 10px;
}

.oe_tender_category, .oe_bid_start_date, .oe_bid_end_date {
  font-size: 14px;
  color: #666;
}

.oe_tender_description {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}

.oe_tender_card_content a {
  color: #333;
  text-decoration: none;
}

.oe_tender_card_content a:hover {
  color: #007bff;
}

.oe_tender_button{
    margin: 16px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: darkseagreen;
}
.oe_tender_button a:hover{
    color:#FFF
}