.ad {
    .wrapper {
        padding-top: 10px;
        margin: 70px 54px;
        .zoom {
            overflow: hidden;
            transition: 1s;
            @media screen and(max-width:992px) {
                margin-bottom: 25px;
            }
            &:hover {
                .ad_wrapper1,
                .ad_wrapper2,
                .ad_wrapper3 {
                    transform: scale(1.1);
                    transition: all 1s ease-in-out;
                }
            }
        }
        .ad_wrapper1 {
            background-image: url(./../images/ad-section/ad1.jpg);
            position: relative;
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;
            height: 350px;
            transform: scale(1);
            transition: all 1s ease-in-out;
            .xx {
                height: 100%;
                width: 100%;
                display: block;
                text-decoration: none;
                color: var(--white-color);
                background-color: rgba(0, 0, 0, 0.226);
                .ad_content {
                    padding: 30px 20px;
                    span {
                        font-style: italic;
                        font-size: 20px;
                        font-weight: 200;
                    }
                    p {
                        font-size: 22px;
                        font-weight: 700;
                        letter-spacing: 0.7px;
                        line-height: 0.9em;
                    }
                }
            }
        }
        .ad_wrapper2 {
            background-image: url(./../images/ad-section/ad2.jpg);
            position: relative;
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;
            height: 350px;
            transform: scale(1);
            transition: all 1s ease-in-out;
            .xx {
                height: 100%;
                width: 100%;
                display: block;
                text-decoration: none;
                color: var(--white-color);
                background-color: rgba(0, 0, 0, 0.226);
                .ad_content {
                    padding: 30px 40px;
                    margin: 0px 20px;
                    padding-bottom: 20px;
                    span {
                        font-style: italic;
                        font-size: 28px;
                        font-weight: 200;
                    }
                    p {
                        font-size: 30px;
                        font-weight: 700;
                        letter-spacing: 0.7px;
                        line-height: 0.9em;
                    }
                }
                .new_ad {
                    padding: 0px 40px;
                    margin: 0px 20px;
                    margin-top: 15px;
                    span {
                        background-color: var(--white-color);
                        color: var(--p-color2);
                        font-size: 14px;
                        font-weight: 700;
                        border-radius: 25px 25px;
                        padding: 4px 11px;
                        text-transform: uppercase;
                    }
                    p {
                        margin-top: 20px;
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: 0.7px;
                        line-height: 1em;
                        text-transform: uppercase;
                        font-weight: 300;
                    }
                }
            }
        }
        .ad_wrapper3 {
            background-image: url(./../images/ad-section/ad3.jpg);
            position: relative;
            background-size: cover;
            width: 100%;
            background-repeat: no-repeat;
            height: 350px;
            transform: scale(1);
            transition: all 1s ease-in-out;
            .xx {
                height: 100%;
                width: 100%;
                display: block;
                text-decoration: none;
                color: var(--white-color);
                background-color: rgba(0, 0, 0, 0.226);
                .ad_content {
                    padding: 30px 20px;
                    span {
                        font-style: italic;
                        font-size: 20px;
                        font-weight: 200;
                    }
                    p {
                        font-size: 22px;
                        font-weight: 700;
                        letter-spacing: 0.7px;
                        line-height: 0.9em;
                    }
                }
            }
        }
    }
}