.best_seller {
    padding-top: 10px;
    margin: 70px 54px;
    .wrapper {
        .best_products {
            display: grid;
            grid-template-columns: 5fr 5fr 5fr 5fr 5fr;
            grid-column-gap: 20px;
            grid-row-gap: 40px;
            margin-bottom: 40px;
            @media screen and(max-width:992px) {
                grid-template-columns: 1fr 1fr 1fr;
            }
            @media screen and(max-width:768px) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and(max-width:576px) {
                grid-template-columns: 1fr;
            }
            .b_product {
                overflow: hidden;
                border: 1px solid;
                border-color: var(--border-color2);
                border-radius: 5px;
                position: relative;
                -webkit-transition: 0.8s !important;
                transition: 0.8s !important;
                padding: 15px 15px;
                &:hover {
                    border-color: var(--color-hover);
                }
                .new {
                    color: var(--white-color);
                    background-color: var(--color-hover);
                    padding: 2px 8px;
                    border-radius: 5px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 999;
                    font-size: 12px;
                    font-weight: 600;
                }
                .wrapper {
                    .img_wrapper {
                        max-width: 300px;
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .inner {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 3;
                        }
                    }
                    .quick_view {
                        font-size: 16px;
                        background-color: var(--white-color);
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        display: none;
                        -webkit-transition: 0.8s !important;
                        transition: 0.8s !important;
                        i {
                            color: var(--eco-color-1);
                        }
                        &:hover {
                            background-color: var(--color-hover);
                            i {
                                color: var(--white-color);
                            }
                        }
                    }
                    &:hover {
                        .quick_view {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            -webkit-transition: 0.8s !important;
                            transition: 0.8s !important;
                        }
                    }
                    .product_info {
                        line-height: 1.9;
                        .p_caregory {
                            color: var(--p-color2);
                            font-size: 12px;
                            letter-spacing: 0.4px;
                            text-transform: uppercase;
                        }
                        .p_name {
                            color: var(--p-color);
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: 0.4px;
                            text-transform: capitalize;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .p_rating {
                            i {
                                color: var(--rating-color);
                                font-size: 14px;
                                margin-right: 3px;
                            }
                        }
                        .p_price {
                            padding-top: 10px;
                            color: var(--p-color);
                            padding-bottom: 20px;
                        }
                        .p_price_updated {
                            padding-top: 10px;
                            padding-bottom: 20px;
                            .old {
                                color: var(--p-color2);
                                text-decoration: line-through;
                                margin-right: 8px;
                            }
                            .updated {
                                color: var(--sub-color-3);
                                margin-right: 8px;
                            }
                            .off {
                                color: var(--white-color);
                                background-color: var(--sub-color-3);
                                padding: 2px 8px;
                                border-radius: 5px;
                                z-index: 999;
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }
                    &:hover {
                        .p_price,
                        .p_price_updated {
                            visibility: hidden;
                        }
                    }
                    .product_bottom {
                        display: none;
                        opacity: 0;
                        padding-bottom: 20px;
                        width: 80%;
                        position: absolute;
                        // bottom: -20px;
                        .b_icon {
                            i {
                                color: var(--eco-color-1);
                            }
                            :first-child {
                                margin-right: 10px;
                            }
                        }
                    }
                    &:hover {
                        .product_bottom {
                            display: flex;
                            -webkit-transition: 0.8s !important;
                            transition: 0.8s !important;
                            justify-content: space-between;
                            opacity: 1;
                            bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
.scale-in-center {
    -webkit-animation: scale-in-center 0.8s ease-in-out both;
    animation: scale-in-center 0.8s ease-in-out both;
}
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
.slide-in-bottom {
    -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
.modal {
    .modal-dialog {
        width: 1000px;
        max-width: 1000px;
        @media screen and(max-width:992px) {
            width: 700px !important;
        }
        @media screen and(max-width:768px) {
            width: 500px !important;
        }
        @media screen and(max-width:576px) {
            width: 90% !important;
            margin: auto;
        }
        .modal-header {
            border: none !important;
        }
        .preview_product {
            padding: 40px 40px 70px 0px;
            @media screen and(max-width:992px) {
                padding: 40px 0px 70px 0px !important;
            }
            #big {
                padding: 10px;
                margin-bottom: 10px;
                .item {
                    max-width: 100%;
                    @media screen and(max-width:768px) {
                        max-width: 100% !important;
                    }
                }
            }
            #thumbs .item {
                max-width: 100px;
                display: block;
                // padding: 10px;
                text-align: center;
                cursor: pointer;
                border: 1px solid;
                border-color: transparent;
                &:active {
                    border: 1px solid black !important;
                    padding: 5px !important;
                }
            }
            .owl-theme .owl-nav [class*="owl-"] {
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            .owl-theme .owl-nav [class*="owl-"].disabled:hover {
                background-color: #d6d6d6;
            }
            #big.owl-theme {
                position: relative;
            }
        }
        .preview_details {
            .wrapper {
                .top {
                    h1 {
                        font-size: 24px;
                        color: var(--eco-color-1);
                        letter-spacing: 0.6px;
                        padding-bottom: 15px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 700;
                        color: var(--eco-color-1);
                        margin-bottom: 12px;
                    }
                    .p_rating {
                        margin-bottom: 20px;
                        i {
                            color: var(--rating-color);
                            font-size: 14px;
                            margin-right: 3px;
                        }
                        // :first-child {
                        //     margin-right: 10px;
                        // }
                    }
                    .p_price {
                        font-size: 28px;
                        color: var(--p-color3);
                        margin-bottom: 12px;
                        font-weight: 300;
                    }
                    .p_description {
                        p {
                            color: var(--p-color2);
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 1.7;
                        }
                    }
                    border: 1px solid;
                    border-color: transparent;
                    border-bottom-color: var(--border-color2) !important;
                    padding-bottom: 15px;
                    margin-bottom: 20px;
                }
                .bottom {
                    padding-top: 20px;
                    .dimension {
                        h4 {
                            font-size: 16px;
                            font-weight: 700;
                            color: var(--eco-color-1);
                            text-transform: capitalize;
                        }
                        .form-select- {
                            width: 100% !important;
                        }
                        .form-select {
                            background-color: transparent !important;
                            border-color: var(--p-color2) !important;
                            color: var(--eco-color-11);
                            border: 1px solid !important;
                            border-color: var(--border-color) !important;
                            font-size: 12px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 8px 18px;
                            font-weight: 500;
                            width: fit-content;
                            border-radius: 0px;
                            margin-bottom: 20px;
                            option {
                                font-size: 12px;
                            }
                        }
                        .form-select:focus {
                            border-color: #0d1114 !important;
                            border: 2px solid !important;
                        }
                    }
                    .qnty_button {
                        display: flex;
                        padding-top: 15px;
                        .quantity {
                            display: flex;
                            padding: 0;
                            margin-right: 20px;
                            .quantity__minus,
                            .quantity__plus {
                                width: 32px;
                                height: 35px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                border: 1px solid;
                                border-color: var(--border-color);
                                background: var(--white-color);
                                color: #424246 !important;
                                line-height: 23px;
                                text-decoration: none;
                            }
                            .quantity__minus:hover,
                            .quantity__plus:hover {
                                background: #575b71;
                                color: #fff;
                            }
                            .quantity__input {
                                width: 32px;
                                height: 35px;
                                margin: 0;
                                padding: 0;
                                text-align: center;
                                border: 1px solid;
                                border-color: var(--border-color);
                                background: #fff;
                                color: #8184a1;
                                font-size: 12px;
                            }
                            .quantity__minus:link,
                            .quantity__plus:link {
                                color: #a8a9af;
                            }
                            .quantity__minus:visited,
                            .quantity__plus:visited {
                                color: #fff;
                            }
                        }
                    }
                    .p_options {
                        padding-top: 15px;
                        p {
                            margin-bottom: 10px;
                            i {
                                color: var(--sub-color-1);
                                font-size: 20px;
                            }
                            span {
                                color: var(--p-color);
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                        .s_w {
                            display: flex;
                            :first-child {
                                margin-right: 15px;
                            }
                            .icon {
                                i {
                                    font-size: 14px;
                                    color: var(--p-color2);
                                    margin-right: 5px !important;
                                }
                                span {
                                    font-size: 14px;
                                    color: var(--p-color2);
                                }
                            }
                        }
                        .bottom_icon {
                            margin-top: 20px;
                            span {
                                color: var(--p-color);
                                font-size: 16px;
                                font-weight: 700;
                                margin-right: 15px;
                            }
                            i {
                                color: var(--border-color);
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}