@import './service';
@import './ad-section';
@import './best-seller';
@import './featured-product';
@import './new-arrivals';
@import './wesite-ad';
@import './recent';
@import './testimonial';
@import './client';