.new_arrivals {
    padding-top: 10px;
    margin: 70px 54px;
    .wrapper {
        .best_products {
            margin-top: 20px;
            margin-bottom: 40px;
            position: relative;
            .b_product {
                overflow: hidden;
                border: 1px solid;
                border-color: var(--border-color2);
                border-radius: 5px;
                position: relative;
                -webkit-transition: 0.8s !important;
                transition: 0.8s !important;
                padding: 15px 15px;
                &:hover {
                    border-color: var(--color-hover);
                }
                .new {
                    color: var(--white-color);
                    background-color: var(--color-hover);
                    padding: 2px 8px;
                    border-radius: 5px;
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 999;
                    font-size: 12px;
                    font-weight: 600;
                }
                .wrapper {
                    .img_wrapper {
                        max-width: 300px;
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .inner {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            z-index: 3;
                        }
                    }
                    .quick_view {
                        font-size: 16px;
                        background-color: var(--white-color);
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        display: none;
                        -webkit-transition: 0.8s !important;
                        transition: 0.8s !important;
                        i {
                            color: var(--eco-color-1);
                        }
                        &:hover {
                            background-color: var(--color-hover);
                            i {
                                color: var(--white-color);
                            }
                        }
                    }
                    &:hover {
                        .quick_view {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                    .product_info {
                        line-height: 1.9;
                        .p_caregory {
                            color: var(--p-color2);
                            font-size: 12px;
                            letter-spacing: 0.4px;
                            text-transform: uppercase;
                        }
                        .p_name {
                            color: var(--p-color);
                            font-size: 14px;
                            font-weight: 700;
                            letter-spacing: 0.4px;
                            text-transform: capitalize;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .p_rating {
                            i {
                                color: var(--rating-color);
                                font-size: 14px;
                                margin-right: 3px;
                            }
                        }
                        .p_price {
                            padding-top: 10px;
                            color: var(--p-color);
                            padding-bottom: 20px;
                        }
                        .p_price_updated {
                            padding-top: 10px;
                            padding-bottom: 20px;
                            .old {
                                color: var(--p-color2);
                                text-decoration: line-through;
                                margin-right: 8px;
                            }
                            .updated {
                                color: var(--sub-color-3);
                                margin-right: 8px;
                            }
                            .off {
                                color: var(--white-color);
                                background-color: var(--sub-color-3);
                                padding: 2px 8px;
                                border-radius: 5px;
                                z-index: 999;
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }
                    }
                    &:hover {
                        .p_price,
                        .p_price_updated {
                            visibility: hidden;
                        }
                    }
                    .product_bottom {
                        display: none;
                        opacity: 0;
                        padding-bottom: 20px;
                        width: 80%;
                        position: absolute;
                        // bottom: -20px;
                        .b_icon {
                            i {
                                color: var(--eco-color-1);
                            }
                            :first-child {
                                margin-right: 10px;
                            }
                        }
                    }
                    &:hover {
                        .product_bottom {
                            display: flex;
                            -webkit-transition: 0.8s !important;
                            transition: 0.8s !important;
                            justify-content: space-between;
                            opacity: 1;
                            bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .new_arrivel-carousel {
        .owl-nav {
            position: absolute;
            top: -60px;
            right: 21px;
            display: block !important;
            @media screen and(max-width:992px) {
                top: 100%;
                width: 100%;
                right: 0;
                left: 0;
                text-align: center;
            }
            .all {
                display: block;
            }
            .owl-prev,
            .owl-next {
                background-color: var(--color-white);
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin: 0 10px;
                position: relative;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
                &:focus {
                    background-color: var(--color-hover) !important;
                    span {
                        color: var(--color-white) !important;
                    }
                }
                span {
                    font-size: 22px;
                    width: 100%;
                    display: block;
                    position: absolute;
                    top: -2px;
                    &:focus {
                        span {
                            color: var(--color-white) !important;
                        }
                    }
                }
            }
        }
    }
}