.testimonial {
    background-image: url(./../images/testimonial/testimonial-bg.jpg);
    // height: 500px;
    background-position: center;
    background-size: cover;
    padding: 50px 50px;
    .wrapper {
        .test_slider {
            margin-top: 40px;
            margin-bottom: 20px;
            .slider_content {
                display: flex;
                align-items: center;
                @media screen and(max-width:576px) {
                    flex-direction: column;
                }
                .slider_img {
                    max-width: 100px;
                    margin-right: -20px;
                    position: relative;
                    @media screen and(max-width:576px) {
                        margin-bottom: -35px;
                        margin-right: 0;
                    }
                    img {
                        width: 100%;
                        border-radius: 50%;
                        border: 1px solid white;
                        border-width: 3px;
                    }
                }
                .slider_info {
                    background-color: var(--white-color);
                    padding: 45px 45px 20px 45px;
                    border-radius: 5px;
                    .slider_disc {
                        color: var(--p-color);
                        font-size: 14px;
                    }
                    .bottom {
                        padding-top: 15px;
                        display: flex;
                        .quote {
                            max-width: 40px;
                            img {
                                width: 100%;
                            }
                        }
                        .info {
                            margin-left: 20px;
                            h6 {
                                color: var(--eco-color);
                                font-size: 20xp;
                                margin-bottom: 0;
                                font-weight: 700;
                            }
                            p {
                                color: var(--p-color2);
                                font-size: 14px;
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }
}