.extra-price{
position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #ff6a6a;
    padding: 2px 5px;
    border-radius: 2px;
}
.ribbon-3 {
    width: 30%;
    color: white;
    background: #5c723f;
}
.cross-price-tag{
    font-size: 15px;
}
