@charset "utf-8";
body, ul, li {
margin: 0;
padding: 0;
}
ul, li {
list-style: none;
}
#image_360 {
width: 400px;

margin: 30px auto 0;
overflow: hidden;
}
#image_360 ul {
width: 400px;
height: 280px;
}
#image_360 ul li img {
display: block;
width: 400px;
height: 280px;
}