*:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}
*button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
* {
    list-style-type: none;
    font-family: $font-default;
    font-size: 16px;
    &:focus,
    &:active {
        outline: none !important;
    }
}
*::selection {
    color: rgb(243, 235, 238);
    background-color: black;
}
*a,
a:visited {
    color: #990000;
    text-decoration: none;
}
body {
    font-family: font-default !important;
    color: var(--white-color);
    background-color: var(--voltro-bg-section);
    overscroll-behavior: none;
    overflow-x: hidden;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
main {
    background-color: var(--voltro-bg-section);
    margin-bottom: 600px;
    box-shadow: 3px 2px 2px 0px rgba(51, 51, 51, 0.5);
    background-image: url(../assets/banner/body-bg.svg);
    background-size: cover;
    background-position: center;
    @media screen and (max-width:992px) {
        margin-bottom: 750px;
    }
}
.vertical-line {
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.071);
    /* Adjust color as needed */
    margin: 0 10px;
    position: fixed;
    top: 0;
    left: 25%;
}
.vertical-line2 {
    width: 1px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.071);
    /* Adjust color as needed */
    margin: 0 10px;
    position: fixed;
    top: 0;
    right: 25%;
}
.section_left_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width:768px) {
        flex-direction: column;
        gap: 15px;
        align-items: end !important;
        margin-bottom: 20px;
    }
    .ft_wrapp {
        width: 50%;
        @media screen and (max-width:768px) {
            width: 100%;
        }
        h3 {
            font-size: 36px;
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
            line-height: 1.8;
        }
    }
}
p {
    font-size: 16px;
    line-height: 1.8;
}