// Fonts
$font-default:  "Montserrat", sans-serif;


$font-h1: 46px;
$font-h2: 40px;
$font-h3: 36px;
$font-h4: 22px;
$font-h5: 36px;
$font-h6: 18px;
$font-size-banner: 60px;
$font-heading: 46px;
$font-sub-heading: 28px;
$font-text: 14px;
$font-brand: 30px;

$easing: cubic-bezier(0.25, 1.7, 0.35, 0.8);
$duration: 0.5s;




:root {


    --voltro-primary: #1740B5;
    --voltro-secondary: #F5C000;
    --brand-dark: #242424;
    --voltro-bg-section:#0D0D0D;
    --card-bg:#1E1D22;
--footer-bg:#1B1717;


    --brand-heading: #0C0C0C;
    --brand-text: #767676;
    --brand-sub-text: #C4C4C4;




    --white-color: #ffff;
    --grey-color-900: #757575;
}