.about{
    margin-top: 90px;
    padding-bottom: 40px;
    .about_img{
     
        img{
            width: 100%;
            border-radius: 5px;
        }
    }

    .about_left{

       
        h4{
            color: $color-brand2;
            padding-bottom: 10px;
        }

        p{
            color: $color-font;
            font-size: 14px;
            line-height: 30px;
        }
    }
}

.team{
        margin-top: 90px;
        padding-bottom: 70px;

    h4{
        text-align: center;
        font-size:25px;
        
    }

    .card{
     margin-top: 50px;
        .card-img-top{
            img{
                width: 100%;
                border-radius: 5px;
            }
        }
        .card-body{
            text-align: center;

            h4{
                font-size: 20px;
                padding-top: 10px;
            }
            p{
                padding-bottom: 10px;
                color: $color-font;
            }
        }
    }
}


.counter_main{
    margin-top: 90px;
    padding-bottom: 95px;
    .counter {
        background-color:#f5f5f5;
        padding: 20px 0;
        border-radius: 5px;
    }
    
    .count-title {
        font-size: 25px;
        font-weight: normal;
        margin-top: 15px;
        margin-bottom: 0;
        color: $color-brand2;
        text-align: center;
    }
    
    .count-text {
        font-size: 20px;
        font-weight: normal;
        margin-top: 15px;
        margin-bottom: 0;
        text-align: center;
        color: $color-brand2;
    }
    
    .fa-2x {
        margin: 0 auto;
        float: none;
        display: table;
        color: $color-brand;
        font-size: 60px;
        font-weight: lighter;
    }
}