.terms{
    margin: 90px 0;
    .terms-condition-content{

        @media screen and(max-width:576px) {
            padding: 0 30px;
            
        }
        .t_head{
            color: $color-brand2;
            font-size: 18px;
            text-align: left;
        }

        p{
            color: $color-font;
            line-height: 30px;
        }
    }
}