.o_home_menu_scrollable{
    align-items: stretch !important;
}
.collapse:not(.show) {
    display: none !important;
}
.category-apps {
    width: 29%;
    position: relative;
    backdrop-filter: blur(5px); /* Adjust the blur value to your preference */
    text-align: center;
    cursor: pointer;
    color: white;
    overflow-y: scroll;
    max-height: 100%;
}
.ui-state-highlight {
    height: 10.5em; line-height: 20px;
    background: blue;
}
.apps-sortable-div{
      border: none;
        outline: none;
        padding: 10px 16px;
        cursor: pointer;
        font-size: 18px;
}
.active-category, .apps-sortable-div:hover {
  background-color: #362f2f38;
  color: white;
}
.category-apps::-webkit-scrollbar-track {
  padding: 2px 0;
  background-color: #0000002b;
}

.category-apps::-webkit-scrollbar {
  width: 10px;
}
.category-apps::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: black;
  border: 1px solid #000;
}
@keyframes begindrag {
  0% {
    transform: rotate(0deg)
  }
  10% {
    transform: rotate(-8deg)
  }
  30% {
    transform: rotate(6deg)
  }
  55% {
    transform: rotate(-3deg)
  }
  80% {
    transform: rotate(1deg)
  }
  100% {
    transform: rotate(-1deg)
  }
}
@keyframes bye {
  0% {
    transform: scale(1) rotate(-1deg)
  }
  50% {
    transform: scale(1.1) rotate(-2deg)
  }
  100% {
    transform: scale(0) rotate(3deg)
  }
}
.beginDrag {
  animation: begindrag .8s ease forwards;
}
.bye {
  opacity: 1;
  transition: opacity .5s ease;
  animation: bye .4s ease forwards;
}