.contact {
    margin: 70px 40px;
    @media screen and(max-width:5762px) {
        margin: 70px 15px;
    }
    .wrapper {
        .store_info {
            @media screen and(max-width:992px) {
                padding-bottom: 40px;
            }
            ul {
                margin-top: 20px;
                padding-left: 0;
                li {
                    display: flex;
                    padding-bottom: 15px;
                    align-items: flex-start;
                    border: 1px solid;
                    border-color: transparent;
                    border-bottom-color: var(--border-color);
                    padding-top: 15px;
                    &:last-child {
                        border-bottom-color: transparent !important;
                    }
                    span {
                        padding-right: 20px;
                        margin-right: 10px;
                        i {
                            font-size: 28px;
                            color: var(--p-color2);
                        }
                    }
                    p {
                        font-size: 14px;
                        color: var(--p-color);
                    }
                    a {
                        color: var(--p-color);
                        text-decoration: none;
                        padding-top: 15px;
                        &:hover {
                            color: var(--color-hover);
                        }
                    }
                }
            }
        }
        .subscribe {
            .form-group {
                padding-top: 20px;
                input {
                    font-size: 14px;
                }
                label {
                    color: var(--p-color2);
                    font-size: 14px;
                }
                .form-control-file {
                    display: inline-block;
                    padding: 6px 12px;
                    cursor: pointer;
                    direction: rtl;
                    background: #97979726;
                }
                .optional {
                    color: var(--p-color2);
                    font-size: 14px;
                    margin-top: 10px;
                    display: block;
                }
            }
            position: relative;
            // input[type='file'] {
            //     // display: none;
            //     // position: absolute;
            //     // top: 0;
            //     // right: 0;
            //     // bottom: 0;
            //     // left: 0;
            //     // z-index: 5;
            //     // width: 100%;
            //     // height: 100%;
            //     // opacity: 0;
            //     cursor: default;
            //     // background-color: rgba(0, 0, 0, 0.348);
            //   }
        }
    }
}