:root{
    --primary_accent: black !default;
    --secondary_accent: #ffffff !default;
    --inverse_accent: #ffffff !default;
    --kanban-bg-color:#f7f7f7;
    --o-kanban-color-border-width: 8px;
    --selected_row: #ffffff !default;
    --bg_white: #ffffff !default;
    --f_color: #555b6d !default;
    --color_white : #ffffff !default;
    --primary_hover: #00376e !default;
    --light_hover: #d5d5d5;
    --fullscreen-bg-color: #C5F0FC !important;
}