$primary_accent: var(--primary-accent) !important;
$secondary_accent: var(--secondary-accent) !important;
$inverse_accent: var(--inverse-accent) !important;
$kanban-bg-color:var(--kanban-bg-color) !important;
$o-kanban-color-border-width: var(--o-kanban-color-border-width) !important;
$selected_row: var(--selected-row) !important;
$bg_white: var(--bg-white) !important;
$f_color: var(--f-color) !important;
$color_white : var(--color-white) !important;
$primary_hover: var(--primary-hover) !important;
$light_hover: var(--light-hover) !important;
$fullscreen-bg-color: var(--fullscreen-bg-color) !important;

:root{
    --primary-accent: #004589 ;
    --primary-accent-border: #ffffff;
    --app-bar-accent: #ffffff;
    --full-screen-bg: url(/jazzy_backend_theme/static/src/img/background.jpg) ;
    --kanban-bg-color:#f7f7f7;
    --o-kanban-color-border-width: 8px !important;
    --selected-row: #ffffff !important;
    --app-menu-font-color:#ffffff;
    --bg-white: #ffffff !important;
    --f-color: #555b6d !important;
    --color-white : #ffffff !important;
    --primary-hover: #00376e;
    --light-hover: #d5d5d5 ;
    --secondary-hover:#ffffff;
    --fullscreen-bg-color: #C5F0FC !important;
}
