.oh_dashboards{
    padding-top :15px;
    background-color: #f8faff !important;
}

.oh-card h4 {
    font-size: 1.1rem;
}

/*    Widget One
---------------------------*/
.stat-content {
    display: inline-block;
    width: 66%;
}
.stat-icon{
    display: inline-block;
}

.stat-widget-one .stat-icon {
    vertical-align: top;
    margin: auto;
    width: 100%;
    color: #01c490;
}

.stat-widget-one .stat-icon i {
  font-size: 30px;
  font-weight: 900;
  display: inline-block;
  color: #01c490;}

.stat-widget-one .stat-text {
    font-size: 14px;
    color: #868e96;
    font-weight: bold;
}

.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #02448b; }

.stat-count {
  font-size: 20px;
  text-align: center;
  color: #00438b;}

.stat-title {
  font-size: 17px;
  text-align: center;
  color: #00438b; }

.mb-0{
    position: relative;
}
.mb-0 .dash-title {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.81);
}

.oh-card {

    padding-top: 0px;
    padding: 0px;
    margin-bottom: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;

}
.oh-card:hover {

    transform: translateY(-2px) translateZ(0) !important;
    box-shadow: 0 10px 10px 0 rgba(62, 57, 107, 0.12), 0 0 0 transparent !important;

}
.oh-data {
    margin-top: 2.5%;
}
.oh-data .stat-icon {
    width: 30%;
    height: 85px;
    text-align: center;
    background: #ff8762;
    color: #fff;
    width: 32%;
    padding-top: 2%;
    font-size: xxx-large;

}
.oh-data .oh-card {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);

}
.stat-widget-one .stat-text {
    font-size: 14px;
    color: #ff8762;
    margin-top: 2.3rem;
    margin-left: 1rem;
}
.stat-widget-one .stat-digit {
    font-size: 26px;
    color:#993232;
    margin-left: 1rem;
    margin-top: -1px;
    font-family: initial
}

.stat-widget-one .stat-icon i {

    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    color: #fff;

}
.stat-widget-one {

    background-color: white;
    text-align: left;

}
.stat-widget-one {
    width: 100%;
}
.oh-data .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 2%;

}

h4 .stat-count {
    font-size: 17px;
    text-align: center;
    color: #000 !important;
    margin-top: 0px;
    width: 100%;
    float: left;
    margin: 0;
}

.stat-head {
    text-align: left !important;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 24px;
    width: 100%;
}
.oh-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o_action_manager{
     overflow-y: scroll !important;
    max-width:100%;
 }

.stat_count{
    margin-top: -89px;
    margin-left: 35px;
    font-size: 33px;
}


.stat-head {
    text-align: left !important;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 25px;
    margin-left: 24px;
    width: 100%;
    margin-top: 57px;
    color: black;
}

.top_chart{
    height: fit-content;
}
.row.main-section {
    margin-right: 0px; !important;
}

.chart-container {
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1rem auto;
}

.chart-container.card-shadow {
    height: 100%;
}

.half_chart.chart-container.card-shadow {
	height: 49%;
}
#container {
    height: 400px;
}


/*table*/
.graph_details_table{
position: absolute;
  top: 45px;
  right: 15px;

 background-color: white;
 border-collapse: collapse;
 border: 1px solid #ddd;

}

.graph_details_table th{
background-color:#67b7dc;
color: white;
  width: 250px;
  height: 30px;
}

.graph_details_table td{
border: 1px solid #ddd;
height: 20px;
}

.graph_details_table tr:nth-child(even){background-color: #f2f2f2;}

.graph_details_table tr:hover {background-color: #ddd;}

.chart-container h2 {
    font-weight: 700;
    font-size: 1.690rem;
}

.hr_notification {
    background: #f6f7fa;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);
    height: 316px;
    overflow-y: auto;
    margin-bottom: 15px;
}
.hr_notification .media {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 10px;
}
hr_notification .text-color.display-6 {
    margin: 0px 0 3px;
    color: #2d2d2d;
}
.hr_notification p {
    margin: 0 0 1px;
    color: #666;
    font-size: 10px;
}
.chart_head {
    width: 850px;
    margin-left: 21px;
    font-size: 17px;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    margin-bottom: 9px;
}
.hr_notification_head {
    font-size: 17px;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    font-weight: 300;
    background: #5ebade;
    margin-bottom: 9px;
}
@media (max-width: 767.98px) {
    .oh-card{
        width: 100% !important;
    }
    .dashboard_main_section .form-control{
        width: 85% !important;
        margin: 15px auto;
    }
    .sale_details{
        position: relative;
        top: 0px !important;
        right: 0px !important;
    }
    .selling_product_graph_view{
        margin-top: 5rem;
    }
    .hr_notification{
        min-width: 90% !important;
    }
}
.hr_notification{
    min-width: 425.683px;
    min-height: 316px;
    max-width: 100%;
}
.media-body{

    background: #466b8d;
    float: left;
    margin: 0;
    width: 100%
}
.canvas{
    height: 500px;
    width: 150px;
}
