body{
text-align: left;
}
ul, ol{text-align:left}
.lazy-container{
	min-height: 90px;
	height: 100px;
	max-height:300px; 
	margin-top:300px;}
.lazy-img{
	height:200px;
	max-height:300px; 
	opacity:0;

}