.footer{
    position: fixed;
    bottom: 0;
    z-index:1;
    height: 400px;
    width: 100%;
    background-color:$color-brand2;

    @media screen and(max-width:768px) {
        height: 1000px;
      }

    .footer_content{
        padding-top: 70px;
        @media screen and(max-width:768px) {
            padding-top: 270px;;
          }
      
        .footer_logo{
            font-size: 45px;
            color: #b22126;
            font-weight: 700;
            text-align: center;

            @media screen and(max-width:768px) {
                text-align: left;
                padding-bottom: 30px;
                padding-left: 30px;
              }
          }
          .links{
             
              ul{
              
                margin: auto;
             
                  li{
                      padding-bottom: 5px;
                      @media screen and(max-width:768px) {
                        text-align: left;
                        padding-bottom: 15px !important;
                        // padding-left: 30px;
                      }
                      a{
                          color:$color-h-bg;
                          font-weight: 700;
                          font-size: 18px;
                          text-decoration: none;
                          text-transform: uppercase;
                          &:hover{
                              color: $color-hover;
                          }
                      }
                  }
              }
          }

         .footer_contact{
            @media screen and(max-width:768px) {
                padding-top: 15px;
              }
         }
        .ft {
            @media screen and(max-width:768px) {
                text-align: left;
               
                padding-left: 30px;
             
              }
                display: flex;
                padding-left: 50px;
                margin-bottom: 20px;
                
                .icon {
                    max-width: 20px;
                    display: block;
                    img {
                        width: 100%;
                    }
                }
                li{
                    padding: 0 10px;
                    a{
                        color:$color-h-bg;
                        font-size: 16px;
                        font-weight: 700;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 11px;
                        &:hover{
                            color: $color-hover;
                        }
                    }
                }
            }

            .social{
                li{
                    padding-bottom: 5px;
                    a{
                        color:$color-h-bg;
                        font-size: 16px;
                        font-weight: 700;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 11px;
                        letter-spacing: 2px;
                        &:hover{
                            color: $color-hover;
                        }
                    }
                }
            }
        
    }

    .footer_bootm{
        
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
font-weight: 700;
font-size: 12px;
margin:auto;
color:$color-h-bg;
        padding-top: 60px;
        @media screen and(max-width:768px) {
         padding-top: 10px;
          }
        a{
            color: $color-brand;
            &:hover{
                color: $color-hover;
            }
        }
    }
}