.attendance_table{
    float:left;
    margin:22px 10px;
}
.attendance th , thead  , tr , tbody , tfoot{
    padding:1em;
    border:1px solid #ccc;
}
.table-data{
    border-left:1px solid;
    color: grey;
}
