.title-details-zen{
    font-size: 16px;
    padding-top: 15px;
    margin: 0 10px;
    line-height: 1.8;
    font-weight: 600;
    letter-spacing: 0px;
    font-family: "Open Sans", sans-serif !important;
    color: #1f2125 !important;
    text-align: left;
}

.tracking-in-expand-zen{
    animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.card-text-group{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.card-text-zen{
  color: #1f2125 !important;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Oswald", sans-serif !important;
}

.card-text-zen:hover{
  color: #f0bd7a !important;
}

.card-body-zen {
  margin-top: 10px;
  transition: all 1.5s ease-in !important;
}

.card-body-zen .card-title-zen {
  font-size: 30px !important;
  text-transform: uppercase;
  color: #1f2125;
  padding-top: 15px;
  margin: 0 10px;
  text-align: left;
  ::after, ::before {
    box-sizing: border-box;
}
}

@media screen and (max-width: 768px) {
  .card-body-zen .card-title-zen {
    font-size: 20px;
  }
}

.card-body-zen .blog-links {
  padding-top: 20px;
  margin-top: 10px;
  transition: all 1.5s ease;
}

.card-body-zen .blog-links:hover {
  transform: translateX(20px);
}

.card-body-zen ul {
  display: flex;
  padding-left: 0;
}

@media screen and (max-width: 738px) {
  .card-body-zen ul {
    display: block;
  }
}

.card-body-zen ul .icon {
  max-width: 20px;
  display: block;
}

.card-body-zen ul .icon img {
  width: 100%;
}

.card-body-zen ul li {
  padding: 0 10px;
}

.card-body-zen ul li a {
  color: #6c6a74;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}

.card-body-zen ul li a:hover {
  color: #f0bd7a;
}

.card-body-zen .card-text-group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.card-zen .img_wrapper-zen {
  overflow: hidden;
}

.card-zen .img_wrapper-zen {
  overflow: hidden;
}

.card-img-top-zen {
    border-radius: 0 !important;
    overflow: hidden !important;
    width: 100% !important;
    vertical-align: middle !important;
}

.inner-zen {
  padding: 5px;
  margin-bottom: 20px;
}

.inner-zen a {
  color: #f6faff;
  text-decoration: none;
  background-color: #333333;
  padding: 5px 20px;
  text-transform: uppercase;
}

.inner-zen a:hover{
  background-color: #333333;
}

.website_blog .o_wblog_read_text p, .website_blog .o_wblog_read_text ul, .website_blog .o_wblog_read_text ol{
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #888787;
    font-weight: 600;
}

.website_blog .o_wblog_read_text .lead{
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    animation: lead 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
}

.card-zen{
    border-radius: 0;
    border: none;
    padding-top: 10px !important;
    padding: 40px 0;
        padding-top: 40px;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.card-heading-zen{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif !important;
    color: #1f2125;
}

.card-date-hover:hover{
  color: #f0bd7a !important;
}

.card-img{
    height: 10%;
    width: 30%;
}

.menu-toggler-zen{
  border: none !important;
  color: #b36251 !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(179, 98, 81, 1.0)' stroke-width='3.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h24M4 13h24M4 19h24'/%3e%3c/svg%3e");
}

.navbar-light button:focus, button:hover {
    background: transparent !important;
}

.s_latest_posts[data-vcss="001"] .s_latest_posts_horizontal.js_get_posts .s_latest_posts_post .card-title-zen {
    padding-left: 0 !important;
}
 
 @media screen and (max-width: 768px) {
  #menu-bar{
  margin: 20px 0px 0 0;
 }
}

.cover_small {
    height: 100px !important;
    width: 100px !important;
}
.cover_big {
    margin: 3% 0 0 8%;
    height: 500px !important;
    width: 800px !important;
}

 @media screen and (max-width: 768px) {
  .cover_big {
    margin: 3% 0 0 8%;
    height: 200px !important;
    width: 250px !important;
    }
}

 @media screen and (max-width: 768px) {
  header {
    margin-bottom: 0 !important;
    }
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFFFFF;
    background-color: #000 !important;
}

.nav-link span {
    color: #bfbac9;
}

.input-group .oe_search_box{
    padding-left: 3.375rem !important;
    background-color: #333333 !important;
    color: #f6faff !important;
    height: 50px;
}

ul{
    margin-left: 0 !important;
}

.sidebar .categories ul li{
    padding-left: 0;
    padding-right: 0;
}

.product {
  margin-top: 60px;
}


.product .product_wrapper {
  margin-bottom: 90px;
}

.oe_product_cart {
    height: 348px;
    width: 255px;
    margin-left: 25px;
}

#products_grid.o_wsale_layout_list .oe_product_cart{
width: 500px;
height: 200px;
margin-left: 42px;
}
.pagination1{
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 15px;
}

.pagination1 a{
  width: 100px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  transition: .3s linear;
}

.pagination1 a:hover{
  color: #eb4d4b;
}

.bar1{
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #eb4d4b;
  bottom: 0;
  left: -100px;
  transition: .4s linear;
}

.banner_about{

        background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),  url(./../img/banner/product.jpg);

        padding: 135px 0;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        .b_head{
     margin-top: 100px;


            text-align: center;
            font-size: 45px;
            font-weight: 700;
            width: 100%;
            text-align: left;
        }
    }

.btn-change1:hover{
    -webkit-box-shadow: 50px 0px 0 0 #31708f inset , -50px 0px 0 0 #31708f inset !important;
}