
.landing * {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #212529;
}

.landing {
    //background-color: var(--white-color);
    background: #ffff;
    height: 100vh;
}

.landing .wrapper {
  padding-top: 70px;
}

.landing .wrapper .user_img {
  max-width: 100px;
  margin: auto;
}

.landing .wrapper .user_img img {
  width: 100%;
  border-radius: 50%;
}

.landing .wrapper .greeting {
  padding-top: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.landing .wrapper .search_bar .input-group {
  box-shadow: 0px 0px 16px -2px #e8e8e8;
  //background-color: var(--white-color);
  background-color: #ffff;
  width: 70%;
  margin: auto;
}

.landing .wrapper .search_bar .input-group .form-control {
  box-shadow: none !important;
  outline: none !important;
  font-size: 13px !important;
  padding: 6px 10px;
  //color: var(--text-color-1) !important;
  color: #707277 !important;
  border: none !important;
  //background-color: var(--white-color);
  background-color: #ffff;
  height: 50px;
}

.landing .wrapper .search_bar .input-group .input-group-append .btn-outline-secondary {
  padding: 10px 20px;
  background-color: transparent !important;
}

.landing .wrapper .search_bar .input-group .input-group-append .btn-outline-secondary i {
  color: #1c1818;
}

.apps {
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.apps ul {
  padding-top: 20px;
  display: flex;
  padding-left: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.apps ul li {
	margin: 5px 13px;
	padding: 2px 10px 2px 10px;
	width: 125px;
text-align: center;
}

.apps ul li a {
  //color: var(--sub-color-i-3);
  color: #3f454f;
  text-decoration: none;
}

.apps ul li a .img_wrapper {
  max-width: 50px;
  margin: auto;
}

.apps ul li a .img_wrapper img {
  width: 100%;
}

.apps ul li a p {
	font-size: 14px;
	font-weight: 500;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-top: 8px;
}

.o_main_navbar .dropdown-menu .show {
    max-height: auto !important;
    min-width: 100%;
    overflow: auto;
    margin-top: 0;
    position: static;
    top: 0;
    display: flex;
    box-shadow: none;
    border: none;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: unset;
}
.o_main_navbar .dropdown-menu.show {
    max-height: none !important;
    min-width: 100%;
    overflow: auto;
    margin-top: 0;
}
.dropdown-item.o_app.mt0 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 23px;
}
.fullscreen-menu {
    height: 100vh;
    min-width: 100%;
    overflow-y: auto !important;
    overflow-x: hidden !important;
    margin-top: 0;
    position: fixed;
    top: 0px;
    left: -1px;
    padding: 2.5rem 0;
}
.fullscreen-menu > .search-container > button.fullscreen-close {
    position: absolute;
    top: -55%;
    left: -22%;
    border-style: none;
    background: transparent;
    color: black;
    font-size: 2rem;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    @media (max-width: 768px) {
        position: absolute;
        top: -45px;
        left: 20px !important;
    }
    @media (max-width: 992px) {
        position: absolute;
        top: -45px;
        left: 0px;
    }
}
.fullscreen-menu > .search-container {
    margin-top: 30px !important;
}
.app-menu {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     margin: 0 auto;
     @media (max-width: 767.98px) {
        .dropdown-item {
            padding: 0px !important;
        }
    }
}
.app_bar .app_container a:hover {
    background: red !important;
}
.app_bar .app_container .scroll_container .app_items_wrapper .app_items {
    background-color: #ffffff;
}
.app_bar .app_container .scroll_container .app_items_wrapper .app_items .o-app-icon {
    width: 32px;
    height: 32px;
    border-radius: 0px;
}
.a_app_menu_title {
    color: white !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
    font-size: 14px;
}
.o-menu-search-result.dropdown-item.col-12.ml-auto.mr-auto {
	background-repeat: no-repeat;
	background-size: 23px;
	padding-left: 40px;
	margin-bottom: 5px;
}
.search-container.has-results {
    height: 100%;
    .search-input {
        height: 3em;
    }
    .search-results {
        height: calc(100% - 3em);
        overflow: auto;
    }
}
@media screen and (max-width: 992px){
    .apps {
        margin-left: 0;
        margin-right: 0;
    }
    .landing .wrapper {
        padding-top: 0px;
    }
}
@media (min-width: 768px) {
    .search-container {
        width: 750px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .app-menu {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: flex-start;
        margin: 0 auto;
    }
}
@media (max-width:767px) {
    .dropdown-menu.show {
        display: block;
        border-radius:0;
    }
}
@media (max-width:524px) {
    div.app-menu *::before {
        box-sizing:none;
    }
    div.app-menu *::after {
        box-sizing:none;
    }
}