.dark-mode {
    filter: invert(100%);
    img {
        filter: invert(1) !important;
    }
    .o_kanban_image_inner_pic{
        filter: invert(0) !important;
    }
    .o_kanban_image_fill_left {
        filter: invert(1) !important;
    }
}

#tp-wrap * {
    font-family: arial, sans-serif;
    box-sizing: border-box;
}
#tp-wrap *::selection {
    background: transparent;
}
#tp-wrap {
    width: 100vw; height: 100vh;
    position: fixed; top: 0; left: 0; z-index: 999;
    opacity: 0; visibility: hidden;
    transition: opacity 0.3s;
}
#tp-wrap.show {
    opacity: 1; visibility: visible;
}

#tp-box {
    position: absolute;
    top: 78%;
    left: 27%;
    transform: translate(-50%, -50%);
    width: 320px;
    display: flex; flex-wrap: wrap;
    box-shadow: 0px 0px 20px 5px #888;
    background: $bg_white !important;
}

.tp-cell {
    width: 33.3%; padding: 0 15px;
    text-align: center;
}
.tp-up, .tp-down {
    padding: 10px 0;
    color: $primary_accent;
    font-size: 32px; font-weight: 700;
    cursor: pointer;
}
.tp-val {
    width: 100%; padding: 10px 0;
    text-align: center; font-size: 22px;
    background: #fff;
}

#tp-close, #tp-set {
    width: 50%; padding: 15px 0; border: 0;
    font-size: 18px; font-weight: 700;
    color: #fff; cursor: pointer;
}
#tp-close {
    background: $secondary_btn;
}
#tp-set {
    background: $primary_accent;
}

#tp-wrap.tp-24 #tp-ap {
    display: none;
}
#tp-wrap.tp-24 #tp-hr, #tp-wrap.tp-24 #tp-min {
    width: 50%;
}

.widget-wrap {
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
}
.widget-wrap label, .widget-wrap input {
    display: block;
    padding: 10px;
    width: 100%;
}

#hash {
    width: 100px; height:100px;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 640 512" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M496 224c-79.59 0-144 64.41-144 144s64.41 144 144 144 144-64.41 144-144-64.41-144-144-144zm64 150.29c0 5.34-4.37 9.71-9.71 9.71h-60.57c-5.34 0-9.71-4.37-9.71-9.71v-76.57c0-5.34 4.37-9.71 9.71-9.71h12.57c5.34 0 9.71 4.37 9.71 9.71V352h38.29c5.34 0 9.71 4.37 9.71 9.71v12.58zM496 192c5.4 0 10.72.33 16 .81V144c0-25.6-22.4-48-48-48h-80V48c0-25.6-22.4-48-48-48H176c-25.6 0-48 22.4-48 48v48H48c-25.6 0-48 22.4-48 48v80h395.12c28.6-20.09 63.35-32 100.88-32zM320 96H192V64h128v32zm6.82 224H208c-8.84 0-16-7.16-16-16v-48H0v144c0 25.6 22.4 48 48 48h291.43C327.1 423.96 320 396.82 320 368c0-16.66 2.48-32.72 6.82-48z" /></svg>');
    background-repeat: no-repeat;
    background-position: center;
}

#code-boxx {
    font-weight: 600;
    margin-top: 30px;
    a {
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        background: #b90a0a;
        color: #fff;
    }
}

.o_cp_top .btn-bookmark {
    border-color: $dark_secondary_btn_hover_border;
    border: 1px solid;
    &.active {
        color: $bg_yellow !important;
    }
}

.menu-bookmark {
    position: absolute;
    z-index: 999;
    background-color: $bg_white;
    display: none;
    right: 0;
    top: 20vh;
    bottom: 10vh;
    min-height: 30vh;
    height: min-content;
    width: 5vw;
    box-shadow: 0px 0px 10px 0px #888;
    border-radius: 8px;
    padding: 20px 15px;
    .menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 100%;
        margin-bottom: 15px;
        .heading {
            padding: 5px 0;
            color: #253237;
            width: 100%;
            font-weight: 700;
            border: 1px solid;
            border-color: transparent;
            border-bottom-color: rgb(193, 193, 193);
            position: relative;
            margin-bottom: 15px;
            letter-spacing: .1rem;
            &::after {
                left: 0;
                content: "";
                position: absolute;
                background-color: black;
                height: 1px;
                width: 17px;
                bottom: -1px;
            }
        }
        .menu {
            padding: 5px 10px;
            color: #181818;
            margin-bottom:8px;
            text-decoration: none;
            position: relative;

            .full{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            img{
                width: 15px;
                margin-right: 8px;
            }
            svg{
                fill: #2250fc !important;
            }
            &::after {
                content: " ";
                height: 29px;
                width: 1px;
                background-color: #2250fc;
                position: absolute;
                left: 1px;
                top: 0;
                opacity: 0;
            }
            &:hover {
                background-color: #eaeaea;
                &::after {
                    opacity: 1;
                }
            }
            .full {
                display: none;
            }
        }
    }
    &:hover {
        width: 8vw;
        .menu {
            .full {
                display: inline;
            }
            .small {
                display: none;
            }
        }
    }
}
.scale-up-tr {
    -webkit-animation: scale-up-tr .4s cubic-bezier(.755, .05, .855, .06) both;
    animation: scale-up-tr .4s cubic-bezier(.755, .05, .855, .06) both
}
@-webkit-keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }
}
@keyframes scale-up-tr {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0
    }
}