.o_cp_bottom {
	justify-content: space-between;
}
@media (max-width: 1371px) {
    nav.o_main_navbar {
        display: flex;
        height: auto;
    }
    ul.o_menu_systray.topbar_icon {
        margin-left: auto;
    }
}
@media (max-width: 992px) {
    .o_action_manager.sidebar_margin {
        margin: 0 !important;
    }
    .top_heading.sidebar_margin {
        margin: 0 !important;
    }
    div.o_menu_sections_more .o-dropdown--menu {
        position: fixed !important;
    }
    .sidebar_panel .sidebar {
        position: relative;
        padding-top: 0px !important;
    }
    .sidebar_panel .sidebar_close {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .o_form_view .o_group {
        width:100% !important;
    }
    .dropdown-menu.show {
        display: block;
        border-radius:0;
    }
    .breadcrumb{
        background-color: transparent !important;
    }
    .o_control_panel .breadcrumb > li {
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
//     .o_control_panel .o_cp_top_right {
//         display: none;
//     }
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        border: 1px solid #c8c8d3;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
        background: white;
        margin: 4.8px auto;
        padding: 24px;
        padding-right: 16px;
        padding-left: 16px;
    }
    .oe_topbar_name {
        display:none;
    }
    .nav-container {
        position: relative;
        width: 100vw !important;
        display: flex;
        align-items: start;
        margin-top: 2rem;
    }
//     .o_cp_top {
//         flex-wrap: wrap !important;
//     }
    .o_cp_top_left, .o_cp_searchview {
        width: 100%;
    }
    .o_cp_top_right {
        width: 100%;
        margin: 1.5rem auto;
        margin-left: 0 !important;
    }
    //Search Panel
    .o_content .o_controller_with_searchpanel, .o_controller_with_searchpanel {
        display:flex !important;
        flex-direction: column !important;
    }
    .o_search_panel {
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        height: 200px;
        width: 100%;
        section {
            margin-right: 1rem;
        }
    }
    .o_search_panel section {
        width: 100% !important;
    }
    .o_setting_container {
        display: flex;
        flex-direction: column;
    }
    .settings_tab {
        display: flex;
        flex-direction: row !important;
        overflow-x: auto;
        height: 40px;
    }
    .settings {
        margin-top: 1.5rem;
    }
    .o_kanban_view.o_kanban_ungrouped .o_kanban_record {
        margin: 2px 2px 2px 2px;
    }
    .o_Message .o_Message_content div p a {
        background-color: var(--button-bg) !important;
    }
}
@media (max-width: 575.98px) {
    .o_main_navbar .o_menu_sections {
        max-width: 200px;
        overflow-x: auto;
        flex-wrap: nowrap !important;
    }
    .o_search_panel {
        flex: auto;
    }
}
@media (max-width:524px) {
    .o_control_panel .o_cp_bottom_right > .o_cp_pager {
        margin-top:5px;
        margin-bottom:5px;
    }
    div.app-menu *::before {
        box-sizing:none;
    }
    div.app-menu *::after {
        box-sizing:none;
    }
}
@media (max-width:493px) {
    .o_control_panel .o_cp_bottom_left > .o_cp_action_menus {
        margin-left: 0px;
        padding-right: 10px;
    }
}
@media (max-width: 480px) {
    ul.o_menu_apps {
        padding-left: 25px;
    }
//     .o_control_panel {
//         margin: 15px 10px 0 10px;
//     }
    .o_control_panel > div {
        flex-wrap: wrap;
    }
    .o_cp_top_left, .o_cp_top_right,
    .o_cp_bottom_left, .o_cp_bottom_right {
        width: 100%;
    }
    .o_widget_Discuss .o_Discuss.o-mobile:not(.o-adding-item) {
        border: none !important;
    }
    html .o_web_client > .o_action_manager {
        overflow: auto !important;
    }
    ul.o_menu_systray.topbar_icon li:nth-child(1) {
        margin-left: 20px;
    }
    .o_main_navbar .o_user_menu {
        margin-left: 20px;
    }
    .sidebar_panel .sidebar .sidebar_logo img {
        max-width: 112px;
    }
    .sidebar_panel .sidebar .sidebar_logo {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 5px;
    }
    li.o_switch_company_menu.show .dropdown-menu.dropdown-menu-right.show {
        right: auto !important;
        left: 0px;
    }
    ul.o_menu_systray.topbar_icon .dropdown-menu.show{
        left: 0px !important;
        right: auto !important;
    }
    ul.o_menu_systray.topbar_icon {
        margin-left: 0;
    }
    .o_MessagingMenu_dropdownMenu.o-mobile {
        top: 70px;
    }
    .o_control_panel .o_cp_bottom_right {
        flex-wrap: wrap;
    }
    .o_form_view .o_form_statusbar {
        flex-wrap: wrap;
    }
//     .btn {
//         padding: 2px 10px !important;
//         height: 35px !important;
//     }
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before,
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
        border-top: 17px solid transparent !important;
        border-bottom: 16px solid transparent !important;
    }
    .o_statusbar_status.o_field_widget.o_readonly_modifier {
        width: 100%;
        justify-content: end;
        margin-top: 5px;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_buttons > .btn {
        margin: 1px 0px 4px 0;
    }
    .o_form_statusbar .o_statusbar_buttons .btn {
        margin-right: 5px !important;
    }
    .o_control_panel .o_cp_bottom_left > .o_cp_action_menus .o_dropdown_toggler_btn {
        margin-right: 3px;
    }
    .o_form_view .o_form_sheet_bg > .o_form_sheet {
        min-width: auto;
    }
    .nav-tabs .nav-link {
        padding: 8px;
    }
    .o_form_view .o_group .o_group_col_6 {
        width: 100%;
    }
    .o_kanban_view.o_kanban_ungrouped .o_kanban_record {
        flex-wrap: wrap;
    }
    .o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left {
        border-radius: 5px;
    }
}

//news item

@media screen and (max-width: 992px){
.o_cp_top{
display:block !important;
.o_cp_top_right{
margin-top: 15px !important;
width: 100% !important;
}
}
}

@media screen and (max-width: 768px){

.o_cp_bottom_left{
padding-bottom: 15px !important;
}

    body .o_action_manager .o_action .o_control_panel .o_cp_bottom .o_cp_bottom_right, .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right {
        display:block !important;

    }
}