// Sidebar and open-icon
a#closeSidebar, a#openSidebar {
    margin-left: 10px;
    color: white;
}
#sidebar_panel {
    height: 100%;
	position: fixed;
//    background-color: $nav_bar_color;
//    background-color: #17252A;
    background-color: var(--tr-button-bg);
    box-shadow: 0px 4px 11px 0px #888;
    display: none;
    width: 200px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    z-index: 999;
}
#sidebar_panel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.sidebar_panel .sidebar {
    padding: 0;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-top: 5px;
}
.m-sidebar {
    width: 100px !important;
}
.sidebar_panel .sidebar_close {
    text-align: end;
    display: none;
    position: sticky;
    height: 35px;
    padding-top: 5px;
    top: 0;
    background: var(--tr-button-bg);
    z-index: 1;
}
.sidebar_panel .sidebar_close a#closeSidebar {
    font-size: 18px;
    margin-right: 10px;
    color: #ffffff;
    opacity: .3;
}
.sidebar_panel .sidebar_close a#closeSidebar img {
    width: 15px;
}
.sidebar_panel .sidebar .sidebar_logo {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.sidebar_panel .sidebar .sidebar_logo img {
    max-width: 150px;
}
.sidebar_panel .o_switch_company_menu {
    display: none !important;
}

.m-sidebar .sidebar .sidebar_logo .x-logo {
    max-width: 98px;
}
.sidebar_panel .sidebar .sidebar_head {
    padding-top: 20px;
    padding-left: 15px;
    color: #6a7187;
    font-size: 14px;
}
.sidebar_panel .sidebar .sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar_panel .sidebar .sidebar_menu li {
    margin: 0;
    padding: 0;
    border: 0px;
    display: block;
}
.sidebar_panel .sidebar .sidebar_menu li a {
    margin: 0;
    border: 0px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    padding: 8px 10px 8px 25px;
    color: #514949;
    font-size: 13px;
    transition:.3s all;
}
.sidebar_panel .sidebar .sidebar_menu li:hover  a {
    background: #1e2230;
    color: #fff;
}
.sidebar_panel .nav-link {
	opacity: .5;
    transition:.3s all;
}
.sidebar_panel .sidebar a.nav-link.active {
    color: #000 !important;
	opacity: 1;
}
.sidebar_panel .sidebar .sidebar_menu li a .sidebar_img {
    width: 20px;
    margin-right: 8px;
}

.m-sidebar .sidebar .sidebar_menu li a .sidebar_img {
    width: 40px;
}

// Navbar style for Sidebar
.top_heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.top_heading > a {
    margin-left: 10px;
}
nav.o_main_navbar.small_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}
// Responsive
@media (max-width: 1371px) {
    nav.o_main_navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        height: auto;
    }
    ul.o_menu_systray.topbar_icon {
        margin-left: auto;
    }
}
@media (max-width: 575.98px) {
    .o_main_navbar .o_menu_sections {
        max-width: 200px;
        overflow-x: auto;
        flex-wrap: nowrap !important;
    }
    .o_search_panel {
        flex: auto;
    }
}
@media (max-width:480px) {
    ul.o_menu_apps {
        padding-left: 25px;
    }
    .o_control_panel {
        margin: 15px 10px 0 10px;
    }
    .o_control_panel > div {
        flex-wrap: wrap;
    }
    .o_cp_top_left, .o_cp_top_right,
    .o_cp_bottom_left, .o_cp_bottom_right {
        width: 100%;
    }
    .sidebar_panel .sidebar .sidebar_logo img {
        max-width: 112px;
    }
    .sidebar_panel .sidebar .sidebar_logo {
        padding-top: 20px;
        text-align: center;
        padding-bottom: 5px;
    }
}
@media (max-width:992px) {
    .o_action_manager.sidebar_margin {
        margin: 0 !important;
    }
    .top_heading.sidebar_margin {
        margin: 0 !important;
    }
    .sidebar_panel .sidebar {
        position: relative;
        padding-top: 0px !important;
    }
    .sidebar_panel .sidebar_close {
        display: block !important;
    }
}

.sidebar .o_menu_systray > *{
    display: none;
    &:last-child{
        display: block !important;
        max-width: 80px;

        .dropdown-toggle{
            padding-left: 15px !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .dropdown-toggle .oe_topbar_name{
//             display: none !important;
            white-space: break-spaces;
            color: #514949;
        }

        @media (max-width: 767.98px) {
            display: none !important;
        }
    }
}

.m-sidebar .sidebar .oe_topbar_name{
    display: none !important;
    
}



.m-sidebar .sidebar .dropdown-toggle{
    justify-content: center;
}

.sidebar .o_menu_systray .o_user_menu .dropdown-toggle{
    width: 100%;
    background-color: transparent;
    border: none;
    height: 80px;
    img{
        width: 40px;
        height: 40px;
    }
    &:hover{
        background-color: var(--secoundary-hover) !important
    }
}
.sidebar .o_menu_systray .o_user_menu .o-dropdown--menu {
    display: flex;
    top: 10px !important;
    left: 80px !important;
    overflow: visible;
    z-index: 2;

    &:after{
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-color: transparent #fff;
        border-width: 10px 12px 10px 0;
        top: 12%;
        left: -12px;
    }
}
.has-company .o_menu_systray .o_user_menu .o-dropdown--menu {
    top: 85px !important;
}
.o_main_navbar .o_menu_systray{
    margin-right: 20px !important;
    display: flex !important;
    flex-wrap: wrap;
}
.o_main_navbar .o_MessagingMenu,
.o_main_navbar .o_mail_systray_item{
    margin-left: 10px !important;
}
// .o_main_navbar .o_user_menu{
//     display: none !important;
//     @media (max-width: 768px) {
//          display: block !important;
//     }
// }
.o_main_navbar .o_menu_systray {
    @media (max-width: 768px) {
        margin-right: 0px !important;
    }
}
.sidebar > .o_menu_systray > .o_user_menu{
    margin-left: 0px;
}
.o_menu_systray .dropdown-toggle:hover:hover {
    background-color: var(--primary-hover) !important;
    text-decoration: none !important;
}
.o_menu_sections_more .o-dropdown--menu{
    position: absolute !important;
}

.recent-apps{
    display: flex;
    justify-content: center;
    position: relative;
    .drag-infinito {
        height: 30px;
        width: 30px;
        position: relative;
        top: -62px;
        background-color: white;
        box-shadow: 0px 0px 5px 5px rgba(158, 158, 158, 0.15);
    }

    .icon-tray {
        z-index: 10;
        background-color: $bg_white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        display: flex;
        box-shadow: 0px 0px 5px 5px rgba(158,158,158,0.15);
        list-style: none    ;
        .icon {
            text-align: center;
            padding: 10px 0px;
            width: 70px;


            &:hover {
                background-color: white;
                text-decoration: none;
                transition: all .2s ease-in-out;

            width: 80px;
                &:first-child {
                    border-top-left-radius: 10px;
                }
                &:last-child {
                    border-top-right-radius: 10px;
                }
                & span {
                    display: block;

                    margin-top: 15px;
                }
                & img {
                    display: none;
                }
            }
            & span {
                display: none;
                color: #181818e7;
                font-weight: 600;

            }
            & img {
                display: flex;
            }

            &.active {
                background: tomato;
                mix-blend-mode: difference;
                &:hover {
                    background-color: orangered;
                }
                &:first-child {
                    border-top-left-radius: 10px;
                }
                &:last-child {
                    border-top-right-radius: 10px;
                }
            }
            .img_wrapper{
                max-width: 40px;
                margin: auto;
                img{
                    width: 100%;
                    border-radius: 5px;
                }
            }

        }
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}