//RTL
.infinito-rtl {
    *, *::after, *::before {
        direction: rtl !important;
    }
    .o_main_navbar .o_menu_systray {
        margin-right: auto !important;
    }
    .sidebar * {
        direction: ltr !important;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_status {
        margin-left: 0;
        flex-direction: row-reverse;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child)::before,
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child)::after {
        rotate: 180deg;
        left: -10px;
        right: auto;
    }
    .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child)::before {
        left: -11px;
        right: auto;
    }
    .o_arrow_button {
        padding-left: 10px;
        padding-right: 25px;
    }
    .dropdown-toggle.btn.btn-light > * {
        margin-left: 2px;
    }
    .o_form_view .oe_button_box + .oe_title, .o_form_view .oe_button_box + .oe_avatar + .oe_title {
        width: 115px;
    }
    .o_control_panel .o_cp_bottom_left > .o_cp_action_menus {
        margin-right: auto;
        margin-left: 0;
    }
    .o_control_panel .o_cp_bottom_right > .o_cp_pager {
        margin: auto auto auto 0;
    }
    .modal-header .close {
        margin: -1rem -1rem -1rem 0;
    }
    .o_pager .btn-group {
        direction: ltr !important;
    }
    .o_DiscussSidebarCategory_command:first-child {
        margin-left: 5px;
    }
    .o-no-caret > i, button[aria-pressed="true"] {
        margin-left: 4px;
    }
    .o_list_buttons.d-flex > * {
        margin-left: 5px;
    }

    .theme_editor * {
      direction: ltr !important;
    }

}