.o_list_view .o_list_table tbody tr{
    @for $tr from 1 through 80 {
        &:nth-child(#{$tr}) {
            animation: infinito_lazy_show #{$tr * .1}s ease-in;
        }
    }
}

.o_form_view {
    .o_form_sheet_bg {
        .o_form_sheet {
            animation: infinito_lazy_show .5s ease-in;
        }
    }
}

.o_kanban_view {
    .oe_kanban_card, .o_kanban_record {
        @for $tr from 1 through 80 {
            &:nth-child(#{$tr}) {
                animation: infinito_kanban_shake #{$tr * .1}s ease-in;
            }
        }
    }
}

// .backend_theme_studio_sidebar, .backend_theme_studio_menu{
//     animation: infinito_lazy_up 1s ease-in;
// }

@keyframes infinito_lazy_load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes infinito_lazy_show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes infinito_lazy_up {
  0% {
    margin-top: 200px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes infinito_kanban_shake {
  0% {
    transform: rotate(-5deg);
    opacity: 0;
  }

  20% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-3deg);
  }

  60% {
    transform: rotate(3deg);
  }

  80% {
    transform: rotate(-1deg);
  }

  90% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}