.invoice-list{
    font-size: 16px;
    width: 100%;
}

.invoice-list th,
.invoice-list td {
    padding: 12px 8px;
}

.invoice-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}

.invoice-list thead > tr,
.invoice-list tr:nth-child(even) {
    background: rgb(247,247,247);
}

#journal{
    display: block;
    border: 0;
    background: white;
    border-radius: 5px;
    width: 70%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#amount{
    min-height: 18px;
    max-height: 37px !important;
    margin-top: 5px;
    overflow: hidden;
    width: 70%;
    max-height: 6%;
    border-radius: 6px;
    height: 42%;
}