$primary_accent: #83d8ae ;
$secondary_accent: #e9f0f2 !default;
$inverse_accent: #ffffff !default;
$o-kanban-color-border-width: 8px;
$selected_row: #ffffff !default;
$bg_white: #0f1017 !default;
$f_color: #9a9cab !default;
$primary_hover: #485ec4 !default;

/*darkmode*/
$primary-darkmode: #181821 !default;

body.bg-100 #wrapwrap > main {
    background: #181821;
    overflow: hidden !important;
}
.navbar {
    background: #fff !important;
}
body {
    font-family: 'Poppins', sans-serif !important;
}
body.bg-100 {
    background-color: #black !important;
}
.card.o_database_list .card-body {
    background-color: black !important;
}
.card-body {
    background-color: rgba(255, 255, 255, 0.9) !important;
    color: #9a9cab;
}
a {
    color: #83d8ae;
    text-decoration: none;
}
a:hover {
    color: #62b98e;
    text-decoration: underline;
}
button.btn.btn-link.btn-sm.btn-block {
    color: #bbb;
}
.alert-info {
    color: #306391;
    background-color: #dcedfc;
    border-color: #cbe4fb;
}
.oe_login_form button.btn-link {
    color: #495057;
    font-weight: 500;
    font-size: 14px !important;
}
.oe_login_form button.btn-link:hover {
    color: #171a1c;
}

//login button starts
.btn-primary {
    color: #355261 !important;
    background-color: #83d8ae !important;
    border-color: #83d8ae !important;
}
.btn-primary:hover {
    color: #355261;
    background-color: #62b98e;
    border-color: #62b98e;
}
.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #485ec4 !important;
    border-color: #4458b8 !important;
    -webkit-box-shadow: 0 0 0 .15rem rgba(111,132,234,.5) !important;
    box-shadow: 0 0 0 .15rem rgba(111,132,234,.5) !important;
}
.oe_login_form .btn {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.btn-secondary {
    color: #fff !important;
    background-color: #74788d !important;
    border-color: #74788d !important;
}
.btn-secondary:hover {
    color: #fff !important;
    background-color: #636678 !important;
    border-color: #5d6071 !important;
}
.btn-secondary:active {
    color: #fff;
    background-color: #5d6071 !important;
    border-color: #575a6a !important;
}
.btn-secondary i,.btn-secondary span {
    color: #fff !important;
}

//input starts
.form-control:disabled, .o_wysiwyg_loader, .form-control[readonly] {
    background-color: #838398;
}
.bg-100 {
    background-color: black !important;
    color: #000000;
}
