a#myModal{
    margin-top: -56px;
    margin-left: 1137px;
}
@media screen and (max-width: 1600px) {
    .modal.show .modal-dialog{
        max-height:56% !important;
    }
}
@media screen and (max-width: 991px) {
    .modal.show .modal-dialog{
        max-height:56% !important;
    }
}
@media screen and (max-width: 768px) {
    .form-field .col-md-3
        text-align:left !important;
    }
    .form-field  .o_website_form_input{
        width:96% !important;
    }
    .modal-body{
        background-color:#fff;
    }
    .modal.show .modal-dialog{
        max-height:50% !important;
    }
    .contact_form{
        width:100% !important;
    }
}
@media screen and (max-width: 500px) {
    a#myModal{
        margin-top: -47px;
        margin-left: 182px;
    }
    .modal-dialog.modal-content{
        min-height: 440px !important;
        max-width: 100% !important;
    }
    .contact_form form label{
        width:48% !important;
    }
    .contact_form form .form-control {
        width: 100% !important;
}
}
.btn-add-contact{
    background: none;
    border: none;
}
.btn-add-contact a{
    color: white !important;
    padding: 0px 36px !important;
    height: 36px !important;
    display: flex;
    align-items: center;
    outline: none !important;
    border-radius: 9px;
    box-shadow: none;
    background-color: #35979c;
    }
   .o_popup_btn_close{
    color: #FFFFFF;
    background-color: #35979c;
    border-color: #35979c;
    font-size:1rem !important;
    margin-left:9px;
    }
    .o_popup_btn_close:hover{
    color:#fff !important;
    background-color:#2d8084;
    }
    a#myModal{
    position: absolute;
    right: 17px;
    top: 12px;
    margin:0px !important;
    }
.contact_form{
    margin: auto;
    width: 750px;
}
.contact_form .form-group{
    margin-bottom:16px;
}
.contact_form  form label {
    font-weight: 700;
    float: left;
    width: 17%;
}
.contact_form  form  .form-control {
    width:83%;
}
.contact-success{
    width: 369px;
    margin: auto;
    margin-top: 14%;
    font-size:18px;
    border-radius:43px;
}
.contact-success span{
    padding-right:7px;
    font-size:22px;
}
