.btn {
    border: none !important;
    outline: 0 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    &-primary {
//         border-radius: 25px 25px;
        border: 2px solid var(--white-color) !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        background-color:transparent !important;
        color: var(--white-color) !important;
        transition: all 0.3s;
      
        line-height: 14px;
        &:hover {
            background-color: var(--white-color) !important;
            color: var(--level-color-1) !important;
        }
    }

    &-secondary {
        border-radius:0;
        border: 2px solid var(--white-color) !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        background-color:transparent;
        color: var(--white-color) !important;
        transition: all 0.3s;
      
        line-height: 14px;
        &:hover {
            background-color: var(--white-color) !important;
            color: var(--level-color-1) !important;
        }
    }
    &-service {
        border-radius: 0px;
        border: none imo !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        background: rgb(241, 104, 104);
        background: linear-gradient(38deg, rgba(241, 104, 104, 1) 14%, rgba(252, 176, 23, 1) 60%, rgba(252, 176, 23, 1) 100%);
       
        color: var(--white-color) !important;
        transition: all 0.3s;
      
        line-height: 14px;
        &:hover {
            transform: scale(1.1);
        }
    }
    &-price {
        border-radius: 0;
        border: 2px solid var(--level-color-1) !important;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        background-color:transparent ;
        color: var(--level-color-1) !important;
        transition: all 0.3s;
      
        line-height: 14px;
        &:hover {
            background-color:var(--level-color-1);
            color: var(--white-color) !important;
        border: none;

        }
    }
    &-price_m {
        border-radius: 0;
        border: none;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        background-color:var(--level-color-1);
        color: var(--white-color) !important;
        transition: all 0.3s;
      
        line-height: 14px;
        &:hover {
            background-color: transparent;
            color: var(--level-color-1) !important;
            border: 2px solid var(--level-color-1) !important;
        }
    }

    &-join {
        border-radius: 0;
        border: none;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.6px;
        text-decoration: none;
        padding: 15px 25px;
        position: relative;
        text-transform: uppercase;
        background-color:var(--white-color);
        color: var(--level-color-1) !important;
        transition: all 0.3s;
      
        line-height: 14px;
        &:hover {
            background-color:var(--level-color-1);
            color: var(--white-color) !important;
        border: none;

        }
    }

}