.o_web_client {
    display: grid !important;
    grid-template-areas:
        "banner banner"
        "navbar navbar"
        "components components"
        "content sidebar";
    grid-template-columns: 1fr 100px;
    grid-template-rows: auto auto 1fr;

    > div:has(#oe_neutralize_banner) {
        grid-area: banner;
    }
    > .o_navbar {
        grid-area: navbar;
    }
    > .o_action_manager {
        grid-area: content;
    }
    > .o-main-components-container {
        grid-area: components;
    }
    > .sidebar_panel {
        grid-area: sidebar;
        width: 100px; /* Fixed width for the sidebar */
        overflow-y: auto; /* Allow scrolling if content overflows */
        padding-top:0px;
    }
    > .task, > .note, > .contacts, > .calender {
        grid-row: 4; /* Ensure all organizers occupy the same grid row */
        width: 300px; /* Fixed width for the organizers */
    }

    /* Responsive styles */
    @media (max-width: 700px) {
        .o_web_client {
            grid-template-areas:
                "banner"
                "navbar"
                "components"
                "content"
                "sidebar"; /* Stack elements vertically */
            grid-template-columns: 1fr; /* Full width for all items */
        }
        > .sidebar_panel {
            width: 100%; /* Make sidebar full width on small screens */
        }
        > .task, > .note, > .contacts, > .calender {
            width: 100%; /* Make organizers full width on small screens */
        }
    }
}
