.style2 {
  position: relative;
  width: 40px;
  height: 40px;
  display: block;
  text-align: center;
  margin: 0 8px;
  border-radius: 50%;
  padding: 4px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #f5f5f5, #fff);
  transition: .5s;
}
.style2:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}
.style2 .fa {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #f5f5f5);
  border-radius: 50%;
  line-height: calc(40px - 8px);
  font-size: 16px;
  color: #333;
  transition: .5s;
}
.style2:hover .fa-facebook {
  color: #3b5998;
}
.style2:hover .fa-twitter {
  color: #00aced;
}
.style2:hover .fa-pinterest {
  color: #bd081c;
}
.style2:hover .fa-reddit {
  color: #ff4500;
}
.style2:hover .fa-hacker-news {
  color: #ff6600;
}
.style2:hover .fa-envelope {
  color: #007bff;
}
.style2:hover .fa-linkedin {
  color: #007bb6;
}
.style2:hover .fa-hacker-news {
  color: #ff6600;
}
.style2:hover .fa-whatsapp {
  color: #25d366;
}
