.style11 {
  position: relative;
  font-size: 18px;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #333;
  text-decoration: none;
}
.style11 .fa {
  padding: 20px;
  font-size: px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin: 1px -7px;
}
.style11 .fa:hover {
    opacity: 0.7;
}
.style11 .fa-facebook{
    color: white;
    background-color: #3b5999;
}
.style11 .fa-twitter{
    color: white;
    background-color: #46c1f6;
}
.style11 .fa-pinterest{
    color: white;
    background-color: #dd4b39;
}
.style11 .fa-reddit{
    color: white;
    background-color: #007bff;
}
.style11 .fa-envelope{
    color: white;
    background-color: #dd4b39;
}
.style11 .fa-linkedin{
    color: white;
    background-color: #007bb6;
}
.style11 .fa-hacker-news{
    color: white;
    background-color: #e4405f;
}
.style11 .fa-whatsapp{
    color: white;
    background-color: #28a745;
}
