.o_legacy_kanban_view.o_kanban_ungrouped
.o_kanban_record {
 flex-direction: column;
 min-height: 230px;
 width: 166px;
 border-radius: 10px;
}
.o_kanban_attachment {
  padding: 0;
  height: 140px;
  align-items: center;
}
.o_kanban_record_title{
 margin-bottom: 4px;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
 width: 100%;
 }
 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
  text-rendering: auto;
}
.check_box{
    margin-left:90%;
}
.o_activity_btn span.fa {
  color: inherit;
  font-size: large;
  margin-right: 1px;
  margin-left: 10px;
}
.new_container {
    margin-top: 21px;
    padding: 12px;
    padding-top: 2px;
    padding-left: 15px;
    z-index: 9;
    position: absolute;
    margin-left: 94%;
    align-items: center;
    background-color: white;
    width: fit-content;
}
.new_container button{
      padding-left:0;
      width:10%;
       font-size:200%;
}
.new_container button:hover{
      background-color:LightGray;
}
