.header_modern_light {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: transparent;
  .mobile_toggler {
    position: absolute;
    right: 25px;
    top: 20px;
  }
  @media screen and(max-width:992px) {
    position: unset;
  }
  .nav_modern {
    transition: background-color 0.4s ease-out;
    width: 100%;
    @media screen and(max-width:992px) {
      padding-top: 0px;
      padding-bottom: 10px;
    }
    .top_bar1 {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 90%;
      color: var(--white-color);
      @media screen and(max-width:992px) {
        width: 100%;
        background-color: var(--eco-color-1);
        padding: 6px;
        justify-content: center;
        .right {
          display: none;
        }
      }
      .left {
        span {
          font-size: $font-text;
        }
      }
      .right {
        ul {
          li {
            margin-left: 20px;
            a {
              color: var(--white-color);
              font-size: $font-text;
              border: 1px solid;
              border-color: transparent;
              border-right-color: var(--white-color) !important;
              padding-right: 20px;
              i {
                font-size: 12px;
                margin-right: 6px;
              }
              span {
                font-size: 12px;
              }
              .form-select {
                background: transparent;
                color: var(--white-color);
                font-size: 12px;
                border: none;
                &:hover {
                  cursor: pointer;
                  color: var(--color-hover);
                }
              }
              // .form-select option{
              //   background-color: $form-select-bg;
              //   border-color: $form-select-border-color !important;
              // }
              &:hover {
                text-decoration: none;
                color: var(--color-hover);
              }
            }
            &:last-child {
              a {
                border: none !important;
              }
            }
          }
        }
      }
    }
    .navbar-toggler span {
      display: block;
      background-color: var(--eco-color-2) !important;
      height: 3px;
      width: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      position: relative;
      left: 0;
      opacity: 1;
      transition: all 0.35s ease-out;
      transform-origin: center left;
    }
    .navbar {
      background-color: var(--white-color);
      padding: 0px 15px;
      width: 90%;
      margin: auto;
      @media screen and(max-width:1200px) {
        width: 80%;
      }
      @media screen and(max-width:992px) {
        padding: 10px 15px;
        height: 100%;
        width: 100%;
        border-radius: 0;
      }
      .navbar-brand {
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 1.5px;
        position: relative;
        &:after {
          position: absolute;
          content: " ";
          width: 19px;
          height: 4px;
          background-color: var(--color-hover);
          top: 19px;
          left: 42px;
        }
      }
      .navbar-brand2 {
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .navbar-nav {
        .nav-item {
          justify-content: space-between;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          &:hover {
            .under_line {
              &::after {
                width: 100%;
                top: 40px;
                left: 0%;
                background-color: var(--eco-color-1);
              }
            }
          }
          .nav-link {
            display: flex;
            position: relative;
            span {
              position: relative;
              padding: 2px 4px;
              text-transform: capitalize;
              font-size: 13px;
              font-weight: 800;
              letter-spacing: 0.6px;
              border-radius: 0;
              border-width: 0;
              border-style: solid;
              border-color: transparent;
              transition: all 0.3s ease;
              line-height: normal;
              color: var(--eco-color-1);
            }
            i {
              // display: none;
            }
            @media screen and(max-width:992px) {
              padding: 15px 15px;
              i {
                display: inline-block !important;
              }
            }
          }
          .under_line {
            &::after {
              content: "";
              position: absolute;
              top: auto;
              bottom: -10px;
              left: 50%;
              width: 0;
              height: 2px;
              transition: all 0.3s ease;
              @media screen and(max-width:992px) {
                display: none;
              }
            }
          }
          .under_lines {
            &::after {
              content: "";
              position: absolute;
              top: 40px;
              bottom: -10px;
              width: 100%;
              left: 0%;
              background-color: var(--eco-color-2);
              height: 2px;
              transition: all 0.3s ease;
              @media screen and(max-width:992px) {
                display: none;
              }
            }
          }
        }
        .dropdown {
          overflow: visible;
          .dropdown-menu {
            top: 50px;
            background-position: right bottom;
            background-repeat: no-repeat;
            min-width: 200px;
            background-color: #fff;
            border: 0;
            color: #000;
            border-style: solid;
            border-color: #eee;
            border-width: 1px !important;
            margin: 0;
            margin-top: 0px;
            border-radius: 4px;
            box-shadow: 0px 4px 16px rgba(206, 203, 203, 50%);
            -webkit-box-shadow: 0px 4px 16px rgba(206, 203, 203, 50%);
            -moz-box-shadow: 0px 4px 16px rgba(206, 203, 203, 50%);
            padding: 10px 10px;
            // position: absolute;
            overflow: visible;
            @media screen and(max-width:992px) {
              position: relative;
              left: 0;
              border: none;
              box-shadow: none;
              top: 0px !important;
            }
            .dropdown-item {
              font-size: 10px;
              line-height: 14px;
              font-weight: 500;
              font-style: normal;
              color: #444;
              padding: 8px 10px 10px 4px;
              display: block;
              transition: 0.3s ease;
              position: relative;
              overflow: visible;
              -webkit-transition: all 0.4s ease-out;
              transition: all 0.4s ease-out;
              &:hover {
                color: var(--color-hover);
                margin-left: 10px;
                background: transparent !important;
              }
              span {
                font-size: 8px;
                border: 1px solid transparent;
                padding: 0 2px 0 2px;
                border-radius: 3px;
                color: var(--white-color);
              }
              .new {
                background-color: var(--sub-color-1);
              }
              .num {
                background-color: var(--sub-color-2);
              }
              &:hover {
                .arrow {
                  right: 10px;
                  -webkit-transition: 0.5s;
                  transition: 0.5s;
                }
              }
              .arrow {
                border: solid black;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                position: absolute;
                right: 20px;
              }
              .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }
            }
          }
        }
      }
      .icons_nav {
        margin-bottom: 0 !important;
        padding-left: 0;
        @media screen and(max-width:992px) {
          margin-left: 30px;
          position: absolute;
          top: 20px;
          right: 10px;
        }
        @media screen and(max-width:576px) {
          right: 10px;
        }
        li {
          padding: 0 10px;
        }
      }
    }
    .megamenu-li {
      position: static;
    }
    .megamenu {
      position: absolute;
      width: 60vw;
      left: auto;
      top: 62px !important;
      right: 5%;
      padding: 15px;
      box-shadow: 0 33px 32px rgba(206, 203, 203, 0.61);
      -webkit-box-shadow: 0 33px 32px rgba(206, 203, 203, 0.61);
      -moz-box-shadow: 0 33px 32px rgba(206, 203, 203, 0.61);
      padding: 15px !important;
      @media screen and(max-width:1200px) {
        width: 70vw !important;
      }
      @media screen and(max-width:992px) {
        width: auto !important;
        // top: 0 !important;
      }
      .grid_mega_menu_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and(max-width:992px) {
          grid-template-columns: repeat(1, 1fr);
        }
        // @media screen and(max-width:768px) {
        //   grid-template-columns: repeat(1, 1fr);
        // }
      }
      h6 {
        a {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 10px;
          text-decoration: none;
          color: var(--eco-color-1);
        }
        span {
          font-size: 8px;
          border: 1px solid transparent;
          padding: 0 2px 0 2px;
          border-radius: 3px;
          color: var(--white-color);
          background-color: var(--sub-color-2);
        }
      }
      .offer_add {
        padding: 40px 30px;
        @media screen and(max-width:992px) {
          padding: 20px 0;
        }
        h4 {
          color: var(--sub-color-2);
          font-size: 24px;
          font-weight: 600;
          text-transform: uppercase;
          small {
            font-size: 12px;
            font-weight: 100;
          }
        }
        .offer {
          color: var(--sub-color-2);
          font-size: 80px;
          font-weight: 800;
          @media screen and(max-width:992px) {
            font-size: 50px;
            font-weight: 700;
          }
        }
        p {
          font-size: 12px;
          color: var(--p-color2);
          font-weight: 400;
          line-height: 1.7;
        }
        .limited {
          font-style: italic;
          font-size: 12px;
          color: var(--p-color2);
          padding-top: 15px;
        }
      }
      .hover_styles {
        span {
          color: var(--sub-color-2);
          font-size: 52px;
          font-weight: 600;
          padding-right: 5px;
          @media screen and(max-width:992px) {
            font-size: 35px;
          }
          @media screen and(max-width:768px) {
            font-size: 25px;
          }
          @media screen and(max-width:576px) {
            font-size: 20px;
          }
        }
        font-size: 52px;
        font-weight: 100 !important;
        text-align: left;
        color: var(--p-color);
        @media screen and(max-width:992px) {
          font-size: 35px;
        }
        @media screen and(max-width:768px) {
          font-size: 25px;
        }
        @media screen and(max-width:567px) {
          font-size: 18px;
          font-weight: 500 !important;
        }
      }
      .nav_img {
        background-image: url(./../images/navbar/meganav.jpg);
        background-position: center;
        background-size: cover;
        height: 150px;
      }
    }
    .single {
      left: -50px;
    }
    nav {
      .navbar-collapse {
        justify-content: center;
        @media screen and(max-width:992px) {
          background-color: white;
          height: 107vh !important;
          padding: 20px;
          margin-top: 15px;
          overflow: scroll;
          justify-content: start !important;
        }
      }
      ul {
        .megamenu-li {
          &:hover {
            .dropdown-menu {
              display: block !important;
              animation: fade-in-out 0.3s ease;
            }
          }
        }
      }
    }
    .navbar-nav li:hover>ul.dropdown-menu {
      display: block;
    }
    .dropdown-submenu {
      position: relative;
    }
    .dropdown-submenu>.dropdown-menu {
      top: 0;
      margin-top: -6px;
      float: left !important;
    }
    /* rotate caret on hover */
    .dropdown-menu>li>a:hover:after {
      text-decoration: underline;
      transform: rotate(-90deg);
    }
  }
}
.header_modern_product {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1030;
  background-color: transparent;
  .mobile_toggler {
    position: absolute;
    right: 25px;
    top: 20px;
  }
  @media screen and(max-width:992px) {
    position: unset;
  }
  .nav_modern {
    transition: background-color 0.4s ease-out;
    width: 100%;
    @media screen and(max-width:992px) {
      padding-top: 0px;
      padding-bottom: 10px;
    }
    .top_bar1 {
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 100%;
      color: var(--white-color);
      padding: 8px 54px;
      @media screen and(max-width:992px) {
        width: 100%;
        background-color: var(--eco-color-1);
        padding: 6px;
        justify-content: center;
        .right {
          display: none;
        }
      }
      .left {
        span {
          font-size: $font-text;
        }
      }
      .right {
        ul {
          margin-bottom: 0;
          li {
            margin-left: 20px;
            a {
              color: var(--white-color);
              font-size: $font-text;
              border: 1px solid;
              border-color: transparent;
              border-right-color: var(--white-color) !important;
              padding-right: 20px;
              i {
                font-size: 12px;
                margin-right: 6px;
              }
              span {
                font-size: 12px;
              }
              .form-select {
                background: transparent;
                color: var(--white-color);
                font-size: 12px;
                border: none;
                &:hover {
                  cursor: pointer;
                  color: var(--color-hover);
                }
              }
              // .form-select option{
              //   background-color: $form-select-bg;
              //   border-color: $form-select-border-color !important;
              // }
              &:hover {
                text-decoration: none;
                color: var(--color-hover);
              }
            }
            &:last-child {
              a {
                border: none !important;
              }
            }
          }
        }
      }
    }
    .navbar-toggler span {
      display: block;
      background-color: var(--eco-color-2) !important;
      height: 3px;
      width: 25px;
      margin-top: 5px;
      margin-bottom: 5px;
      position: relative;
      left: 0;
      opacity: 1;
      transition: all 0.35s ease-out;
      transform-origin: center left;
    }
    .navbar {
      background-color: var(--white-color);
      padding: 0px 15px;
      width: 100%;
      margin: auto;
      @media screen and(max-width:992px) {
        padding: 10px 15px;
        height: 100%;
        width: 100%;
        border-radius: 0;
      }
      .navbar-brand {
        font-size: 35px;
        font-weight: 800;
        letter-spacing: 1.5px;
        position: relative;
        &:after {
          position: absolute;
          content: " ";
          width: 19px;
          height: 4px;
          background-color: var(--color-hover);
          top: 19px;
          left: 42px;
        }
      }
      .navbar-brand2 {
        position: absolute;
        top: 33px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .navbar-nav {
        .nav-item {
          justify-content: space-between;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          &:hover {
            .under_line {
              &::after {
                width: 100%;
                top: 40px;
                left: 0%;
                background-color: var(--eco-color-1);
              }
            }
          }
          .nav-link {
            display: flex;
            position: relative;
            span {
              position: relative;
              padding: 2px 4px;
              text-transform: capitalize;
              font-size: 13px;
              font-weight: 800;
              letter-spacing: 0.6px;
              border-radius: 0;
              border-width: 0;
              border-style: solid;
              border-color: transparent;
              transition: all 0.3s ease;
              line-height: normal;
              color: var(--eco-color-1);
            }
            i {
              // display: none;
            }
            @media screen and(max-width:992px) {
              padding: 15px 15px;
              i {
                display: inline-block !important;
              }
            }
          }
          .under_line {
            &::after {
              content: "";
              position: absolute;
              top: auto;
              bottom: -10px;
              left: 50%;
              width: 0;
              height: 2px;
              transition: all 0.3s ease;
              @media screen and(max-width:992px) {
                display: none;
              }
            }
          }
          .under_lines {
            &::after {
              content: "";
              position: absolute;
              top: 40px;
              bottom: -10px;
              width: 100%;
              left: 0%;
              background-color: var(--eco-color-2);
              height: 2px;
              transition: all 0.3s ease;
              @media screen and(max-width:992px) {
                display: none;
              }
            }
          }
        }
        .dropdown {
          overflow: visible;
          .dropdown-menu {
            top: 50px;
            background-position: right bottom;
            background-repeat: no-repeat;
            min-width: 200px;
            background-color: #fff;
            border: 0;
            color: #000;
            border-style: solid;
            border-color: #eee;
            border-width: 1px !important;
            margin: 0;
            margin-top: 0px;
            border-radius: 4px;
            box-shadow: 0px 4px 16px rgba(206, 203, 203, 50%);
            -webkit-box-shadow: 0px 4px 16px rgba(206, 203, 203, 50%);
            -moz-box-shadow: 0px 4px 16px rgba(206, 203, 203, 50%);
            padding: 10px 10px;
            // position: absolute;
            overflow: visible;
            @media screen and(max-width:992px) {
              position: relative;
              left: 0;
              border: none;
              box-shadow: none;
              top: 0px !important;
            }
            .dropdown-item {
              font-size: 10px;
              line-height: 14px;
              font-weight: 500;
              font-style: normal;
              color: #444;
              padding: 8px 10px 10px 4px;
              display: block;
              transition: 0.3s ease;
              position: relative;
              overflow: visible;
              -webkit-transition: all 0.4s ease-out;
              transition: all 0.4s ease-out;
              &:hover {
                color: var(--color-hover);
                margin-left: 10px;
                background: transparent !important;
              }
              span {
                font-size: 8px;
                border: 1px solid transparent;
                padding: 0 2px 0 2px;
                border-radius: 3px;
                color: var(--white-color);
              }
              .new {
                background-color: var(--sub-color-1);
              }
              .num {
                background-color: var(--sub-color-2);
              }
              &:hover {
                .arrow {
                  right: 10px;
                  -webkit-transition: 0.5s;
                  transition: 0.5s;
                }
              }
              .arrow {
                border: solid black;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 3px;
                position: absolute;
                right: 20px;
              }
              .right {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
              }
            }
          }
        }
      }
      .icons_nav {
        margin-bottom: 0 !important;
        padding-left: 0;
        @media screen and(max-width:992px) {
          margin-left: 30px;
          position: absolute;
          top: 20px;
          right: 10px;
        }
        @media screen and(max-width:576px) {
          right: 10px;
        }
        li {
          padding: 0 10px;
        }
      }
    }
    .megamenu-li {
      position: static;
    }
    .megamenu {
      position: absolute;
      width: 60vw;
      left: auto;
      top: 62px !important;
      right: 5%;
      padding: 15px;
      box-shadow: 0 33px 32px rgba(206, 203, 203, 0.61);
      -webkit-box-shadow: 0 33px 32px rgba(206, 203, 203, 0.61);
      -moz-box-shadow: 0 33px 32px rgba(206, 203, 203, 0.61);
      padding: 15px !important;
      @media screen and(max-width:1200px) {
        width: 70vw !important;
      }
      @media screen and(max-width:992px) {
        width: auto !important;
        // top: 0 !important;
      }
      .grid_mega_menu_list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @media screen and(max-width:992px) {
          grid-template-columns: repeat(1, 1fr);
        }
        // @media screen and(max-width:768px) {
        //   grid-template-columns: repeat(1, 1fr);
        // }
      }
      h6 {
        a {
          font-size: 14px;
          text-transform: uppercase;
          font-weight: 700;
          margin-top: 10px;
          text-decoration: none;
          color: var(--eco-color-1);
        }
        span {
          font-size: 8px;
          border: 1px solid transparent;
          padding: 0 2px 0 2px;
          border-radius: 3px;
          color: var(--white-color);
          background-color: var(--sub-color-2);
        }
      }
      .offer_add {
        padding: 40px 30px;
        @media screen and(max-width:992px) {
          padding: 20px 0;
        }
        h4 {
          color: var(--sub-color-2);
          font-size: 24px;
          font-weight: 600;
          text-transform: uppercase;
          small {
            font-size: 12px;
            font-weight: 100;
          }
        }
        .offer {
          color: var(--sub-color-2);
          font-size: 80px;
          font-weight: 800;
          @media screen and(max-width:992px) {
            font-size: 50px;
            font-weight: 700;
          }
        }
        p {
          font-size: 12px;
          color: var(--p-color2);
          font-weight: 400;
          line-height: 1.7;
        }
        .limited {
          font-style: italic;
          font-size: 12px;
          color: var(--p-color2);
          padding-top: 15px;
        }
      }
      .hover_styles {
        span {
          color: var(--sub-color-2);
          font-size: 52px;
          font-weight: 600;
          padding-right: 5px;
          @media screen and(max-width:992px) {
            font-size: 35px;
          }
          @media screen and(max-width:768px) {
            font-size: 25px;
          }
          @media screen and(max-width:576px) {
            font-size: 20px;
          }
        }
        font-size: 52px;
        font-weight: 100 !important;
        text-align: left;
        color: var(--p-color);
        @media screen and(max-width:992px) {
          font-size: 35px;
        }
        @media screen and(max-width:768px) {
          font-size: 25px;
        }
        @media screen and(max-width:567px) {
          font-size: 18px;
          font-weight: 500 !important;
        }
      }
      .nav_img {
        background-image: url(./../images/navbar/meganav.jpg);
        background-position: center;
        background-size: cover;
        height: 150px;
      }
    }
    .single {
      left: -50px;
    }
    nav {
      .navbar-collapse {
        justify-content: center;
        @media screen and(max-width:992px) {
          background-color: white;
          height: 107vh !important;
          padding: 20px;
          margin-top: 15px;
          overflow: scroll;
          justify-content: start !important;
        }
      }
      ul {
        .megamenu-li {
          &:hover {
            .dropdown-menu {
              display: block !important;
              animation: fade-in-out 0.3s ease;
            }
          }
        }
      }
    }
    .navbar-nav li:hover>ul.dropdown-menu {
      display: block;
    }
    .dropdown-submenu {
      position: relative;
    }
    .dropdown-submenu>.dropdown-menu {
      top: 0;
      margin-top: -6px;
      float: left !important;
    }
    /* rotate caret on hover */
    .dropdown-menu>li>a:hover:after {
      text-decoration: underline;
      transform: rotate(-90deg);
    }
  }
}
// Search overlay
#search-btn {}
#search-btn:hover {
  cursor: pointer;
}
#search-overlay {
  display: none;
}
.block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  border: #a0a0a0 solid 1px;
  margin: 0;
  z-index: 1031;
}
.block:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 0;
  /* Adjusts for spacing */
  /* For visualization 
  background: #808080; width: 5px;
  */
}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 10px 15px;
  color: #fff;
  border: none;
  background: transparent;
  @media screen and(max-width:768px) {
    width: 70%;
  }
  @media screen and(max-width:576px) {
    width: 90%;
  }
}
#search-box {
  position: relative;
  width: 100%;
  margin: 0;
}
#search-form {
  height: 4em;
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
}
#search-text {
  font-size: 14px;
  color: #ddd;
  border-width: 0;
  background: transparent;
}
#search-box input[type="text"] {
  width: 90%;
  padding: 20px;
  color: #333;
  outline: none;
  font-size: 1.4em;
  font-weight: 600;
}
#search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 4.6em;
  width: 100px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 42px;
  border-width: 0;
  background-color: var(--sub-color-1);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
}
#close-btn {
  position: fixed;
  top: 3em;
  right: 1em;
  background-color: var(--sub-color-2);
  padding: 6px 10px;
  border-radius: 5px;
}
#close-btn:hover {
  color: #777;
  cursor: pointer;
}
.b_shadow {
  box-shadow: 0px 3px 6px 1px rgba(200, 187, 201, 0.48);
}
.navbar-toggler span {
  display: block;
  background-color: var(--white-color);
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}
/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}
/**
   * Animate collapse into X.
   */
/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}
/**
   * Animate collapse open into hamburger menu
   */
/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
  opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}
.bg_white {
  background-color: white;
  transition: background-color 0.4s ease-out;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInup {
  -webkit-animation-name: fadeInup;
  animation-name: fadeInup;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-direction: reverse;
}
@-webkit-keyframes fadeInup {
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInup {
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  0% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.topbar_margin {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030;
  background-color: #fff;
  width: 100%;
}
.mobileMenu {
  @media screen and(max-width:414px) {
    width: 65% !important;
  }
}
@media (max-width: 992px) {
  .mobileMenu {
    transform: translateX(-100%);
    position: fixed;
    top: 0px;
    bottom: 0;
    margin: auto;
    height: 100vh !important;
    left: 0;
    z-index: 1029;
    transition: all ease 0.25s;
    width: 50%;
    // padding: 50px 30px !important;
    &.open {
      transform: translateX(0%);
    }
    .navbar-nav {
      overflow-y: auto;
      margin-top: 50px;
      .form-select {
        background: transparent;
        color: var(--p-color2);
        font-size: 12px;
        border: none;
        &:hover {
          cursor: pointer;
          color: var(--color-hover);
        }
      }
      :last-child {
        border-bottom-color: transparent !important;
      }
      .nav-item {
        border: 1px solid;
        border-color: transparent;
        border-bottom-color: #cacaca;
      }
      .nav_sub_head {
        font-size: 20px !important;
        font-weight: 700 !important;
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    &.open {
      display: block;
      z-index: 1028;
    }
  }
}