.card-footer{
    border: 0;
width: 100%;
background-color:$color-footer !important;


.footer_content{
    margin-top: 60px;
    margin-bottom: 70px;
    text-align-last: left;
  
    .footer_items{
        margin-top: 30px;
        text-align: left;
        padding-left: 0px;
        
    }
    .footer_items a{
        color: $color_grey;
        text-decoration: none;
        &:hover{
            color: $color-black;
        }
    }
    
    .footer_items li{
        margin-bottom: 8px;
        font-size:$font-size-text;
    }
    .online_shop{
        
margin-left: 15px;
              
    }
    .footer_heading{
            margin-top: 20px;
            margin-bottom: 10px;
            color: #212529 !important;
    }
    .social_media {
        ul{
            display: flex;
        padding-left: 0px;
        li{
            background-color: white;
            margin-right: 10px;
            border-radius: 3px;
           a{
               margin: 7px 
           }
           &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
        }
        }
        }
    
    img{
        width:15px

    }
}

.footer_button{
    padding-bottom: 35px;
    border-bottom: 1px solid;
    border-color: $color_grey;
}


}   
.copy_right{
    text-align: center;
    a{ color:$color-red;  }
    .text-muted {
  color: #6c757d !important;
}
}

.btn {
    border: none !important;
    outline: none !important;
  display: flex;
          align-items: center; 
      
    &-red {
       font-size: 12px; 
       color: #fff;
        background-color: $color-red !important;
        border-color: $color-red;
        padding: 1px 5px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
        }
        img{
            width: 20px;
        }
        .a_head{
            margin-bottom: 0;
        }
    }
    &-white {margin-right: 10px;
        font-size: 12px;
        background-color:#fff !important;
        border-color: #fff;
        padding: 1px 5px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
        }
        img{
            width: 20px;
        }
        
    }
    .a_head{
        display: flex;
        flex-direction:column;
        margin-left:5px;
        margin-bottom: 0;
    }
}



}