.top-nav{
    list-style-type:none;
}
.header-top{
    color: $color-black;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: $font-size-text;
    font-weight: 300;
        &-wrap{
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:768px){
                flex-direction: column;
                align-items: center;
            
            }
            
           
        }
    .info{
        a{
            color: $color-grey;
            &:hover{
                color:$color-black;
                text-decoration: none;
            }
        }
    }

    ul{
        @media screen and (max-width:768px){
           padding-left: 0px;
        }
    }
    li{
        cursor: pointer;
        margin-right: 12px;
        a{
            color: $color-black;
            &:hover{
                color:$color-grey;
                text-decoration: none;
            }
        }


    }
}

.navbar-nav{
    font-weight: 500;
    text-transform: uppercase;
    color: $color-black !important;
}

.navbar-brand  img{
    width: 100%;
    max-width: 100px;
}

.icons-nav {
    &.right{
    @media screen and (max-width:992px) {
        display: none;
    }
}
ul{
    display: flex;
    list-style:none ;
}
}

.icons-nav img{
    width:100%;
max-width: 24px;

