.st-selected_prdt-detail-heading {
    font-size: $st-font-size-md;
    color: $black-color;
    font-weight: 600;
}

.st-selected_prdt-detail {
    margin: 1rem 0;
}

.st-selected_prdt_sub-text {
    color: $font-color;
    font-size: $st-font-size-sm;
}

.st-selected_prdt--price {
    font-size: $st-font-size-lg;
    color: $primary-color;
    font-weight: 700;
}

.st-selected_prdt-offerprice {
    text-decoration: line-through;
    color: $font-color;
    font-size: $st-font-size-md;
    padding: 0 0.4rem;
}

.st-rating_star {
    color: $yellow;
    font-size: $st-font-size-sm;
}

.st-selected_prdt-rating {
    font-weight: bold;
    font-size: $st-font-size-sm;
}

.st-selected__rating-count {
    padding-left: 0.5rem;
    border-left: 1px solid $border-light;
}

.st-rating_text {
    color: $dark-gray;
    font-size: $st-font-size-sm;
}

.st-selected_prdt-rating--container {
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $border-light;
    margin-bottom: 0.8rem;
}

.st-selected_color--input {
    margin: 8px;
    height: 13px;
    width: 13px;
    opacity: 0;
}

.st-select_prdt-heading {
    color: $black-color;
    font-size: $st-font-size-base;
    font-weight: 600;
    margin-top: 1rem;
}

.st-selected_prdt-group {
    display: flex;
    gap: 0.8rem;

}

.st-selected_prdt--btn {
    width: 100%;
    font-size: $st-font-size-sm;
    border-radius: 4px;
    border: 1px solid $black-color;
    padding: 0.6rem;
    font-weight: 600;
}

.st-selected_prdt-activebtn {
    background-color: $primary-color;
    color: $white-color;
    border-color: $primary-color;

    &:hover {
        color: $white-color;
    }
}

.st-selected_prdct-img {
    height: 540px;

    @media (max-width:768px) {
        height: auto;
    }
}

.st-selected_prdct--container {
    margin: 1rem 0;
    display: flex;
    gap: 0.4rem;
}

.st-selected_prdct__choice-container {
    width: 135px;
    height: 130px;

    @media (max-width:992px) {
        width: 90px;
        height: 86px;
    }

    @media (max-width:768px) {
        width: 70px;
        height: 64px;
    }
}

.st-selected_prdct--choice {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.st-selected_color--label {

    position: relative;
    display: inline-block;
    border: 5px solid $black-color;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.05s ease-in-out, border-color 0.05s ease-in-out, box-shadow 0.05s ease-in-out;

    &::before {

        content: "";
        display: block;
        position: absolute;
        top: -4px;
        left: -4px;
        bottom: -4px;
        right: -4px;
        border: 4px solid $background-color;
        border-radius: 50%;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);

    }

    &:hover {}
}

.st-select_prdt-quantity {
    display: flex;
    margin-bottom: 2rem;
    border: 2px solid $border-light;
    width: fit-content;
}

.st-select_quantity-input {
    height: auto;
    max-width: fit-content;
    background-color: transparent;
    border: none;
    max-width: 5ch;
    border-left: 1px solid $border-light;
    border-right: 1px solid $border-light;
    border-radius: 0px;

    &:focus {
        background-color: transparent;
        box-shadow: none;
        border-left: 1px solid $border-light;
        border-right: 1px solid $border-light;
    }
}

.st-select_prdct-info--container {
    margin: 2rem 0;
}

.st-select_prdt-quanity-btn {
    font-weight: 700;
    border-radius: 0px;

    &:hover {
        background-color: $background-primary;
    }

    &:focus {
        box-shadow: none;
    }
}


.st-tabs {
    border-bottom: 1px solid $border-light;

    .st-select-prdt_tab--link {
        color: $font-color;
        font-size: $st-font-size-base;
        background-color: transparent;

        font-weight: 500;
        padding-left: 0px;
        padding-right: 1.6rem;

        &:hover {
            border: none;
        }

        &:focus,
        &.active {
            background-color: transparent;
            color: $black-color;
            border: none;
            border-bottom: 2px solid $black-color;
        }

        @media (max-width:575px) {
            padding-right: 1rem;
        }
    }


}

.st-select_prdt-tab--content {
    padding: 1rem 0;
    color: $font-color;
    max-width: 90%;
    line-height: 1.8rem;
}

.st-share_in-media {
    color: $black-color;
    padding: 0.2rem;
    font-size: $st-font-size-base;

    &:hover {
        color: $primary-color;
    }
}

.st-share-media_container {
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    width: 100%;
    align-items: center;
}