.o_content.kitchen {
    background: rgb(62,146,255);
    background: linear-gradient(90deg, rgba(62,146,255,1) 0%, rgba(28,127,255,1) 100%);
}

.o_content.kitchen .btn {
    border-radius: 5px;
}
.kitchen_container{
    padding:15px;
    position: relative;

}
.dashboard{
    background: #c3dfe3;

}

.kitchen_grid{
      float: left;
      width: 33.33%;
      text-align: center;
      margin-top: -13px;
}
.title {
  padding: 15px;
  color:#fff;

}
.order_name{
    color:inherit !important;
}
.recipie_description{
    color: black;
    padding: 8px;
}
.o_content.kitchen .recipie_container, .o_content.kitchen .note_container {
    background: #fff;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
}

.o_content.kitchen .recipie_container .icon-close, .o_content.kitchen .note_container .icon-close {
    position: relative;
    text-align: right;
    font-size: 1.5rem;
    cursor: pointer;
}

.o_content.kitchen .recipie_container .icon-close-container, .o_content.kitchen .note_container .icon-close-container {
    position: relative;
    text-align: right;
    margin-bottom: -15px;
}
.o_content.kitchen .show_receipie, .o_content.kitchen .show_note {
    cursor: pointer;
    color: #1d80ff;
}

.o_content.kitchen .show_note_disabled {
    cursor: pointer;
    color: #ccc;
}

.o_content.kitchen .recipie_container .recipie_wrapper, .o_content.kitchen .note_container .note_wrapper {
    display: flex;
    place-content: row;
}

.o_content.kitchen .recipie_container .recipie_wrapper .product_image img {
    max-width: 400px;
}

.o_content.kitchen .recipie_container .recipie_wrapper .product_image {
    margin-right: 15px;
}

.i_content.kitchen .badge {
    margin: 1px 2px 1px 0;
    border-radius: 4px;
    padding: 4px 7px;
    padding-bottom: 6px;
    font-weight: bold;
}
.heading_grid{
  border-radius: 15px;
  background: teal;
  position: sticky;
  top: 0;

}
.note_body{
    background: #bad6d9;
    margin-top: 160px;

}
.o_content.kitchen h3 {
    color: #fff;
}
.title_wrapper_cont{
    display: flex;
    justify-content: space-between;
    }
.order_ref{
    font-size:13px;
}
.content{
    padding-left: 15px;
    padding-right: 15px;
}
.badge{
    border: none !important;
    }
.badge-light {

    color: #63666e !important;
    background-color: #e7e7e7 !important;
    padding: 6px 14px !important;
    border-radius: 25px !important;
    border: none !important;
}
.kitchen_order {
    border: 1px solid #ccc;
    margin: 10px;
    min-width: 550px;
    max-width: 600px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #ccc;
    margin-left: auto;
    margin-right: auto;
}
.kitchen_grid table thead td {
    font-weight: bold;
}

.kitchen_grid table tbody td {
    color: #888;
    font-size: 15px;
}

.kitchen_grid table thead td.qty-column,
.kitchen_grid table tbody td.qty-column {
    max-width: 80px;
}

.kitchen_grid table tr td {
    text-align: center;
}

.kitchen_grid table tr td.name-column {
    text-align: left;
}

.kitchen_grid table tr td.name-column .text {
    font-size: 13px;
    font-weight: bold;
}

.kitchen_order .title_wrapper {
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.title_wrapper {
    padding: 15px 15px 5px 0px;
    text-align: left;
}

.kitchen_order .title_wrapper .col {
    padding-left: 5px;
    padding-right: 5px;
}

.kitchen_order .title {
    font-family: "Lato", "Open Sans", "Helvetica", Sans;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.kitchen_order .pos-reference {
    font-size: 12px;
    font-weight: bold;
}
.waiter{
    display: flex;
    justify-content: space-between;
    padding: 0px 15px 15px 15px;
}
.kitchen_order .waiter {
    font-size: 12px;
    font-weight: bold;
}
.btn_action{
    padding: 3px 10px;
    border-radius: 5px;
}
.badge_state{
    width:75px;
}
.kitchen_order .content {
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}


.kitchen_order .footer {
    position: relative;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 1030;
    padding-top: 15px;
}

.kitchen_grid {
    padding: 0px 1px;
}

.kitchen_grid table {
    width:100%;
   table-layout: auto;
   overflow-wrap: break-word;
}

.o_content.kitchen .options_container {
    margin: 5px 15px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
}

.o_content.kitchen .options_container .options_body {
    padding: 15px 0px;
}

.o_content.kitchen .options_container .chevron-icons {
    float: right;
}

.o_content.kitchen .options_container .options_body button {
    background: #ccc;
    color: #000;
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
}

.o_content.kitchen .options_container .options_body button.active {
    background: #2484ff;
    color: #fff;
}