.banner{
    padding-top: 100px;
    padding-bottom: 200px;

    @media screen and(max-width:768px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }


    .banner_head{
        color: black;
        text-align: center;
        font-size: calc(3.6vw + 1rem);
        margin: auto;
        font-family: $font-offer;
    }
}

.banner_about{
    padding-top: 100px;
    padding-bottom: 200px;
 
    @media screen and(max-width:768px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .banner_head{
        color: black;
        text-align: center;
        font-size: calc(3.6vw + 1rem);
        margin: auto;
        font-family: $font-offer;
    }

}

.banner_contact{
    padding-top: 100px;
    padding-bottom: 200px;
    @media screen and(max-width:768px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }

.banner_head{
    color: black;
    text-align: center;
    font-size: calc(3.6vw + 1rem);
    margin: auto;
    font-family: $font-offer;
}

}



.banner_preview{
    padding-top: 100px;
    padding-bottom: 0px !important;
 
    @media screen and(max-width:768px) {
        padding-top: 70px;
        padding-bottom: 90px;
    }

.banner_head{
    color: black;
    text-align: center;
    font-size: calc(3.6vw + 1rem);
    margin: auto;
    font-family: $font-offer;
}

}

