.btn {
    border: none ;
    outline: none !important;
    box-shadow: none !important;
    &-primary {
        background-color: $color-red !important;
        border-color: $color-red;
        padding: 9px 35px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none; 
        }
    }
   

    &-shop {
        background-color: transparent !important;
       border-radius: 0;
        font-size: 30px;
        color: $color-white;
      background-image:linear-gradient(360deg, #fff 2%, #00000059 6%);
      padding-bottom: 12px;
        &:hover {
            color: black !important;
            border: none; 
            background: transparent;
        }
    }
    

    &-submit {
        background-color: transparent !important;
       border-radius: 0;
        font-size: 30px;
        color: $color-white;
      background-image:linear-gradient(360deg, #fff 2%, #00000059 6%);
      padding-bottom: 12px;
        &:hover {
            color: darken($color-white, 100%) !important;
            border: none; 
            background-image:linear-gradient(360deg, #fff 100%, #00000059 6%)
        }
    }

    &-minus {
        background-color:transparent!important;
        border-color: $color-grey !important;
        height: 100%;
        border:1px solid black;
 
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;

        &:hover{
            background: $color-hover !important;
            border: transparent !important;
            color:$color-white;
        }
}

&-add{
    margin-top: 40px;
    display: block;
    color: $color-white;
    font-size: 18px;
    padding-top: 15px;
    background: $color-grey;
    border-radius:0 ;
    height: 60px;
    -webkit-border-radius:0 ;
    -moz-border-radius:0 ;
    -ms-border-radius:0 ;
    -o-border-radius:0 ;
    &:hover{
        color: $color-white;
        background: darken($color-grey, 5%) !important; ;
    }
}


}


