.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.rating.hidden-sm.rating_ext > .price-text-color.fa-star {
    color: #fcc500;
}
.rating.hidden-sm.rating_ext > .fa-star{
    color: #dddddb;
}