.o_main_navbar {
    border: 1px solid #00438a !important;
    background-color: #00438a !important;
    -webkit-box-shadow: 0px 0px 8px #00438a !important;
    box-shadow: 0px 0px 8px #00438a !important;
}
.o_main_navbar{
    color: white;
    background-color: #014389 !important;
    border-color: #014389 !important;
}
.o_main_navbar > ul > li > a:hover {
    background-color: #023163 !important;
}
.o_tooltip.bottom::before {
    border-bottom-color: #014389 !important;
}
.o_tooltip::after {
    border-color: #014389 !important;
    background: radial-gradient(#014389, #03366d) !important;
}
.o_tooltip {
    border: 2px solid #014389 !important;
    background-color: #7c7bad;transition: width 133ms ease 0ms, height 133ms ease 0ms, margin 133ms ease 0ms, border-radius 133ms ease 66ms;
}
#oe_main_menu_navbar .o_menu_systray a[data-action="edit"], #oe_main_menu_navbar .o_menu_systray a[data-action="translate"] {
    color: #ffffff;
    background-color: #014389 !important;
    border-color: #014389 !important;
}
#web_editor-top-edit form.navbar-form .btn.btn-primary {
    background-color: #00438b !important;
    border-color: #00438b !important;
}
body .modal.o_technical_modal .btn:not(.o_btn_preview).btn-primary{
background-color: #002144 !important;
border-color: #002144 !important;
}