.oe_secondary_menu_section a {
    color: #ffffff !important;
}
.o_sub_menu_content{
    background: #00438b;
}
.oe_kanban_action_button{
    background: #01448b;
}
.oe_kanban_action_a{
    color: #01448b !important;
}
.o_tooltip{
    background: #00438b !important;
    border: 2px solid #00438b !important;
}
.nav-pills > li.active > a:focus {
    color: #377ab6 !important;

}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a {
    color: #ffffff !important;
}

.oe_secondary_menu_section{
    color:  white !important;
}
.oe_secondary_menu_section a:focus{
    color:  #00438b !important;
}
.o_kanban_manage_toggle_button{
    color:  #01448b; !important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #00346b !IMPORTANT;
}
.dropdown-menu > li > a {
    color: #ffffff !IMPORTANT;
}
.dropdown-menu {
    background-color: #00438b !IMPORTANT;
}
.dropdown-menu > li > a:focus{
    background-color: #00346b !IMPORTANT;
}
.o_project_kanban_box{
    background-color: #01448b !IMPORTANT;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #00346b !important;
}
.o_tooltip.bottom::before {
    border-bottom-color: #00438b !important;
}
.o_tooltip::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    border-color: #00438b !important;
    border-radius: 50%;
    transition: margin 133ms ease 0ms, border-radius 200ms linear 0s;
    background: radial-gradient(#2d7bbd, #00438b) !important;
}
.o_tooltip > .o_tooltip_content {
    color: white !important;
}
.o_tooltip > .o_tooltip_content .o_skip_tour {
    color: #cacaca !important;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #377ab6 !important;
    background-color: #00346b !important;

}
.oe_menu_text:focus {
    color: #377ab6 !important;
}
.badge {
    background-color: #1371d7 !important;
}
.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main {
    background-color: #01448b !important;
}
.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header .o_kanban_card_header_title .o_primary, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header .o_kanban_card_header_title .o_primary {
    color: #01448b !important;
    font-weight: 700;
}
.o_tooltip.right::before, .o_tooltip.left::before   {
    border-right-color: #00438b;
}
.btn-primary {
    color: #ffffff !important;
    background-color: #01448b !important;
    border-color: #01448b !important;
}
.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped a, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped a {
    color: #01448b !important;
}
.o_progressbar .o_progress .o_progressbar_complete {
    background-color: #01448b !important;
    height: 100%;
}
.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main a {
    color: white !important;
}
.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_warning a {
    color: white !important;
}
a {
    color: #01448b;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
    padding-top: 8px;
}
.oe_highlight {
    color: #ffffff;
    background-color: #01448b;
    border-color: #01448b;
}
.o_control_panel .breadcrumb > li > a {
    color: #01448b;
    cursor: pointer;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #ffffff;
}
.oe_highlight:hover {
    color: #ffffff;
    background-color: #00438b;
    border-color: #00438b;
}
.o_form_view ul.oe_form_status_clickable li.oe_active:hover > .arrow span {
    background: -webkit-gradient(linear, left top, right bottom, from(#01448b), to(#01448b));
}
.o_form_view ul.oe_form_status_clickable li.oe_active:hover {
    background-image: linear-gradient(to bottom, #01448b, #01448b);
}
.o_form_view.o_form_readonly .o_form_uri:first-line {
    color: #01448b;
}
.navbar-inverse {
    background-color: #01448b !important;
    border-color: #083a6f !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #00346b !important;
}
.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_warning {
    background-color: #00c390;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_logo {
    background: #fff !important;
}
.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_warning:hover {
    background-color: #099470 !important;
}
.o_kanban_view.o_kanban_ungrouped {
    background: #fff !important;
}
.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header {
    background-color: #f1f1f1 !important;
}
.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_record, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_record {
    padding: 0;
    position: relative;
    box-shadow: 2px 14px 32px 5px rgba(0, 0, 0, 0.02), 0 3px 13px 0px rgba(0, 0, 0, 0.35);
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	border-radius: 10px !important;
	background-color: #F5F5F5 !important;
}

::-webkit-scrollbar
{
	width: 8px !important;
	background-color: #F5F5F5 !important;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #1b5ea7 !important;
}
.btn-primary:hover {
    color: #ffffff !important;
    background-color: #09325f !important;
}
.o_loading {
    background-color: #00c390 !important;
}
.o_tooltip.active.bottom::after {
    border-width: 0 !important;
}
.o_searchview .o_searchview_autocomplete li.o-selection-focus {
    background-color: #00346b !important;
}
.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item.o_active {
    background-color: #00346b !important;
}
.o_mail_chat .o_mail_chat_sidebar {
    background-color: #245284 !important;
    color: #ffffff !important;
}
.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item:hover {
    background-color: #00346b !important;
}
.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #00346b !important;
    border-color: #00346b !important;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #01448b !important;
    border-color: #01448b !important;
}
.btn-default {
    color: #ffffff !important;
    border-color: #01448b !important;
    background: #01448b !important;
}
.btn-default:hover {
    color: #ffffff !important;
    border-color: #00346b !important;
    background: #00346b !important;
}
.o_mail_chat .o_mail_chat_content .o_chat_composer {
    border-top: 1px solid #dadada !important;
    background-color: #d6d6d6 !important;
}
.o_form_view.o_form_readonly .o_form_uri:hover:first-line {
    color: #00346b !important;
}
.o_form_view .oe_button_box .oe_stat_button .o_button_icon {
    color: #00c390 !important;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #00438b14 !important;
    border: none !important;
}

.o_form_view ul.oe_form_status li.oe_active, .o_form_view ul.oe_form_status_clickable li.oe_active {
    background-color: #00438b;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0067d6), to(#00438b)) !important;
    background-image: -webkit-linear-gradient(top, #004998, #0065d2) !important;
    background-image: -moz-linear-gradient(top, #abaaca, #555487) !important;
    background-image: -ms-linear-gradient(top, #abaaca, #555487) !important;
    background-image: -o-linear-gradient(top, #abaaca, #555487) !important;
    background-image: linear-gradient(to bottom, #0066d4, #004691) !important;
}
.o_form_view ul.oe_form_status li.oe_active > .arrow span, .o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {
    background-color: #004793;
    background: -moz-linear-gradient(135deg, #555487, #abaaca) !important;
    background: -o-linear-gradient(135deg, #abaaca, #555487) !important;
    background: -webkit-gradient(linear, left top, right bottom, from(#0065d2), to(#00448e)) !important;
    background: -ms-linear-gradient(top, #abaaca, #555487) !important;
}
.btn-link {
    color: #00438b !important;
    font-weight: normal;
    border-radius: 0;
}
.nav .nav-tabs li a:hover {
    color: #ffffff;
}
.o_web_client {
    background-color: #ffffff !important;
}
.nav-tabs > li.active > a {
    color: #00438b !important;
}
.nav-tabs > li.active > a:focus{
    color: #ffffff !important;
}
.nav > li > a:hover {
    text-decoration: none;
    background-color: #00346b !IMPORTANT;
    color: #fff !important;
}
.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea {
    background-color: #bbd9f9 !important;
}
.o_form_view .oe_link {
    color: #01448b !important;
    font-weight: normal;
    border-radius: 0;
}
.o_form_view .o_horizontal_separator {
    color: #01448b;
    font-weight: bold;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background: none;
    background-color: #01448b !important;
    color: #ffffff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-default {
    color: #01448b;
}
a:hover {
    color: #002042 !important;
}
.o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview .o_channel_info .o_channel_title .o_channel_name {
    color: #ffffff !important;
}
.o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button:hover, .o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_top .o_filter_button.o_selected {
    color: #ffffff !important;
}
.o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview:hover {
    background-color: #00346b !important;
}
.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value {
    color: #4c4c4c !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #002e5f !important;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #002e5f;
}
.o_web_settings_dashboard .o_web_settings_dashboard_col .o_web_settings_dashboard_planner .o_web_settings_dashboard_progress_title {
    color: #01448b !important;
}
.progress-bar {
    background-color: #01448b;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu .oe_menu_toggler:before {
    border-left: 4px solid #ffffff !important;
}
.oe_secondary_menu_section a:focus {
    color: #002042 !important;
    font-weight: 900;
}
.ui-autocomplete .ui-menu-item.ui-state-focus {
    background-color: #01448b;
}
a {
    color:#00438b !important;
}
.oe_tooltip_string {
            background-color: #00c390 !important;
}
.oe_secondary_menu_section.active {
    color: #377ab6;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_footer {
    background: #f0eeee !important;
}
.o_sub_menu_footer img {
    width: 79% !important;
}
.o_chat_window {
    border: none !important;
    box-shadow: 2px 14px 32px 5px rgba(0, 0, 0, 0.02), 0 3px 13px 0px rgba(0, 0, 0, 0.35);
}
.o_chat_window .o_chat_header {
    background-color: #00438b !important;
}
.o_chat_window .o_chat_header .o_chat_window_close {
    color: white !important;
    padding: 3px;
    margin-left: 5px;
}
.o_chat_window .o_chat_header .o_chat_window_close:hover {
    background-color: #00346b !important;
}
.datepicker-days thead {
    background-color: #00438b !important;
}
.bootstrap-datetimepicker-widget td.day {
    color: #fff !important;
}
.bootstrap-datetimepicker-widget td.cw {
    color: #bbbbbb !important;
}
.datepicker .table-condensed > tbody > tr > td.active, .datepicker .table-condensed > tbody > tr > td .active {
    background-color: #00254c !important;
}
.datepicker .table-condensed > tbody > tr > td.today:before {
    border-bottom-color: #00254c !important;
}
.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover {
    background: #00254c !important;
}
.datepicker .table-condensed > thead > tr:last-child {
    color: #00438b !important;
    background-color: #ffffff !important;
}
.o_form_view ul.oe_form_status_clickable li > .label {
    color: #00438b !important;
}
.o_form_view ul.oe_form_status li.oe_active > .label, .o_form_view ul.oe_form_status_clickable li.oe_active > .label {
    color: white !important;
    text-shadow: 0 1px 1px #729fcf, 0 -1px 1px #3465a4;
}
.oe_secondary_menu_section.active a {
    color: #001f40 !important;
}
.datepicker .table-condensed > thead > tr:first-child th:hover {
    color: white;
    background-color: #00346b !important;
}
.bootstrap-datetimepicker-widget td span {
    color: #fff !important;
}
.bootstrap-datetimepicker-widget td span:hover {
    background: #00254c !important;
}
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-color-reset, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-color-reset {
    color: #fff;
}
.note-popover .popover .popover-content .note-color .dropdown-menu .btn-group .note-palette-title, .panel-heading.note-toolbar .note-color .dropdown-menu .btn-group .note-palette-title {
    color: #fff;
}
.note-color-palette h6 {
    color: #fff;
}
.note-color.btn-group .fa {
    background: #02448b !important;
}
ul#ui-id-7 a:hover {
    color: #fff !important;
}
.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form span {
    padding: 3px 25px;
    color: #ffffff !important;
}
.o_control_panel .o_cp_sidebar .o_hidden_input_file .o_form_binary_form:hover {
    background-color: #00346b !important;
}
.o_search_options .o_favorites_menu .o_save_name {
    color: #fff !important;
}
.o_hr_attendance_kiosk_mode_container a.fa.btn-primary.o_hr_attendance_sign_in_out_icon.fa-sign-out.fa-sign-out {
    color: #fff !important;
}
.oe_view_nocontent .oe_view_nocontent_create:before {
    background: transparent url(/hr_theme/static/src/img/arrow.png) no-repeat 0px 0px !important;
}
.o_mail_chat .o_mail_annoying_notification_bar {
    background-color: #00c390 !important;
    border-bottom: 1px solid #00c390 !important;
}
.o_main_navbar {
    border: 1px solid #00438a !important;
    background-color: #00438a !important;
}
.fa-external-link {
    color: #01448b !important;
    border-color: #ffffff !important;
    background: #ffffff !important;
}
.ui-menu-item a:hover,.ui-menu-item a:focus {
    color: #ffffff !important;
}
.ui-autocomplete .ui-menu-item.ui-state-focus a{
    color: #ffffff !important;
}
.btn-default {
    color: #ffffff !important;
    border-color: #01448b !important;
    background: #186eca !important;
    margin-left: 2px;
}
.o_dashboards .o_website_dashboard div.o_box h2 {
    color: #01448b !important;
}
.o_form_view .o_form_field_image .o_form_image_controls {
    background-color: #01448b;
}
.fa.fa-external-link.btn.btn-default.o_external_button {
    background-color: #fff !important;
    color: #01448b !important;
}

.oe_highlight:active:hover, .oe_highlight.active:hover, .open > .dropdown-toggle.oe_highlight:hover, .oe_highlight:active:focus, .oe_highlight.active:focus, .open > .dropdown-toggle.oe_highlight:focus, .oe_highlight:active.focus, .oe_highlight.active.focus, .open > .dropdown-toggle.oe_highlight.focus {
    color: #ffffff;
    background-color: #01448b !important;
    border-color: #01448b !important;
}

.btn.btn-sm.oe_highlight:active, .btn.btn-sm.oe_highlight:focus {
    background-color: #00346b !important;
    border-color: #00346b !important;
}