/* Header */
header .top_nav .first_nav .top_nav_right {
    width: auto;
}
header .top_nav .first_nav .top_nav_right div.input-group {
    background-color: transparent !important;
    color: #888787;
    border-radius: 0;
    margin-top: 8px;
    border: 1px solid !important;
    height: 40px;
}
header .top_nav .first_nav .top_nav_right div.input-group input.search-query {
    background: white !important;
}
header .top_nav .first_nav .top_nav_right div.input-group button.oe_search_button {
    background: white !important;
}
@media screen and (max-width: 678px) {
    header .top_nav .first_nav .top_nav_right form.o_searchbar_form {
        width: 50%;
    }
}
div#cart_total tr div.coupon_form a {
    line-height: 2;
}
section.banner ol.carousel-indicators li {
    background-color: aqua;
}
