/* Dropdown on attachment card for tools*/
.dropdown {
        position: relative;
      }
      .o_AttachmentCard_aside{
        overflow:visible !important;
      }
      .context_menu_dropdown {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 120px;
        box-sizing: border-box;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 0;
        padding-bottom: 6px;
        padding-top: 6px;
      }
      .context_menu_dropdown a{
        color: black;
        text-decoration: none;
      }

      .context_menu_dropdown a:hover {
        background-color: #f1f1f1;
      }

      .dropdown:hover .context_menu_dropdown{
        display: block;
      }
/* Image editor container */
#tui-image-editor-container{
        width: 981px;
        height: 500px;
        top: 0px;
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top by 10px*/
        padding: 1px; /* location of box */
        left: 10px;
        }
#xlsx_preview{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#video_content{
        background-color: rgba(0, 0, 0, -5.3);
}
#MyTable{
   font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#MyTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}
#MyTable td{
  border: 1px solid #ddd;
  padding: 8px;
}
.XlsxTable{
    overflow: overlay;
}
#MyPreview_content {
  background-color: #fefefe;
  overflow: hidden;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
#stop-preview-button {
  color: #aaaaaa;
  text-align: end;
  font-size: 28px;
  font-weight: bold;
}

#stop-preview-button :hover,
#stop-preview-button :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.MyDocs{
    overflow: auto;
    text-align: justify;
    padding: 30px;
}

.o_AttachmentCard_tags span{
 border: 2px solid yellow;
  border-radius: 25px;
  background:yellow;

}
.o_AttachmentImage {
       width: 250px;
       height: 200px;
}
.control_menu_dropdown{
    position: relative;
    background-color: white;
    min-width: 112px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 40px;
    width: 30%;
}
.o-mail-AttachmentList, .o-mail-AttachmentCard-aside, .o-mail-AttachmentCard{
    overflow: visible !important;
}
.o-mail-AttachmentCard-image{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}