.screen .centered-content-new{
    position: absolute !important;
    right:25%; top: 64px !important; bottom: 0px !important;
    left:25% !important;
    border-right: dashed 1px rgb(215,215,215) !important;
    border-left: dashed 1px rgb(215,215,215) !important;
}