.about {
    margin: 100px 0;
    @media screen and(max-width:576px) {
        margin: 40px 0;
    }
    .about_img {
        width: 100%;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    .about_bottom {
        .about_details {
            padding-top: 15px;
            .abt_d_head {
                color: $color-brand6;
                font-weight: 700;
                font-size: 28px;
            }
            p {
                padding-top: 10px;
                line-height: 1.8em;
            }
        }
    }
    .testimonial {
        @media screen and(max-width:768px) {
            margin-top: 50px;
        }
        margin-top: 100px;
        .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and(max-width:976px) {
                grid-template-columns: 1fr;
            }
            .words {
                background-color: $color-brand5;
                @media screen and(max-width:976px) {
                    padding: 100px 0;
                }
                @media screen and(max-width:576px) {
                    padding: 70px 0;
                }
                .wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    .content {
                        text-align: center;
                        width: 60%;
                        span {
                            color: $color-4;
                            font-size: 40px;
                        }
                        p {
                            color: $color-brand6;
                            font-size: 20px;
                            font-style: italic;
                            line-height: 2rem;
                            padding-top: 25px;
                        }
                        .img_wraper {
                            display: flex;
                            margin-top: 30px;
                            justify-content: center;
                            .p_img {
                                width: 75px;
                                img {
                                    width: 100%;
                                    border-radius: 50%;
                                }
                                margin-right: 30px;
                            }
                            .name {
                                color: $color-brand6;
                                font-size: 20px;
                                font-weight: 700;
                            }
                            .roll {
                                color: $color-off-white;
                                font-style: italic;
                                padding-top: 0px;
                                text-align: left !important;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .test_img {
                width: 50vw;
                @media screen and(max-width:976px) {
                    width: 100vw;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    // Counter
    .counter {
        margin-top: 70px;
        margin-bottom: 70px;
        @media screen and(max-width:768px) {
            margin: 70px 0;
        }
        .wrapp {
            display: flex;
            justify-content: center;
            @media screen and(max-width:576px) {
                margin-bottom: 30px;
                justify-content: flex-start;
            }
            p {
                font-size: 22px;
                font-weight: 600;
                margin-left: 15px;
                @media screen and(max-width:768px) {
                    font-size: 15px;
                }
            }
        }
        .display-4 {
            font-size: 70px;
            font-weight: 700;
            line-height: 30px;
            @media screen and(max-width:976px) {
                font-size: 50px;
            }
        }
    }
    .hr {
        padding: 70px 0;
        border: 1px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.281) !important;
        @media screen and(max-width:768px) {
            padding-top: 50px;
            padding-bottom: 30px;
            margin: 40px 20px;
        }
    }
    // Team
    .team {
        .team_wrapper {
            padding-top: 20px;
            padding-bottom: 70px;
            @media screen and(max-width:576px) {
                padding-bottom: 40px;
            }
            .card-deck {
                .card {
                    border: 0;
                    .card-img-top {
                        border-radius: 0;
                    }
                    .card-body {
                        margin-top: 15px;
                        padding-left: 0;
                        .card-title {
                            font-size: 25px;
                            font-weight: 700;
                            letter-spacing: 0;
                        }
                        .card-text {
                            font-size: 18px;
                            color: $color-off;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
    // Customer
    .clients {
        .client_wrapper {
            .img_wrapper {
                width: 100px;
                max-width: 300px;
                margin: auto;
                padding-bottom: 70px;
                img {
                    width: 100%;
                    filter: grayscale(100%);
                    &:hover {
                        filter: grayscale(0%);
                    }
                }
            }
        }
    }
}
