.blog_details {
    margin-top: 80px;
    .wrapper {
        background-color: $color-brand5;
        .top {
            padding: 150px 0;
            @media screen and(max-width:576px) {
                padding: 100px 20px;
            }
            .dlk {
                text-align: center;
                font-size: 40px;
                font-weight: 900;
                @media screen and(max-width:576px) {
                    font-size: 40px;
                    font-weight: 700;
                }
            }
            .info {
                padding-top: 15px;
                text-align: center;
                @media screen and(max-width:576px) {
                }
                li {
                    display: inline-block;
                    margin-right: 25px;
                    font-size: 16px;
                    color: $color-brand6;
                    position: relative;
                    &::after {
                        position: absolute;
                        right: -16px;
                        top: 0;
                        content: "|";
                    }
                    &:last-child {
                        &::after {
                            display: none !important;
                        }
                    }
                    @media screen and(max-width:452px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
    .blog_image {
        margin-top: -125px;
        margin-bottom: 50px;
        @media screen and(max-width:576px) {
            margin-top: -65px;
        }
        .img_wrapper {
            max-width: 100%;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
    .details {
        padding: 0 40px;
        @media screen and(max-width:992px) {
            padding: 0;
        }
        .cover {
            margin-top: 80px;
            padding: 0 70px;
            display: flex;
            @media screen and(max-width:992px) {
                padding: 0;
                display: block;
            }
            @media screen and(max-width:768px) {
                margin-top: 50px;
            }
            .social {
                margin-right: 15px;
                .shr {
                    color: $color-black;
                    font-size: 25px;
                    font-weight: 700;
                    text-transform: uppercase;
                    @media screen and(max-width:992px) {
                        text-align: center;
                    }
                }
                .blog_icon {
                    padding-top: 10px;
                    @media screen and(max-width:992px) {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 30px;
                    }
                    a {
                        display: block;
                        color: $color-black;
                        margin-right: 15px;
                        @media screen and(max-width:992px) {
                            margin-right: 22px;
                        }
                        span {
                            height: 41px;
                            width: 41px;
                            font-size: 19px;
                            padding-top: 12px;
                            border-radius: 50%;
                            text-align: center;
                            margin-bottom: 15px;
                            color: $color-white;
                        }
                        &:nth-child(1) {
                            span {
                                color: rgb(255, 255, 255) !important;
                                background: rgb(55, 180, 230) !important;
                                &:hover {
                                }
                            }
                        }
                        &:nth-child(2) {
                            span {
                                color: $color-white !important;
                                background-color: rgb(255, 52, 52) !important;
                                &:hover {
                                }
                            }
                        }
                        &:nth-child(3) {
                            span {
                                background-color: rgb(5, 85, 151) !important;
                                color: $color-white !important;
                                &:hover {
                                }
                            }
                        }
                        &:nth-child(4) {
                            span {
                                background-color: rgba(202, 40, 129, 0.801) !important;
                                color: $color-white !important;
                                &:hover {
                                }
                            }
                        }
                    }
                }
            }
            .words {
                padding: 30px 30px;
                @media screen and(max-width:992px) {
                    padding: 30px 0;
                }
                .mt {
                    margin-bottom: 50px;
                }
                p {
                    font-size: 17px;
                    line-height: 32px;
                }
                .box {
                    background-color: $color-brand5;
                    border-radius: 5px;
                    padding: 40px 40px;
                    margin-top: 80px;
                    position: relative;
                    margin-bottom: 40px;
                    .blog__details__quote {
                        position: absolute;
                        top: -24px;
                        span {
                            color: $color-white;
                            background-color: $primary;
                            font-size: 20px;
                            height: 53px;
                            width: 53px;
                            padding-top: 15px;
                            border-radius: 50%;
                            text-align: center;
                        }
                    }
                    p {
                        margin-top: 20px;
                        color: $color-black;
                        font-size: 18px;
                        font-weight: 600;
                        font-style: italic;
                        line-height: 30px;
                    }
                }
                .name {
                    border: 1px solid;
                    border-color: transparent;
                    border-top-color: $select-border-color !important;
                    .wrapp {
                        margin-top: 40px;
                        justify-content: space-between;
                        @media screen and(max-width:768px) {
                            display: block !important;
                        }
                        .p_img {
                            display: flex;
                            align-items: center;
                            @media screen and(max-width:768px) {
                                justify-content: center !important;
                            }
                            .img_wrapper {
                                max-width: 50px;
                                margin-right: 20px;
                                img {
                                    width: 100%;
                                }
                            }
                            .nm {
                                color: $color-brand6;
                                font-size: 18px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                        }
                        .hash {
                            @media screen and(max-width:768px) {
                                text-align: center;
                                margin-top: 22px;
                            }
                            a {
                                text-decoration: none;
                                span {
                                    color: $color-brand6;
                                    font-size: 18px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                }
                .navs {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 40px;
                    margin-top: 60px;
                    @media screen and(max-width:768px) {
                        grid-row-gap: 40px;
                        grid-template-columns: 1fr;
                    }
                    a {
                        text-decoration: none;
                        color: $select-border-color;
                        span {
                            color: $select-border-color;
                            font-size: 20px;
                            margin-right: 10px;
                        }
                        p {
                            color: $color-brand6;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 30px;
                            text-transform: capitalize;
                            margin-top: 20px;
                        }
                        .wp {
                            border: 1px solid;
                            border-color: $select-border-color !important;
                            padding: 20px 20px;
                        }
                    }
                }
                .post_replay {
                    margin-top: 70px;
                    .replay {
                        text-align: center;
                        margin-bottom: 40px;
                        .main {
                            color: $color-brand6;
                            text-transform: capitalize;
                            letter-spacing: 1px;
                            font-size: 30px;
                            font-weight: 700;
                        }
                    }
                    form {
                        @media screen and(max-width:768px) {
                            margin-top: 70px;
                        }
                        .form-group {
                            margin-bottom: 30px;
                            @media screen and(max-width:992px) {
                                margin-bottom: 15px;
                            }
                            .form-control {
                                border-radius: 0;
                                height: calc(3.5em + 0.95rem + 2px);
                                padding: 0.575rem 0.75rem;
                                box-shadow: none !important;
                                @media screen and(max-width:992px) {
                                    height: calc(2.5em + 0.95rem + 2px);
                                }
                                &:focus {
                                    color: #5f5f5f;
                                    background-color: #fff;
                                    border-color: $color-brand2;
                                    outline: 0;
                                }
                            }
                        }
                        textarea {
                            //    border: 1px solid !important;
                            padding: 30px 20px;
                        }
                        .txt {
                            border: 1px solid;
                            border-color: transparent;
                            border-top-color: $select-border-color !important;
                            border-right-color: $select-border-color !important;
                            border-bottom-color: $select-border-color !important;
                            border-left-color: $select-border-color !important;
                            &:focus {
                                color: #5f5f5f;
                                background-color: #fff;
                                border-color: #fa3737 !important;
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
