.Shop_details {
  margin-top: 80px;
  padding-bottom: 240px;
  @media screen and(max-width:400px) {
    padding-bottom: 100px;
  }
  background-color: $color-brand5;
  .wrapper {
    .brd {
      margin: auto;
    }
    .breadcrumb {
      background-color: transparent;
      padding: 40px 0px 20px 0px;
      .material-icons {
        font-size: 18px;
        padding-top: 3px;
      }
      // .breadcrumb-item.active {
      // }
      .breadcrumb-item {
        &::before {
          display: none;
        }
        font-size: 16px;
        a {
          color: $color-black;
          text-decoration: none;
          font-size: 16px;
        }
      }
    }
    //   Carousel
  }
  .slider {
    position: relative;
    #sync1 {
      width: 100%;
      .item {
        width: 610px;
        margin: auto !important;
        @media screen and(max-width:768px) {
          width: 100%;
        }
        img {
          width: 100%;
        }
        //   padding: 80px 0px;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
      }
    }
    #sync2 {
      position: absolute;
      bottom: -190px;
      @media screen and(max-width:768px) {
        bottom: -150px;
      }
      @media screen and(max-width:400px) {
        bottom: -80px;
      }
      // .owl-item{
      //   width: 150px !important;
      //   left: 50%;
      // }
      .item {
        background: #c9c9c9;
        margin: 5px;
        color: #fff;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        cursor: pointer;
        @media screen and(max-width:768px) {
          width: 159px;
        }
        @media screen and(max-width:568px) {
          width: 140px;
        }
        @media screen and(max-width:568px) {
          width: 110px;
        }
        @media screen and(max-width:400px) {
          width: 80px;
        }
        img {
          width: 100% !important;
        }
        // &:active {
        // }
      }
      .current .item {
        border: 1px solid;
        border-color: $color-brand3;
      }
    }
    .owl-theme {
      .owl-nav {
        /*default owl-theme theme reset .disabled:hover links */
        [class*="owl-"] {
          transition: all 0.3s ease;
          &.disabled:hover {
            background-color: #d6d6d6;
          }
        }
      }
    }
    #sync2.owl-theme {
      .owl-nav {
        display: none !important;
      }
    }
    //arrows on first carousel
    #sync1.owl-theme {
      position: relative;
      .owl-next,
      .owl-prev {
        width: 22px;
        height: 40px;
        margin-top: -20px;
        position: absolute;
        top: 50%;
        &:hover {
          background-color: transparent !important;
        }
      }
      .owl-prev {
        left: 10px;
      }
      .owl-next {
        right: 10px;
      }
    }
  }
}
.preview_details {
  padding-top: 80px;
  .wrapper {
    .p_head {
      text-align: center;
      color: $color-brand6;
      font-weight: 700;
      padding-bottom: 10px;
    }
    .rating {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      i {
        max-width: 16px;
        display: block;
        margin-right: 4px;
        img {
          width: 100%;
        }
      }
    }
    .nw {
      display: flex;
      justify-content: center;
      align-items: center;
      .price {
        color: $color-brand6;
        font-size: 40px;
        font-weight: 600;
        padding-top: 10px;
        margin-right: 20px;
      }
      .price_old {
        color: $color-off;
        font-size: 20px;
        font-weight: 600;
        padding-top: 10px;
        margin-right: 20px;
        text-decoration: line-through;
      }
    }
    .abt {
      margin-top: 15px;
      font-size: 14px;
      line-height: 25px;
      text-align: center;
    }
    .p_c {
      margin-top: 40px;
      display: flex;
      justify-content: space-evenly;
      @media screen and(max-width:992px) {
        display: block;
        text-align: center;
      }
      i {
        font-size: 25px;
        font-weight: 700;
        margin-right: 15px;
        font-style: normal !important;
      }
      .btn {
        border: none;
        border-radius: 0;
        outline: none;
        padding: 8px 14px;
        background-color: transparent;
        cursor: pointer;
        font-size: 15px;
        border: 1px solid;
        border-color: $select-border-color;
      }
      /* Style the active class, and buttons on mouse-over */
      .active,
      .btn:hover {
        background-color: rgb(24, 21, 21);
        color: white;
      }
      .color {
        -webkit-transition: all, 0.6s;
        -o-transition: all, 0.6s;
        transition: all, 0.6s;
        @media screen and(max-width:992px) {
          margin-top: 30px;
        }
        .custom-radios {
          div {
            display: inline-block;
          }
          input[type="radio"] {
            display: none;
            + label {
              color: #333;
              font-size: 14px;
              span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                margin: -1px 4px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 50%;
                border: 2px solid #ffffff;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                // line-height: 44px;
                img {
                  opacity: 0;
                  -webkit-transition: all, 0.6s;
                  -o-transition: all, 0.6s;
                  transition: all, 0.6s;
                  width: 50%;
                }
              }
            }
            &#color-1 + label span {
              background-color: $color-1;
            }
            &#color-2 + label span {
              background-color: $color-2;
            }
            &#color-3 + label span {
              background-color: $color-3;
            }
            &#color-4 + label span {
              background-color: $color-4;
            }
            &#color-5 + label span {
              background-color: $color-brand2;
            }
            &#color-6 + label span {
              background-color: $color-black;
            }
            &#color-7 + label span {
              background-color: $color-4;
            }
            &#color-8 + label span {
              background-color: grey;
            }
            &:checked + label span img {
              opacity: 1 !important;
              // border: 2px solid #140707;
            }
          }
        }
      }
    }
    .qnty {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      .input-group {
        margin-right: 20px;
        width: 100px;
        border: 1px solid;
        padding-top: 10px;
        border-color: $select-border-color;
        .input-group-btn {
          a {
            color: $color-black;
          }
        }
        #quantity {
          text-align: center;
          border: transparent;
          font-size: 18px;
          font-weight: 700;
          background-color: transparent;
        }
      }
    }
    .add_to {
      display: flex;
      justify-content: center;
      padding-top: 40px;
      @media screen and(max-width:576px) {
        display: block !important;
        text-align: center;
      }
      a {
        @media screen and(max-width:576px) {
          display: block !important;
          text-align: center;
          &:first-child {
            padding-bottom: 10px;
          }
        }
        font-size: 18px;
        color: $color-black;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        margin-right: 20px;
      }
    }
    .hd {
      padding-top: 30px;
      position: relative;
      text-align: center;
      &::after {
        position: absolute;
        left: 0;
        right: 0;
        top: 45px;
        height: 1px;
        width: 460px;
        background: #e5e5e5;
        content: "";
        z-index: -1;
        margin: 0 auto;
        @media screen and(max-width:500px) {
          width: 400px;
        }
        @media screen and(max-width:450px) {
          width: 350px;
        }
        @media screen and(max-width:376px) {
          display: none;
        }
      }
      span {
        background-color: $color-white;
        font-size: 25px;
        font-weight: 700;
        padding: 0 10px;
        @media screen and(max-width:576px) {
          font-size: 20px;
        }
      }
    }
    .payment {
      max-width: 500px;
      margin: auto;
      padding-top: 30px;
      img {
        width: 100%;
      }
    }
    .types {
      margin-top: 40px;
      ul {
        padding-left: 0;
        text-align: center;
        li {
          color: $color-black;
          font-size: 18px;
          font-weight: 700;
          padding-bottom: 10px;
          span {
            color: $color-off;
            font-size: 16px;
            font-weight: normal !important;
          }
        }
      }
    }
    .description {
      margin-top: 40px;
      nav {
        .nav-tabs {
          justify-content: center;
          .nav-link {
            color: $color-off;
            font-size: 20px;
            font-weight: 700;
            margin: 0 20px;
            background-color: transparent;
          }
        }
      }
      .nav-tabs .nav-item.show .nav-link,
      .nav-tabs .nav-link.active {
        border: 3px solid;
        border-radius: 0;
        border-color: transparent;
        border-bottom-color: $color-brand2 !important;
      }
      .tab-content {
        margin-top: 40px;
        padding-bottom: 50px;
        .tab-pane {
          .top {
            color: $color-black;
            font-size: 18px;
            font-weight: 600;
            line-height: 30px;
          }
        }
        .bt {
          font-size: 14px;
          line-height: 30px;
          padding-top: 10px;
        }
      }
    }
    .related {
      padding-top: 50px;
      padding-bottom: 50px;
      .wrapper {
        position: relative;
        margin-bottom: 40px;
        &:hover {
          .three {
            right: 15% !important;
            opacity: 1 !important;
            ul {
              display: block !important;
            }
          }
          .product_name {
            opacity: 0 !important;
          }
          .add_to_c {
            top: 20px !important;
            opacity: 1 !important;
          }
          .color {
            opacity: 1 !important;
          }
        }
        .img_wrapper {
          max-width: 750px;
          img {
            width: 100%;
          }
          .three {
            width: 100%;
            height: 100%;
            // background-color: #00000300;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: end;
            align-items: center;
            z-index: 3;
            right: 0;
            -webkit-transition: all, 0.3s;
            -o-transition: all, 0.3s;
            transition: all, 0.3s;
            opacity: 0;
            ul {
              padding-left: 0;
              display: none;
              position: relative;
              li {
                background: $color-white;
                padding: 5px;
                margin-bottom: 5px;
                &:hover {
                  .detail {
                    opacity: 1 !important;
                  }
                }
                .detail {
                  position: absolute;
                  padding: 5px 5px;
                  background-color: $color-black;
                  color: $color-white;
                  z-index: 999;
                  top: 43px;
                  right: 46px;
                  -webkit-transition: all, 0.3s;
                  -o-transition: all, 0.3s;
                  transition: all, 0.3s;
                  opacity: 0;
                  &::after {
                    content: " ";
                    background-color: #000;
                    height: 8px;
                    width: 8px;
                    position: absolute;
                    top: 13px;
                    transform: rotate(43deg);
                    right: -4px;
                  }
                }
                :last-child {
                  margin-bottom: 0;
                }
                a {
                  color: $color-black;
                  text-decoration: none;
                }
                .material-icons {
                  font-size: 25px;
                }
                span {
                  font-size: 20px;
                }
              }
            }
          }
          .new {
            position: absolute;
            top: 15px;
            left: 0;
            background-color: $color-white;
            color: $color-black;
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 500;
            padding: 3px 10px;
            text-transform: uppercase;
          }
          .sale {
            position: absolute;
            top: 15px;
            left: 0;
            background-color: $color-black;
            color: $color-white;
            letter-spacing: 1px;
            font-size: 16px;
            font-weight: 500;
            padding: 3px 10px;
            text-transform: uppercase;
          }
        }
        .img_details {
          padding-top: 30px;
          position: relative;
          .add_to_c {
            color: $primary;
            position: absolute;
            top: -10px;
            opacity: 0;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 0.5px;
            -webkit-transition: all, 0.3s;
            -o-transition: all, 0.3s;
            transition: all, 0.3s;
          }
          .product_name {
            color: $color-brand6;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 1px;
            opacity: 1;
            -webkit-transition: all, 0.3s;
            -o-transition: all, 0.3s;
            transition: all, 0.3s;
          }
          .rating {
            display: flex;
            i {
              max-width: 16px;
              display: block;
              margin-right: 4px;
              img {
                width: 100%;
              }
            }
          }
          .price {
            color: $color-brand6;
            font-size: 20px;
            font-weight: 600;
            padding-top: 10px;
          }
          .color {
            position: absolute;
            bottom: 0px;
            right: 10px;
            z-index: 999;
            opacity: 0;
            -webkit-transition: all, 0.6s;
            -o-transition: all, 0.6s;
            transition: all, 0.6s;
            .custom-radios {
              div {
                display: inline-block;
              }
              input[type="radio"] {
                display: none;
                + label {
                  color: #333;
                  font-size: 14px;
                  span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    margin: -1px 4px 0 0;
                    vertical-align: middle;
                    cursor: pointer;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                    background-repeat: no-repeat;
                    background-position: center;
                    text-align: center;
                    // line-height: 44px;
                    img {
                      opacity: 0;
                      -webkit-transition: all, 0.6s;
                      -o-transition: all, 0.6s;
                      transition: all, 0.6s;
                      width: 50%;
                    }
                  }
                }
                &#color-1 + label span {
                  background-color: $color-1;
                }
                &#color-2 + label span {
                  background-color: $color-2;
                }
                &#color-3 + label span {
                  background-color: $color-3;
                }
                &#color-4 + label span {
                  background-color: $color-4;
                }
                &:checked + label span img {
                  opacity: 1 !important;
                  // border: 2px solid #140707;
                }
              }
            }
          }
        }
      }
    }
  }
}
