.shop {
  margin: 80px 0;
  @media screen and(max-width:576px) {
    margin: 50px 0;
  }
  .top {
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    @media screen and(max-width:768px) {
      display: block !important;
    }
    @media screen and(max-width:576px) {
      padding-left: 20px;
    }
    .left {
      font-size: 20px;
      letter-spacing: 0.5px;
      @media screen and(max-width:992px) {
        font-size: 16px;
      }
      @media screen and(max-width:768px) {
        margin-bottom: 20px;
      }
    }
    .right {
      .select {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 250px;
        height: 40px;
      }
      .option {
        padding: 0 30px 0 10px;
        min-height: 40px;
        display: flex;
        align-items: center;
        background: rgb(255, 255, 255);
        border-top: #222 solid 1px;
        position: absolute;
        top: 0;
        width: 100%;
        pointer-events: none;
        order: 2;
        z-index: 4;
        transition: background 0.4s ease-in-out;
        box-sizing: border-box;
        overflow: hidden;
        white-space: nowrap;
      }
      .option:hover {
        background: rgb(189, 189, 189);
      }
      .select:focus .option {
        position: relative;
        pointer-events: all;
      }
      input {
        opacity: 0;
        position: absolute;
        left: -99999px;
      }
      input:checked + label {
        order: 1;
        z-index: 2;
        background: $color-white;
        border: 1px solid;
        border-color: $select-border-color;
        position: relative;
      }
      input:checked + label:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid white;
        position: absolute;
        right: 10px;
        top: calc(50% - 2.5px);
        pointer-events: none;
        z-index: 3;
      }
      input:checked + label:before {
        position: absolute;
        right: 0;
        height: 40px;
        width: 40px;
        content: "";
        background: $color-brand6;
      }
    }
  }
  .pt {
    padding-top: 30px;
  }
  .shop_content {
    .wrapper {
      position: relative;
      margin-bottom: 40px;
      &:hover {
        .three {
          right: 15% !important;
          opacity: 1 !important;
          ul {
            display: block !important;
          }
        }
        .product_name {
          opacity: 0 !important;
        }
        .add_to_c {
          top: 20px !important;
          opacity: 1 !important;
        }
        .color {
          opacity: 1 !important;
        }
      }
      .img_wrapper {
        max-width: 750px;
        img {
          width: 100%;
        }
        .three {
          width: 100%;
          height: 100%;
          // background-color: #00000300;
          position: absolute;
          top: 0;
          display: flex;
          justify-content: end;
          align-items: center;
          z-index: 3;
          right: 0;
          -webkit-transition: all, 0.3s;
          -o-transition: all, 0.3s;
          transition: all, 0.3s;
          opacity: 0;
          ul {
            padding-left: 0;
            display: none;
            position: relative;
            li {
              background: $color-white;
              padding: 5px;
              margin-bottom: 5px;
              &:hover {
                .detail {
                  opacity: 1 !important;
                }
              }
              .detail {
                position: absolute;
                padding: 5px 5px;
                background-color: $color-black;
                color: $color-white;
                z-index: 999;
                top: 43px;
                right: 46px;
                -webkit-transition: all, 0.3s;
                -o-transition: all, 0.3s;
                transition: all, 0.3s;
                opacity: 0;
                &::after {
                  content: " ";
                  background-color: #000;
                  height: 8px;
                  width: 8px;
                  position: absolute;
                  top: 13px;
                  transform: rotate(43deg);
                  right: -4px;
                }
              }
              :last-child {
                margin-bottom: 0;
              }
              a {
                color: $color-black;
                text-decoration: none;
              }
              .material-icons {
                font-size: 25px;
              }
              span {
                font-size: 20px;
              }
            }
          }
        }
        .new {
          position: absolute;
          top: 15px;
          left: 0;
          background-color: $color-white;
          color: $color-black;
          letter-spacing: 1px;
          font-size: 16px;
          font-weight: 500;
          padding: 3px 10px;
          text-transform: uppercase;
        }
        .sale {
          position: absolute;
          top: 15px;
          left: 0;
          background-color: $color-black;
          color: $color-white;
          letter-spacing: 1px;
          font-size: 16px;
          font-weight: 500;
          padding: 3px 10px;
          text-transform: uppercase;
        }
      }
      .img_details {
        padding-top: 30px;
        position: relative;
        .add_to_c {
          color: $primary;
          position: absolute;
          top: -10px;
          opacity: 0;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.5px;
          -webkit-transition: all, 0.3s;
          -o-transition: all, 0.3s;
          transition: all, 0.3s;
        }
        .product_name {
          color: $color-brand6;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 1px;
          opacity: 1;
          -webkit-transition: all, 0.3s;
          -o-transition: all, 0.3s;
          transition: all, 0.3s;
        }
        .rating {
          display: flex;
          i {
            max-width: 16px;
            display: block;
            margin-right: 4px;
            img {
              width: 100%;
            }
          }
        }
        .price {
          color: $color-brand6;
          font-size: 20px;
          font-weight: 600;
          padding-top: 10px;
        }
        .color {
          position: absolute;
          bottom: 0px;
          right: 10px;
          z-index: 999;
          opacity: 0;
          -webkit-transition: all, 0.6s;
          -o-transition: all, 0.6s;
          transition: all, 0.6s;
          .custom-radios {
            div {
              display: inline-block;
            }
            input[type="radio"] {
              display: none;
              + label {
                color: #333;
                font-size: 14px;
                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 20px;
                  height: 20px;
                  margin: -1px 4px 0 0;
                  vertical-align: middle;
                  cursor: pointer;
                  border-radius: 50%;
                  border: 2px solid #ffffff;
                  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                  background-repeat: no-repeat;
                  background-position: center;
                  text-align: center;
                  // line-height: 44px;
                  img {
                    opacity: 0;
                    -webkit-transition: all, 0.6s;
                    -o-transition: all, 0.6s;
                    transition: all, 0.6s;
                    width: 50%;
                  }
                }
              }
              &#color-1 + label span {
                background-color: $color-1;
              }
              &#color-2 + label span {
                background-color: $color-2;
              }
              &#color-3 + label span {
                background-color: $color-3;
              }
              &#color-4 + label span {
                background-color: $color-4;
              }
              &:checked + label span img {
                opacity: 1 !important;
                // border: 2px solid #140707;
              }
            }
          }
        }
      }
    }
  }
  .shop_pagination_area {
    text-align: center;
    display: flex;
    margin: auto;
    padding-top: 30px;
    .pagination {
      .page-item.active .page-link {
        color: $white;
        background-color: $color-brand3;
      }
      .page-item {
        .page-link {
          color: $black;
          background-color: $white;
          border: 0;
          font-size: 15px;
          font-weight: 600;
          border: 2px solid;
          border: 0;
          border-radius: 0;
          border-color: $color-grey;
          height: 35px;
          width: 37px;
          box-shadow: none;
          padding: 8px 10px;
          &:hover {
            color: $white;
            background-color: $color-brand3;
          }
        }
        &:nth-child(4) {
          .page-link {
            background-color: transparent !important;
          }
        }
      }
    }
  }
}
// .accordion-toggle:hover { text-decoration: none; }
// .accordion-toggle:hover span, .accordion-toggle:hover strong { text-decoration: underline; }
// .accordion-toggle:before { font-size: 25px; }
// .accordion-toggle[data-toggle="collapse"]:before { content: "+"; margin-right: 0px; }
// .accordion-toggle[aria-expanded="true"]:before { content: "-"; margin-right: 0px; }
