.footer-area{
    .footer-logo{
        margin-bottom:40px;
    }
    .footer-pera{
        & p{
            color:#868c98;
            font-size: 16px;
            margin-bottom: 50px;
            line-height: 1.8;
        }
        &.footer-pera2 p{
            padding: 0;
        }
    }
    .footer-tittle{
        & h4{
            color: #000;
            font-size: 20px;
            margin-bottom: 29px;
            font-weight: 500;
            text-transform: capitalize;
            font-family:$font_2;
        }
        & ul{
            & li{
                color: #012f5f;
                margin-bottom: 15px;
                & a{
                    color: #868c98;
                    font-weight: 300;
                    &:hover{
                        color:$theme-color;
                        padding-left: 5px;
                    }
                   
                }
            }
        }
    }
}

//copy Right 


    .footer-copy-right{
        padding-top: 50px;
        @media #{$md}{
            padding-top: 0px;
            float: left;
        }      
        @media #{$sm}{
            padding-top: 0px;
            float: left;
        }    
        @media #{$xs}{
            padding-top: 0px;
            float: left;
        }
        & p{
            color: #888888;
            font-weight: 300;
            font-size: 16px;
            line-height: 2;
            margin-bottom: 20px;
            & i{
                color:$theme-color;
            }
             a{
                color:$theme-color;
            }
        }
    }


// Social
.footer-social{
    & a{
        &:last-child{
            padding-right: 0;
        }
       & i{
        color: #222222;
        font-size: 14px;
        padding: 5px 10px;
        // Effect
        @include transition(.4s);
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        &:hover{
            color:$theme-color;
            // Effect
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
        }
      
       }
    }
}
