
.oe_webclient_notification_action t {
  color: white;
}
.oe_webclient_notification_action p {
  color: white;
  margin-top: 1em;
}
 .label {
  display: inline-block;
  color: black;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
.reminder-dropdown {
    .o-flex(0, 1, auto);
    background: #FFFFFF;
    max-height: 400px;
    min-height: 50px;
    overflow-y: auto;

    @media (max-width: @screen-xs-max) {
        max-height: none;
    }
.weather_notification {
    width: 100%;
    background: #eeeeee;
}
.weather_settings {
    float:left;
    text-align: right;
    width:100%;
}

.fa-sign-in:hover {
    opacity:.5;
}

.fa-cog{
    -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

.fa-cog:hover{
     -webkit-transform: rotate(360deg);
         transform: rotate(360deg) ;
}

.weather_content{
    width: 100%;
    float: left;
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 5%;


}
.weather_content p{
    margin:2px 0 4px 0;
    color: #808080;
    font-size: 11px;
}
.weather_content h1{
    margin:0px;
    font-size: 26px;
    padding: 3px 0 3px 0;
}
.detail-client-address-country {
   color: black;
 }
.warning h4{
    color: #d21010;
    font-weight: 100;
    font-size: 12px;
}

