.banner-sub-about {
  background-image: url(../../images/banner/banner.jpg);
  .banner-name {
    margin: auto;
    .banner-heading {
      text-align: center;
      padding-top: 156px;
      padding-bottom: 156px;
      font-size: 50px;
      letter-spacing: 2px;
      color: $color-white;
    }
  }
}
.about_content {

  margin-bottom: 50px;
    .about-left{
      
    }
    .about_subhead{
        margin-bottom: 40px;
    }
  .about_img {
      
      padding-right: 50px;
      border-radius: 2px;
    width: 100%;

    @media screen and(max-width:992px){
      padding-right:0;
    }
    
    img {
        width: 80%;
            border-radius: 13px;

            @media screen and(max-width:992px){
              width: 100%;
            }

            @media screen and(max-width:768px){

              margin-bottom: 30px;
            
            }
    }
  }

  .pince{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;

    .pince-left{
        margin-right: 10px;
        border: 1px solid;
padding: 6px;
padding-right: 12px;
padding-left: 15px;
padding-top: 13px;
        border-color: $color-theme;
        border-radius: 50%;
    }


  }
}


.about-bottom{
  background-attachment: fixed;
  background-image: linear-gradient(
    rgba(17, 17, 17, 0.60),
    rgba(17, 17, 17, 0.60),
), url(../../images/banner/banner.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  text-align: end;
  background-repeat: no-repeat;
  // background-position: center -76px;
  margin-top: 80px;
  margin-bottom: 80px;
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  
  display: flex;
  align-items: end;
  
    .abt-btm-words{
      color: white;
 
    }
  
}