.banner-sub-cart {
  
    .banner-name {
      margin: auto;
      .banner-heading {
        text-align: center;
        padding-top: 156px;
        padding-bottom: 156px;
        font-size: 50px;
        letter-spacing: 2px;
        color: $color-white;
      }
    }
  }


  .cart{
    margin-bottom: 50px;
    margin-top: 50px;
    
    .cart_heading{
        text-align:center;
    }

    .shopping-cart {
        width: 800px;
       
        margin: 80px auto;
        background: #FFFFFF;
        box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
        border-radius: 6px;
       
        display: flex;
        flex-direction: column;

        
      }


    //   .title {
    //     height: 60px;
    //     border-bottom: 1px solid #E1E8EE;
    //     padding: 20px 30px;
    //     color: #5E6977;
    //     font-size: 18px;
    //     font-weight: 400;
    //   }
       
      .item {
        padding: 20px 30px;
        
        display: flex;
      }
       
      .item:nth-child(3) {
        border-top:  1px solid #E1E8EE;
        border-bottom:  1px solid #E1E8EE;
      }


      .buttons {
        position: relative;
        padding-top: 30px;
        margin-right: 60px;
      }
      .delete-btn,
      .like-btn {
        display: inline-block;
        Cursor: pointer;
      }
      .delete-btn {
        width: 18px;
        
        img{
            width: 100%;
            width: 24px;
height: 17px;
margin-right: 20px;
        }
     
      }
       
      .like-btn {
        width: 18px;
       
        img{
            width: 100%;
            width: 24px;
height: 17px;
margin-left: 9px;
        }
      }

      .is-active {
        animation-name: animate;
        animation-duration: .8s;
        animation-iteration-count: 1;
        animation-timing-function: steps(28);
        animation-fill-mode: forwards;
      }
       
      @keyframes animate {
        0%   { background-position: left;  }
        50%  { background-position: right; }
        100% { background-position: right; }
      }


      .image {
          width: 14%;
        margin-right: 50px;
        img{
            width: 100%;
        }
      }
       
    
      .description {
        padding-top: 10px;
        margin-right: 60px;
        width: 115px;
      }
       
      .description span {
        display: block;
        font-size: 14px;
        color: #43484D;
        font-weight: 400;
      }
       
      .description span:first-child {
        margin-bottom: 5px;
      }
      .description span:last-child {
        font-weight: 300;
        margin-top: 8px;
        color: #86939E;
      }

      .quantity {
        padding-top: 20px;
        margin-right: 60px;
      }
      .quantity input {
        -webkit-appearance: none;
        border: none;
        text-align: center;
        width: 32px;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
      }
       
      button[class*=btn] {
        width: 30px;
        height: 30px;
        background-color: #E1E8EE;
        border-radius: 6px;
        border: none;
        cursor: pointer;
      }
      .minus-btn img {
        margin-bottom: 3px;
      }
      .plus-btn img {
        margin-top: 2px;
      }
       
      button:focus,
      input:focus {
        outline:0;
      }

      .total-price {
        width: 83px;
        padding-top: 27px;
        text-align: center;
        font-size: 16px;
        color: #43484D;
        font-weight: 300;
      }


      @media (max-width: 800px) {
        .shopping-cart {
          width: 100%;
          height: auto;
          overflow: hidden;
        }
        .item {
          height: auto;
          flex-wrap: wrap;
          justify-content: center;
        }
        .image img {
          width: 50%;
        }
        .image,
        .quantity,
        .description {
          width: 100%;
          text-align: center;
          margin: 6px 0;
        }
        .buttons {
          margin-right: 20px;
        }
      }

      .checkout_wrapper{
        justify-content: center;
        

  }
}