.banner-sub-contact {
  
    .banner-name {
      margin: auto;
      .banner-heading {
        text-align: center;
        padding-top: 156px;
        padding-bottom: 156px;
        font-size: 50px;
        letter-spacing: 2px;
        color: $color-white;
      }
    }
  }

  .contact{

    
    
    .address  {
        margin: 25px 0;
        h4{
            margin-bottom: 25px;
            color: #000;
            font-weight: 600;
            font-size: 16px;
        }
        h5{
            line-height: 30px;
color: #6B6B6B;
font-size: 16px;
letter-spacing: 0px;



}


        }

        a{
            color: #6B6B6B;
            text-decoration: none;
            
            &:hover{
                color:  darken(#6B6B6B, 5%) !important;
                
            }

        }

        @media screen and (max-width:992) {

    
            h5{
                line-height: 0;
                font-size: 13px;
            }
       
    }

    
.form{
         
  
    }
    


    textarea{
        width: 96%;
border: 1px solid #000;
resize: none;
padding: 10px;
height: 180px;
outline: none;
margin-top: 15px;
margin-bottom: 15px;
    }

    input[type="submit"] {
        background: #fe0000;
        padding: 14px 15px;
        outline: none;
        margin-top: 15px;
        color: #fff;
        border: none;

        &:hover{
            background-color:  darken(red, 5%) !important;
            color: #fff;
        }
    }
}
  
.contact_text {
    width: 47%;
    padding: 10px;
    background: transparent;
    border: 1px solid #000;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 14px;
    color: #000;
    outline: none;


    @media screen  and (max-width:992px) {

        margin-right: 0;
        
        }
}


.map{  

   
    margin-top: 50px;
.map-responsive{
    overflow:hidden;
    padding-bottom:34.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
}