.left-sidebar {
    background-color: #0529ac;
    color: white;
    border-radius: 5px;
    width: 110px;
}
.files{
    margin-top: 20px;
    }
.file-icon{
    width: 65px;
    margin-top: 42px;
    margin-left: 1.1vw;
}
.card{
    max-width: 15%;
    height: 23rem;
    border-radius: 1.25rem;
    margin: 15px;
}
.image{
    opacity: 80%;
    width: 55px;
    margin-left: 1.3vw;
}
.card-img-top{
    width: 10vw;
    height: 22vh;
}
.import{
    background-color: #ffffff;
    color: #0529ac;
    border-radius: 5px;
    width: 100px;
    border-color: unset;
    margin-left: 10px
}
.upload{
    background-color: #0529ac;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
}
.onedrive_content{
overflow-y: scroll;
height: 85vh;
background-color:lightgray;
}