#menu {
    z-index: 999;
    cursor:unset !important;
    position:fixed;
    background-color: transparent !important;

   
    top: 0;
 
    display: block;
    transition: top 0.3s;
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 35px 35px 10px 20px;
    cursor: pointer;
    cursor:unset !important;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color:
    #152235;
    // #48576c
    display: block;
    border-radius: 5px;
    transition: 0.9s ease;
    cursor:unset !important;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.9s ease;
    display: none;
    padding-right: 30px;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 20px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 25px;
    
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
    color: $color-hover;
  }
  
  .menu-bg, #menu {
    top: 0;
    right: 0 !important; 
    position: absolute;
  }
  
  .menu-bg {
    z-index: 3;
    width: 0;
    height: 0;
    // margin: 30px 0 20px 20px;
    background: radial-gradient(circle,  #48576c,  #48576c);
   
    transition: 0.9s ease;
  }

  // .menu-bg2, #menu {
  //   top: 0;
  //   left: 0;
  //   position: absolute;
  // }
  .menu-bg2 {
    z-index: 3;
    width: 0;
    height: 0;
    // margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #152235, #152235);
   
    transition: 0.9s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 50vw;
    height: 100vh;
    transform: translate(0%, 0%);
    z-index: 3;
  }
   
  .change-bg2 {
    width: 50vw;
    height: 100vh;
    transform: translate(0%, 0%);
    z-index: 3;
  }

  #logo{
  
  position: fixed;
  top: 10px;
  z-index: 999;
  display: block;
  transition: top 0.6s;
    a{
      font-size: 45px;
    color: #b22126;
    font-weight: 700;
    text-decoration: none;
    }
  }
