.sidebar{
    background-color: $color-brand2;
    position: relative;
    margin-top: 45px;
    @media screen and(max-width:768px) {
       margin-left: 30px;
        }

.wrapper_s{
padding: 0px 70px;


@media screen and(max-width:1350px) {
    padding: 0px 20px;
     }
}
    .search_box{
        padding: 100px 0;
    
.has-search .form-control {
    padding-left: 3.375rem;
    background-color: $color-brand;
    color: $color-brand2;
}

.form-control{

    padding: 20px 0;
    display: block;
width: 100%;
height: calc(2.5em + .75rem + 2px);
padding: .375rem .75rem;
    padding-left: 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;

background-color: rgb(146, 23, 23);
background-clip: padding-box;
border: none;
border-radius: 0;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
box-shadow: none !important;
}

.has-search .form-control-feedback {
 
    z-index: 2;
    display: block;
    width: 3.375rem;
    height: 2.375rem;
    line-height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: #152235;
}

.form-control-feedback{
    position: absolute;
    right: 20px;
}

.form-group{
    position: relative;
}
}

.categories{
    padding-bottom: 40px;
    h4{
        background-color:$color-brand;
        color: $color-brand2;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 0;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 30px;
    }
    ul{
        padding-left:0px;
        li{
            padding:5px;
           
            margin-bottom: 20px;
            a{
                color: $color-brand2;
                text-decoration: none;
                background-color:$color-brand;
                padding: 5px 20px;
                text-transform: uppercase;
            }
        
        }
    }
}

.recent_post{
    padding-bottom: 40px;
    h4{
        background-color:$color-brand;
        color: $color-brand2;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 0;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 30px;    
    }
    .warapper{
        
        display:flex;
        margin-bottom: 30px;

        @media screen and(max-width:1140px) {
           display: block;
         }
        .post{
           
            .img_wrapper{
                max-width: 100px;


                @media screen and(max-width:1140px) {
                  max-width: 100%;
                  }
                img{
                    width: 100%;
                }
            }
        }

        .post_detials{
            padding-left: 10px;
            padding-top: 10px;
            background-color: $color-brand;
            padding-right: 38px;
            a{
                text-decoration: none;
                text-transform: uppercase;
                color: $color-white;
                span{
                
                    font-size: 14px;

                }
            }
            .date{
                text-transform: uppercase;
                color: $color-white;
                font-size: 12px;
                padding-top: 10px;
                font-family: "Open Sans", sans-serif;
            }
        }
    }
}

.tags{
    padding-bottom: 40px;
    h4{
        background-color:$color-brand;
        color: $color-brand2;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 0;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 30px;    
    }

    .wrapper_t{
        .tt{
           display: flex;
            padding-left: 0;
            flex-flow: wrap;
            .inner{
                padding:5px;
               
                margin-bottom: 20px;
                a{
                    color: $color-brand2;
                    text-decoration: none;
                    background-color:$color-brand;
                    padding: 5px 20px;
                    text-transform: uppercase;
                }
            
            }
        }
    }
}

.instagram{
    padding-bottom: 50px;
    h4{
        background-color:$color-brand;
        color: $color-brand2;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 10px 0;
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        margin-bottom: 30px;    
    }
    .wrapper_i{
        // display: flex;
        // flex-flow: wrap;
     
        .img_wrapper{
            max-width: 175px;
         
            overflow: hidden;

            @media screen and(max-width:992px) {
               max-width: 100%;
             }
            img{
                width: 100%;
                overflow: hidden;
                &:hover {
                    overflow: hidden;
                    transform: scale(1.1);
                    -webkit-transition: all 1s ease;
                    -moz-transition: all 1s ease;
                    -o-transition: all 1s ease;
                    transition: all 1s ease-in-out;
                    transition-property: all;
                }
            }
            &:nth-child(1) {
                img {
                    padding-right: 10px !important;
                    padding-top: 15px;
                    @media screen and(max-width:992px) {
                      padding: 0px !important;
                      margin-bottom: 15px;
                      }
                }
            }
            &:nth-child(2) {
                img {
                    padding-left: 10px !important;
                    padding-top: 15px;
                    @media screen and(max-width:992px) {
                        padding: 0px !important;
                        margin-bottom: 15px;
                        }
                }
            }
            &:nth-child(3) {
                img {
                  padding-right: 10px !important;
                  padding-top: 15px;
                  @media screen and(max-width:992px) {
                    padding: 0px !important;
                    margin-bottom: 15px;
                    }
                }
            }

            &:nth-child(4) {
                img {
                  padding-left: 10px !important;
                  padding-top: 15px;
                  @media screen and(max-width:992px) {
                    padding: 0px !important;
                    margin-bottom: 15px;
                    
                    }
                }
            }
          
        }
    }
}
}
