.product_stock_info_label {
    color: white;
    text-align: center;
    padding: 12px 8px;
    font-weight: 600;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    &.out_of_stock {
        background-color: #dc3545;
    }

    &.in_stock {
        background-color: #198754;
    }
}