
.oe_webclient_notification_action t {
  color: white;
}
.oe_webclient_notification_action p {
  color: white;
  margin-top: 1em;
}
 .label {
    display: inline-block;
    color: white;
    max-width: 100%;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: larger;
}
.reminder-dropdown {
    .o-flex(0, 1, auto);
    background: #FFFFFF;
    max-height: 400px;
    min-height: 50px;
    overflow-y: auto;

    @media (max-width: @screen-xs-max) {
        max-height: none;
    }

.detail-client-address-country {
   color: black;
 }


