$primary_accent: var(--primary-accent) !important;
$secondary_accent: var(--secondary-accent) !important;
$inverse_accent: var(--inverse-accent) !important;
$kanban-bg-color:var(--kanban-bg-color) !important;
$o-kanban-color-border-width: var(--o-kanban-color-border-width) !important;
$selected_row: var(--selected-row) !important;
$bg_white: var(--bg-white) !important;
$bg_dark: var(--bg-dark) !important;
$f_color: var(--f-color) !important;
$color_white : var(--color-white) !important;
$primary_hover: var(--primary-hover) !important;
$light_hover: var(--light-hover) !important;

$fullscreen-bg-color: var(--fullscreen-bg-color) !important;


:root{
    --primary-accent: #A53860;
    --primary-accent-border: #ffffff;
    --app-bar-accent: #ffffff;
    --full-screen-bg: url(/hue_backend_theme/static/description/assets/background.jpg) ;

    --kanban-bg-color:#f7f7f7;
    --o-kanban-color-border-width: 8px !important;
    --selected-row: #ffffff !important;
    --app-menu-font-color:#ffffff;
    --bg-white: #ffffff !important;
    --bg-dark: #060204 !important;
    --f-color: #555b6d !important;
    --color-white : #ffffff !important;
    --color-black : #0F1114 !important;
    --primary-hover: #953256;
    --light-hover: #d5d5d5 ;
    --secoundary-hover: #06070f;
    --btn-primary: #953256;
    --btn-secondary: #ffffff;
    --btn-info: #281f22;
    --fullscreen-bg-color: #C5F0FC !important;
}