
#sidebar_panel {
    height: calc(100% - 0%);
    position: fixed;
    background-color: var(--bg-dark) !important;
    width: 80px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    z-index: 1;
    top: 0;

    @media (max-width: 768px) {
        display: none !important;
    }
}
#sidebar_panel::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.sidebar_panel{
    padding-top: 85px !important;

    &:after {
        content: "";
        position: fixed;
        width: 80px;
        height: 100px;
        bottom: 0;
        left: 0;
        pointer-events: none !important;
        background-image: linear-gradient(top, rgba(0,0,0,0) 0%,  var(--bg-dark) 100%);
        background-image: -o-linear-gradient(top, rgba(0,0,0,0) 0%,  var(--bg-dark) 100%);
        background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, var(--bg-dark) 100%);
        background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, var(--bg-dark) 100%);

        @media (max-width: 767.98px) {
            display: none !important;
        }
    }
}
.sidebar_panel .sidebar {
    padding: 0;
    white-space: nowrap;
    padding-bottom: 20px;
    padding-top: 5px;
}

.sidebar_panel .sidebar .sidebar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar_panel .sidebar .sidebar_menu li {
    margin: 0;
    padding: 0;
    border: 0px;
    display: block;
    /*margin-bottom:5px;*/
}

.sidebar_panel .sidebar .sidebar_menu li a {
    margin: 0;
    border: 0px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    color: #ffffff;
    font-size: 13px;
    transition:.3s all;
}
.sidebar_panel .sidebar .sidebar_menu li:hover  a {
    background: var(--secoundary-hover) !important;
    color: #fff;
}

.sidebar_panel .sidebar .sidebar_menu li a .sidebar_img {
    width: 22px;
    width: 22px;
    height: 22px;
    border-radius: 0px;
}


.sidebar_panel .sidebar .sidebar_menu li .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 10px 6px 10px;
}

.a_app_menu_title{
    margin: 10px !important;
    white-space: normal;
    text-align: center;
    word-break: break-word;
    width: 75px;
}

.o_menu_systray > *{
    display: none;
    &:last-child{
        display: block !important;
        margin-left: 5px !important;
        height: 80px !important;
        position: fixed;
        background-color: var(--bg-dark) !important;
        max-width: 80px;
        top: 0;

        .dropdown-toggle{
            padding-left: 15px !important;
        }
        .dropdown-toggle .oe_topbar_name{
            display: none !important;
        }

        @media (max-width: 767.98px) {
            display: none !important;
        }
    }
}

.sidebar_menu .o_menu_systray .o_user_menu .dropdown-toggle{
    width: 100%;
    background-color: transparent;
    border: none;
    height: 80px;
    img{
        width: 40px;
        height: 40px;
    }
    &:hover{
        background-color: var(--secoundary-hover) !important
    }
}
.sidebar_menu .o_menu_systray .o_user_menu .o-dropdown--menu {
    display: flex;
    top: 10px !important;
    left: 80px !important;
    overflow: visible;
    z-index: 2;

    &:after{
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        border-color: transparent #fff;
        border-width: 10px 12px 10px 0;
        top: 12%;
        left: -12px;
    }
}
.o_main_navbar .o_menu_systray{
    margin-right: 20px !important;
}
.o_main_navbar .o_MessagingMenu,
.o_main_navbar .o_mail_systray_item{
    margin-left: 10px !important;
}
.o_main_navbar .o_user_menu{
    display: none !important;
    @media (max-width: 768px) {
         display: block !important;
    }
}
.o_main_navbar .o_menu_systray {
    @media (max-width: 768px) {
        margin-right: 0px !important;
    }
}
.sidebar_menu > .o_menu_systray > .o_user_menu{
    margin-left: 0px;
}
.o_menu_systray .dropdown-toggle:hover:hover {
    background-color: var(--primary-hover) !important;
    text-decoration: none !important;
}
.o_menu_sections_more .o-dropdown--menu{
    position: absolute !important;
}