.banner{
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    padding:155px 0;
}

.banner .card{
    background-color:transparent ;
    border:none;
}
.banner .card-header{
    border: none;
    padding-bottom: 7px;
    font-size:$font-size-h4;
    font-weight: 400;
    color:$color-offwhite;
}

.banner .card-title{
    font-size:$font-size-banner;
    margin-bottom: 1.75rem;
}
.card-body{
    padding: 0.25rem;
    background: transparent !important;
}

