.btn {
    border: none !important;
    outline: none !important;
    &-primary {
        background-color: $color-red !important;
        border-color: $color-red;
        padding: 9px 35px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none; 
        }
    }
    &-secondary {
        background-color: $color-grey !important;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
        }
    }
    &-outline-primary{
        color: red !important;
        border-color: #35979c;
        &:hover{
            background-color: #f7071e !important;
            color: #ffffff !important;
        }
    }
    &-light {
        margin-left: 20px;
        color: #fff;
        padding: 9px 25px !important;
       
  cursor: pointer;
        background-color: $color-grey !important;
        border-color: $color-red;
        padding: 9px 35px;
        &:hover {
            background-color:  darken($color-grey, 5%) !important;
  color: #fff;
 
        }
    }
    &-new {
        color:#fff;
        float: right;
        background-color: $color-red !important;
        border-color: $color-red;
        padding: 9px 35px;
        margin-top: 20px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
            color:#fff;
        }
    }
    &-red {
        background-color: $color-red !important;
        border-color: $color-red;
        padding: 1px 5px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
        }
    }
    &-white {
        background-color:#fff !important;
        border-color: #fff;
        padding: 1px 5px;
        &:hover {
            background-color: darken($color-red, 5%) !important;
            border: none;
        }
        
    }
    &-more {
        color: $color-red;
        background-color:#fff !important;
        border-color: #fff;
        padding: 9px 35px;
         border-color:$color-grey;
        border: 1px solid !important; 

    }  
    
}

