.index_about {
  position: relative;
  margin-top: -100px;
  display: block;
  z-index: 3;
  margin-bottom: 40px;
    // @media screen and(max-width:992px) {
    //   margin: 0px;
    // }
  .ss_wrapper {
    padding-bottom: 100px;
    @media screen and(max-width:768px) {
    padding-bottom: 70px;
    }
    .main_c {
      background: rgb(241, 104, 104);
      background: linear-gradient(38deg, rgba(241, 104, 104, 1) 14%, rgba(252, 176, 23, 1) 60%, rgba(252, 176, 23, 1) 100%);
      padding: 80px 70px 100px 70px;
      position: relative;
      .next {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        transform: translate(-50%, 78px);
        position: absolute;
        left: 50%;
        -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.36);
        -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.36);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.36);
        @media screen and(max-width:768px) {
          bottom: 56px;
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 44px;
          width: 44px;
          border-radius: 50%;
          background-color: var(--white-color);
          &:hover {
            background-color: var(--level-color-3);
            i {
              color: var(--white-color);
            }
          }
        }
        i {
          color: var(--level-brand);
          font-size: 25px;
        }
      }
      @media screen and(max-width:768px) {
        padding: 60px 50px 60px 50px;
        text-align: center;
      }
      .left {
        p {
          color: var(--level-color-3);
          font-weight: 600;
          text-transform: uppercase;
          font-size: 16px;
        }
        .abt_c {
          color: var(--white-color);
          font-size: 36px;
          font-weight: 700;
          line-height: 1.4em;
        }
        @media screen and(max-width:768px) {
          padding-bottom: 40px;
          text-align: center;
        }
      }
      .right {
        .r_p {
          color: var(--white-color);
          font-size: 18px;
          line-height: 1.8em;
          @media screen and(max-width:768px) {
            font-size: 16px;
          }
        }
      }
    }
    .services_wrapper {
      padding-top: 50px;
      margin-top: 20px;
      .s_services {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and(max-width:992px) {
          padding: 15px;
          margin-bottom: 15px;
        }
        span {
          margin-right: 15px;
          i {
            color: var(--p-color2);
            font-size: 22px;
          }
        }
        p {
          margin-bottom: 0;
          font-weight: 500;
          color: var(--level-color-3);
        }
      }
    }
  }
}
