.featured {
    background-color: var(--section-bg);
    padding-top: 90px;
    padding-bottom: 70px;
    margin-bottom: 70px;
    @media screen and(max-width:992px) {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .wrapper {
        margin-top: 40px;
        .featured_content {
            padding-top: 70px;
            .card-deck {
                padding-bottom: 20px;
                margin-bottom: 20px;
                .card {
                    border: none;
                    position: relative;
                    @media screen and(max-width:992px) {
                      margin-bottom: 40px;
                    }
                }
                .card_image {
                    position: relative;
                    display: block;
                    &::after {
                        content: " ";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0.493);
                        transition: all 1s ease;
                        opacity: 0;
                        z-index: 999;
                    }
                    &:hover {
                        &::after {
                            opacity: 1 !important;
                        }
                    }
                    .card-img-top {
                        border-radius: 0 !important;
                    }
                }
                .card-body {
                    -webkit-box-shadow: 0px 4px 5px 5px rgba(247, 247, 247, 0.72);
                    -moz-box-shadow: 0px 4px 5px 5px rgba(247, 247, 247, 0.72);
                    box-shadow: 0px 4px 5px 5px rgba(247, 247, 247, 0.72);
                    text-align: center;
                    // margin-top: 15px;
                    // margin-bottom: 15px;
                    .card-title {
                        font-size: 16px;
                        font-weight: 500;
                        margin-top: 15px;
                    }
                    .card-text {
                        font-size: 14px;
                        color: var(--p-color2);
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
