.latest {
    background-color: var(--section-bg);
    padding: 100px 0px 100px 0px;
    @media screen and(max-width:768px) {
        padding: 70px 0px 25px 0px;
    }
    .wrapper {
        margin-top: 30px;
        .latest_content {
            margin-top: 90px !important;
            margin-bottom: 40px;
            .card-deck {
                padding-bottom: 20px;
                margin-bottom: 20px;
                .card {
                    border: none;
                    position: relative;
                    @media screen and(max-width:768px) {
                        margin-bottom: 30px;
                    }
                    .type {
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.481);
                        color: var(--white-color);
                        font-size: 10px;
                        padding: 6px 15px;
                        letter-spacing: 1px;
                        top: 20px;
                        right: 20px;
                        z-index: 1000;
                        text-transform: uppercase;
                    }
                    .card_image {
                        position: relative;
                        display: block;
                        &::after {
                            content: " ";
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            height: 100%;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.271);
                            transition: all 1s ease;
                            opacity: 1;
                            z-index: 999;
                        }
                        .card-img-top {
                            border-radius: 0 !important;
                        }
                    }
                    .card-body {
                        -webkit-box-shadow: 0px 4px 5px 5px rgba(247, 247, 247, 0.72);
                        -moz-box-shadow: 0px 4px 5px 5px rgba(247, 247, 247, 0.72);
                        box-shadow: 0px 4px 5px 5px rgba(247, 247, 247, 0.72);
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        text-align: start;
                        padding: 35px;
                        .card-title {
                            a {
                                font-size: 16px;
                                font-weight: 500;
                                margin-top: 15px;
                                text-decoration: none;
                                color: var(--level-color-3);
                            }
                        }
                        .card-text {
                            font-size: 14px;
                            color: var(--p-color2);
                            margin-bottom: 15px;
                            line-height: 2;
                        }
                    }
                }
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                @media screen and(max-width:768px) {
                    grid-template-columns: 1fr;
                }
            }
            &:hover {
                .card_image {
                    &::after {
                        opacity: 0 !important;
                    }
                }
                .card-body {
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                    box-shadow: 0 0 11px rgba(33, 33, 33, .2) !important;
                }
            }
        }
    }
}
