.partners {
    padding-bottom: 50px;
    border: 1px solid;
    border-color: transparent;
    border-bottom-color: var(--border-color2) !important;
    margin-bottom: 20px;
    @media screen and(max-width:768px) {
    padding-bottom: 20px;
          }
    .wrapper {
        .p_img {
            max-width: 200px;
            margin: auto;
            @media screen and(max-width:768px) {
          margin-bottom: 30px;
            }
            img {
                width: 100%;
                filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
    }
}
