.master_searchview_autocomplete {
  top: 100%;

  > li {
    margin: 5px 0px;
  }
}
.master_searchview_input_container {
  padding:5px;
  display: flex;
  position: relative;
}
.master_searchview_input {
  border-bottom: 1px solid $o-brand-secondary;
  margin-bottom: 15px;
  width: 100%;
  background-color: #fdfcfc;
}
.o_search_bar_systray{
    align-self: center;
    }
.search_bar_style {
    border: 1px solid gainsboro !important;
    min-width: 100%;
    min-height: 40vh;
    height:40vh;
display: flex !important;}

.custom-search{
    background: white;
    padding: 0.3125rem 0.625rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.search_div{
display: flex;
margin: 3%;
}
.search_icon{
margin-left: 5%;
 margin-top: 3%;
}
.create_icon{
margin-left: 10%;
}
.master_searchview_autocomplete {
  @include o-position-absolute(calc(100% + #{$border-width * 3}), 0);
  width: 100%;

  .o_menu_item {
    align-items: center;
    display: flex;

    &.o_indent {
      padding-left: 0.5rem;
    }

    a {
      color: inherit;
      &.o_expand {
        display: flex;
        justify-content: center;
        width: 25px;
        @include o-position-absolute($left: 0);
      }
    }
  }
}
