.event_seat_arrangemet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    width:100%;
}
.separate-event{
    width: 0%;
}
/*.seats-row {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }*/
    .seats-column{
        display: flex;
        gap: 5px;
    }
    .seat-button {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 6px;
    }
     .row-button {
        width: 30px;
        height: 30px;
        border: 1px solid #000;
        background-color: gray;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 6px;
    }
    .seat-button.selected {
        background-color: pink;
    }
    .print-clean {
        border: none;
        background: transparent;
    }
   .event-button {
            width: 30px;
            height: 30px;
            border: 1px solid #000;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
.VIP {
  background-color: darksalmon;
}

.Standard {
  background-color: #b9dea0;
}

.Free {
  background-color: #3a78c3;
}
.confirmed-seat {
    background-color: brown;
}
