.selected_cell{
    border: 4px solid red !important;
    opacity: 0.75;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.conditional_container{
    display: flex;
    width: 30vw;
    min-height:20vh;
    background: #e3eaf0;
    position: relative;
    padding: 5px;
    margin-top: 1vh;
    box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 32%);
    margin-left: 1vw;
    margin-bottom: 1vh;
    border-radius: 5px;
}

.sub_container1{
    height: 100%;
    background: #e3eaf0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.condition_select{
    width: 30%;
    background: #71639e;
    color: black;
    font-weight: 500;
    margin: 3%;
    text-align: center;
    padding: 1%;
    border-radius: 4px;
}

.condition_val{
    width: 61%;
    height: 29px;
    margin: 2%;
    border: 2px solid #71639e;
    border-radius: 4px;
}

.condition_button{
    border: none;
    background: #8b93d2;
    margin: 4% 0;
    padding: 1% 6%;
    border-radius: 3px;
    font-size: 16px;
}
.condition_button:hover{
    background: #5b64ad;
}

.rule_container{
    background: #e3eaf0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100px;
    border: 1px solid black;
}
.input_container{
    display:flex;
}

.sub_input_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}
.sub_color_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 30px;
    color: black;
}
.color_container{
    display: flex;
}

.color-input{
    width: 34px;
    height: 32px;
    border: none;
    outline: none;
}

.validation-error{
    display: none;
    color: red;
}
