
//font
$font-text:'Open Sans', sans-serif;
$font-default:'Oswald', sans-serif;

//colors
// #b22126
// #152235
// #48576c

$color-brand: #b22126;
$color-brand2: #152235;
$color-brand3: #48576c;
$color-black:#000000;
$color-white:#fff;
$color-off-white:#dfdfdf;
$color-text:#888787;
$color-grey:#b8b8b8;
$color-green:#28a745;
$color-button:#0069d9;
$color-footer:#121725;
$color-grey:#6c6a74;
$color-hover:#f03f45;
$color-border:#c9c7c7;
$color-transp:#3a3a3ab3;
$color-h-bg:#bfbac9;

$select-border-color: #ccc;
$select-focus-color: green;

//font-size


$font-h1:36px;
$font-h2: 18px;
$font-h3:36px;
$font-h4: 25px;
$font-h5:36px;
$font-h6: 18px;
$font-size-banner:60px;
$font-heading:46px;
$font-sub-heading:28px;
$font-text:14px;


$primary: #dc5656;
$primary-ultralight: mix(white, $primary, 80%);
$primary-light: mix(white, $primary, 25%);
$primary-dark: mix(black, $primary, 25%);
$primary-ultradark: mix(black, $primary, 80%);
$black: #333333;
$white: #eeeeee;


// Button
