.pos .order .orderline .pos_product_image{
    float:left;
    margin:auto;
}
.pos .order {
    padding-top: 0px !important;
}
.pos .order .orderline .product-name {
    padding-top: 11px !important;
}
.pos .order .orderline .info-list {
    color: #888;
    margin-left: 10px;
    padding-bottom: 19px;
}