.banner {
    padding-top: 100px;
    background-image: url(../assets/banner/banner-vector.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    @media screen and (max-width:992px) {
       height: auto;
    }
    .wrapper {
        .slider_grid {
            padding-top: 80px;
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
            // justify-content: center;
            // gap: 2rem;
            display: grid;
            grid-template-columns: 40% 60%;
            gap: 10px;
            perspective: 1000px;
            position: relative;
            overflow: hidden;
            @media screen and (max-width:992px) {
                display: block;
                padding-top: 200px;
            }
            .banner_heading {
                
                // position: relative;
                display: inline-block;
                h1 {
                    font-family: "wild_worldbold";
                    font-size: clamp(2.25rem, 1.9874rem + 1.1173vw, 3.7rem);
                    text-align: center;
                    line-height: 0.67;
                    text-align: center;
                    color: #111;
                    -webkit-text-stroke-width: 1.5px;
                    -webkit-text-stroke-color: rgb(255, 255, 255);
                    position: absolute;
                    top: 200px;
                    // left: 0;
                    right: 0;
                    z-index: 999;
                    color: transparent;
                    letter-spacing: 4px;
                    opacity: 1;
                    transition: all 0.5s ease;
                    margin: 0;
                    @media screen and (max-width:992px) {
                top: 70px;
                line-height: 1;
letter-spacing: 7px;
                    }
                }
                h1:first-child {
                    position: absolute;
                    top: 200px;
                    right: 0px;
                    z-index: 999;
                    margin: 0;
                    color: white;
                    @media screen and (max-width:992px) {
                        top: 70px;
                        line-height: 1;
                            }
                }
                // .bordered-heading {
                //     color: var(--white-color);
                //     font-size: 78px;
                //     font-weight: 700;
                //     text-transform: capitalize;
                //     letter-spacing: 1px;
                //     margin-top: -80px;
                // }
            }
            .right {
           
               

                .banner_right {
                    text-align: center;
                    padding-top: 50px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url(../assets/banner/banner-vector.svg);
                        background-size: contain;
                        background-position: right;
                        opacity: 0.1; /* Adjust opacity for the background image */
                        z-index: -1; /* Ensure it is behind the content */
                      }
                    .offer {
                        font-size: 24px;
                        letter-spacing: 1px;
                    }
                    p {
                        font-size: 18px;
                        margin-bottom: 30px;
                        padding-top: 90px;
                    @media screen and (max-width:992px) {
                    padding-top: 15px;
                    }
                    }
                }
            }
        }
    }
}
#main-carousel .item {
    background-color: transparent;
    max-width: 450px;
    @media screen and (max-width:992px) {
       margin: auto;
        }
    #main-carousel .owl-stage {
        display: flex;
        align-items: center;
    }
    img {
        width: 100%;
    }
}
#thumbnail-carousel {
    width: 60%;
    margin: auto;
    margin-top: 70px;
    @media screen and (max-width:992px) {
       width: 80%;
        }
}
#thumbnail-carousel .item {
    max-width: 60px;
    margin: auto;
    cursor: pointer;
    img {
        width: 100%;
    }
}
#thumbnail-carousel .owl-item.active {
    .item {
        max-width: 50px;
        margin: auto;
        background-color: img {
            width: 100%;
            padding: 0px;
        }
    }
}
#thumbnail-carousel .owl-item.center {
    .item {
        max-width: 100px;
        margin: auto;
        img {
            width: 100%;
            padding: 0px;
        }
    }
    // background-color: aqua;
}
.owl-theme {
    .owl-nav {
        [class*='owl-'] {
            transition: all .3s ease;
            &.disabled:hover {
                background-color: #D6D6D6;
            }
        }
    }
}
//arrows on first carousel
#main-carousel.owl-theme {
    position: relative;
    .owl-dots {
        position: absolute;
        right: -85%;
        bottom: 0px;
        span {
            background-color: white;
            height: 8px;
            width: 18px;
            margin: 2px;
            border-radius: 4px;
        }
        .active span {
            background-color: var(--voltro-primary) !important;
            height: 8px;
            width: 25px;
            margin: 2px;
        }
    }
    .owl-prev {
        left: 10px;
    }
    .owl-next {
        right: 10px;
    }
}
.sub_banner {
    padding-top: 100px;
    background-image: url(../assets/banner/sub-banner.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    .sub_banner_content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        padding-top: 80px;
        align-items: center;
    }
    h3 {
        text-transform: uppercase;
        font-size: 32px;
        padding-bottom: 10px;
    }
    .breadcrumb-item {
        a {
            color: var(--white-color);
            padding-right: 5px;
            font-weight: 600;
        }
    }
    .breadcrumb-item.active {
        color: #757575 !important;
        font-weight: 600;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        display: none;
    }
}
.rotating-image {
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
    will-change: transform;
}
.split-text span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.5s ease;
}
.whole-text {
    opacity: 1;
}

.about_banner{
    padding-top: 100px;
    background-image: url(../assets/banner/about-banner.png);
    background-size: cover;
    background-position: center;
}




.flat_header{
    padding-top: 150px;
    .breadcrumb{
        padding-bottom: 15px;
    }
    .breadcrumb-item {
        a {
            color: var(--white-color);
            padding-right: 5px;
            font-weight: 600;
        }
    }
    .breadcrumb-item.active {
        color: #757575 !important;
        font-weight: 600;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        display: none;
    }
}