footer {
    background-color: var(--footer-bg);
    padding: 50px 0px;
    padding-top: 200px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    @media screen and (max-width:992px) {
        height: 100vh;
        overflow-x: scroll;
        padding-left: 15px;
    }

    .wrapper {
        .footer_info {

            .navbar-brand{
                display: block;
                padding-bottom: 20px;
            }

            p {
                font-size: 16px;
                line-height: 28px;
                padding-top: 20px;
            }
            .footer_icon {
                display: flex;
                gap: 10px;
                padding-left: 0;
                padding-top: 20px;
                
                li {
                    a {
                        cursor: pointer;
                    }
                }
            }
        }
        .footer_links {
            h4 {
                font-size: 18px;
                text-transform: uppercase;
                margin-bottom: 30px;
                letter-spacing: 1px;
                padding-bottom: 20px;
            }
            .ft_links {
                list-style: none;
                padding: 0;
            }
            .ft_links li {
                position: relative;
                padding-left: 30px;
                /* Space for the arrow */
                margin-bottom: 25px;
                /* Optional spacing between links */
            }
            .ft_links li::before {
                content: '\2192';
                /* Unicode for right arrow */
                position: absolute;
                left: 0;
                font-size: 12px;
                /* Adjust size as needed */
                color: #ffffff;
                /* Change arrow color if needed */
            }
            .ft_links a {
                text-decoration: none;
                color: #ffffff;
            }
        }
        .address {
            img {
                margin-right: 10px;
            }
            .email-input {
                background-color: #505050;
                border: none;
                border-bottom: 2px solid #d3d3d3;
                padding: 10px;
                width: 100%;
                /* Adjust width as needed */
                outline: none;
                /* Remove the default outline when focused */
                height: 100px;
            }
            .email-input:focus {
                border-bottom-color: #c2c2c2;
                /* Darken border on focus */
            }
        }
        .form-control {
            margin-top: 30px;
            background-color: #505050;
            border-color: transparent;
            border-bottom-color: white;
            border-bottom-width: 2px;
            border-radius: 0px;
            color: white;
            height: 60px;
            width: 75%;
            margin-bottom: 30px;
        }
        .footer_bottom {
            border: 1px solid transparent;
            margin-top: 40px;
            border-top-color: white;
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            flex-wrap: wrap;
            a {
                color: white;
                &:hover {
                    color: var(--voltro-secondary);
                }
            }
            ul {
                padding-left: 0;
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
            }
        }
    }
}