.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .wrapper {

    // Main nav style
    .navbar {
      padding: 0px 0px;
      @media screen and (max-width:992px) {
        padding: 15px 0;
        }
      .navbar-brand {
        display: flex;
        align-items: center;

        img {
          width: 150px;
          margin-right: 15px;
        }



      }

      .navbar-collapse {
        justify-content: end;
        justify-content: center;

        @media (max-width:992px) {
          padding-top: 20px;
        }
      }

      @media (max-width: 992px) {
        .navbar-collapse {
          padding-top: 20px;
          background-color: var(--brand-dark) !important;

        }

      }

      .navbar-nav {
        .nav-item {
          margin: 0px 15px;

          &:hover {
            background-color: var(--grey-color-900);

          }

          padding: 20px 0px;

          .nav-link {
            color: var(--white-color);
            font-size: 16px;
            padding: 15px 15px;

            @media (max-width:1200px) {
              padding: 0px 8px;
            }

            @media (max-width:992px) {
              padding: 10px 0px;
              padding-left: 15px;
            }

            &:hover {
              color: var(--brand-blue-900);
              font-weight: 500;
            }
          }

          .nav-link2 {
            color: var(--black-color);

          }
        }
      }

      .nav_icons {
        ul {
          display: flex;
          gap: 15px;
          margin-bottom: 0;

          li {
            a {
              img {
                width: 20px;
              }
            }
          }
        }
      }

      .dropdown-menu {
        background-repeat: no-repeat;
        min-width: 220px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        box-shadow: rgb(239, 239, 239) 0px 1px 0px;
        background-position: right bottom;
        border-image: initial;
        border-style: solid;
        border-color: rgb(244, 244, 244);
        margin: 0px;
        border-radius: 4px;
        padding: 10px;
        overflow: visible;
        border-width: 1px !important;
        top: 70px;

        .dropdown-item {
          color: var(--brand-dark);
          font-size: 16px;
          padding: 15px 15px;
          padding-bottom: 5px;

          &:hover {
            color: var(--up-);
          }
        }
      }


    }

    // Main nav style
  }
}




.banner_img {
  width: 550px;

  img {
    width: 100%;
  }
}



#fixed_nav.scrolled {
  box-shadow: -7px 2px 17px rgba(0, 0, 0, 0.1);
  background-color: black;
  border: 1px solid transparent;
border-bottom-color: rgba(255, 255, 255, 0.071); /* Adjust color as needed */

}

.navbar-toggler .bi-list {
  display: inline-block;
  transition: opacity 0.3s ease;
  color: var(--white-color);
  font-size: 40px;
}

.navbar-toggler .bi-x-lg {
  display: none;
  transition: opacity 0.3s ease;
  color: var(--white-color);
  font-size: 36px;


}

/* When the navbar is expanded (not collapsed) */
.navbar-toggler.collapsed .bi-list {
  display: inline-block;
}

.navbar-toggler:not(.collapsed) .bi-list {
  display: none;
}

.navbar-toggler:not(.collapsed) .bi-x-lg {
  display: inline-block;
}