.calculator-popup {
    border-radius: 10px !important;
    padding-bottom: 10px !important;
}
.operator-btn {
    font-size: 20px !important;
    border-radius:8px !important;
    font-weight: bold !important;
    margin: 4px;
}
.equal-btn {
    width: 110px !important;
    background-color:#7f7f7f !important;
    color: black !important;
    border-color: #606060 !important;
    border-radius: 8px !important;
    font-weight: bold !important;
    font-size: 20px !important;
    margin: 4px;
}
.backspace-btn {
    font-size: 20px !important;
    border-radius: 8px !important;
    margin: 4px;
}
.input-btn{
    border-radius: 25px !important;
    margin: 4px;
    height: 50px;
    width: 50px;
    vertical-align :top;
    color: #444;
    font-size: 1.2rem;
}
