.style_event {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}
.style_event_type {
    text-align: center;
    flex: none !important;
    background: none !important;
    box-shadow: none !important;
}

.oe_kanban_global_click{
    margin-top: -5px !important;
    height: 180px !important;
    margin-left: 40px !important;
}

.ps-2.ps-md-0.text-center.w-100{
    margin-left: -25px;
}