.close {
    float: right;
    cursor: pointer;
}
.menu {
   z-index: 3;
   position: absolute;
   height:55vh;
   width: 500px;
   border-radius:0px;
   right: 1px;
   top: 46px;
   background-color: white;
   border: 1px solid gray;
   display: none;
}
.input-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question {
    width: 100%;
    height: 100%;
    border-width: medium;
    padding-right: 100px;
    margin-top: -20px;
}

.button {
    height: 100%;
    width: 100px;
    margin-top: -19px
}