
$sidebar_toggle_one_width: 50px;

.app_bar {

    display: flex;
    flex-direction: row;

    z-index: 4;
    width: $sidebar_toggle_one_width;
    position: fixed;
    top: 46px;
    bottom: 0;

    transition: width 0.3s ease-in-out 0s, left 0.3s ease-in-out 0s, margin-left 0.3s ease-in-out 0s;
    overflow: hidden;

    -webkit-box-shadow: 0 3px 10px rgba(62, 85, 120, .045);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, .045);
    box-shadow: 0 3px 10px rgba(62, 85, 120, .045);
    background-color: $secondary_accent;

    .slide-enter-active, .slide-leave-active {
        transition: height 0.3s ease-in-out 0.3s;
    }

    .slide-enter, .slide-leave-to {
        height: 0px;
    }

    .app_container {
        
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        width: $sidebar_toggle_one_width;
        overflow: hidden;
        z-index: 5;

        a {
            &:hover {
                position: relative;
                color: $color_white;
                background: rgba(255, 255, 255, .2);
            }
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                a:hover {
                    color: $color_white
                }
            }
        }

        .scroll_container {
            width: $sidebar_toggle_one_width;
            overflow: hidden;

            .app_items_wrapper {
                width: 80px;
                height: 100%;

                overflow-y: scroll;
                overflow-x: hidden;

                .app_items {
                    width: $sidebar_toggle_one_width;

                    .o-app-icon {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }

    // because we need to drag app items, it is standlone, so we put it here
    .app_item {

        display: flex;
        align-items: center;
        justify-content: center;

        color: #fff;
        flex-direction: column;
        height: 48px;
        padding: 8px;

        .app_name {
            max-width: 95%;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 10px 0px 0px 0px;
            color: $color_white;
        }

        .o-app-icon {
            width: 32px;
            height: 32px;
        }
    }
}

.o_main_navbar {
    background-color: $primary_accent;
}

.o_action_manager {
    margin-left: 50px;
}
