.amazon_upload{
    background-color: #9e131e;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-left: 16px;
    margin-top: -42px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.download_file{
    margin-left:10px;
}
.amazon_header-search-input{
    border-radius: 0.5rem;
      height: 30px;
      width: 400px;
      outline: none;
      border: none;
      font-size: 15px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      margin-left: 250px;
}
.amazon_content{
    overflow-y: scroll;
    height: 82vh;
    width: 100vw;
    }
.files_select{
      border-radius: 0.5rem;
      height: 30px;
      outline: none;
      border: none;
      font-size: 15px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      margin-left: 10px;
  }
