.pos .numpad button {
    color: #2F4F4F;
    background: #D3D6D6;
    border-color: #2F4F4F;
}

.pos button.button.set-customer{
        padding-left: 0px;
        padding-right: 0px;
        color: black;
    }
.pos .actionpad .button.set-customer.decentered{
        padding-left: 0px;
        padding-right: 0px;
        color: black;
    }
.pos .button-control {
    background: #A9A9A9;
    color: black;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-grow: 1;
    height: 60px;
}
.pos .order .orderline .pos_product_image{
    float:left;
    margin:auto;
}
.pos .order {
    padding-top: 0px !important;
}
.pos .order .orderline .product-name {
    padding-top: 5px;
}
.pos .order .orderline .info-list {
    margin-left: 15px;
    padding-bottom: 10px;
    font-weight: bold;
	font-family: Verdana;
}
.pos .order .orderline .product-name{
    padding:0;
    display:inline-block;
    font-weight: bold;
	font-family: Verdana;
    width:80%;
    overflow:hidden;
    text-overflow: ellipsis;
}
.pos .actionpad .button.pay {
    height: calc(var(--btn-height-size) * 3);
    color: black;
}
.pos .order .orderline .price{
    padding:0;
    font-weight: bold;
    font-family: Verdana;
    float:right;
}
.salesperson-scroll{
  height: 270px;
  overflow: auto;
}

.salesperson {
  border-collapse: collapse;
  width: 100%;
}

.salesperson td{
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px;
}

.salesperson tr:nth-child(even){background-color: #f2f2f2;}

.salesperson tr:hover {background-color: #ddd;}

.orderline-salesperson{
    padding:5;
    float:right;
}
.orderline-laundry{
    padding:5;
    float:left;
}
.pos .products-widget .products-widget-control{
    display: none;
}
.pos button, .pos a.button {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    font-size: 11px;
    border: 1px solid #cacaca;
    background: #A9A9A9;
    border-radius: 3px;
}
.button-control:hover {
    background: #efefef;
}
