.features {
    .card {
        padding: 25px;
        text-align: center;
        height: 100%;
        .card-body {
            margin-top: 20px;
            .card-title {
                text-transform: uppercase;
              font-size: $font-size-s;
            

            }
            .card-text {
                color: $color-grey;
            }
        }
    }
    img {
        margin: auto;
        max-width: 60px;
    }
}
