.journal {
  .product {
    .product__image {
      height: 300px;
    }
  }
  .product-details {
    text-align: left;
    .card {
      border: none;
      .card-body {
        .card-subtitle {
          font-size: $font-size-text;
          &::before {
            content: '';
            height: 5px;
            width: 12px;
            display: inline-block;
            background-color: #ff5254;
            border-radius: 1px;
            transform: translatey(-2px);
            margin-right: 6px;
          }
        }
        .card-link {
          display: flex;
         .link-icon {
         width: 22px;
         img{
            width: 100%;
max-width: 14px;

margin-right: 20px;

          }
        }
          color: $color-grey;
        }
      }
      .card-text {
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid;
        border-color: $color-grey;
      }
    }
  }
}
