.offer {
    background-size: cover;
    position: relative;
    width: 100%;

    background-repeat: no-repeat;
    background-position: bottom;
    margin-top: 20px;

    &-bg {

        img {
            width: 100%;

            @media screen and(max-width:554px) {
               min-height: 300px;
               -o-object-fit: cover;
               object-fit: cover;
            }
        }
    }
    &-content {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        align-items: center;
    }
    .card {
        background: transparent;
        border: none;

        .btn{
            @media screen and(max-width:554px) {
                padding: 5px 15px;
                font-size: $font-size-text;
            }
        }
    }
    .card-header {
        font-family: $font-offer;
        border: none;
        margin-bottom: 19px;
        font-size: 43px;
        color: $color-black;
        background: none;
        
        @media screen and(max-width:991px) {
            margin-bottom: 15px;
            font-size: 30px;
            
        }
        @media screen and(max-width:554px) {
            margin-bottom: 0px;
            font-size: 20px;
            
        }

           
    }

    .card-title {
        margin-bottom: 1.75rem;
        font-weight: 200;

        @media screen and(max-width:991px) {
            
            font-size: 35px;
            
        }
        @media screen and(max-width:554px) {
            margin-bottom: 1rem;
            font-size: 25px;
            
        }
    }
    .card-body {
        padding: 0.25rem;
    }
}

.offer .card {
    background-color: transparent;
    border: none;
}
.offer-bg {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}