.trending{
    .product{
        .product__image{
            height: 250px !important;
        }
        .product__title{
            margin-top:30px !important;
        }
        padding: 10px;
        margin-bottom: 10px;
    }
}