.o_whatsapp_icon #fa-icon,
.o_mail_icon #fa-icon,
.whatsapp_icon {
    font-size: 1.3rem !important;
    display: inline-block !important;
    vertical-align: middle !important;
}

.o_whatsapp_icon #fa-icon,
.whatsapp_icon {
    color: #25D366 !important;
}
