.recent {
  background: $color-white;
  padding: 100px 0;
  .heading {
    color: $color-brand3;
    padding-bottom: 50px;
    h1 {
      text-align: center;
      color: $color-brand3;
      text-transform: uppercase;
      font-size: 65px;
      letter-spacing: -2px;
      font-weight: 700;
      margin-bottom: 10px;


      @media screen and(max-width:768px) {
        font-size: 40px;
         }
    }
    p {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
      font-weight: 500;
    }
  }
  .wrapper {
    margin-top: 75px;
    padding-bottom: 40px;
    @media screen and(max-width:996px) {
      padding: 0 30px;
       }
       @media screen and(max-width:768px) {
     margin-top: 0;
         }
    .recent_content {
      .top {
        color: $color-brand;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-top: 23px;
      }
      h3 {
        color: $color-brand3;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 16px;
      }
      .text {
        padding-top: 40px;
        padding-bottom: 40px;
      }
    }
    .recent_img {
      max-width: 380px;
      overflow: hidden;
      position: relative;
      @media screen and(max-width:996px) {
      margin-top: 30px;
      max-width: 100%
         }
    

      img {
        width: 100%;
        &:hover {
          transform: scale(1.1);
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease-in-out;
        }
      }
    }
  }
  }
  



















.he {
  opacity: 0;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 4s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}





   
@keyframes fade-left-element {
  // from {
  //   transform: scaleX(1);
  //   transform-origin: right;
  // }
  // to {
  //   transform: scaleX(0.5);
  //   transform-origin: right;
  // }

  0% {
    transform: scaleX(1);
transform-origin: right;
  }
  40% {
    transform: scaleX(0.7);
    transform-origin: right;
  }
  70% {
    transform: scaleX(0.3);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
}













.fill {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.966);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
 
}


@-webkit-keyframes fade-left-element  {
  // from {
  //   transform: scaleX(1);
  //   transform-origin: right;
  // }
  // to {
  //   transform: scaleX(0.5);
  //   transform-origin: right;
  // }

  0% {
    transform: scaleX(1);
transform-origin: right;
  }
  40% {
    transform: scaleX(0.7);
    transform-origin: right;
  }
  70% {
    transform: scaleX(0.3);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }
}









.fade-left-element {
  animation: fade-left 4s;
  -webkit-transition:all 3s ease-in-out ;
  -moz-transition:all 3s ease-in-out ;
  -o-transition:all 3s ease-in-out ;
  transition:all 3s ease-in-out ;
  transition-delay: 1s;
  -webkit-transition-delay: 1s;
}