.testimonial_main{
    
padding-bottom: 70px;
    margin-top: 100px;
    margin-bottom: 100px;

.test_content{
    .test_img{
        max-width: 120px;
        margin: auto;
        img{
            width: 100%;
            border-radius: 50%;
        }
    }

    .test_details{
        margin-top: 60px;
        position: relative;
        background-color: $color-brand;
        padding: 30px 20px;
        font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 2px;
    color:$color-white;
    font-weight: 700;
    text-align: justify;

    &:after{
        content: " ";
        position:absolute;
        background-color: $color-brand;
        height: 20px;
        width: 20px;
        left: 50%;
top: -10px;
        -webkit-transform: translateX(-50%) rotate(45deg);
-ms-transform: translateX(-50%) rotate(45deg);
transform: translateX(-50%) rotate(45deg);
    }
    }

    .name{
        margin-top: 20px;
        text-align: center;
        color: $color-brand2;
        font-size: 16px;
        font-weight: 700;
        span{
            
            color: $color-grey;
        }
    }
}

    #owl-theme2 button.owl-dot span {
        height: 8px;
        width: 8px;
        color: $color-white;
        background-color:$color-brand2;
        display: block;
        font-weight: bolder;
        border-radius: 50%;
        margin: 20px;
      }
      #owl-theme2 button.owl-dot.active span {
        color: $color-hover;
        height: 12px;
        width: 12px;
        font-size: 25px;
        -webkit-transition: 1s;
    transition: 1s;
      }
  
      #owl-theme2 {
        position: relative;
      
  
   .owl-dots {
          position: absolute;
          bottom: -14%;
          right: 38%;
          -webkit-transform:translateX(-21%) rotate(-1deg);
          -ms-transform:translateX(-21%) rotate(-1deg);
          transform:translateX(-21%) rotate(-1deg);
  
          @media screen and(max-width:1000px) {
           right:31%;
          }
          @media screen and(max-width:768px) {
            right:25%;
          }
          @media screen and(max-width:650px) {
            right:26%;
          }
          @media screen and(max-width:500px) {
            right:21%;
          }
          @media screen and(max-width:414px) {
            right:15%;
          }
          @media screen and(max-width:375px) {
            right:11%;
          }
        }
      }
    }
  