.navigation2 {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    @media screen and(max-width:992px) {
        background-color: transparent !important;
    }
    .navbar {
        padding: 10px 0;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        @media screen and(max-width:992px) {
            .navbar-nav {
                display: inline;
                text-align: end;
                padding-right: 30px;
                padding-top: 20px;
                .nav-item {
                    padding-right: 30px;
                    padding-top: 30px;
                }
            }
        }
        .navbar-toggler {
            background-color: $color-black;
            .navbar-toggler-icon {
                color: $color-black;
            }
            // &:hover {
            // }
        }
        .navbar-brand {
            color: $color-brand;
            font-size: 80px;
            font-weight: 400;
            margin-right: 8rem;
            font-family: $font-brand !important;
            span {
                font-size: 36px;
                font-weight: 700;
                color: $color-hover;
            }
            &:hover {
                color: $color-hover !important;
            }
            @media screen and(max-width:1016px) {
                margin-right: 3rem;
            }
            @media (max-width: 768px) {
                margin-right: 10rem;
            }
        }
        .nav-item {
            margin: auto;
            .nav-link {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                color: $color-white;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14px;
                @media screen and(max-width:1000px) {
                    padding-right: 5px;
                    padding-left: 5px;
                }
                &:hover {
                    color: $color-hover !important;
                }
            }
        }
        .active {
            .nav-link {
                color: $color-font2 !important;
            }
        }
        .wrapper {
            margin-left: 75px;
            @media screen and(max-width:992px) {
                margin-left: 0;
                justify-content: end;
            }
        }
        a {
            color: $color-font;
            text-decoration: none;
            align-items: baseline;
            &:hover {
                color: $color-hover;
            }
        }
        .nav-link {
            color: $color-font;
            text-decoration: none;
            align-items: baseline;
            &:hover {
                color: $color-hover;
            }
        }
        .cart {
            margin-right: 20px;
            position: relative;
            span {
                color: $color-white;
                margin-right: 5px;
                font-size: 30px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 41px;
                &:hover {
                    color: $color-hover;
                }
            }
            .cart_count {
                position: absolute;
                color: $color-brand !important;
                font-weight: 900;
                font-size: 20px;
                right: 0;
                &:hover {
                    color: $color-hover;
                }
            }
        }
        .search {
            span {
                color: $color-white;
                margin-left: 20px;
                font-size: 20px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 41px;
                &:hover {
                    color: $color-hover;
                }
            }
        }
    }
    .offcanvas-header {
        display: none;
    }
    @media (max-width: 992px) {
        .offcanvas-header {
            display: flex;
            justify-content: end;
        }
        .navbar-collapse {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 50%;
            padding-right: 1rem;
            padding-left: 1rem;
            overflow-y: auto;
            visibility: hidden;
            background-color: #271717;
            transition: visibility 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
        }
        .navbar-collapse.show {
            visibility: visible;
            transform: translateX(-100%);
        }
    }
    // @keyframes slidein {
    //     from {
    //       margin-left: 100%;
    //       width: 300%;
    //     }
    //     to {
    //       margin-left: 0%;
    //       width: 100%;
    //     }
    //   }
    #myDIV {
        width: 100%;
        padding: 50px 0;
        text-align: center;
        background-color: lightblue;
        margin-top: 20px;
    }
    .circle {
        display: blo;
        color: blue;
    }
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover {
        color: rgb(0, 0, 0);
    }
    #new {
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    #main_nav {
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        color: #ffffff !important;
        text-align: left;
        list-style: none;
        background-color: $color-brand;
        background-clip: padding-box;
        border: none;
        border-radius: 0.25rem;
        a {
            color: #fff !important;
            text-decoration: none;
            &:hover {
                color: $color-hover !important;
                background-color: transparent !important;
            }
        }
    }
    .navbar-dark {
        @media (max-width: 768px) {
            margin-top: -25px !important;
        }
    }
}
