.head{
margin-top:25px;
margin-left:20px;
}
.image{
background-image:url("/manpower_supply_management/static/src/img/worker.jpg");
background-size:cover;
height:300px;
width:600px;
margin-left:-20px;
}
.image_next{
background-image:url("/manpower_supply_management/static/src/img/jobs.jpg");
background-size:cover;
height:300px;
width:600px;
margin-left:-20px;
}
.body{
margin-top:-326px;
margin-left:875px;
margin-bottom:10px;
}
h1{
color:rgb(102, 113, 154);
font-family:"Lucida consol","Courier Nem",monospace;
}
h3{
color:rgb(102, 113, 154);
font-family:"Lucida consol","Courier Nem",monospace;
}
.link-style{
width:500px;
height:50px;
border-color:#66719a;
}
.button{
width:500px;
height:50px;
background-color:#66719a;
color:white;
border-color:#ed8115;
}
.button_close{
width:500px;
height:50px;
background-color:red;
color:white;
border-color:red;
}
.button_back{
width:200px;
height:30px;
background-color:green;
color:black;
border-color:black;
}
