.btn {
  border: none !important;
  outline: 0 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;







  &-primary {
    border-radius: 25px;
    font-size: 14px;
    

    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    border: 1px solid $primary-color !important;
    background-color: $primary-color;
    color: $white !important;
    transition: all 0.3s;



    &:hover {
      background-color: var(--white-color);

     
    }
  }

  &-secondary {
   
    border-radius: 25px;
    font-size: 14px;
    

    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    border: 1px solid $green-400 !important;
    background-color: $green-400;
    color: $white !important;
    transition: all 0.3s;



    &:hover {
      background-color: var(--white-color);

     
    }

  }
  &-sb {
    border-radius: 25px;
    font-size: 16px;
    

    text-decoration: none;
    padding: 10px 20px;
    position: relative;
    border: 1px solid #141416 !important;
    background-color: #141416;
    color: $white !important;
    transition: all 0.3s;



    &:hover {
      background-color: var(--white-color);

      color: #141416 !important;
    }
  }

  &-appStore ,&-playStore{
    border-radius: 5px;
   

    text-decoration: none;
    padding: 5px 20px;
    position: relative;
    border: 1px solid #141416 !important;
    background-color: #141416;
    color: $white !important;
    transition: all 0.3s;
    width: fit-content;
    .btn_content{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      img{
        width: 35px;
      }
      span{
        font-size: 12px;
      }
      p{
        margin-bottom: 0;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 5px;
      }
    }
    &:hover{
      background-color: black;
    }
  
  }

}