
.gl-breadcrumb {
    font-size: 18px;
}
.amt{
text-align: right;

}

.amd{
text-align: right;
width: 400px !important;

}

.py_cntrl_right{
    max-width: 50%;
    max-height: 50px;

}

.gl-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.py-control-div {
    display: flex;
    justify-content: space-between;
    min-height: 30px;
}

.py-btn-primary{
    color: #FFFFFF;
    background-color: #00A09D;
    border-color: #00A09D;
    border-radius: 0px;
}

.py-btn-secondary{
    color: #FFFFFF;
    background-color: #00A0AD;
    border-color: #00A09D;
    border-radius: 3px;
}

.py-search-buttons{
    display: block;
    margin: auto 0px;
}

.py-search-btn-date,
.py-search-date-filter,
.py-search-journals,
.py-search-partners,
.py-search-entries,
.py-search-accounts,
.py-search-accounts-tag,
.py-search-analytics,
.py-search-analytic-tag,
.py-search-extra{
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.dropdown-item{
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: rgb(102, 102, 102);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    padding: 0.25rem 1.5rem;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    position: relative;
}

.tl-breadcrumb {
    font-size: 18px;
}

.tl-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.py-search-btn-date,
.py-search-date-filter,
.py-search-journals,
.py-search-partners,
.py-search-accounts,
.py-search-entries,
.py-search-accounts-tag,
.py-search-analytics,
.py-search-analytic-tag,
.py-search-extra{
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.bs-section-first{
    padding: 5px;
    padding-top: 5px;
    padding-left: 15px;
}

.bs-section{
    padding: 5px;
    padding-top: 25px;
    padding-left: 15px;
}

.bs-sub-section{
    padding-top: 25px;
}
.pl-breadcrumb {
    font-size: 18px;
}

.pl-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.py-search-btn-date,
.py-search-date-filter,
.py-search-journals,
.py-search-partners,
.py-search-categories,
.py-search-reconciled,
.py-search-accounts,
.py-search-entries,
.py-search-accounts-tag,
.py-search-analytics,
.py-search-analytic-tag,
.py-search-extra{
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.al-breadcrumb {
    font-size: 18px;
}

.al-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.py-search-btn-date,
.py-search-date-filter,
.py-search-journals,
.py-search-partners,
.py-search-accounts,
.py-search-partner-type,
.py-search-analytics,
.py-search-partner-tag,
.py-search-entries,
.py-search-extra{
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.cf-breadcrumb {
    font-size: 18px;
}

.cf-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.py-search-btn-date,
.py-search-date-filter,
.py-search-journals,
.py-search-partners,
.py-search-categories,
.py-search-reconciled,
.py-search-accounts,
.py-search-accounts-tag,
.py-search-analytics,
.py-search-analytic-tag,
.py-search-extra{
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}

.main {
    border: 1px solid #efefef;
    margin: 50px;
    border-radius: 17px;
    background: #fff;
    padding: 2% 0 5%;
}

.thead {
    border-bottom: 2px solid #bfbfbf;
    background: #e8e8e8;
}

.thead tr {
    height: 38px;
    width: 100%;
}

.thead tr th {
    border-bottom: 1px solid #e6e6e6;
    font-weight:bold;
    font-size:15px;
}

.header {
    margin-bottom: 50px;
    text-align: center;
}

.child_col1 {
    width: 8%;
}

.parent-highlight {
    background: #f5f5f5;
}

.parent-line {
    background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
    cursor: pointer;
}

.parent-line:hover {
    background-image: linear-gradient(to bottom, #fcfcfc, #cacaca);
}

.child_col2 {
    width: 10%;
}

.child_col3 {
    width: 10%;
}

.child_col4 {
    width: 10%;
}

.categ td {
    padding: 7px !important;
}

.filter_options {
    border-bottom: 1px solid;
    border-radius: 10px;
}

.entry_type {
    margin: 20px;
}

.report_header {
    text-align: center;
    border-bottom: 1px solid #efefef;
}

.row_color {
    background-color: #e4e4e4;
}

.main_report {
    border: 1px solid #efefef;
    margin: 50px;
    border-radius: 17px;
    background: #fff;
    padding: 2% 0 5%;
}

.child-class td {
    font-size: 12px !important;
    cursor: pointer;
}

.child-row {
    border-bottom: 1px solid #cacaca;
}

.child-row:hover {
    background-color: #f5f5f5;
}

.bs-breadcrumb {
    font-size: 18px;
}

.bs-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.pal-breadcrumb {
    font-size: 18px;
}

.pal-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.db-breadcrumb {
    font-size: 18px;
}

.db-breadcrumb li {
    display: inline-block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.py-search-btn-date,
.py-search-date-filter,
.py-search-journals,
.py-search-entries,
.py-search-accounts,
.py-search-extra{
    white-space: nowrap;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    position: relative;
}
