#html5-qrcode-button-camera-stop{
    color: #FFFFFF;
    background-color: #71639e;
    border-color: #71639e;
    }
#select_attendee_id{
    width: 215px;
    height: 35px;
    padding: 5px 35px 5px 27px;
    font-size: 18px; border: 2px solid #ccc; margin: 0 auto;
    }
