.custom-barcode--container {
  padding: 1.5rem;
  background-color: #fff;
  width: fit-content;
  border: 1px solid #dfdfdf;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
}

.custom-barcode--header {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dfdfdf;
}

.custom-barcode__scanner-section {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid #dfdfdf;

  @media (max-width: 575px) {
    flex-direction: column;
  }

}

#BatchLineModal {
  position: fixed;
}

.barcode_option-head {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.barcode-point__list {
  margin-bottom: 0;
}

.custom-barcode_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99vh;
}

.custom-barcode-point--list_item {
  color: #5a5a5a;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.operation_modal {
  max-height: 53vh;
  overflow: auto;
}

.custom-barcode_option--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem 0;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.custom-barcode-img_container {
  width: 140px;
  height: 140px;
  margin-bottom: 1rem;
  @media (max-width: 768px) {
    width: 100px;
    height: 100px;
  }
}

.return-btn {
  padding: 8px 24px;
  margin-top: 0.2rem;
}

.custom-button-stroke {
  border-radius: 6px;
  border-top: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  background-color: #fff;
  color: #505050;
  font-weight: 500;
  font-size: 13px;
}

.custom-button-stroke:focus {
  box-shadow: none;
  border-color: #dfdfdf;
}

.custom-barcode-verfy-descripition {
  color: #495057;
  font-size: 0.9rem;
  @media (max-width: 768px) {
    font-size: 12.8px;
  }
}

.custom-barcode-verifyheader {
  font-size: 30px;
  color: black;
  font-weight: 500;
  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.custom-validate-img {
  width: 100%;
  height: auto;
}

.custom_barcode-verify-container {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 550px;
  height: 400px;


  @media (max-width: 768px) {
    width: auto;
    min-height: 360px;
    height: auto;

  }
  @media (max-width: 575px) {
    padding: 1rem;

  }
}

.custom-barcode_option--box {
  padding: 1rem;
  border: 1px solid #dfdfdf;
}

.custom-barcode__state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #dfdfdf;
  padding: 0.6rem 0;

  min-width: 160px;

  @media (max-width: 1024px) {
    min-width: 150px;
    gap: 1rem;
  }
  @media (max-width: 575px) {
    min-width: unset;
    gap: 1rem;
  }

}

.custom-barcode__state-count {
  font-size: 11px;
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 16px;

  &.custom-barcode__draft {
    color: #222222;
    background-color: #DFDFDF;
  }

  &.custom-barcode__ready {
    color: #222222;
    background-color: #FAE495;
  }

  &.custom-barcode__done {
    color: #222222;
    background-color: #C7EA8E;
  }

}

.custom-barcode__btn {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  color: $white;
  margin-top: 1rem;
  background-color: #71639e;
  padding: 8px;
  border: none;
  transition: all 0.3s linear;

  &:hover {
    background-color: #71639e;
  }
}

.custom-barcode-view-more {
  display: flex;
  justify-content: end;
  width: 100%;
}

.custom-barcode-viemore-btn {
  color: #989898;
  font-size: 14px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0 12px 12px 12px;
  transition: all 0.3s linear;

  i {
    font-size: 20px;
  }

  &:hover {
    color: #505050;
  }
}

.sidebar-toggler {
  padding-left: 8px;
  padding-top: 8px;
}

.barcode-reader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid #ffffff;
  border-radius: 4px;
}

.barcode-reader img {
  height: 250px;
}

.main-barcode-button {
  margin: 2px;
  height: 40px;
  color: #71639e;
  border: 1px solid #dfdfdf;
}

.barcode-btn-close {
  background-color: white;
  display: none;
}

.barcode_board {
  position: relative;
}

.barcode-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#BarcodeMainModal {
  position: absolute;
  // background-color:  #b1b1b1;
  //     background-color: rgb(177 177 177 / 78%);

  background-color: rgba(177, 177, 177, 0.78);
  //        background-color:rgb(163 163 163 / 78%);

  backdrop-filter: blur(9px);
}

.barcode-modal-content {
  background-color: #eee;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.barcode-close {
  color: #aaaaaa;
  float: right;
  font-size: 22px;
}

.barcode-close:hover,
.barcode-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.barcode-custom-primary {
  background-color: #71639e !important;
  color: black;
}

.btn-adjustment:hover {
  cursor: pointer;
  background-color: #ced4da !important;
  //   transform: scale(1.05);
}

.btn-adjustment-clear:hover {
  cursor: pointer;
  //   transform: scale(1.05);
}

.selecting-card {
  position: relative;
  height: 100%;
}

.custom-barcode-adjustment-container {
  //margin-top: 3%;
  padding-top: 16px;
  max-height: 77vh !important;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 0;
  }
}

#MoveLinesModal {
  position: absolute;
}

#MoveLinesModal .barcode-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}

#MoveLinesModal .barcode-modal-content {
  width: 50%;
  position: relative;
}

#BarcodeMainModal .barcode-close {

  top: 0px;
  position: absolute;
  right: 0px;
  margin: 1rem;
}

#BarcodeMainModal .barcode-modal-content {
  width: fit-content;
  position: relative;
}

#LocationLinesModal {
  position: absolute;
}

.custom-Barcode-modal .barcode-modal-content {
  width: 39%;
  min-height: 50%;
}

.custom-Barcode-modal {
  padding-top: 12.5% !important;
}

.custom-barcode-adjustment-image {
  background-position: center; /* Center the background */
  background-size: 100% 100%; /* Scale the background to cover the entire container */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  /*
      min-height: 179px;            */
  /* Maintain the height you want *//*

   */
}


#barcode-numpad-container {
  min-height: 270px;
  margin: 9px;
  margin-left: 35px;
}

#barcode-numpad-keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}

#barcode-numpad-keyboard li {
  float: left;
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  background: #fff;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
}

.barcode-numpad-clearl {
  clear: left;
}

#barcode-numpad-keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}

.barcode-adjustment-line-content {
  margin: 2%;
}

.barcode-select-check-box {
  position: absolute;
  top: .5em;
  left: .5em;
}

.barcode-card-active .custom-card {
  background-color: #71639e !important
}

.barcode-location-text {
  white-space: nowrap;
  overflow: hidden;
  display: flex;
}

.barcode-location-text span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  width: 95%;
  margin-left: 4px;
  margin-top: -2px;
}

.badge-stock-picking {
  width: 50px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
  bottom: 0;
  left: 0;
  background-color: #2c7;
}

.custom-barcode-cards {
  margin: 1px 2px;
  width: 30%;
  position: static;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.edit_adjust_line {
  bottom: 0;
  left: 1%;
}

.cancel_adjust_line {
  bottom: 0;
  left: 24%;
}

.barcode-modal-buttons {
  margin-bottom: -16px;
  height: 37px;
}

.info-text {

  background-color: #fff;
  color: #777;
  padding: 6px;
  font-size: 12px;
  width: max-content;

}

.barcode-reader:hover .info-text {
  /* Reveal the text on hover */
  color: #71639e;
}

.barcode-reader:hover {
  border: 3px solid #71639e !important;
  cursor: pointer;
}

.o_custom_barcode_location {
  position: relative;
}

@media screen and (max-width: 768px) {
    .custom-card-grid {
        grid-template-columns: 1fr;
    }
  .barcode-reader {
    border: 2px solid #71639e;
  }
  /*     .btn-adjustment {
          width: 85%;
      } */
  .info-text {
    opacity: 1;
    position: relative;
  }
  .barcode-modal-content {
    width: 100% !important;
    overflow: auto;
    max-height: 100%;
    display: inline-grid;
    margin-left: 0% !important;
  }
  .barcode-modal {
    padding-top: 10px;
  }
  .barcode-reader img {
    height: 175px;
  }
  .main-button-div {
    justify-content: center;
  }
  .main-barcode-button {
    width: 71%;
  }
  .custom-barcode-cards {
    margin: 1px 2px;
    width: 98%;
  }
  #BarcodeMainModal {
    height: 196%;
  }

  .edit_adjust_line {
    bottom: 48%;
    left: 1%;
    display: block;
  }
  .cancel_adjust_line {
    bottom: 48%;
    left: 90%;
    display: block;
  }
  .barcode-modal-buttons {
    margin-bottom: 24px;
    height: 32px;
  }
  .barcode-modal-buttons div {
    height: 35px;
  }
  .main-barcode-button {
    height: 55px;
  }
  //.custom-barcode-adjustment-container .custom-barcode-toggle .o-dropdown--menu {
  //  left: -79px !important;
  //}
  .custom-barcode-adjustment-image {
    height: 164px;
  }
}

@media (min-width: 768px) and (max-width: 1060px) {
  #LocationLinesModal .barcode-modal-content {
    width: 59% !important;
    margin-left: 20% !important;
    overflow: auto;
    max-height: 123%;
  }
}

@media (max-height: 750px) {
  .barcode-modal-content {
    margin-top: -12%;
  }
}

@media (min-width: 768px) and (max-height: 750px) {
  .barcode-modal-content {
    margin-left: 9% !important;
  }
}

.barcode-modal-content .barcode-location-text .fa:before {
  vertical-align: -6px;
}

//.custom-barcode-toggle .o-dropdown--menu {
//  top: 23px !important;
//  left: 6px !important;
//  min-width: 9%;
//  padding: 0 !important;
//  position: absolute !important;
//}

.custom-barcode-toggle .o-dropdown--menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  height: 29px;
  border-bottom: 1px solid #e7e7e7;
}

.custom-submenu-box {
  z-index: 100;
}

.custom-barcode-cards .border_unset_button button {
  background: unset;
  border: none;
}

.custom-barcode_option_skeleton {
  background: linear-gradient(90deg, #f5f6e7 25%, #E4EEB8FF 50%, #F5F6E6 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
}

.custom_barcode_adjustment_bottom {
  width: -webkit-fill-available !important;
}

.btn-adjustment, .btn-adjustment-clear {
  flex: 1;
  background-color: white;
}

.custom_barcode_adjustment_bottom[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

@media (max-width: 992px) {
  .d-flex-mobile-view {
    display: flex;
    gap: 40px;
    justify-content: center;
  }

}

.custom-barcode--header {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  padding-bottom: unset;
  border-bottom: unset;
}

.barcode-header-container {
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 12px;
}

.o_custom_barcode_batch_line {
  background-color: #e9ecef;
}

.o_custom_barcode_batch_line .custom-barcode-adjustment-container .card-columns {
  padding-bottom: 42px !important;
  margin-bottom: 10px;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}

.action-buttons {
  gap: 8px;
  width: 100%;
  justify-content: center;
}

.edit-button-batch, .action-buttons .delete-button {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  gap: 5px;
  flex: 1;
}

.edit-button-batch i, .delete-button i {
  font-size: 16px;
}

.o_custom_barcode_batch_line .put_in_pack:hover {
  background-color: #f8f9fa !important;
}
.qty-update-barcode-card{
    flex-direction: column;
    gap: 4px;
}
.o_custom_barcode_main .o-dropdown button{
    background: #f0f8ff;
    border: none;
    font-size: large;
}
