.blank {
    background-color: $color-white;
    height: 100vh;
    width: auto;
    .wrapper {
        position: relative;
        height: 100vh;
        h2 {
            position: absolute;
            font-size: 5vw;
            text-align: center;
            display: flex;
            justify-content: center;
            top: 43%;
            left: 31%;
        }
    }
}
