
.slider-height {
    min-height: 980px;
    background-repeat:no-repeat ;
    background-position: center center;
    background-size: cover;
    @media #{$laptop}{
        min-height: 750px;
    }
    @media #{$lg}{
        min-height: 500px;
    }
    @media #{$md}{
        min-height: 500px;
    }
    @media #{$sm}{
        min-height: 400px;
    }
    @media #{$xs}{
        min-height: 430px;
    }
}

// Another Hero Page
.slider-height2{
    background-image: url(../img/hero/banner_y.png);
    min-height: 500px;
    background-repeat:no-repeat ;
    background-position: center center;
    @media #{$xs}{
        min-height: 260px;
    }
}

// Main Slider
.slider-area{
   overflow: hidden;
    .hero__img{
        position: relative;
        @media #{ $large1}{
            left: -104px;
        }
        img{
            @media #{$lg}{
                height: 500px;
            }
            @media #{$md}{
                height: 500px;
            }
            @media #{$sm}{
                height: 400px;
            }
        }
    }
    .hero__caption{
        overflow: hidden;
        @media #{$xs}{
            padding-top: 38px;
            padding-left: 22px;
        }

         h1{
            text-transform: normal;
            font-size: 96px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 26px;


            @media #{$lg}{
                font-size: 60px;
                line-height: 1.2;
            }
            @media #{$md}{
                font-size: 50px;
                line-height: 1.2;
            }
            @media #{$sm}{
                font-size: 35px;
                line-height: 1.2;
                margin-bottom: 26px;
            }
            @media #{$xs}{
                font-size: 33px;
                line-height: 1.2;
                margin-bottom: 26px;
            }
        }
         p{
            font-size: 17px;
            line-height: 1.6;
            font-weight: 400;
            margin-bottom: 39px;
            color: #212025;
            margin-bottom: 60px;
            padding-right: 50px;
            @media #{$sm}{
                padding-right: 0px;
                margin-bottom: 30px;
            }
            @media #{$xs}{
                margin-bottom: 30px;
                padding-right: 0px;
                margin-bottom: 30px;
            }
        }
    }

}

// Another Hero Page
.slider-area{
    .hero-cap{
        & h2{
            font-size: 70px;
            font-weight: 700;
            text-transform: capitalize;
            @media #{$xs}{
                font-size: 28px;
            }

        }
    }
}
.slide-bg{
    background: #f0f0f2;
}
// arrow
.slider-active {
    & button{
        &.slick-arrow {
            position: absolute;
            top: 50%;
            left: 80px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            background: none;
            border: 0;
            padding: 0;
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            cursor: pointer;
            background: $theme_color;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
            i{
                font-size: 20px;
                line-height: 60px;
            }
        }
        &.slick-next {
            left: auto;
            right: 80px;
        }
        &.slick-arrow .secondary-img {
            right: 26px;
        }
       &:hover img {
            opacity: 0;
        }
        &:hover .secondary-img {
            opacity: 1;
        }
    }
    // hover
    &:hover button.slick-prev {
        left: 100px;
        @media #{$laptop}{
            left: 20px; 
        }
        @media #{$lg}{
            left: auto;
            right: 10px;
        }
        
    }
    
    &:hover button.slick-next {
        right: 100px;
        @media #{$laptop}{
            right: 20px; 
        }
    }
    
    &:hover button {
        opacity: 1;
        visibility: visible;
    }
    
    & button:hover {
        background: #002d5b;
    }
    
    .secondary-img {
        position: absolute;
        opacity: 0;
    }
    
}
