//! Header left right padding
.header-area {
    .main-header{
        padding: 0px 120px;
        @media #{$laptop}{
            padding: 0px 10px;
        }
        @media #{$lg}{
            padding: 0px 10px;
        }
        // mobile menu show
        @media #{$md}{
            padding: 22px 0px;
         }
        @media #{$sm}{
            padding: 22px 0px;
         }
        @media #{$xs}{
            padding: 22px 0px;
         }
         .menu-wrapper {
            display: flex;
            align-content: center;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            .main-menu{
                & ul{
                    & li{
                        display: inline-block;
                        position: relative;
                        z-index: 1;
        
                        & a{
                            font-size: 16px;
                            font-family: $font_1;
                            color: #141517;
                            font-weight: 600;
                            padding: 41px 21px;
                             display: inline-block; 
                             text-transform: capitalize;
                            display: block;
                            @include transition(.3s);
                            @media #{$lg}{
                                padding: 41px 15px;
                            }
                            &:hover{
                                color: $theme-color;
                            }
                        }
                        &:hover{
                            & > a{
                                columns: $theme-color;
                            }
                        }
                        &.hot{
                            position: relative;
                            &::before{
                                position: absolute;
                                content: "HOT";
                                background:#d9ec27;
                                color:#fff;
                                text-align: center;
                                border-radius: 8px;
                                font-size: 10px;
                                top: 19px;
                                right: -13px;
        
                                 @include transition(.2s);
                                box-shadow: 0 2px 5px
                                rgba(0,0,0,0.3);
                                padding: 3px 8px;
                                text-transform: uppercase;
                                letter-spacing: 1px;
                                font-weight: 500;
                            }
                        }
                        // how Sub Menu
                        &:hover > ul.submenu {
                            visibility: visible;
                            opacity: 1;
                            top: 100%;
                            &::before{
                                top: -8px;
                            }
                        }
                    }
                    ul.submenu{
                        position: absolute;
                        width: 170px;
                        background: #fff;
                        left: 0;
                        top: 90%;
                        visibility: hidden;
                        opacity: 0;
                        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                        padding: 17px 0;
                        border-top: 3px solid $theme-color;
                        border-radius: 7px 7px 3px 3px;
                        @include transition(.2s);
                        & > li{
                            margin-left: 7px;
                            display: block;
                            & > a{
                                padding: 6px 10px !important;
                                font-size: 16px;
                                color: #0b1c39;
                                text-transform: capitalize;
                                &:hover{
                                    color:$theme-color;
                                    background: none;
                                }
                                & i{
                                    // @include transition(.4s);
                                }
                            }
                        } 
                        &::before{
                            border-style: solid;
                            border-width: 0 6px 6px 6px;
                            border-color: transparent transparent rgb(255, 251, 0) transparent;
                            content: "";
                            top: -5px;
                            left: 13%;
                            position: absolute;
                            transition: .3s;
                            z-index: -1;
                            overflow: hidden;
                            @include transition(.3s);
                        }
                    }
                }
            }
            .header-right{
                @media #{$md}{
                    margin-right: 82px;
                 }
                @media #{$sm}{
                    margin-right: 73px;
                 }
                @media #{$xs}{
                    position: relative;
                    bottom: -73px;
                    z-index: 3;
                    right: 5px;
                 }
                ul{
                    display: flex !important;
                    justify-content: space-between;
                    li{

                    }
                }
                //! Search box icon style 
                .nav-search {
                    display: inline-block;
                }
                span{
                    color: #000000;
                    font-size: 16px;
                    cursor: pointer;
                    padding: 31px 19px;
                    &:hover{
                        color: $theme-color;
                    }
                    @media #{$md}{
                        padding: 21px 19px;
                     }
                    @media #{$xs}{
                        padding: 6px 9px;
                     }
                }
            }
        }
    }
}

//! header Sticky  & Responsive
.header-sticky{
    &.sticky-bar{
        // background: rgb(0, 0, 0);
        &.sticky {
            // Small device sticky show padding
            @media #{$md}{
                padding: 22px 0px;
            }
            .main-menu{
                ul {
                    li{
                        a {
                            // padding: 20px 20px !important;
                        }
                    }
                }
            }
            .header-right{
                @media #{$xs}{
                    display: none;
                } 
            }
        }
    }
}

//! Mobile Menu slick nav
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99;
    .slicknav_menu {
        background: transparent;
        margin-top: 0px !important;
        .slicknav_btn {
            top: -25px;
            // mobile Menu button color
            .slicknav_icon-bar {
                background-color: $theme-color !important;
            }
        }
        .slicknav_nav{
            margin-top: 16px !important;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            a:hover {
                background: transparent;
                color: $theme-color;
            }
            a {
                font-size: 15px;
                padding: 7px 10px;
            }
            // Dropdown Menu button Padding None
        .slicknav_item a {
                padding: 0 !important;
            }
        }
    }
}
 
//!  Modal Style 
.search-model-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    z-index: 99999;
    .search-model-form {
        padding: 0 15px;
        input {
            width: 500px;
            font-size: 40px;
            border: none;
            border-bottom: 2px solid #333;
            background: none;
            color: #999;
            @media #{$sm}{
                width: 251px;
                font-size: 26px;
            }
            @media #{$xs}{
                width: 251px;
                font-size: 26px;
            }
        }
    }
    .search-close-btn {
        position: absolute;
        width: 50px;
        height: 50px;
        background: #333;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        font-size: 28px;
        line-height: 28px;
        top: 30px;
        cursor: pointer;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}