.popular-items{
    .single-popular-items{
        .popular-img{
            overflow:hidden;
            border-bottom: 3px solid #f1c630;
            margin-bottom:19px;
            position: relative;
            img {
                width:100%;
               }
            //hover Show Smg
            .img-cap{
                position: absolute;
                bottom: -20%;
                width: 100%;
                opacity: 0;
                visibility: hidden;
                @include transition(.4s);
                span{
                    color: #fff;
                    background: #f1c630;
                    padding: 20px 0;
                    display: block;
                    cursor: pointer;
                }
            }
            // Favorits items select
            .favorit-items{
                position: absolute;
                top: 12px;
                right: 20px;
                opacity: 0;
                visibility: hidden;
                @include transition(.4s);
                span{
                    color: #ffc600;;
                    font-size: 30px;
                    cursor: pointer;
                }
            }
           }
            .popular-caption{

                h3 {
                    a{
                        color:#444444;
                        font-weight:700;
                        font-size:24px;
                        margin-bottom: 12px;
                        @media #{$sm}{
                            font-size:17px;
                        }
                        @media #{$xs}{
                            font-size:20px;
                        }
                    }
               }
               span {
                color:#444444;
                font-size:18px;
                font-weight:500;
                display:block;
            }
    
            }
    }

    // Shope Page
        // Tabs Button Style
        .nav-tabs{
            margin-bottom: 15px;
            padding-bottom: 0px;
            position: relative;
            border: 0;
            display: flex;
            justify-content: center;
            .nav-link {
                border: 0;
                border-bottom: 2px solid transparent;
                @media #{$xs}{
                    padding: .5rem .6rem;
                }
    
            }
            .nav-item {
                padding-bottom: 10px;
                display: block;
                color: #1b1b1b;
                text-transform: capitalize;
                font-size: 16px;
            }
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            background: none;
            border-bottom: 2px solid $theme-color;
            z-index: 5;
            position: relative;
        }

     // Drop Down
    .nice-select {
        background-color: #f2f2f2;
        border-radius: 30px;
        border: none;
        color: #333333;
        height: 31px;
        line-height: 31px;
        padding-right: 47px;
        &::after {
            border-bottom: 1px solid #333333;
            border-right: 1px solid #333333;
            height: 7px;
            width: 7px;
            margin-top: -4px;
            right: 17px;
        }
        .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
            background-color: #00b1ff;
        }
        .list {
            background-color: #fff;
            border-radius: 0;
            width: 100%;
        }
    }
}


.single-popular-items:hover .popular-img .img-cap {
    bottom: 0;
    opacity: 1;
    visibility: visible;
   }

.single-popular-items:hover .popular-img .favorit-items{
    opacity: 1;
    visibility: visible;
   }