// shop-method-area
.shop-method-area{
    .method-wrapper{
        background: #f2c300;
        .single-method{
            padding: 43px 20px 0 45px;
            i{
                font-size: 40px;
                color:#ffff;
                margin-bottom: 25px;
                display: block;
            }
            h6{
                color:#fff;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 12px; 
                font-family: $font_2;
            }
            p{
                font-size: 16px;
                color:$font_color1;
            }
        }
    }
}
