.banner-sub-about {
}

// .product_contents{
//   margin-bottom: 40px;
// }
.n-product {
  margin-bottom: 80px;
}

.filter_sidebar {
    margin-bottom: 50px;


 


  .kk {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .filter_heading {
      font-size: 15px;
      font-size: 20px;
      margin-bottom: 20px;
    
      position: relative;
      // display: flex;
      // align-items: center;
    }
    .h-line {
      &:after {
        display: block;
        content: "";
        background: #ee0808;
        width: 10%;
        height: 2px;
        position: absolute;
      }
    }
  }

  .filter_sidebar_sub {
    font-size: 14px;
    line-height: 2.429;
    border: 1px solid #e1e1e1;
    width: 100%;
    margin-top: 20px;
margin-bottom: 30px;
    padding: 3em 2.5em 2em;
    padding-left: 2.5em;
    padding-left: 0.5em;
    .list {
      list-style: none;
    }

    .ecommerce_dres-type {
    }
  }

  .filter_sidebar-main {

    
    
    .dresses_img_hover {
      position: relative;
  

      img {
        width: 100%;
      }
      .dresses_img_hover_pos {
        position: absolute;
        top: 30%;
left: 60px;

        h4{
            color: #fff;
font-size: 25px;

span{
    display: block;
font-weight: 700;
margin: 10px 0;
font-size: 45px;
}
        }
      }
    }


    @media screen and(max-width:576px) {

      margin-right: 100px;
      margin-left: 100px;
      
    }


  }
}

.more_button{
    margin: auto;
    
}