.fixed-top {
  top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: $white;
  left: 2.5%;
  width: 95%;
  padding: 20px 0;
}
.navbar-dark {
  color: $black;
  // padding: 0 10px;
  #nav-bg {
    // padding: 25px 0;
    margin: 0px auto 0;
    display: flex;
    // .navbar-toggler:focus{
    // }
    .navbar-toggler {
      background-color: $primary-color;
      color: $white;
      @media screen and(max-width:610px) {
        margin-right: 20px;
      }
    }
  }
  .navbar-brand {
    color: $primary-color;
    font-family: $title-font;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 10px;
    &:hover {
      color: $primary-color !important;
    }
  }
  .navbar-collapse {
    @media screen and(max-width:996px) {
      text-align: center;
    }
    .navbar-nav {
      .nav-item.active .nav-link {
        color: $primary-color !important;
      }
      .dropdown-menu {
        border: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        padding: 15px 15px;
        .dropdown-item {
          padding-top: 10px;
          padding-bottom: 10px;
          @media screen and(max-width:996px) {
            text-align: center;
          }
          &:hover {
            color: $white;
            background-color: $primary-color;
          }
        }
      }
      .dropdown:hover > .dropdown-menu {
        display: block;
      }
    }
    .nav-item {
      text-transform: uppercase;
      padding: 0 12px;
      .nav-link {
        color: $title-color;
        font-weight: 500;
        font-size: 13px;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .nav_right {
    display: flex;
    @media screen and(max-width:996px) {
      justify-content: center;
    }
    .nav_cart {
      padding: 0 12px;
      a {
        color: $title-color;
        &:hover {
          color: $primary-color;
        }
      }
    }
    .nav_search {
      padding: 0 12px;
      a {
        color: $title-color;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}
#new {
  transition: 0.5s;
}
