.display_qty{
       background:#714B67;
       position:absolute;
       top:0;
       left:0;
       width:30px;
       height:20px;
       border-radius: 3px;
       text-align:center;
       font-weight: bold;
       font-size: 14px;
       color:white
}
.display_qty.not-available,.display_virtual.not-available{
     background: #808080;
}
.display_virtual{
       background:#017e84;
       position:absolute;
       top:0;
       right:0;
       width:30px;
       height:20px;
       border-radius: 3px;
       text-align:center;
       font-weight: bold;
       font-size: 14px;
       color:white
}
