.row-class {
    margin: 1rem;
}
.resize-drag {
  border-radius: 8px;
  padding: 20px;
  margin: 1rem;
  color: white;
  font-size: 20px;
  font-family: sans-serif;

  touch-action: none;
  box-sizing: border-box;
}

.theme {
    position: absolute;
    right: 60.5em;
    padding-top:inherit;
}
.card {
    background-color: transparent !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px !important;
    cursor: pointer;
    transition: transform 0.2s;
}

.dashboard_pdf{
    position: absolute;
    right: 26.5em;
    padding-top:inherit;
}

.dashboard_mail{
    position: absolute;
    right: 24.5em;
    padding-top:inherit;
}

.resize-drag {
    position: relative !important;
    font-size: 100%;
    overflow:hidden;
}

h2, h3 {
    font-size: 150% !important;
}

.container {
    max-width: 100% !important;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

div.card-header {
    color: #383838;
    background-color: #70659647 !important;
}

/* The toggle-btn - the box around the slider */
.layout-switch {
    font-size: 15px;
    position: absolute;
    left: 10.5em;
    display: inline-block;
    padding: 0 0 0 0;
    border-radius: 0.5rem;
}

.modal-header .btn-close {
    display: none;
}

.modal-title{
    margin-inline-end: auto;
}

.theme-text {
    font-family: Arial, sans-serif;
    font-size: 1em;
    opacity: 70%;
}

.search-group {
    position: absolute;
    right: 1.7em;
}

.block_setting {
    position: absolute;
    top: 7px;
    left: 10px;
}

.block_delete {
    position: absolute;
    top: 7px;
    right: 10px;
}

.tile_edit {
    color: #d2d2d2;
}

.block_edit {
    color: #3f3f3f;
}

.block_setting, .block_delete, .block_image, .block_pdf, .block_xlsx, .block_csv, .block_export {
    display: none;
}

.resize-drag:hover .block_setting,
.resize-drag:hover .block_xlsx,
.resize-drag:hover .block_csv,
.resize-drag:hover .block_image,
.resize-drag:hover .block_pdf,
.resize-drag:hover .block_export,
.resize-drag:hover .block_delete {
    display: block;
}

.chart-edit {
    position: absolute;
    top: 0px;
    left: 3px;
    font-size: 16px;
}

.chart-image {
    position: absolute;
    top: 3px;
    right: 106px;
    font-size: 16px;
}

.chart-pdf {
    position: absolute;
    top: 3px;
    right: 82px;
    font-size: 16px;
}

.chart-csv {
    position: absolute;
    top: 3px;
    right: 58px;
    font-size: 16px;
}

.chart-xlsx {
    position: absolute;
    top: 6px;
    right: 34px;
    font-size: 15px;
}

.chart-setting {
    position: absolute;
    top: 0px;
    right: 3px;
    font-size: 16px;
}

.chart_title {
    padding-top: 0.7em;
    text-align: center;
    font-size: 16px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.move_slider {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    margin: -1px 6px 11px 0;
}

.slider.round:before {
    border-radius: 50%;
}

.o_kanban_record {
    background-color: #e8e8e8 !important;
}

.oe_module_name {
    background-color: #ffffff !important;
}

.bootbox .modal-footer .btn-danger:hover {
    background-color: #ff595c;
}

.bootbox .modal-footer .btn-danger {
    box-shadow: none;
    margin-left: 0.5rem;
}

.bootbox .modal-header {
    text-shadow: -1px 3px 5px #b4b4b4;
}

.bootbox .modal-body {
    font-size: 14px;
    text-shadow: -1px 3px 5px #b4b4b4;
    color: #000000;
}

.dropdown-addblock, .o-dropdown-menu {
    left: 2.5em;
    top: 2.5em;
}

.navbar {
    top:10px;
    padding: 1.2rem 0 2.6rem 0 !important;
    border-bottom: 1px solid #3f3f3f1a !important;
    color: #444444;
    background-color: #ffffff !important;
}

.theme_icon:hover {
    text-shadow: 0px 0px 5px #9388ff;
}

.navbar-style {
    margin-top: 1.2em;
    border-radius: 0.5em;
}

.dropdown-add-items {
    position: absolute;
    color: #e4e4e4;
    left: 2em;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #71639e;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1.08333333rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dropdown-add-items:hover {
    color: white;
    background-color: #59507b;
}

@media (max-width: 767px) {
    .navbar {
        padding: 1.2rem 0 1.2rem 0;
    }

    .navbar:focus, .navbar:active {
        padding: 1.2rem 0 2rem 0;
    }

    .o_web_client.o_touch_device .btn, .o_web_client.o_touch_device .btn .btn-sm, .o_web_client.o_touch_device .btn .btn-group-sm > .btn {
        font-size: 1.08333333rem;
        padding: 6px 8px;
        margin-top: 39px;
        margin-left: -39px;
    }

    .dropdown-item {
        font-size: 1.08333333rem;
        font-weight: 500;
    }

    .dropdown-addblock, .o-dropdown-menu {
        left: -3.5em;
        padding: 0em 7em;
        margin-top: 38px;
       width: 276px;
    }

    .toggle-btn {
        position: absolute;
        margin-top: -16px;
        margin-left: 56px;
        left: 1.2em;
        top: 2.3em;
         height: 10px;
    }

    #edit_layout {
        display: none;
        border-radius: inherit;
    }

    #search-button {
        position: relative;
        left: 3.5em;
    }

    #searchclear {
        position: absolute;
        margin: 0.3rem 0 0 9.9rem;
    }

    .search-box {
        top: -3em;
        left: 7.5em;
        margin: 0em -1.9em;
        width: 79%;
    }


    .navbar-toggler {
        margin: 0.2em 1em;
        padding: 0.25rem 0.5rem;
    }

    .dropdown-add-items {
        position: absolute;
        color: #e4e4e4;
        top: -2.6em;
        left: 3.5em;
    }
}
