.cart {
  margin-top: 90px;
  .table_wrapper {
    overflow: auto;
    // .table-responsive {
    // }
    .table {
      overflow-x: auto;
      thead {
        background-color: $bg;
      }
      tbody {
        .cart_img {
          display: flex;
          align-items: center;
          padding-bottom: 30px;
          @media screen and(max-width:576px) {
            margin-top: 30px;
          }
          .wrapper {
            max-width: 150px;
            img {
              width: 100%;
            }
          }
          h6 {
            color: $primary-color;
            font-size: 23px;
            padding-left: 20px;
            @media screen and(max-width:600px) {
              font-size: 12px;
              padding-left: 10px;
            }
          }
        }
        td {
          vertical-align: middle;
          .cart_q {
            position: relative;
          }
          .quantity {
            position: absolute;
            top: -21px;
            left: 30px;
            @media screen and(max-width:576px) {
              padding-left: 15px;
              left: 10px;
            }
          }
          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input[type="number"] {
            -moz-appearance: textfield;
          }
          .quantity input {
            width: 45px;
            height: 42px;
            line-height: 1.65;
            display: block;
            padding: 0;
            margin: 0;
            padding-left: 20px;
            border: 1px solid #eee;
          }
          .quantity input:focus {
            outline: 0;
          }
          .quantity-nav {
            float: left;
            position: relative;
            height: 42px;
          }
          .quantity-button {
            position: relative;
            cursor: pointer;
            border-left: 1px solid #eee;
            width: 20px;
            text-align: center;
            color: #333;
            font-size: 13px;
            line-height: 1.7;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
          }
          .quantity-button.quantity-up {
            position: absolute;
            height: 50%;
            top: -38px;
            border-bottom: 1px solid #eee;
          }
          .quantity-button.quantity-down {
            position: absolute;
            bottom: 38px;
            height: 50%;
          }
        }
      }
    }
  }
  .table_bottom {
    margin-top: 30px;
    .input-group {
      width: 100%;
      height: 50px;
      border-radius: 0;
      @media screen and(max-width:768px) {
        padding-top: 20px;
      }
      .form-control {
        border-radius: 0;
        height: 50px;
      }
      .input-group-text {
        border-radius: 0;
        background-color: $primary-color;
        padding: 0 20px;
        color: $white;
        border: 1px solid;
        font-weight: 700;
      }
    }
    .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: $primary-color;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    }
  }
  .price_details {
    margin-top: 50px;
    .total {
      display: flex;
      justify-content: space-between;
      padding: 0 75px;
    }
    .bb {
      margin-top: 30px;
    }
  }
  .wrap {
    justify-content: space-between;
    margin-top: 40px;
    padding: 0 40px;
    .ship {
      padding-left: 40px;
      font-weight: 600;
    }
  }
  .payment {
    .c1 {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    /* Hide the browser's default radio button */
    .c1 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: rgb(212, 212, 212);
      border-radius: 50%;
    }
    /* On mouse-over, add a grey background color */
    .c1:hover input ~ .checkmark {
      background-color: rgba(204, 204, 204, 0);
    }
    /* When the radio button is checked, add a blue background */
    .c1 input:checked ~ .checkmark {
      background-color: #f0e76c;
    }
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Show the indicator (dot/circle) when checked */
    .c1 input:checked ~ .checkmark:after {
      display: block;
    }
    /* Style the indicator (dot/circle) */
    .c1 .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0);
    }
  }
}
