.contact {
    margin-top: 100px;
    .map {
        .mapouter {
            position: relative;
            text-align: right;
            height: 400px;
            widows: 100%;
            .mapouter {
                overflow: hidden;
                background: none !important;
                height: 100%;
                width: 100%;
            }
        }
    }
    .contact_form {
        margin-top: 70px;
        .contact_left {
            margin-top: 100px;
            .wrapper {
                display: flex;
                margin-bottom: 20px;
                span {
                    color: $primary-color;
                    font-size: 20px;
                }
                .rc {
                    padding-left: 15px;
                    h4 {
                        font-size: 16px;
                        font-weight: 600;
                    }
                    p {
                        color: $pfont;
                    }
                }
            }
        }
    }
    .contact_right {
        .form-control:focus {
            color: #495057;
            background-color: #fff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
        }
        .custom-control-input:checked ~ .custom-control-label::before {
            color: red;
            border-color: red;
            background-color: red;
            outline: none !important;
            box-shadow: none !important;
        }
        // .form-check-input:checked ~ .form-check-label::before {
        //     color: red !important;
        //     border-color: red !important;
        //     background-color: red !important;
        //     content: "";
        //     outline: none !important;
        //     box-shadow: none !important;
        // }
        .form-check-input:checked {
            outline: none !important;
            box-shadow: none !important;
        }
        .form-control {
            display: block;
            width: 100%;
            height: calc(2em + 0.85rem + 3px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #e3e3e3;
            background-clip: padding-box;
            border: 1px solid;
            border-color: $primary !important;
            border-radius: 0;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .card {
            border: none;
            background-color: #f2ede2;
            .card-body {
                .md-form {
                    color: $pfont;
                    .lable {
                        color: $black;
                    }
                }
                .custom-control-input:checked ~ .custom-control-label::before {
                    color: $hover;
                    border-color: $hover;
                    background-color: $hover;
                    outline: none;
                }
                .form-check-input:checked ~ .form-check-label::before {
                    color: $hover !important;
                    border-color: $hover !important;
                    background-color: $hover !important;
                    content: "";
                }
                .input[type="checkbox"],
                input[type="radio"] {
                    &:before {
                        position: absolute;
                        top: 0.25rem;
                        left: -1.5rem;
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        pointer-events: none;
                        background-color: rgb(138, 23, 23);
                        border: #3e71a5 solid 1px;
                    }
                }
            }
        }
    }
}
