.Poduct_preview {
    margin-top: 100px;
    @media screen and(max-width:996px) {
        margin-top: 10px;
    }
    .preview_img {
        padding-top: 30px;
        position: relative;
        .wrapper {
            max-width: 600px;
            @media screen and(max-width:768px) {
                padding-bottom: 30px;
            }
            img {
                width: 100%;
            }
        }
        .owl-carousel button.owl-dot span {
            height: 25px;
            width: 7px;
            border-radius: 8px;
            background-color: $white;
            background-color: $primary-color;
            display: block;
            font-weight: 700;
            margin: 2px;
            @media screen and(max-width:576px) {
                height: 18px;
                width: 5px;
                margin: 1px;
            }
        }
        .owl-carousel button.owl-dot.active span {
            height: 40px;
            width: 7px;
            border-radius: 8px;
            background-color: $primary-color3;
            @media screen and(max-width:576px) {
                height: 25px;
                width: 5px;
            }
        }
        .owl-carousel {
            position: relative;
            .owl-dots {
                position: absolute;
                bottom: 1%;
                left: 75%;
                transform: rotate(89deg);
                @media screen and(max-width:768px) {
                    bottom: 0;
                }
                // @media screen and(max-width:768px) {
                //    left: 100px;
                // }
                // @media screen and(max-width:600px) {
                //     left: 75px;
                //  }
            }
        }
    }
    .preview_details {
        padding-top: 30px;
        margin-left: 20px;
        .preview_heading {
            color: $title-color;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: 1px;
        }
        .price {
            color: $primary-color;
            font-size: 28px;
            font-weight: 700;
            padding-top: 10px;
        }
        .category {
            padding-left: 0;
            margin-top: 20px;
            li {
                padding-bottom: 10px;
                a {
                    color: #555;
                    text-decoration: none;
                    span {
                        color: $primary-color;
                        padding-left: 15px;
                    }
                }
            }
        }
        p {
            padding-top: 30px;
            color: $pfont;
            line-height: 25px;
        }
        .product_quantity {
            display: flex;
            align-items: center;
            margin-top: 40px;
            span {
                color: $pfont;
                padding-right: 10px;
            }
            #myform {
                text-align: center;
                border: 2px solid #ccc;
                display: flex;
                border-radius: 0px;
                width: 100px;
                justify-content: space-around;
                align-items: center;
                .wrapper_q {
                    display: block !important;
                }
            }
            .qty {
                width: 40px;
                height: 15px;
                text-align: center;
                border: none;
            }
            input.qtyplus {
                width: 25px;
                border: none;
                background-color: transparent;
                display: block !important;
                padding-top: 4px;
            }
            input.qtyminus {
                width: 25px;
                border: none;
                background-color: transparent;
            }
        }
        .add_c {
            display: flex;
            align-items: center;
            margin-top: 20px;
            .c_icon {
                padding-left: 10px;
                a {
                    color: $white;
                    font-size: 18px;
                }
                span {
                    height: 37px;
                    width: 37px;
                    background-color: $primary-color3;
                    border-radius: 50%;
                    padding: 11px;
                    margin-left: 10px;
                    &:hover {
                        background-color: $primary-color;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
.preview_tab {
    margin-top: 100px;
    .nav-pills {
        justify-content: center;
        .nav-item {
            .active {
                color: $white !important;
                border: none;
                background-image: linear-gradient(45deg, #22c1c3 0%, #21392b59 60%);
                border-radius: 0;
                padding: 12px 22px;
            }
            .nav-link {
                color: $black;
            }
            padding: 12px 22px;
        }
    }
    .tab-content {
        padding-top: 20px;
        .tab-pane {
            line-height: 24px;
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            color: $pfont;
            .det {
                padding: 0 15px;
            }
            table {
                color: $pfont;
                @media screen and(max-width:600px) {
                    padding: 0 15px;
                }
            }
            .comments {
                @media screen and(max-width:600px) {
                    padding: 0 15px;
                }
                .over_all {
                    margin: auto;
                    text-align: center;
                    background-color: #e8e8e8;
                    height: 150px;
                    width: 150px;
                    h5 {
                        color: $black;
                        margin-bottom: 10px;
                        padding-top: 25px;
                        font-size: 20px;
                        font-weight: 600;
                    }
                    .num {
                        color: $primary;
                        font-size: 40px;
                        font-weight: 700;
                        padding-bottom: 10px;
                    }
                }
                .wrapper {
                    margin-top: 20px;
                }
                .person {
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;
                    .p_img {
                        display: flex;
                        align-items: center;
                        .img_d {
                            padding-top: 15px;
                            margin-left: 10px;
                            h6 {
                                color: $black;
                            }
                        }
                    }
                }
                .c_p {
                    line-height: 24px;
                    font-size: 14px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    color: $pfont;
                    margin-top: 20px;
                }
            }
            .p_comment {
                .rating {
                    display: flex;
                    padding-bottom: 20px;
                    .star {
                        display: flex;
                        padding-left: 0;
                        margin: 0 10px;
                        li {
                            a {
                                margin-right: 4px;
                                color: #ff9800;
                                span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
                h5 {
                    color: $black;
                }
                .contact-form {
                    margin-top: 10px;
                    .form-control {
                        display: block;
                        width: 100%;
                        height: calc(2.5em + 0.75rem + 2px);
                        padding: 0.375rem 0.75rem;
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #495057;
                        background-color: #fff;
                        background-clip: padding-box;
                        border: 1px solid #ced4da;
                        border-color: transparent;
                        border-bottom-color: $black;
                        border-radius: 0;
                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                    }
                    .form-control:focus {
                        color: #495057;
                        background-color: #fff;
                        border-bottom-color: $black !important;
                        outline: 0;
                        box-shadow: none;
                    }
                    .input-block {
                        margin-bottom: 30px;
                        label {
                            color: $pfont;
                        }
                    }
                }
            }
        }
    }
}
