.main_product {
    margin-top: 100px;
    @media screen and(max-width:600px) {
        margin-top: 70px;
        padding: 0 10px;
    }
    .product_top {
        background: $primary-color3;
        padding: 13px 10px;
        margin-bottom: 20px;
        .left {
            .drp2 {
                margin-left: 15px !important;
            }
        }
        .dropdown {
            width: 100%;
            .btn-secondary {
                background: $offwhite;
                border-radius: 0;
                color: $pfont;
                width: 80%;
            }
            .dropdown-menu {
                border-radius: 0;
                border: 0;
                .dropdown-item {
                    color: $pfont;
                    padding: 10px 4px;
                    &:hover {
                        background: $hover !important;
                        color: $white;
                    }
                }
            }
            // .dropdown-toggle::after {
            // }
        }
        .right {
            .shop_pagination_area {
                text-align: center;
                display: flex;
                justify-content: end;
                @media screen and(max-width:768px) {
                    justify-content: left;
                }
                .pagination {
                    .page-item.active .page-link {
                        color: $white;
                        background-color: $primary-color;
                    }
                    .page-item {
                        .page-link {
                            color: $black;
                            background-color: $white;
                            border: 0;
                            font-size: 15px;
                            font-weight: 600;
                            border: 2px solid;
                            border: 0;
                            border-radius: 0;
                            border-color: $pfont;
                            height: 35px;
                            width: 37px;
                            box-shadow: none;
                            padding: 8px 10px;
                            &:hover {
                                color: $white;
                                background-color: $primary-color;
                            }
                        }
                        &:nth-child(4) {
                            .page-link {
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
    }
    .product_shop {
        .main_heading {
            text-align: center;
            padding-bottom: 10px;
            h3 {
                font-size: 25px;
                font-weight: 600;
                text-transform: uppercase;
                font-family: $title-font;
                color: $title-color;
            }
            p {
                color: $pfont;
                line-height: 24px;
                margin-bottom: 33px;
            }
        }
        .wrapper {
            .product_img {
                margin-bottom: 50px;
                .wrapper_img {
                    padding-bottom: 25px;
                    img {
                        width: 100%;
                    }
                }
                h5 {
                    color: $title-color;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-top: 15px;
                    font-family: $title-font;
                }
                .rate {
                    display: flex;
                    padding-top: 10px;
                    p {
                        color: $title-color;
                        margin-right: 50px;
                    }
                    span {
                        color: $pfont;
                        text-decoration: line-through;
                    }
                }
                .product_bottom {
                    display: flex;
                    padding-left: 0;
                    position: relative;
                    li {
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        background-color: $primary-color3;
                        margin-right: 12px;
                    }
                    a {
                        color: $white;
                        span {
                            padding: 11px;
                        }
                    }
                }
            }
        }
    }
}
