.tracking {
    margin-top: 100px;
    .track_form {
        max-width: 70%;
        margin: auto;
        p {
            padding-bottom: 15px;
        }
        .contact-form {
            margin-top: 10px;
            .form-control {
                display: block;
                width: 100%;
                height: calc(2.5em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-color: transparent;
                border-bottom-color: $black;
                border-radius: 0;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }
            .form-control:focus {
                color: #495057;
                background-color: #fff;
                border-bottom-color: $black !important;
                outline: 0;
                box-shadow: none;
            }
            .input-block {
                margin-bottom: 30px;
                label {
                    color: $pfont;
                }
            }
        }
    }
}
