h3{
    font-size:3rem;
    font-weight:bold;
    color:#c68307;
}

.s_event_calendar {
    width: 100%;
    max-width: 100%;
    height: 31rem;
}

.fc-day.fc-day-today {
    background-color: #f0f8ff;
}

.fc-event {
    background-color: #ff6347;
    color: white;
}

.fc .fc-daygrid-day.fc-day-today{
    background-color: #efc085 !important;
}

.s_event_calendar_list .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_event_calendar_list .col-md-6,
.s_event_calendar_list .col-lg-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}