h3{
    font-size:3rem;
    font-weight:bold;
    color:#c68307;
}
.s_event_calendar_list {
         .event_details{
        margin-bottom:7px;
        }
        .event_list_title{
        font-size:1.25rem;
        font-weight:bold;
        }
    .event_title {
        border: 0 solid $table-border-color;
        border-bottom-width: 1px;
        a{
        color: #333;
        }
    }

    .s_event_calendar {
        .bootstrap-datetimepicker-widget {
            width: 100%;
        }

        .day:not(.active):not(:hover):not(.disabled) {
        background-color: #FFDEAD;
            font-weight:bold;
        }
    }
    .day:not(.active):hover{
        background: #ff7b54;
        color:#FFFFFF ;
    }
    .day.active,.day.active:hover{
    background-color: #000000;
            color:#FFFFFF
    }
    td.today:not(.active)::before {
  border-bottom-color: #cf2e2e !important;
  }

    .category::before {
        content: "| ";
    }
    .event_btn{
    background-color: #fff;
            color:#3D3935;
            border:2px solid;
            border-color:#AB2328;
    }
    animation: unset !important;
    opacity: 1 !important;
    background-size: 1500px auto;
    padding-top: 50px;
    padding-bottom: 46px;
    @media screen and(min-width:768px) {
        table{
        height:475px;
        td{
        padding: 1rem !important;
        }
        }

        .event_list_column{
        padding-left:50px;
        padding-top:70px;
        .s_event_list{
        margin-top:15px;

        }
        }
        .cal_heading{
        padding-bottom:20px;
        }
                        }
}