.auto-fill-scrollbar {
    z-index: 1051;
    position: absolute;
    background: #ffffff;
    overflow-y: scroll;
    height: auto;
    display:none;
    width:auto !important;
    border: 1px solid #E5E5E5;
    font-size: 13px;
    padding: 5px 0px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}
.auto-fill-scrollbar td {
    padding-left: 7px !important;
    padding-right: 7px !important;
}
.auto-fill-scrollbar td:hover{
    background: #2d6cb3;
    color: #fff;
    width: 5px;
}
.list_matches{
    width: 100%;
    cursor: pointer;
}
.input_field_auto_fill {
    border: 1px solid #D2D2FF;
}
.text_field_auto_fill {
    border: 1px solid #D2D2FF;
}
