
#trackingNumberInput:focus, #trackingInputBtn:focus{
  box-shadow: none;
}

#trackingNumberInput::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
#trackingNumberInput::-webkit-outer-spin-button,
#trackingNumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#trackingNumberInput {
  -moz-appearance: textfield;
}

#trackedTableDetails{
  max-width: 70%;
  margin: 0 auto;
}
