.main-container{
    overflow-y: auto;
    height: 100vh;
    overflow-x: none;
}
.card-shadow {
     height: 65%;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(222, 222, 222, 1);
    -moz-box-shadow: 1px 3px 5px 0px rgba(222, 222, 222, 1);
    box-shadow: 1px 3px 5px 0px rgba(222, 222, 222, 1);
    color: #243c64;
    size: 10rem;
    text-align: center;
    padding:15px;
    background:white;
    border: 2px solid #71639e;
    width:300px;
}
.card3{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 32vh;
}
.card6{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 32vh;
}
.card12{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 32vh;
}
.stat-widget-one{
    display:flex;
    flex-direction: column;
    height:100%;
    justify-content: space-around;
}
.stat-icon{
    background: white;
    width: 85px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}
.row{
   padding-right: 2%;
   padding-left: 2%;
}
.card-shadow-container{
    display: flex;
    justify-content: flex-start;
}
.btn {
    width: fit-content;
    align-self: center;
}
.stat-content{
    margin-left: 35px;
    font-size: 20px;
    font-weight: 600;
}
.stat-head{
    margin-center: 35px;
    font-size: 20px;
    font-weight: 600;
}
.o_action_manager{
     direction: ltr;
    -webkit-box-flex: 1;
}
@media (max-width: 767.98px) {
 .stat-icon{
    height: 70px;
 }
 }
@media (max-height: 671px) {
 .stat-icon{
    height: 10px;
 }
 }
