.btn-trans{
background-color: #efefef,
}
.btn-trans:hover{
background-color: #58B354A6;
color:white;
}
.number_project{
    background: blue; 
    color:yellow;
    display:grid;
    justify-content:center;
    height: 48px;
    align-items: center;
    font-size: 22px;
}
.main_box{
    width:300px;
    height:200px;
    margin-left:20px;
    display:inline-block;
}
.button_style{
    cursor: pointer;
    border:none;
    background:none;
}
card_footer{
    display: flex;
    justify-content: center;
}
container_style{
    width:100%;
    margin-top:2%;
    margin-left:16%;
    border:1px solid gray;
}
card_text{
    width:50%;
    height:50%;
    margin-left:auto;
    margin-right:auto;
}
second_div{
    width:76%;
    padding-bottom:1%;
}
.quotation
{
    box-shadow: 1px 0px 16px 0 rgba(63, 73, 115, 0.3);
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.07);
    height: 200px;

}
.heading2{
width:100%;
text-align: center;
}
.word-text {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-top:1rem;
}
.count-div{
color:#7D7EAF;
font-size:3rem;

}
.view-bar{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 1rem;
    color: #dc3545;
}
