canvas {
  border: 7px solid #666666;
  background-color: white;
  position: relative;
}

.customselect{
bottom: 744px;
left: 44px;
height: 25px;
width: 150px;
position: absolute;
color: indigo;
font-size: 15px;
}


.rectangle {
bottom: 650px;
right: 7px;
  height: 140px;
  width: 180px;
  position: absolute;

}

.square1 {
  height: 20px;
  width: 20px;
  background-color: #cc0000;
  border-radius: 5px;
}

.squareText1 {
  height: 20px;
  width: 170px;
  color: black;
  margin-top: -19px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 13px;
}

.square2 {
  height: 20px;
  width: 20px;
  background-color: #e6b800;
  border-radius: 5px;
  margin-top: 2px;
}

.squareText2 {
  height: 20px;
  width: 170px;
  color: black;
  margin-top: -19px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 13px;
}

.square3 {
  height: 20px;
  width: 20px;
  background-color: #00802b;
  border-radius: 5px;
  margin-top: 2px;
}

.squareText3 {
  height: 20px;
  width: 170px;
  color: black;
  margin-top: -19px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 13px;
}

.square4 {
  height: 20px;
  width: 20px;
  background-color: #8c8c8c;
  border-radius: 5px;
  margin-top: 2px;
}

.square4blue {
  height: 20px;
  width: 20px;
  background-color: #0066ff;
  border-radius: 5px;
  margin-top: 2px;
}

.squareText4 {
  height: 20px;
  width: 170px;
  color: black;
  margin-top: -19px;
  padding-left: 30px;
  font-weight: 600;
  font-size: 13px;
}

.closeBtn {
    bottom: 759px;
    left: 10px;
  font-size: 33px;
  font-weight: 600;
  position: absolute;
  color: indigo;
  background: transparent;
  border: none;
   outline: none;
}

.closeBtn:focus {
    outline: 0 !important;
}

.closeBtn:hover {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}
