
    .banner_about{
     
        background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),  url(./../images/banner/banner1.jpg);
      
        padding: 135px 0;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        .b_head{
     margin-top: 100px;
   
            color: $color-white;
            text-align: center;
            font-size: 45px;
            font-weight: 700;
            width: 100%;
            text-align: left;
        }
    }
   //
    .about_main_2{
        .exp_wrapper{
            margin-top: 50px;
            .ex-1{
                padding-bottom: 40px;
                h4{
                    font-size: 16px;
                    color: $color-sub-head;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 600;
                    .ex-line{
                        &:after{
                            position: absolute;
                            left: -53px;
                            bottom: 7px;
                            height: 3px;
                            width: 40px;
                            background: #6984c2;
                            content: "";
                            display: block;
                        }
                    }
                }
                .main-head{
                    h2{
                        color: $color-brand;
                        font-size: 40px;
                        margin-top: 20px;
                        font-weight: 600;
                      
                    }
                }
            }
                .wrapper{


                    @media screen and(max-width:576px) {

                        margin: 0 10px;
                        
                    }
                    h4{
                        color: $color-brand;
                        font-size: 25px;
                        margin-top: 15px;
                        font-weight: 600;   
                    }
                    p{
                        color: #535353;
                        letter-spacing: 0.1rem;
                        margin-bottom: 30px;
                        padding-top: 20px;
                        line-height: 1.7rem;
                        font-size: 18px;
                    } 
                    .about-img{
                    img{
                        border-radius: 5px;
                        width: 100%;
                        border-radius: 10px;
                    }
                }
                }
               
                
              
        }
    }

    //

    .about_main_3{
        .exp_wrapper{
            margin-top: 50px;
            .ex-1{
                padding-bottom: 40px;
                h4{
                    font-size: 16px;
                    color: $color-sub-head;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 600;
                    .ex-line{
                        &:after{
                            position: absolute;
                            left: -53px;
                            bottom: 7px;
                            height: 3px;
                            width: 40px;
                            background: #6984c2;
                            content: "";
                            display: block;
                        }
                    }
                }
                .main-head{
                    h2{
                        color: $color-brand;
                        font-size: 40px;
                        margin-top: 20px;
                        font-weight: 600;
                      
                    }
                }
                p{
                    color: #535353;
                    letter-spacing: 0.1rem;
                    margin-bottom: 30px;
                    padding-top: 20px;
                    line-height: 1.7rem;
                    font-size: 18px;
                }
    
    
                .expect_bottom{
                    padding-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    margin-right: 100px;
                    .clean{
                        display: flex;
                        span{
                            color: $color-sub-head;
                            font-size: 30px;
                        }
                        .wrapper{
                            margin-left: 20px;
                            h4{
                                color: $color-brand;
                                font-weight: 600;
                                font-size: 30px;
                            }
                            p{
                                color: #535353;
                    letter-spacing: 0.1rem;
                    line-height: 1.7rem;
                    font-size: 18px; 
                            }
                        }
                    }
                }
            }
            .about-img{
                max-width: 450px;
                @media screen and(max-width:576px) {

                    margin-bottom:20px;
                    
                }
                img{
                    border-radius: 5px;
                    width: 100%;
                    border-radius: 10px;
                    
                }
            
        }
    }
    }

    //

    .about_main_4{
        .exp_wrapper{
            margin-top: 50px;
            .ex-1{
                padding-bottom: 40px;
                h4{
                    font-size: 16px;
                    color: $color-sub-head;
                    position: relative;
                    text-transform: uppercase;
                    font-weight: 600;
                    .ex-line{
                        &:after{
                            position: absolute;
                            left: -53px;
                            bottom: 7px;
                            height: 3px;
                            width: 40px;
                            background: #6984c2;
                            content: "";
                            display: block;
                        }
                    }
                }
                .main-head{
                    h2{
                        color: $color-brand;
                        font-size: 40px;
                        margin-top: 20px;
                        font-weight: 600;
                      
                    }
                }
            }   
            .expect_bottom{
                padding-top: 20px;
            

                .clean{
                    display: flex;
                    span{
                        color: $color-sub-head;
                        font-size: 30px;
                    }
                    .wrapper{
                        margin-left: 20px;
                        h4{
                            color: $color-brand;
                            font-weight: 600;
                            font-size: 30px;
                        }
                        p{
                            color: #535353;
                letter-spacing: 0.1rem;
                line-height: 1.7rem;
                font-size: 18px; 
                        }
                    }
                }
            }     
              
        }
    }

   //

   .about_main_5{
    .exp_wrapper{
        margin-top: 50px;
        .ex-1{
            padding-bottom: 40px;
            h4{
                font-size: 16px;
                color: $color-sub-head;
                position: relative;
                text-transform: uppercase;
                font-weight: 600;
                .ex-line{
                    &:after{
                        position: absolute;
                        left: -53px;
                        bottom: 7px;
                        height: 3px;
                        width: 40px;
                        background: #6984c2;
                        content: "";
                        display: block;
                    }
                }
            }
            .main-head{
                h2{
                    color: $color-brand;
                    font-size: 40px;
                    margin-top: 20px;
                    font-weight: 600;
                  
                }
            }
        } 
        .team_wrapper{

            // .mrg{
            //     @media screen and(max-width:768px) {

            //         margin-bottom: 3em;
                    
            //     }
            //     @media screen and(max-width:px) {

            //         margin-bottom: 3em;
                    
            //     }
            }
            .team_img{
                overflow: hidden;
                img{
                width: 100%;
                border-radius: 6px;
                
                }
                margin-bottom: 25px;
                #zoomIn{

                    transform: scale(1);
                    transition: .3s ease-in-out;
                    border-radius: 6px 6px 6px 6px;
                    -webkit-border-radius: 6px 6px 6px 6px;
                    -o-border-radius: 6px 6px 6px 6px;
                    -moz-border-radius: 6px 6px 6px 6px !important;
                
                
                    &:hover{
                        transform: scale(1.3);
                        border-radius: 6px 6px 6px 6px !important;
                        -webkit-border-radius: 6px 6px 6px 6px !important;
                        -o-border-radius: 6px 6px 6px 6px !important;
                        -moz-border-radius: 6px 6px 6px 6px !important;
                    
                
                }
                }
            }
            .team_info{
                padding-top: 10px;
                text-align: center;
                h4{
                    font-size: 22px;
                    font-weight: 600;
                    color: $color-brand;
                }
                p{
                    color: #535353;
                    letter-spacing: 0.1rem;
                    padding-bottom: 15px;
                    line-height: 1.7rem;
                    font-size: 18px;
                }
            }
        }      
    }

  


   //

   .booking{
       background-color: $color-sub-head;
       .wrapper{
           padding-top: 30px;
           padding-bottom: 30px;
           h2{
               padding-top: 10px;
            font-size: 38px;
            line-height: 46px;
            font-weight: 600;
            color: $color-white;
           }
           .number{
               margin-top: 30px;
               p{
                   font-size: 34px;
                   color: $color-white;
                   span{
                       color: $color-white;
                   }
               }
           }

           .buttons{

           

           }
       }
   }