.Blog_detail {
    margin-top: 40px;
    margin-bottom: 40px;

    .blog_left{
        @media screen and(max-width:996px) {

            margin-bottom: 90px;
            
        }
    }
    .b_left_single {
        .blog_img {
            position: relative;

            img {
                width: 100%;
            }
            .blog_date {
                position: absolute;
                display: block;
                border-radius: 5px;
                background-color: $color-sub-head;
                color: $color-white;
                padding: 11px 29px;
                font-size: 22px;
                font-weight: 700;
                left: 16px;
                bottom: -15px;
                width: 95px;
            }
        }
        .comment {
            color: $color-font;
            margin-top: 40px;
            font-size: 18px;
            border: 1px solid;
            border-color: transparent;
            padding-bottom: 20px;
            border-bottom-color: $color-border;
            a {
                color: $color-font;
                text-decoration: none;
                padding-right: 20px;
                border: 1px solid;
                border-color: transparent;
                border-right-color: $color-font;
                &:last-child {
                    border: none;
                    padding-left: 20px;
                }
                &:hover {
                    color: $color-brand;
                }
            }
            span {
                &:last-child {
                }
                margin-right: 10px;
            }
        }

        .p_words {
            border: 3px solid;
            border-color: transparent;
            border-radius: 16px;
            border-left-color: $color-border;
            padding-left: 40px;
            margin-top: 40px;
            margin-bottom: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
            p {
                color: $color-brand;
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 40px;
            }
            span {
                text-align: left;
                color: $color-font2;
                font-size: 18px;
                font-weight: 600;
            }
        }

        .blog_details_2 {
            a {
                color: $color-brand;
                text-decoration: none;
                font-size: 28px;
                margin-top: 30px;
                h4 {
                    font-weight: 600;
                }
                &:hover {
                    color: $color-sub-head;
                }
            }
            .d_img {
                img {
                    border-radius: 8px;
                }
            }
        }
        .blog_details_3 {
            margin-top: 40px;
        }

        .blog_social_icon {
            margin-top: 30px;
            ul {
                display: flex;
                padding-left: 0;
                li {
                    color: $color-white;
                    font-size: 14px;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    margin-right: 20px;
                    text-align: center;
                    padding-top: 11px;

                    &:hover {
                        background-color: $color-sub-head;
                    }
                }

                .fb {
                    background: #3b5998;
                    color: #fff;
                    &:hover {
                        background: #2a4b92;
                    }
                }
                .tw {
                    background: #1da1f2;
                    color: #fff;
                    &:hover {
                        background: #0a8ee0;
                    }
                }
                .in {
                    background: #f44336;
                    color: #fff;
                    &:hover {
                        background: #f12c1d;
                    }
                }
                h5 {
                    color: $color-brand;
                    font-size: 22px;
                    font-weight: 600;
                    margin-right: 20px;
                    padding-top: 9px;
                }
            }
        }
        .next_prev {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            padding: 30px 0;
            border: 1px solid;
            border-color: $color-border;
            border-left: none;
            border-right: none;
            .prev {
                a {
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                    color: $color-brand;
                    &:hover {
                        color: $color-sub-head;
                    }
                }
            }
        }

        .comments_section {
            margin-top: 90px;
            h4 {
                color: $color-brand;
                font-size: 28px;
                text-align: left;
                font-weight: 600;
                margin-bottom: 50px;
            }
            .wrapper,
            .wrapper1,
            .wrapper2 {
                display: flex;
                .c_img {
                    max-width: 80px;
                    margin-right: 20px;
                    img {
                        width: 100%;
                        border-radius: 50%;
                    }
                }
                .c_right {
                    .comment_info {
                        display: flex;
                        justify-content: space-between;
                        .name {
                            color: $color-brand;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .date {
                            color: $color-font2;
                            font-size: 16px;
                            font-weight: 600;
                            border: 1px solid;
                            border-color: $color-border;
                            padding: 4px 9px;
                            border-radius: 2px;
                        }
                    }
                    .para_c {
                        color: #535353;
                        letter-spacing: 0.1rem;
                        margin-bottom: 30px;
                        padding-top: 20px;
                        line-height: 1.7rem;
                        font-size: 18px;
                    }
                }
            }

            .wrapper2,
            .wrapper1 {
                border: 1px solid;
                border-top-color: $color-border !important;
                border-color: transparent;
                margin-top: 30px;
                padding-top: 20px;
            }
        }

        .message_box {
            margin-top: 50px;
            .form {
                h3 {
                    margin-bottom: 30px;
                    color: $color-brand;
                    text-align: left;
                    font-weight: 600;
                    font-size: 28px;
                    padding-top: 10px;
                }
                input {
                    font-size: 18px;
                    padding: 12px 20px;
                    line-height: 28px;
                    width: 100%;
                    border-radius: 8px;
                    height: 58px;
                    color: $color-brand;
                    outline-style: none !important;
                    outline: none !important;
                    outline: transparent !important;
                }
                input:focus {
                    border-color: $color-brand;
                    outline-style: none !important;
                    outline: none !important;
                    outline: transparent !important;
                }
                .no-outline:focus {
                    outline: none;
                }
                .form-group{
                        margin-top: 20px;
                }
            }
        }
    }
}
