.address{
    margin-top: 70px;
    margin-bottom: 70px;
   .contact_col{
       display: grid;
       grid-template-columns:  1fr 1fr 1fr 1fr;
       grid-gap: 20px;


       @media screen and (max-width:996px) {
           grid-template-columns: 2fr 2fr;
       }

       @media screen and (max-width:532px) {
        grid-template-columns: 2fr;
    }
.contact_info{
    text-align: center;
    padding: 38px 12px 3px 12px;
border: 1px solid;
border-radius: 8px;
border-color: $color-border;

    .contact_icon{
        max-width: 40px;
        margin: auto;
        img{
            width: 100%;
            opacity: 0.5;
            &:hover{
                opacity: 1;
            }
       
        }
    }
    h4{
        font-weight: 600;
        color:$color-brand;
        font-size: 20px;
        margin-top: 18px;
    }
    .wrapper{
        margin-top: 25px;
    }
    .fpm {

        font-size: 18px;
        padding-top: 5px;
        margin-bottom: 0px;
        a {
            color: $color-font2;
            &:hover {
                text-decoration: none;
                color: $color-brand;
            }
        }
    }
}
} 
}

.contact_form{
    padding-top: 50px;
    
   
    .form{
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 70px;

        @media screen and (max-width:996px) {
            margin-left: 0;
            margin-right: 0;
        }
        h3{
            margin-bottom: 30px;
            color: $color-brand;
            text-align: left;
            font-weight: 600;
    font-size: 28px;
    padding-top: 10px;
        }
        input{
         
font-size: 18px;
padding: 12px 20px;
line-height: 28px;
width: 100%;
border-radius: 8px;
height: 58px;
color: $color-brand;
outline-style: none !important;
outline: none !important;
outline: transparent !important;
        }
        input:focus {
            border-color:$color-brand;
            outline-style: none !important;
            outline: none !important;
            outline: transparent !important;
          }
          .no-outline:focus {
            outline: none;
          }
    }
}