/*.btn-close {
    display:none;
}*/

.i_class_barcode {
    font-size: 34px;  /* Size of the barcode icon */
    color: #007bff;   /* Icon color */
    margin-right: 10px;  /* Add some spacing between icon and button */
}

.purchase_barcode_btn_new {
    background-color: #28a745;  /* Button background color */
    color: white;               /* Button text color */
    border: none;               /* Remove border */
    padding: 10px 20px;         /* Add padding for a nicer look */
    font-size: 16px;            /* Text size */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Change cursor to pointer */
    margin-left: 10px;          /* Add spacing to the left of the button */
}

.purchase_barcode_btn_new:hover {
    background-color: #218838;  /* Darker green on hover */
}
