.icon{
    background-color: #F8F8F8;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 22px;
    border-color: #F8F8F8;
}


.o_Container{
    display: grid;
    padding-bottom: 550px;
    margin-bottom: -81px;
    margin-top: 35px;
}

.hide {
  display: none;
}

.icon:hover + .hide {
display: block;
}


.o_form_view {
display: flex;
}

.o_FormRenderer_chatterContainer {
    width:auto;
    display: contents;
}
.o_form_sheet_bg {
    width: -webkit-fill-available;
}
.o_ChatterTopbar_rightSection {
    margin-left: 170px;
}
.chat {
    margin-top: 10px;
}
