
.pos .product .variant {
    position: absolute;
    top: 50px;
    left: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #0070F7;
    padding: 2px 5px;
    border-radius: 2px;
}

.variants{
    position: absolute;
    bottom: -11px;
    left: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #1b9c99;
    padding: 2px 5px;
    border-radius: 2px;
}
.extra-price{
position: absolute;
    top: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #ff6a6a;
    padding: 2px 5px;
    border-radius: 2px;
}
.tag{
background-color:#d7d7d7;
font-style: italic;
}
.variant-selected{
    position: absolute;
    bottom: 23px;
    left: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    font-size: 15px;
    background: #0831b3;
    padding: 2px 5px;
    border-radius: 2px;
}