.prodcard {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFF;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 19.5%;
    margin: 10px;
}

.img_card{
    height: 245px;
}


@media only screen and (max-width: 768px) {
      .card{
        overflow: hidden;
        width: 100%;
        margin:0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.temp_img{
width:250px important;
height:250px important;
object-fit:contain;
}