.blog_index {
    margin-bottom: 80px;
    @media screen and(max-width:567px) {
        margin-bottom: 10px;
    }
    @media screen and(max-width:768px) {
        margin-bottom: 40px;
    }
    .wrapper {
        .card-deck {
            @media screen and(max-width:567px) {
                padding: 0 20px !important;
            }
            .card {
                border: none;
                &:hover {
                    .btn {
                        &-dp {
                            &::after {
                                width: 40px !important;
                                background: #15e4f3;
                            }
                        }
                    }
                }
                .card-body {
                    padding: 15px 30px;
                    margin-top: -40px;
                    background: transparent;
                    .wrapper {
                        background-color: $color-white;
                        padding: 25px 25px;
                    }
                    i {
                        font-size: 16px;
                        margin-bottom: 15px;
                    }
                    .card-title {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
