.demo_product {
    .dp_wrapper {
        position: relative;
        &:hover {
            .btn {
                &-dp {
                    &::after {
                        width: 40px !important;
                        background: #15e4f3;
                    }
                }
            }
        }
        .dp_img {
            float: inline-end;
            max-width: 500px;
            display: inline-block;
            img {
                width: 100%;
                display: inline-block;
            }
        }
        .dp_details {
            position: absolute;
            width: 100%;
            left: 0;
            top: 125px;
            @media screen and(max-width:996px) {
                left: 50px;
            }
            @media screen and(max-width:768px) {
                position: unset;
            }
            .type {
                font-size: 40px;
                color: $color-brand6;
                font-weight: 600;
            }
        }
    }
    .dp_wrapper2 {
        position: relative;
        margin-top: -100px;
        @media screen and(max-width:996px) {
            margin-top: 0;
        }
        @media screen and(max-width:768px) {
            margin-top: 50px;
        }
        &:hover {
            .btn {
                &-dp {
                    &::after {
                        width: 40px !important;
                        background: #15e4f3;
                    }
                }
            }
        }
        .dp_img {
            max-width: 440px;
            img {
                width: 100%;
                display: inline-block;
            }
        }
        .dp_details {
            padding-top: 20px;
            width: 100%;
            // left: 0;
            // top: 135px;
            .type {
                font-size: 40px;
                color: $color-brand6;
                font-weight: 600;
            }
        }
    }
    .dp_wrapper3 {
        position: relative;
        margin-top: 50px;
        &:hover {
            .btn {
                &-dp {
                    &::after {
                        width: 40px !important;
                        background: #15e4f3;
                    }
                }
            }
        }
        .dp_img {
            float: inline-end;
            max-width: 500px;
            padding-bottom: 20px;
            img {
                width: 100%;
                display: inline-block;
            }
        }
        .dp_details {
            position: absolute;
            width: 100%;
            left: 0;
            top: 135px;
            @media screen and(max-width:996px) {
                left: -200px;
            }
            @media screen and(max-width:768px) {
                position: unset;
                padding-top: 20px !important;
            }
            .type {
                font-size: 40px;
                color: $color-brand6;
                font-weight: 600;
            }
        }
    }
}
