body {
  background-color: #714B67;
}
#work_order_timer_id {
  color: red;
  font-size: 50px;
  font-family: "Orbitron", sans-serif;
}
.header-text {
  color: black;
  font-family: "Abril Fatface";
  font-size: 70px;
  font-weight: 600;
  padding-top: 10px;
}
.button_for_barcode {
  display: flex;
  margin-left: 72%;
  padding-top: 5%;
  gap: 5px;
  border-radius: 6px;
}
.pause_workOrder {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #ff5000;
  line-height: 1.15;
  font-size: 16px;
  :hover {
    transition: all 0.1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
}
.continue_workOrder {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 16px;
  :hover {
    transition: all 0.1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
}
.done_workOrder {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
  :hover {
    transition: all 0.1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
  }
}
.timer-display {
  margin-left: 75%;
  padding-top: 22px;
  padding-left: 70px;
}
.form-control{
    width:100%;
    border-width: 5px;
    border-color: #13120d;
    border-radius: 6px;
    height: 70;
    /* place-content: center; */
    color: brown;
    font-size: xx-large;
    text-align: center;
}
#barcode_scan_button_id{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #000000;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    :hover{
        transform: translateY(-2px);
    }
    margin-top:3%;

}
.barcode_main_class{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17%;
}
@media (max-width: 390px){
    .timer-display{
      margin-left: -65px;
    }
    .button_for_barcode{
        margin-left:87px;
    }
}