#pos_product_card {
    cursor: pointer;
    gap:10px;
    padding:10px;
    display:flex;
    width: 250px;
    margin-left: 50px;
    margin-top: 25px;
    background-color: darkgray;
}
.add_to_cart_pos{
   position: absolute;
    right: 0;
    bottom: 5px;
    left: 160px;
}
#order_details{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 16px;
}

#tables_id{
    margin-left: 26px;
    margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  #pos_product_card {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.pos-cart-table{
    overflow-y: scroll;
    height: 500px;
    margin-bottom: 40px;
}
