.about {
    @media screen and(max-width:492px) {
        margin: 0 20px;
    }
    .about_content {
        padding-top: 40px;
        .card {
            margin-bottom: 40px;
            border-color: transparent;
            box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -webkit-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -moz-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            background: #0000001c;
            &:hover {
                background: $color-white;
            }
            padding: 20px;
            .card-img-top {
                max-width: 100px;
                margin: auto;
                padding-top: 15px;
            }
            .card-body {
                text-align: center;
                background: transparent !important;
                .card-title {
                    font-weight: 700;
                    text-align: center;
                    margin: 15px 0;
                }
                .card-text {
                    padding-bottom: 20px;
                    padding-top: 15px;
                }
            }
        }
    }
    .about_content2_first {
        .abt_img {
            max-width: 500px;
            margin-top: 10px;
            @media screen and(max-width:992px) {
                max-width: 100%;
                margin-bottom: 50px;
            }
            img {
                width: 100%;
            }
        }
        .about_content2_left {
            .section_heading {
                text-align: left;
                margin-top: 0;
                @media screen and(max-width:992px) {
                    text-align: center;
                    padding-top: 20px;
                }
                h3 {
                    font-size: 25px;
                }
            }
            padding-left: 20px;
            .card {
                margin-bottom: 20px;
                border-color: transparent;
                padding: 0 !important;
                .card-body {
                    padding: 0 !important;
                }
                padding: 20px;
                .card-img-top {
                    max-width: 75px;
                    padding-top: 15px;
                    @media screen and(max-width:992px) {
                        margin: auto;
                    }
                }
                .card-body {
                    text-align: left;
                    @media screen and(max-width:992px) {
                        text-align: center;
                    }
                    .card-title {
                        padding-top: 20px;
                        font-weight: 700;
                        text-align: left;
                        margin: 15px 0;
                        @media screen and(max-width:992px) {
                            text-align: center;
                        }
                    }
                    .card-text {
                        padding-bottom: 20px;
                        padding-top: 15px;
                    }
                }
            }
        }
    }
    .about_content2_second {
     
        .about_content2_left {
            .section_heading {
                text-align: left;
                margin-top: 0;
                @media screen and(max-width:992px) {
                    text-align: center;
                    padding-top: 20px;
                }
                h3 {
                    font-size: 25px;
                }
            }
            padding-left: 20px;
            .card {
                margin-bottom: 20px;
                border-color: transparent;
                padding: 0 !important;
                .card-body {
                    padding: 0 !important;
                }
                padding: 20px;
                .card-img-top {
                    max-width: 75px;
                    padding-top: 15px;
                    @media screen and(max-width:992px) {
                        margin: auto;
                    }
                }
                .card-body {
                    text-align: left;
                    @media screen and(max-width:992px) {
                        text-align: center;
                    }
                    .card-title {
                        padding-top: 20px;
                        font-weight: 700;
                        text-align: left;
                        margin: 15px 0;
                        @media screen and(max-width:992px) {
                            text-align: center;
                        }
                    }
                    .card-text {
                        padding-bottom: 20px;
                        padding-top: 15px;
                    }
                }
            }
        }

        .abt_img2 {
            max-width: 500px;
            margin-top: 10px;
            @media screen and(max-width:992px) {
                max-width: 100%;
                margin-bottom: 50px;
            }
            img {
                width: 100%;
            }
        }
        }
    }

  