.choose{
margin-top: 75px;
@media screen and(max-width:768px) {
    margin-top: 25px;
    padding-bottom: 0;
  }
.choose_contents{
    .video_wrapper{
        .video-fluid {
            width: 100%;
            height: auto;
            border-radius: 5px;
          }

          @media screen and(max-width:992px) {
    margin-bottom: 50px;
          }
    }
    .choose_right{
        padding-top: 30px;

        .top_m{
            margin-top: -20px;
            background-color:$color-brand2;
            
        }
        .bottom_m{
            margin-top: 20px;
            background-color:$color-brand2;
        }
      
        .wrapper{
            border-radius: 5px;
           
            padding: 30px 0px;
            box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -webkit-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -moz-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            margin-bottom: 35px;
            .img_wrapper{
                max-width: 100px;
                margin: auto;
                img{
                    width: 100%;
                }
          
            }
            h5{
                font-weight: 700;
                color: $color-black;
                padding-top: 20px;
                text-align: center;
            }
            .wht{
                color: $color-white;
            }
        }
        
    }
}
}