.deal {
    @media screen and(max-width:768px) {
  margin: 0 10px;
        padding-bottom: 0;
 
    }
    .deal_content {
        
        .wrapper {
           
            padding: 50px 40px;
            border-radius: 5px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -webkit-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -moz-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            @media screen and(max-width:992px) {
            grid-template-columns: 1fr;
            }
            .deal_img {
                max-width: 400px;
                @media screen and(max-width:992px) {
             max-width: 100%;

             padding-bottom: 40px;
                }

                img {
                    width: 100%;
                }
            }
            .deal_info {
           
                .star {
                    padding-left: 0;
                    display: flex;

                    li {
                        display: contents;
                        a {
                            padding-right: 10px;
                        }
                        img {
                            width: 20px;
                        }
                    }
                }

                h4{
                    font-weight: 700;
                    padding-top: 15px;
                }
                p{
                    padding-top: 10px;
                }
                .price{
                    padding-top: 15px;
                    font-size: 40px;
                    font-weight: 700;
                    color: $color-brand;
                    span {
                        font-size: 40px;
                        font-weight: 700;
                        color: $color-brand;
                    }
                    .cross{
                        color: $color-grey;
                        font-size: 22px;
                        text-decoration: line-through;
                    }
                }
                #countdown {
                    width: 100%;
                    border-radius: 8px;
                    margin-top: 40px;
                    @media screen and(max-width:576px) {
                      margin-top: 30px;
                    }
                    margin-left: -37px;
                    margin-bottom: 135px;
                  }
                  label {
                    clear: both;
                    display: block;
                  }
                  #countdown span {
                    color: $color-black;
                    font-size: 45px;
                    font-weight: 700;
                    text-align: center;
                    width: 25%;
                    // dispaly: block;
                    float: left;
                  }
            }
        }
    }
}
