.faq{
    
//     background-image: url(./../img/banner/as.jpg);
    background-size: cover;
    width: 100%;
    
    padding-bottom: 160px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @media screen and(max-width:992px){
      padding-top: 75px;
      padding-bottom: 75px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .faq_contents{
        padding-top: 50px;
        opacity: 1 !important;
        .wrapper_img{
            max-width: 540px;
            padding-left: 20px;

            @media screen and(max-width:992px){
                max-width: 750px;
                padding-left: 0;
                padding-top: 50px;
            }
            img{
                width: 100%;
            }
        }
    }

      
      .panel-default>.panel-heading a {
        display: block;
        padding: 10px 15px;
      }
      
      .panel-default>.panel-heading a:after {
        content: "";
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        float: right;
        transition: transform .25s linear;
        -webkit-transition: -webkit-transform .25s linear;
        font-size: 20px;
font-weight: 700;
      
      }
      
      .panel-default>.panel-heading a[aria-expanded="true"] {
        
      }
      
      .panel-default>.panel-heading a[aria-expanded="true"]:after {
        content: "\2212";
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      
      .panel-default>.panel-heading a[aria-expanded="false"]:after {
        content: "\002b";
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
      }



.panel-group{
    .panel{
        background-color: $color-white;
        margin-bottom: 30px;
        box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
        -webkit-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
        -moz-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
        .panel-heading{
            border: 3px solid;
            border-color: transparent;
            border-left-color:$color-brand2 !important ;
            .panel-title{
          
                a{
                    font-size: 16px;
                    font-weight: 700;
                    text-decoration: none;
                    color: Black;
                    @media screen and(max-width:992px){
                      font-size: 14px;
                    }

                }
            }
        }

        .panel-collapse{
            border: 3px solid;
            border-color: transparent;
            border-left-color:$color-brand2 !important ;
            border-radius: 0;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease-in-out;
            .panel-body{
                padding: 10px 25px 30px 25px;
                line-height:25px
            }
        }
    }
}





//   body{
//     overflow-x: hidden;
//     background-image: linear-gradient(rgb(76, 221, 197),rgb(195, 248, 239));
//     min-height: 100vh;
//     margin: 0;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
  
//   .container{
//     background-color: #fff;
//     max-width: 800px;
//     border-radius: 10px;
//     padding: 1rem 2rem;
  
//     h2{
//       text-align: center;
//       font-size: 1.8rem;
//       word-spacing: 0.25rem;
//       font-weight: 600;
//     }
    
//     .accordion-container{
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       .accordion-img{
//         flex: 11;
//         img{
//           width: 100%;
//         }
//       }
//       .accordion-text{
//         flex: 9;
//         padding-right: 0.5rem;
//         .accordion{
//           position: relative;
//           h3{
//             font-weight: 500;
//             font-size: 1.05rem;
//             padding-right: 0.5rem;
//           }
//           p{
//             display: none;
//             font-weight: 300;
//             font-size: 0.9rem;
//           }
//           .open-accordion{
//             display: block;
//             @extend %chevrons;
//           }
//           .close-accordion{
//             display: none;
//             @extend %chevrons;
//           }
//         }
//       }
//     }
  
//     .accordion-container{
//       .accordion-text{
//         .accordion.active{
//           p{
//             display: block;
//           }
//           .open-accordion{
//             display: none;
//             @extend %chevrons;
//           }
//           .close-accordion{
//             display: block;
//             @extend %chevrons;
//           }
//         }
//       }
//     }
//   }
  
//   @media(max-width: 800px){
//     .container{
//       max-width: 90%;
//       .accordion-container{
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         .accordion-img{
//           flex: 11;
//           img{
//             width: 100%;
//           }
//         }
//         .accordion-text{
//           flex: 9;
//           .accordion{
//             position: relative;
//             h3{
//               font-weight: 500;
//               font-size: 1.05rem;
//               padding-right: 0.5rem;
//             }
//             p{
//               display: none;
//               font-weight: 300;
//               font-size: 0.9rem;
//             }
//             .open-accordion{
//               display: block;
//             }
//             .close-accordion{
//               display: none;
//             }
//           }
//         }
//       }
    
//       .accordion-container{
//         .accordion-text{
//           .accordion.active{
//             p{
//               display: block;
//             }
//             .open-accordion{
//               display: none;
//             }
//             .close-accordion{
//               display: block;
//             }
//           }
//         }
//       }
//     }
//   }
}