.features{
    @media screen and(max-width:768px) {
        margin: 0 20px;
        padding-bottom: 0;
        padding-top: 0px;
    }
    .feature_content{
        padding-top: 40px;
        .wrapper{
            display: flex;
           text-align: right;
           align-items: center;
           padding-right: 20px;
           margin-bottom: 15px;
         
            .feature_details{
                padding-right: 20px;

                @media screen and(max-width:992px) {
                 text-align: left;
                  
                }
                h5{
                    font-weight: 700;
                   
                    padding-bottom: 15px;
                }
                p{
                  
                }
            }
            .feature_details_img{
                max-width: 50px;
                margin-left: 10px;
                @media screen and(max-width:992px) {
             
                }
              
                img{
                    max-width: 100%;
                }
            }
        }
        .feature_img{
            max-width: 400px;
            @media screen and(max-width:992px) {
                margin: 50px 0;
                max-width: 100%;
            }
            img{
                width: 100%;
            }
        }
        .wrapper_right{
            display: flex;
           text-align: left;
           align-items: center;
           padding-left: 20px;
           margin-bottom: 15px;
            .feature_details{
                padding-left: 20px;
                h5{
                    font-weight: 700;
                   
                    padding-bottom: 15px;
                }
                p{
                  
                }
            }
            .feature_details_img{
                max-width: 50px;
                margin-right: 10px;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}