.sub{
    @media screen and(max-width:768px) {
  padding-top: 75px;
  padding-bottom: 0;
                   }
    .subcribe_contents{
        .subscribe {
      padding-top: 50px;
    padding-bottom: 50px;
            .input-group {
                width: 70%;
                height: 70px;
                border-radius: 50px;
                margin-top: 70px; 
                margin: auto;
                box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
                -webkit-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
                -moz-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
                @media screen and(max-width:768px) {
                width: 90%;
                    }


                    @media screen and(max-width:572px) {
                        width: 95%;
                        height: 55px;
                            }
                .form-control {
                    border-radius: 50px;
                    height: 70px;
                    padding: 0 50px;
                    @media screen and(max-width:572px) {
                 height: 55px;
                            }
                }

                .input-group-append {
                    margin-left: -168px;
                    @media screen and(max-width:572px) {
                        margin-left: -50px;
                            }
                    z-index: 3;
                }
                .input-group-text {
                    border-radius: 50px;
                    background-color: $color-brand;
                    &:hover{
                        background-color: rgb(92, 247, 221);
                    }
                    padding: 0 47px;
                    color: $color-white;
                    border: 1px solid;
                    font-weight: 700;
                    @media screen and(max-width:572px) {
                        padding: 0 25px;
                            }
                            @media screen and(max-width:420px) {
                                padding: 0 15px;
                                font-size: 14px;
                                    }
                }
            }

            
.form-control:focus {
    color: #495057;

    background-color: $color-white;
    border-color: $color-brand2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
        }
        p{
            text-align: center;
        }
        .buttons{
            display: flex;
            justify-content: center;
           
        }

        .app{
            max-width: 20px !important;
            margin-right: 10px;
            img{
                width: 100%;
            }
        }
    }
}

