.testiomnial{
    @media screen and(max-width:768px) {
        padding-top: 50px;
          padding-bottom: 0;
          margin-top: 0;
        }
    .testimonial_contents{
        
        padding-top: 50px;
        .card{
            border: 0;
            box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -webkit-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            -moz-box-shadow: 1px 17px 14px 6px rgba(137, 137, 137, 0.35);
            margin-bottom: 40px;
            .card-body{
                .card-img{
                    max-width: 100px;
                    margin:auto;
                    margin-bottom: 30px;
                    img{
                        width: 100%;
                    border-radius: 50%;
                    border: 8px solid;
                    border-color: $color-brand;
                }
                }
                .card-text{
                    padding-bottom: 20px;
                }
                .name{
                    font-weight: 700;
                }
            }
        }

        .side_img1{
            max-width:50px;
            margin:auto;
            padding-bottom: 50px;
            padding-top: 30px;
            img{
                width: 100%;
                border-radius: 50%;
                border: 8px solid;
                border-color: $color-white;
                box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
                -webkit-box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
                -moz-box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);

            }
        }

        .side_img2{
            max-width:75px;
        padding-bottom: 50px;
            img{
                width: 100%;
                border-radius: 50%;
                border: 8px solid;
                border-color: $color-white;
                box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
                -webkit-box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
                -moz-box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
            }
        }

        
        .side_img3{
            max-width:50px;
            margin:auto;
            padding-bottom: 50px;
            img{
                width: 100%;
                border-radius: 50%;
                border: 8px solid;
                border-color: $color-white;
                box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
                -webkit-box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
                -moz-box-shadow: 2px 10px 17px 7px rgba(137, 137, 137, 0.35);
            }
        }


        // .right{
        //     .side_img1{
        //         max-width:50px;
        //         margin:auto;
        //         padding-bottom: 50px;
        //         padding-top: 30px;
        //         img{
        //             width: 100%;
        //             border-radius: 50%;
        //             border: 8px solid;
        //             border-color: $color-brand;
        //         }
        //     }
    
        //     .side_img2{
        //         max-width:75px;
        //     padding-bottom: 50px;
        //         img{
        //             width: 100%;
        //             border-radius: 50%;
        //             border: 8px solid;
        //             border-color: $color-brand;
        //         }
        //     }
    
            
        //     .side_img3{
        //         max-width:50px;
        //         margin:auto;
        //         padding-bottom: 50px;
        //         img{
        //             width: 100%;
        //             border-radius: 50%;
        //             border: 8px solid;
        //             border-color: $color-brand;
        //         }
        //     }
        // }


        .owl-carousel {
            position: relative;
            .owl-nav {
                position: absolute;
                top: 100%;
                left: 28%;
                display: block;
                height: 17%;
                width: 42%;
                text-align: center;
                padding-top: 23px;

                @media screen and(max-width:992px) {
                top: 90%;
                    }

                
            }
            .owl-prev {
                color: $color-black;
                &:hover {
                    color: $color-black;

                    padding-right: 10px !important;
                }
                i {
                    font-size: 27px;
                    padding: 20px;
                }
            }
            .owl-next {
                color: $color-black;
                &:hover {
                    color: $color-black;
                    padding-left: 10px !important;
                }
                i {
                    font-size: 27px;
                }
            }
        }
    }
}