.contact {
    .contact_contents {
        .email_c,
        .tel_c {
            a {
                color: black;
                font-size: 35px;
                text-decoration: none;
            }
            padding-bottom: 20px;
        }
        ul {
            display: flex;
            padding-left: 0;
            margin-top: 20px;
            li {
                &:first-child {
                    margin-right: 10px;
                }
                width: 40px;
                padding-right: 15px;
            }
            a {
                img {
                    width: 100%;
                }
            }
        }
        form {
            margin-top: 50px;
            padding-bottom: 50px;
            .form-group {
                label {
                    color: black;
                }
                .form-control {
                    display: block;
                    width: 100%;
                    height: calc(2.5em + 0.75rem + 2px);
                    padding: 0.375rem 0.75rem;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #000000;
                    background-color: rgb(179, 177, 177);
                    background-clip: padding-box;
                    border: 1px solid;
                    border-radius: 0;
                    transition: outline 0.15s ease-in-out;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    -ms-border-radius: 0;
                    -o-border-radius: 0;
                    box-shadow: none;
                    border-color: transparent;
                    -webkit-transition: outline 0.15s ease-in-out;
                    -moz-transition: outline 0.15s ease-in-out;
                    -ms-transition: outline 0.15s ease-in-out;
                    -o-transition: outline 0.15s ease-in-out;
                }
            }
            textarea:focus,
            .form-control:focus {
                outline: 3px solid rgb(0, 0, 0) !important;
                outline-offset: 4px;
                background-color: white !important ;
                border: white;
            }
        }
    }
}




.insta{
    fill: rgb(0, 0, 0);
    &:hover{
        fill:rgb(255, 255, 255)!important; 
        background:rgb(255, 166, 0);
    }
}

.fb{
    fill: rgb(0, 0, 0);
    &:hover{
        fill:rgb(0, 102, 255)!important; 
        
    }
}

.twt{
    fill: rgb(0, 0, 0);
    &:hover{
        fill:rgb(56, 184, 243)!important; 
        
    }
}