


.breadcrumb{
    margin-left:20px;
    margin-top: 100px;
    background: transparent;
    .breadcrumb-item{
        position: relative;
        padding-right: 2rem;
        a{
            color: $color-black;
            text-decoration: none;
            
        }


        &:first-child{
            &::before{
                display: inline-block;
    
    color: #6c757d;
    content: " " ;
    display: none !important;
    
   
            }
        }
        &::before{
            display: inline-block;
            color: $color-black;
            content: " ";
            height: 10px;
            width: 8px;
            left: -17%;
            position: absolute;
            border: 1px solid;
                border-top-color: currentcolor;
                border-left-color: currentcolor;
            bottom: 6px;
            transform: translate;
            transform: rotate(314deg);
            border-top-color: transparent;
            border-left-color: transparent;
        }
    }
}


.preview{
    padding: 0 20px;
    margin-top: 50px;
    padding-bottom: 60px;


nav{
    margin-bottom: 10px;
    a {
        color: $color-black;
        font-size: 25px;
        padding-right: 20px;
    }
}

    .pre_wrapper{
        flex-basis: 50%;
	max-height: 100vh;
	overflow-y: scroll;
	border: 1px solid rgb(255, 255, 255);
    scroll-snap-type: y mandatory;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }
  
	&.proximity {
			scroll-snap-type: y proximity;
    }
    
}
    
    .preview_img{
        cursor: pointer;
        img{
            width: 100%;
        }
    }

.preview_left{
   
    margin-top: 50px;

    padding: 30px 20px;
    h2{
        font-weight: normal;
        font-size: 50px;
        padding-top: 20px;

    }
    .price{
        font-size: 20px;
        padding-top: 20px;
    }
    .details{
        padding-top: 20px;
        line-height: 35px;
        word-spacing: 5px;
    }
    .quantity{
        padding-top: 20px;
        label{
            font-size: 25px;
        }
        .input-group{
            margin-top: 15px;
            width: 115px;
        }
    }
}
}
    



