.subscribe {
  background:  var(--primar-color);
  padding: 20px 0 25px 0;
  .wrapper {
    .sub_head {
      color: $color-brand3;
      font-size: 22px;
      font-weight: 700;
      padding-top: 38px;
    }
    .sub {
      background-color: $color-white;
      border: 1px solid;
      border-color: $color-border;
      border-radius: 0px;
      display: flex;
      align-items: center;
      padding: 2px 20px;
      margin-top: 30px;
      a {
        color: $color-brand3;
        text-decoration: none;
        &:hover {
          color: $color-border;
        }
      }
      input {
        border: none !important;
        height: calc(1.5em + 1.5rem + 2px);
        background-color: transparent;
      }
      .form-control:focus {
        background-color: $color-white !important;
        color: $color-black !important;
      }
    }
    #demo {
      display: block;
      text-align: center !important;
      font-size: 12px !important;
      width: 100%;
      margin-top: 25px;
      background: $color-brand3 !important;
      // padding: 7px 0;
      transition: all 0.35s ease-out;
      transform-origin: center left;
      text-align: center;
    }
    .payment {
      padding-top: 30px !important;
      .c1 {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 15px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      /* Hide the browser's default radio button */
      .c1 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      /* Create a custom radio button */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: rgb(212, 212, 212);
        border-radius: 50%;
      }
      /* On mouse-over, add a grey background color */
      .c1:hover input ~ .checkmark {
        background-color: rgba(204, 204, 204, 0.705);
      }
      /* When the radio button is checked, add a blue background */
      .c1 input:checked ~ .checkmark {
        background-color: $color-brand2;
      }
      /* Create the indicator (the dot/circle - hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      /* Show the indicator (dot/circle) when checked */
      .c1 input:checked ~ .checkmark:after {
        display: block;
      }
      /* Style the indicator (dot/circle) */
      .c1 .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: rgba(41, 37, 37, 0);
      }
    }
  }
}
