<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <template id="menu_banner" inherit_id="website.snippets" name="Menu banner">
        <xpath expr="//div[@id='snippet_structure']/div[hasclass('o_panel_body')]" position="inside">
            <t t-snippet="theme_the_chef.menu" t-thumbnail="/theme_the_chef/static/src/img/snippets/menu.jpg"/>
        </xpath>
    </template>

    <template id="menu" name="Menu">
        <section class="main_body">
            <!-- Section menu starts here -->
            <section class="menu pt-5">
                <div class="container">
                    <div class="section_heading">
                        <p class="sub">Specialities</p>
                        <h3>
                            Our Menus
                        </h3>
                    </div>
                    <div class="menu_iems">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12  pb-md-5 pb-sm-5">

                                <h4>
                                    Breakfast
                                </h4>
                                <div class="col-lg-12  col-sm-12 col-12">

                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-1.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-2.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-3.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 pb-md-5 pb-sm-5">

                                <h4>
                                    Breakfast
                                </h4>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-1.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-2.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-3.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-12 ">
                                <h4>
                                    Breakfast
                                </h4>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-1.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-2.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12  col-sm-12 col-12">
                                    <div class="wrapper">

                                        <div class="items d-flex">
                                            <div class="item_img">
                                                <img src="/theme_the_chef/static/src/img/menu/breakfast-3.jpg" alt=""/>
                                            </div>
                                            <div class="wrapper2">
                                                <ul class="item_info">
                                                    <li>
                                                        Egg Sandwich
                                                    </li>
                                                    <li>
                                                        $30
                                                    </li>
                                                </ul>
                                                <p>
                                                    Meat Ball, Mie
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section menu ends here -->
        </section>
    </template>
</odoo>