.d-color {
    background-color: red !important;
}
.text-danger td {
    background-color: rgba(253, 198, 198, 0.39);
}

.ribbon {  position:absolute;  top:0;  right:0;  background-color:red;  height:19px;  font-weight: bold;}.ribbon:before{content: " ";	position: absolute;	display: block;	left: -9px;	width: 0;	height: 0;	border-top: 10px solid transparent;	border-bottom: 10px solid transparent;	border-right: 10px solid red;}

