.pos .order-pricelist{
    color: black;
    margin-top: 2%;
    width: 200px;
}
.pos .order-pricelist-label{
    color: #e9f6e4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 85px !important;
    font-size: initial;
    vertical-align: middle;
    text-align: center;
}