.portfolio{
    padding: 100px 0;
    
    @media (max-width:768px) {
        padding-bottom: 50px;
    }
    .wrapper{
        .portfolio_grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            justify-content: center;
            gap: 2rem; /* Equivalent to gap in flexbox */
            .portfolio_wrapper{
                .p_img_wrapper{
                    position: relative;
                    max-width: auto;
                    margin-bottom: 15px;
                    img{
                        width: 100%;
                        border-radius: 5px;
                    }
                    .badge{
                        position: absolute;
                        top: 15px;
                        right: 20px;
                        background-color: rgba(0, 0, 0, 0.169);
                        font-weight: 400;
                        text-transform: uppercase;
                        font-size: 12px;
                        padding: 7px 8px;
                        border-radius: 4px;
                    }
                }
                .p_content{
                    padding-top: 15px;
                    span{
                        font-size: 14px;
                        margin-bottom: 15px;
                        color: var(--brand-text);
                    }

                    .main_content{
                        border: 1px solid transparent;
                        border-bottom-color: var(--brand-grey) !important;
                        margin-bottom: 15px;
                        h4{
                            font-size: 22px;
                            font-weight: 600;
                            color: var(--brand-heading);
                            margin-bottom: 15px;
                        }
                        p{
                            font-size: 16px;
                            margin-bottom: 15px;
                            color: var(--brand-text);
                        }
                    }
                    .auth{
                        font-size: 16px;
                            margin-bottom: 15px;
                            color: var(--brand-text);
                    }
                }
            }
        }


// Portfolio single style

.portfolio_single{
   
    .portfolio_wrapper{
        .p_img_wrapper{
            position: relative;
            max-width: auto;
            margin-bottom: 15px;
            img{
                width: 100%;
                border-radius: 5px;
            }
            .badge{
                position: absolute;
                top: 15px;
                right: 20px;
                background-color: rgba(0, 0, 0, 0.169);
                font-weight: 400;
                text-transform: uppercase;
                font-size: 12px;
                padding: 7px 8px;
                border-radius: 4px;
            }
        }
        .p_content{
            padding-top: 15px;
            span{
                font-size: 14px;
                margin-bottom: 15px;
                color: var(--brand-text);
            }

            .main_content{
                border: 1px solid transparent;
                border-bottom-color: var(--brand-grey) !important;
                margin-bottom: 15px;
                h4{
                    font-size: 22px;
                    font-weight: 600;
                    color: var(--brand-heading);
                    margin-bottom: 15px;
                }
                p{
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: var(--brand-text);
                }
            }
            .auth{
                font-size: 16px;
                    margin-bottom: 15px;
                    color: var(--brand-text);
            }
        }
    }

    .project_info{
        padding-top: 40px;
        .p_wrapp{
            margin-bottom: 30px;
            .project_heading{
                font-size: 20px;
                padding-bottom: 15px;
            }
            p{
                font-size: 16px;
                color: var(--brand-text);
                line-height: 2.0
            }
            ul{
                padding-left: 0;
                li{
                    font-size: 16px;
                color: var(--brand-text);
                
                margin-bottom: 10px;
                }
            }
        }
    }
}











    }
}