.about3{
    .exp_wrapper{
        margin-top: 50px;
        .ex-1{
            padding-bottom: 40px;
            h4{
                font-size: 16px;
                color: $color-sub-head;
                position: relative;
                text-transform: uppercase;
                font-weight: 600;
                .ex-line{
                    &:after{
                        position: absolute;
                        left: -53px;
                        bottom: 7px;
                        height: 3px;
                        width: 40px;
                        background: #14c1ca;
                        content: "";
                        display: block;
                    }
                }
            }
            .main-head{
                h2{
                    color: $color-brand;
                    font-size: 40px;
                    margin-top: 20px;
                    font-weight: 600;
                  
                }
            }
            p{
                color: #535353;
                letter-spacing: 0.1rem;
                margin-bottom: 30px;
                padding-top: 20px;
                line-height: 1.7rem;
                font-size: 18px;
            }
        }
        .about-img{
            img{
                border-radius: 5px;
                width: 100%;
                border-radius: 10px;
            }
        }
    }
}