.blog{
    background-color:$color-bg;
    margin-top: 90px;

    .exp_wrapper{
        
        .ex-1{
            padding-bottom: 40px;
            padding-top: 70px;
            h4{
                font-size: 16px;
                color: $color-sub-head;
                position: relative;
                text-transform: uppercase;
                font-weight: 600;
                .ex-line{
                    &:after{
                        position: absolute;
                        left: -53px;
                        bottom: 7px;
                        height: 3px;
                        width: 40px;
                        background: #6984c2;
                        content: "";
                        display: block;
                    }
                }
            }
            .main-head{
                h2{
                    color: $color-brand;
                    font-size: 35px;
                    margin-top: 20px;
                    font-weight: 600;
                  
                }
            }
         
        }
    }

    
    .blog_contents{
        padding-top: 40px;
        padding-bottom: 40px;
    }
.card{
    text-align: left !important;
    background: transparent;
 
    border: none;
overflow: hidden !important;
.img_wrapper2{
    overflow: hidden;
   
}
.wrapper{
padding-left: 15px;
background-color: $color-white;
padding-bottom: 50px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
box-shadow:  2px 2px;
}

#zoomIn{

    transform: scale(1);
    transition: .3s ease-in-out;
    border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    -o-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;

    &:hover{
        
        transform: scale(1.3);
        border-radius: 6px 6px 0px 0px;
        -webkit-border-radius: 6px 6px 0px 0px;
        -o-border-radius: 6px 6px 0px 0px;
        -moz-border-radius: 6px 6px 0px 0px;

}
}


    ul{ 
        margin-top: 30px;
        list-style: none;
        padding-left: 0;
        li{
            color:$color-sub-head;
            font-weight: 600; 
            margin-right: 10px;
            background: transparent;
            border: none;
            font-size: 16px;

            &:last-child{
          
            }
        }
    }

    .card-body{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        a{
            
            color: $color-brand;
            font-weight: 600;
        font-size: 20px;
            &:hover{
                color: $color-sub-head;
            }
        }
    }
}
}
