.experience{
    .exp_wrapper{
        margin-top: 50px;
        .ex-1{
            padding-bottom: 40px;
            position: relative;
            h4{
                font-size: 16px;
                color: $color-sub-head;
                position: relative;
                font-weight: 600;
                .ex-line{
                    &:after{
                        position: absolute;
                        left: -53px;
                        bottom: 7px;
                        height: 3px;
                        width: 40px;
                        background: #14c1ca;
                        content: "";
                        display: block;
                    }
                }
            }
            .main-head{
                h2{
                    color: $color-brand;
                    font-size: 36px;
                    margin-top: 20px;
                    font-weight: 600;
                  
                }
            }
            p{
                color: #535353;
                letter-spacing: 0.1rem;
                margin-bottom: 30px;
                padding-top: 20px;
                line-height: 1.7rem;
                font-size: 18px;
            }
        }
        .about-img{
            img{
                border-radius: 5px;
                width: 100%;
                border-radius: 10px;
            }
        }
        .about_desc{
            .wrapper{
                .top{
@media screen and(max-width:767px) {
                            margin-top: 40px;
                        }
                    .tabs{
                        
                    }
                    text-indent: 76px;
                    
                    letter-spacing: 3px;
                    font-size: 18px;
                    color: $color-font2;
                    font-weight: 600;
                    padding-top: 25px;
                }
                h4{
                    color: $color-brand;
                    font-weight: 600;
                    font-size: 28px;
                    padding-top: 10px;
                }
                .bottom{
                    color: #535353;
                    letter-spacing: 0.1rem;
                    line-height: 1.7rem;
                    font-size: 18px;
                    padding-top: 15px;
                }
            }
        }
    }
}