.expect{
    .exp_wrapper{
        margin-top: 50px;
        .ex-1{
            padding-bottom: 40px;
            h4{
                font-size: 16px;
                color: $color-sub-head;
                position: relative;
                text-transform: uppercase;
                font-weight: 600;
                .ex-line{
                    &:after{
                        position: absolute;
                        left: -53px;
                        bottom: 7px;
                        height: 3px;
                        width: 40px;
                        background: #14c1ca;
                        content: "";
                        display: block;
                    }
                }
            }
            .main-head{
                h2{
                    color: $color-brand;
                    font-size: 40px;
                    margin-top: 20px;
                    font-weight: 600;
                  
                }
            }
            p{
                color: #535353;
                letter-spacing: 0.1rem;
                margin-bottom: 30px;
                padding-top: 20px;
                line-height: 1.7rem;
                font-size: 18px;
            }


            .expect_bottom{
                padding-top: 20px;
                display: flex;
                justify-content: space-between;
                margin-right: 100px;
                .clean{
                    display: flex;
                    span{
                        color: $color-sub-head;
                        font-size: 30px;
                    }
                    .wrapper{
                        margin-left: 20px;
                        h4{
                            color: $color-brand;
                            font-weight: 600;
                            font-size: 30px;
                        }
                        p{
                            color: #535353;
                letter-spacing: 0.1rem;
                line-height: 1.7rem;
                font-size: 18px; 
                        }
                    }
                }
            }
        }
        .exp_right{
            position: relative;
            margin-left: 90px;
            @media screen and(max-width:577px) {

                margin-left: 0;
                
            }
        .about-img{
            max-width: 600px;
            img{
                border-radius: 8px;
                width: 100%;    
            }
        }
        .description{
            position: absolute;
            background-color: $color-sub-head;
            border-radius: 8px;
            bottom: 70px;
            left: -98px;
            -webkit-box-shadow: -1px 5px 23px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 5px 23px -4px rgba(0,0,0,0.75);
            box-shadow: -1px 5px 23px -4px rgba(0,0,0,0.75);


            @media screen and(max-width:1200px) {

                bottom: 34px;
                
            }
            
            @media screen and(max-width:577px) {

                left: 0;
                
            }

            @media screen and(max-width:376px) {

                left: 0;
                margin-top: 60px;
                position: relative;
                
            }


            .wrapper{
                padding: 40px 37px;
                color: $color-white;
                h4{
                    font-weight: 600;
                    font-size: 18px;
                }
                span{
                    color: $color-white;
                    font-size: 22px;
                    
                    a{
                        padding-left: 20px;
                        color: $color-white;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
}