.partner{
    margin-top: 70px;
    padding-bottom: 50px;
    h3{
        color: #0a6368;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
    }

    .wrapper{
        padding-top: 40px;
        padding-bottom: 40px;

        img{
            width: 100%;
            -webkit-filter: grayscale(1);
filter: grayscale(1);
transition: 0.3s ease;
opacity: .5;
  &:hover{
    filter: grayscale(0);
    transition: 0.3s ease;
    opacity: 1;
  }

  @media screen and(max-width:996px) {

    padding-bottom: 20px;
      
  }

  @media screen and(max-width:600px) {

    margin-bottom: 30px;
      
  }

        }
    }
}