.commercial_service{

    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),  url(./../images/banner/banner4.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;


    .card{
        margin-top: 100px;
        align-self: center;
        background: transparent;
        border: none;
         
        .card-title{
            color: $color-white;
            font-size: 60px;
            font-weight: 600;

            @media screen and(max-width:768px) {

                font-size: 40px;
                
            }

            @media screen and(max-width:400px) {

                font-size: 30px;
                
            }
            span{
                margin-top: 20px;
            }
        }
        .card-text{
            color: $color-white;
            font-size: 18px;
            margin-top: 32px;
            margin-bottom: 35px;
        }
        
    }
}