.tab{
    background-color: $color-bg;


    .tabs{
        @media screen and(max-width:996px) {

         margin-bottom: 0 !important;               
        }
    }
    .classic-tabs{
        .nav{
            justify-content: end;
            .nav-item{
                :active{
                    color: $color-sub-head !important;
                    background-color: $color-white !important;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
                a{
                    font-size: 22px;
                    padding: 20px 45px;
                    color: $color-brand;
                    font-weight: 600;
                }
            }
        }
        .tab-content{
            .wrapper{
                padding-top: 30px;
                .tab_left{
                    margin-top: 20px;

                   
                  h4{
                    color: $color-brand;
                    font-weight: 600;
                    font-size: 28px;
                    padding-top: 10px;
                  }
                  p{
                      padding-right: 50px;
                      padding-bottom: 15px;
                  }
                 
                }
                .tab_icons{
                    display: flex;
                    justify-content: space-between;;
                    padding-top: 15px;
                    margin-bottom: 50px;
                    
                    .icon{
                        // padding: 23px 44px 9px 44px;
                        background-color:$color-white;
                        border-radius: 9px;
                     
                        span{
                            display: flex;
                            justify-content: center;
                            color: $color-sub-head;
                            font-size: 40px;
                    }
                    .icon-bottom{
                  color: $color-brand;
                  font-size: 18px;
                  font-weight: 500;
                  margin-top: 15px;
                  }
                  }
                }
            }
            .tab_right{

                @media screen and(max-width:991px) {

                    margin-top: 40px;
                        
                }
                img{
                    border-radius: 5px;
                }
            }
        }
    }
}