.testmonial {
    .img_wrapper {
        background-color: #0000000f !important;
        border-radius: 8px;
        max-width: 600px;
        img {
            width: 100%;
            height: auto;
            margin-left: -2em;
            margin-top: -2em;
            margin-bottom: 2em;
            border-radius: 6px;


            @media screen and(max-width:600px) {


                margin-left: 0;
                
            }
        }
    }

    .ex-1 {
     
        padding-bottom: 40px;
        .carousel-indicators {
            bottom: -30px;
            bottom: -43px;
            display: flex;
            justify-content: flex-start;
            margin-left: 0;
            .active{
                background-color: cornflowerblue;
            }
        li{
            box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 13px;
    height: 13px;
    margin-right: 14px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color:$color-font2;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 50%;
        }
    
        }
        
        h4 {
            font-size: 16px;
            color: $color-sub-head;
            position: relative;
            text-transform: uppercase;
            font-weight: 600;
            .ex-line {
                &:after {
                    position: absolute;
                    left: -53px;
                    bottom: 7px;
                    height: 3px;
                    width: 40px;
                    background: #6984c2;
                    content: "";
                    display: block;
                }
            }
        }
        .main-head {
            h2 {
                color: $color-brand;
                font-size: 40px;
                margin-top: 20px;
                font-weight: 600;
            }
          
        }
        blockquote {
            color: #535353;
            letter-spacing: 0.1rem;
            margin-bottom: 30px;
            padding-top: 20px;
            line-height: 1.7rem;
            font-size: 18px;

            &:before {
                color: $color-sub-head;
                content: open-quote;
                font-size: 3em;
                font-family: initial;
                line-height: 0.8;
                padding-top: 8px;
                display: inline-block;
            }
        }
        .wrapper {
            display: flex;
            padding-top: 5px;
            span {
                color: $color-brand;
                font-weight: 600;
                font-size: 20px;
            }
            .bottom {
                padding-top: 3px;
                padding-left: 20px;
            }
        }
    }
}
