.barcode_inventory{
justify-content:center;
}
.barcode_inventory  header h2{
width: 50%;
text-align:right;
padding-right:27px;
    float: left;
    }
.barcode_inventory  header #barcode{
    float: left;
    width: 40%;
}
.barcode_screen{
margin-top: 80px;
}
.barcode_screen h1{
margin: 29px 0px;
text-align: center;
}
.barcode_scan{
display: flex;
    justify-content: left;
    margin-top: 31px;

}
.container_product_info{
align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
}
.category-img{
margin-right:21px;
background-color: #f7f7f7;
    height: 377px;
    display: flex;
}
.category-img img{
width:300px;
height:300px;
object-fit: cover;
}
.
.clientlist-screen h1 {
      text-align: center;
    }

    .clientlist-screen img {
      display: block;
      margin: 0 auto;
      max-width: 300px;
      height: auto;
      margin-bottom: 20px;
    }

    .clientlist-screen table {
      width: 100%;
      border-collapse: collapse;
    }

    .clientlist-screen td.label {
      font-weight: bold;
      width: 200px;
      padding: 10px;
      vertical-align: top;
    }

    .clientlist-screen td.value {
      padding: 10px;
      vertical-align: top;
      max-width: 300px;
    }

    @media (max-width: 600px) {
      /* Responsive styles */
      .clientlist-screen td.label {
        width: 100%;
        text-align: left;
      }

      .clientlist-screen td.value {
        width: 100%;
        text-align: left;
      }
    }
