.form_scan_product{
    text-align: center !important;
    margin-top:80px !important;
}
.form_scan_product h2
{
font-size: 28px !important;
}
.form_scan_product h4{
font-size: 18px !important;
}
.container_product_info{
align-items: center !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    margin: 0 auto;
    max-width: 1200px;
    gap:2rem ;
}
.category-img{
width: 500px;
    display: flex !important;
}
.category-img img{
object-fit: cover !important;
}
.
.clientlist-screen h1 {
      text-align: center !important;
    }
    .clientlist-screen img {
      display: block !important;
      width: 100%;
    height: 100%;
    }
    .clientlist-screen table {
      border-collapse: collapse !important;
    }
    .clientlist-screen td.label {
      font-weight: bold !important;
      width: 200px !important;
      padding: 10px !important;
      vertical-align: top !important;
    }
    .clientlist-screen td.value {
      padding: 10px !important;
      vertical-align: top !important;
    }
    @media (max-width: 600px) {
      /* Responsive styles */
      .clientlist-screen td.label {
        text-align: left !important;
      }
      .clientlist-screen td.value {
        text-align: left !important;
      }
      .container_product_info{
      max-width: 90%;
      flex-direction: column;
      }

    }
