$font-default: "League Spartan", sans-serif;






// Color


:root {
    --primary-color: #563BFF;
    --secondary-color: #9197B3;
    --danger-color: #D1293D;

    --diwy-blue: #51459E;
    --text-blue: #3734A9;
    --text-color: #5A5881;
    --white-color: #ffff;
    --grey-color: #C4C4C4;
    --dark: #4E4E4E;
}