
body {
  font-family: "League Spartan", sans-serif;
}
a {
    color: #51459E;
    font-weight: 600;
}

.card.o_database_list .card-body {
        width: 30vw;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        padding: 40px 50px;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
}

.card.o_database_list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.py-5 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.oe_login_form button.btn-link {
    color: #51459E;
    font-weight: 600;
}

.btn-sm{
   color: #51459E;
    font-weight: 600;
}

.btn-primary {
  border-radius: 5px;
  font-size: 16px !important;
  text-decoration: none;
  position: relative;
  border: 1px solid #563BFF!important;
  background-color: #563BFF!important;
  color: #ffff !important;
  padding: 10px 30px 6px 30px;
}
.btn-primary:hover {
  background-color: rgba(86, 59, 255, 0.28);
  transition: all 0.3s;
  color: #ffff !important;
  border-color: rgba(86, 59, 255, 0.28) !important;
}




