body {
  font-family: "League Spartan", sans-serif;
}
a {
  color: #51459E;
  font-weight: 600;
}

.card.o_database_list .card-body {
  width: 100% !important;
  background: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  backdrop-filter: none !important;
  box-shadow: none !important;
  border: none !important;
}

.card.o_database_list {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.py-5 {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.oe_login_form {
  width: 100%;
}

.oe_login_form .form-label {
  font-weight: 600;
  color: #444;
}

.oe_login_form .form-control {
  border-radius: 6px !important;
  border: 1px solid #dcd6ff !important;
  padding: 10px 14px !important;
  font-size: 15px !important;
}

.oe_login_form .form-control:focus {
  border-color: #563BFF !important;
  box-shadow: 0 0 0 0.2rem rgba(86, 59, 255, 0.15) !important;
}

.oe_login_form button.btn-primary {
  border-radius: 6px !important;
  font-size: 16px !important;
  border: 1px solid #563BFF !important;
  background-color: #563BFF !important;
  color: #ffffff !important;
  padding: 10px 30px !important;
  width: 100% !important;
  font-weight: 600 !important;
}

.oe_login_form button.btn-primary:hover {
  background-color: #4329e0 !important;
  border-color: #4329e0 !important;
  color: #ffffff !important;
}

.oe_login_form button.btn-link {
  color: #51459E;
  font-weight: 600;
}

.btn-sm {
  color: #51459E;
  font-weight: 600;
}
