:root {
  --primary-color: #563BFF;
  --secondary-color: #9197B3;
  --danger-color: #D1293D;
  --diwy-blue: #51459E;
  --text-blue: #3734A9;
  --text-color: #5A5881;
  --white-color: #ffff;
  --grey-color: #C4C4C4;
  --dark: #4E4E4E;
}

.o_user_menu .dropdown-toggle .o_user_avatar {
    border-radius: 50% !important;
    }

.navbar {
    background: #fff !important;
    border-bottom: transparent;
}
.o_main_navbar{
    background-color: transparent !important;
    }
.o_main_navbar .navbar-brand{
    margin-right: 20px;
}
.o_main_navbar .oe_topbar_name{
    color: var(--text-color);

}
.o_control_panel{
    padding-top: 56px !important;
}
.o_main_navbar .o_menu_sections .dropdown-toggle {
  background-color: transparent;
  color: var(--text-color);
}

.o_main_navbar .o_menu_sections .dropdown-toggle:hover {
  background-color: transparent;
    color: var(--text-color);
}
.fa, .oi {
    color: var(--text-color);
}
.o_main_navbar .o_menu_sections .o_nav_entry {
    background: transparent;
    color: var(--text-color);
}



.sidebar {
  height: 93vh;
  width: auto;
  background-color: var(--white-color);
  box-shadow: 0 2px 4px 0px rgba(86, 59, 255, 0.1);
  padding: 20px 20px;
  padding-left: 0;
  padding-top: 40px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: all 0.4s;
}
.sidebar ::-webkit-scrollbar {
  display: none;
}
.sidebar:hover::-webkit-scrollbar {
  display: block;
}
.sidebar span {
  display: none;
  padding-right: 15px;
  transition: all 0.4s;
}
.sidebar:hover {
  scrollbar-color: rgb(219, 219, 219) rgb(218, 218, 218);
  transition: all 0.4s;
}
.sidebar:hover span {
  display: block;
  transition: all 0.4s;
}
.sidebar .sidebar_links {
  padding-left: 0;
}
.sidebar #dropdown-toggle {
  position: relative;
  color: white !important;
  margin-bottom: 10px;
  margin-left: 25px;
}
.sidebar #dropdown-toggle a {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 15px;
  align-items: center;
}
.sidebar #dropdown-toggle a svg {
  margin-top: -2px;
}
.sidebar #dropdown-toggle.active {
  color: var(--white-color) !important;
  background-color: rgba(86, 59, 255, 0.28);
  border-radius: 15px;
  padding: 15px 15px;
  box-shadow: 0px 15px 35px 0px rgba(86, 59, 255, 0.26);
  position: relative;
}
.sidebar #dropdown-toggle.active a {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 15px;
  align-items: center;
  color: var(--white-color) !important;
}
.sidebar #dropdown-toggle.active svg path {
  stroke: #ffffff;
  transition: stroke 0.3s ease;
}
.sidebar #dropdown-toggle.active:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8px;
  background-color: var(--primary-color);
  left: -28px;
  top: 0;
  border-radius: 10px;
}
.sidebar .dropdown-content {
  position: relative;
  display: none;
}
.sidebar .dropdown-content li {
  padding: 15px 15px;
}
.sidebar .sidbar-item {
  position: relative;
  padding: 15px 15px;
  margin-left: 25px;
}
.sidebar .sidbar-item a {
  width: 100%;
  display: flex;
  justify-content: start;
  column-gap: 15px;
  align-items: center;
  color: var(--secondary-color) !important;
  padding-bottom: 10px;
}
.sidebar .sidbar-item a svg {
  margin-top: -5px;
}
.sidebar .sidbar-item:hover {
  transition: stroke 0.3s ease;
}
.sidebar .sidbar-item:hover a {
  color: var(--primary-color) !important;
}
.sidebar .sidbar-item:hover svg path {
  stroke: var(--primary-color);
}
.sidebar .sidbar-item:hover ::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 8px;
  background-color: var(--primary-color);
  left: -28px;
  top: 0;
  border-radius: 10px;
}