.cart_inner {
    .table {
      margin-bottom: 30px;
      border-bottom: 1px solid $font_d;
  
      thead {
        tr {
          th {
            border-top: 0px;
            font-size: 14px;
            font-weight: 500;
            font-family: $font_stack_1;
            color: $text-color;
            border-bottom: 0px !important;
          }
        }
      }
  
      tbody {
        tr {
          td {
            padding-top: 30px;
            padding-bottom: 30px;
            vertical-align: middle;
            align-self: center;
  
            .media {
              .d-flex {
                padding-right: 30px;
  
                img {
                  border: 1px solid #eeeeee;
                  border-radius: 3px;
                  max-width: 150px;
                }
              }
  
              .media-body {
                vertical-align: middle;
                align-self: center;
  
                p {
                  margin-bottom: 0px;
                }
              }
            }
  
            h5 {
              font-size: 14px;
              color: 	$cart_color;
              font-family: $font_stack_1;
              margin-bottom: 0px;
            }
  
            .product_count {
              margin-bottom: 0px;
  
              input {
                width: 100px;
                padding-left: 30px;
                height: 50px;
                outline: none;
                box-shadow: none;
              }
  
              .increase {
                top: -2px;
  
                &:before {
                  content: "";
                  height: 40px;
                  width: 1px;
                  position: absolute;
                  left: -3px;
                  top: 0px;
                  background: #eeeeee;
                }
  
                &:after {
                  content: "";
                  height: 1px;
                  width: 30px;
                  position: absolute;
                  left: -3px;
                  top: 22px;
                  background: #eeeeee;
                }
              }
  
              .reduced {
                bottom: -6px;
              }
            }
          }
  
          &.bottom_button {
            .gray_btn {
              line-height: 38px;
              background: $offwhite;
              border: 1px solid #eeeeee;
              border-radius: 3px;
              padding: 0px 40px;
              display: inline-block;
              color: $title-color;
              text-transform: uppercase;
              font-weight: 500;
            }
  
            td {
              &:last-child {
                width: 60px;
              }
  
              .cupon_text {
                margin-left: -446px;
  
                input {
                  width: 200px;
                  padding: 0px 15px;
                  border-radius: 3px;
                  border: 1px solid #eeeeee;
                  height: 40px;
                  font-size: 14px;
                  color: #cccccc;
                  font-family: $font_stack_1;
                  font-weight: normal;
                  margin-right: -3px;
                  outline: none;
                  box-shadow: none;
  
                  @include placeholder {
                    font-size: 14px;
                    color: #cccccc;
                    font-family: $font_stack_1;
                    font-weight: normal;
                  }
                }
  
                .main_btn {
                  height: 40px;
                  line-height: 38px;
                  text-transform: uppercase;
                  padding: 0px 38px;
                  margin-right: -3px;
                }
  
                .gray_btn {
                  padding: 0px 40px;
                }
              }
            }
          }
  
          &.shipping_area {
            td {
              &:nth-child(3) {
                vertical-align: top;
              }
            }
  
            .shipping_box {
              margin-left: -250px;
              text-align: right;
  
              .list {
                li {
                  margin-bottom: 12px;
                  color: $text-color;
                  input{
                    margin-left: 10px;
                  }
                  &:last-child {
                    margin-bottom: 0px;
                  }
  
                  a {
                    padding-right: 30px;
                    font-size: 14px;
                    color: $text-color;
                    position: relative;
  
                    &:before {
                      content: "";
                      height: 16px;
                      width: 16px;
                      border: 1px solid #cdcdcd;
                      display: inline-block;
                      border-radius: 50%;
                      position: absolute;
                      right: 0px;
                      top: 50%;
                      transform: translateY(-50%);
                    }
  
                    &:after {
                      content: "";
                      height: 10px;
                      width: 10px;
                      border-radius: 50%;
                      background: $primary-color;
                      display: inline-block;
                      position: absolute;
                      right: 3px;
                      top: 50%;
                      transform: translateY(-50%);
                      opacity: 0;
                    }
                  }
  
                  &.active {
                    a {
                      &:after {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
  
              h6 {
                font-size: 14px;
                font-weight: normal;
                color: $title-color;
                font-family: $font_stack_1;
                margin-top: 20px;
                margin-bottom: 20px;
  
                i {
                  color: $text-color;
                  padding-left: 5px;
                }
              }
  
              .shipping_select {
                display: block;
                width: 100%;
                background: $section_bg;
                
                border: 1px solid $section_bg;
                height: 40px;
                margin-bottom: 20px;
  
                .list {
                  width: 100%;
                  border-radius: 0px;
  
                  li {
                    font-size: 14px;
                    font-weight: normal;
                    color: $text-color;
                  }
                }
              }

              .post_code {
                display: block;
                width: 100%;
                background: $section_bg;
                
                border: 1px solid $section_bg;
                height: 40px;
                margin-bottom: 20px;
  
                padding: 8px 15px;
              }

              
            }
          }
  
          &.out_button_area {
            .checkout_btn_inner {
              margin-left: -388px;
  
              .main_btn {
                height: 40px;
                padding: 0px 30px;
                line-height: 38px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
  
  .gray_btn {
    line-height: 38px;
    background: $offwhite;
    border: 1px solid #eeeeee;
    border-radius: 3px;
    padding: 0px 40px;
    display: inline-block;
    color: $title-color;
    text-transform: uppercase;
    font-weight: 500;
  }