<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
            id="menu_vendor_portal_root"
            name="Vendor Portal"
            groups="base.group_user"
            web_icon="vendor_portal_odoo,static/description/icon.png"
            sequence="185"/>
    <menuitem
            id="menu_vendor_quotations"
            name="Vendor Quotations"
            parent="menu_vendor_portal_root"
            sequence="1"/>
    <menuitem
            id="menu_vendor_quotations_main"
            name="Vendor Quotations"
            parent="menu_vendor_quotations"
            action="action_vendor_rfq"
            sequence="1"/>
    <menuitem
            id="menu_vendor_quotations_progress"
            name="In Progress"
            parent="menu_vendor_quotations"
            action="action_vendor_rfq_progress"
            sequence="1"/>
    <menuitem
            id="menu_vendor_quotations_done"
            name="Done"
            parent="menu_vendor_quotations"
            action="action_vendor_rfq_done"
            sequence="1"/>
    <menuitem
            id="menu_vendors_root"
            name="Vendors"
            parent="menu_vendor_portal_root"
            sequence="3"/>
    <menuitem
            id="menu_vendors"
            name="Vendors"
            parent="menu_vendors_root"
            action="account.res_partner_action_supplier"
            sequence="1"/>
    <menuitem
            id="menu_registered_vendors"
            name="Registered Vendors"
            parent="menu_vendors_root"
            action="registered_res_partner_action_supplier"
            sequence="1"/>
    <menuitem
            id="menu_orders_root"
            name="Orders"
            parent="menu_vendor_portal_root"
            sequence="4"/>
    <menuitem
            id="menu_request_quotation"
            name="Request for Quotation"
            parent="menu_orders_root"
            action="action_vendor_request_for_quotation"
            sequence="4"/>
    <menuitem
            id="menu_purchase_orders"
            name="Purchase Orders"
            parent="menu_orders_root"
            action="action_vendor_purchase_orders"
            sequence="4"/>
    <menuitem
            id="menu_vendor_portal_configuration"
            name="Configuration"
            parent="menu_vendor_portal_root"
            sequence="100"/>
    <menuitem
        id="vendor_portal_settings_menu"
        name="Settings"
        parent="menu_vendor_portal_configuration"
        action="action_vendor_portal_config"
        groups="base.group_system"
        sequence="100"/>

</odoo>