.drop_box_image{
    width: 180px;
    height: 180px;
    margin-top: 15px;
}
.dropbox_upload{
    background-color: #006ce5;
    color: white;
    border-radius: 5px;
    width: 100px;
    margin-left: 10px;
}
.dropbox_card{
    margin-left: 20px;
    background: linear-gradient(295deg, rgba(24,125,223,0.3897934173669467) 0%, rgba(47,145,217,0) 100%);
    max-width:15%;
    height:23rem;
    border-radius: 1.25rem;
    margin:15px;
}
.dropbox_card:hover {
   box-shadow: 0 4px 16px 0 rgba(0,0,0,1);
}
.dropbox_text{
    color:black;
}
.content{
    margin-left: 3px;
    overflow-y: scroll;
    height: 85vh;
    width: 100vw;
    background-color: #ffffff;
    }
.file-icon{
    width: 65px;
}
.dropbox_section{
background: rgb(0,128,255);
background: radial-gradient(circle, rgba(0,128,255,1) 0%, rgba(0,82,255,0) 100%);
}
.header-search-input{
    border-radius: 0.5rem;
      height: 30px;
      width: 400px;
      outline: none;
      border: none;
      font-size: 15px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      margin-left: 380px;
}
