*:focus {
    outline: 0 !important;
}

*:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

*button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

* {
    list-style-type: none;
    font-family: $font-default !important;
    font-size: 18px;

    &:focus,
    &:active {
        outline: none !important;
    }
}

html.sr .load-hidden {
    visibility: hidden;
}

*::selection {
    color: rgb(243, 235, 238);
    background-color: black;
}

*a,
a:visited {
    color: #990000;
    text-decoration: none;
}

body {
    position: relative;
    font-family: font-default !important;
    color: var(--text-color);
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}


html {
    scroll-behavior: smooth !important;
}

body {
    scroll-behavior: smooth !important;

}


.bg_img {
    position: absolute;
    z-index: -1;
}

.img1 {
    top: 20%;
    left: 0;
    width: 250px;

    @media (max-width:768px) {

        display: none;
    }

}

.img2 {
    top: 15%;
    width: 250px;

    right: 0;

    @media (max-width:768px) {

        display: none;
    }
}


.section_heading {
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 40px;

    @media(max-width:1200px){
  width: 60%;
    }
    @media(max-width:768px){
        width: 100%;
          }
  span{
    color: var(--up-primary);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    display: block;
  }
  h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--brand-dark);
  }
}