@charset "utf-8";
/* CSS Document */
/*------------------------------ My CSS-------------------------------------*/

a:hover{text-decoration:none !important;}
.padd0{padding:0px !important}
.paddl0{padding-left:0px !important}
.paddr0{padding-right:0px !important}
.paddt20{padding-top:20px;}
.paddt50{padding-top:50px;}
.paddb20{padding-bottom:50px;}
.paddb50{padding-bottom:50px;}
.paddb100{padding-bottom:100px;}


/*------------------------------ My CSS-------------------------------------*/
body{
	font-family: 'Raleway', sans-serif !important;
}
.header{
	background-color: #00b140 !important;
}
.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
}
.navbar-default {
    background-color: #00b140 !important;
    border:none !important;
    padding-top: 1%;
    padding-bottom: 1%;
}
.home_header {
    margin-top: 2.5%;
}
/*.navbar-collapse.collapse {
     padding-top: 2%;
}*/
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
	font-size:16px !important;

}
.navbar-default .navbar-nav > li > a:hover {
    color:  #ff6900 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background:none !important;
    color: #ff6900 !important;
}
.img-content-wrap{
	position:relative
	}
.img-content{
	position:absolute;
	background:#ffffff;
	width:79%;
	height:auto;
	margin:auto;
	bottom: -19%;
	left: 10%;
	padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
	border:solid #d7d7d7 1px;
	}
.img-content h4{
	color:#00b140;
	font-size:22px;
	text-align:center;
	}
.img-content p{
	color:#7c7c7c;
	font-size:13px;
	text-align:center;
	}
.view-more{
	width:25%;
	height:auto;
	background:#ff6900;
	padding:5px 10px;
	color:#fff;
	font-size:11px;
	text-align:center;
}
.view-more:hover{
	background:#e35d00;
	color:#fff;

}
.latest-news{

}
.latest-news h1{
	color:#ff6900;
	font-size:45px;
	text-align:left;
}
.latest-news p{
	color:#7c7c7c;
	font-size:13px;
	text-align:left;
}
.latest-news h4{
	color:#00b140;
	font-size:22px;
	text-align:left;
}
footer{
background:#1f1f1f !important;

}
footer p{
	color:#fff !important;
	font-size:13px !important;
	text-align:left !important;
}
footer h4{
	color:#ff6900 !important;
}
footer ul{
	padding:0px;
	list-style:none;
}
footer a{
	color:#fff !important;
	font-size:13px !important;
	text-align:left !important;
}
footer a:hover{
	color:#ff6900 !important;

}
.social-bg{
	background-color: #ebebeb;
    border-radius: 50px;
    width: 38px !important;
    height: 38px;
    padding-top: 6px;
	color: rgb(31, 31, 31);
    font-size: 20px;
	margin-right: 4px;
    margin-bottom: 12px;
}
.fa-instagram, .fa-google-plus, .fa-twitter, .fa-facebook{
	margin-left: 11px !important;;
    margin-top: 2px;
}
.fa-facebook{
	margin-left: 13px !important;;
    margin-top: 2px;
}
.fa-youtube-play{
	margin-left: 9px !important;;
    margin-top: 2px;
}
.social-bg:hover{
	background-color: rgb(40, 40, 40);
    border-radius: 50px;
    color: #fff;
}
 /*------------------------------ gallery -------------------------------------*/
.commen-header{
	background:url(/theme_college/static/src/images/About_banner.png);
	background-size: 100% 100%;
	padding-bottom: 25%;
}

.nav-allumini{
	    background-color: rgba(0,177,64,.6);
}
.commen-header .navbar-default {
    background:none !important;
}

/*-- Gallery --*/
.gallery,.about-w3-agile,.course{
	padding:50px 0px;
}
.about-w3-agile, .contactus_font, .aboutus_font{
	padding:50px 0px;
	padding-bottom:0px;
}
.about-w3-agile h3,.gallery h3,.course h3, .faclility h3,.location h3 , .contactus_font h1, .aboutus_font h1, .contact_details h2{
	color:#000;
	text-transform:uppercase;
	font-size:25px;
	letter-spacing:2px;
	font-weight:700;
	text-align:left;
	position:relative;
	margin-bottom:50px;
}

.about-w3-agile h3:before, .gallery h3:before, .course h3:before, .faclility h3:before,.location h3:before, .contactus_font h1:before, .aboutus_font h1:before, .contact_details h2:before{
    content: '';
    background: #d9d9d9;
    width: 10%;
    height: 3px;
    position: absolute;
    top: 170%;
    left: 0%;
}
.about-w3-agile h3:after,.gallery h3:after,.course h3:after, .faclility h3:after, .location h3:after,.contactus_font h1:after , .aboutus_font h1:after, .contact_details h2:after{
    content: '';
    background:  #FFC107;
    width: 4%;
    height: 3px;
    position: absolute;
    top: 170%;
    left: 0%;
}
.contactus_font h1:before{
    width:17%;
}
.contactus_font h1:after{
    width:8%;
}
 .faclility h3:before{
	 width:12% ;
}
.faclility h3:after{
	 width:5% ;
}
.location h3:before{
	 width:12% ;
}
.location h3:after{
	 width:5% ;
}
.contact_details h2:before{
	 width:26% ;
}
.contact_details h2:after{
	 width:13% ;
}
/*.about-w3-agile h3:before, .course h3:before, .gallery h3:before{
	width:10% ;
}
.about-w3-agile h3:after, .course h3:after, .gallery h3:after{
	width:4% ;
}*/
.about-w3-agile h3 {
    margin-top: 30px;
}
.gallery-grids-left-subl {
    padding-left: 0;
	margin-top:30px;
}
.gallery-grids-left-subr {
    padding-right: 0;
	margin-top:30px;
}
.gallery-grids-right-first{
	padding-left:0;
	margin-bottom:30px;
}
.gallery-grids-right.gallery-8 {
    padding-left: 0;
	margin-top:30px;
}
.gallery-grids-right.gallery-9 {
    padding-right: 0;
	margin-top:30px;
}
.gallery-grids-right-two{
	padding-right:0;
	margin-bottom:30px;
}
.gallery-grid-sub-left-bottom{
	margin-top:310px;
}
.gallery-grid img {
	width: 100%;
	cursor: pointer;
}

.gallery-grid {
	position: relative;
}

.gallery-grid-pos {
	position: absolute;
	top: 0%;
	left: 5%;
	text-align: center;
	opacity: 0;
	background: #000;
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	-ms-transition: .5s ease-in-out;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	height: auto;
	background: #000;
	text-align: center;
}

.grid figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 7em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before, .grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption, .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

figure.effect-apollo {
	background: #000;
}

figure.effect-apollo img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

figure.effect-apollo figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.72);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
}

figure.effect-apollo:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}
/*-- //Gallery --*/
/*-- Alumini --*/
.alumini h4{
	color:#ff6900;
	text-align:left;
}
.alumini p{
	color:#7c7c7c;
	font-size:13px;

}

.alumini .thumbnail {
    padding: 0px !important;
    border: 1px solid #d7d7d7 !important;
    border-radius: 0px !important;
}
/*-- //Alumini --*/


/*-- courses --*/
.course{

}

.course h4{
	color:#ff6900;
	text-align:left;
}
.course p{
	color:#7c7c7c;
	font-size:18px !important;

}
.course ul{
	padding-left:0px;
}
.course li{
	color:#7c7c7c;
	font-size:13px;
	list-style:none;
}
.course-grids{
	margin-bottom:50px;
}
.course-grids .glyphicon {
   color: #ff6900;
}


/*-- //courses --*/

.faclility h4{
	color:#ff6900;
	text-align:left;
}
.faclility p{
	color:#7c7c7c;
	font-size:18px !important;
}
.location h4{
	color:#ff6900;
	text-align:left;
}
.location p{
	color:#7c7c7c;
	font-size:19px;
}
.location ul{
	color:#7c7c7c;
	font-size:19px;
}

.contactus_font p{
	color:#7c7c7c;
	font-size:13px;
}

.aboutus_font h3{
	color:#ff6900;
	text-align:left;
}
.aboutus_font p{
	color:#7c7c7c;
	font-size:13px;
}
.dropdown-menu.js_usermenu{
    margin-top: 13px !important;
}

@media (max-width:1080px){
	.gallery h3:before {
		width: 13%;
	}
	.gallery-grid img {
		height:inherit;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 255px;
	}
	.gallery-grids-right.gallery-8,.gallery-grids-right.gallery-9 {
		margin-top: 27px;
	}
	.gallery-grids-left-gallery1-top img{
			height:228px;
	}
	.gallery-grids-left-subr img{
		height:483px;
	}
}
@media (max-width:1024px){

}
@media (max-width:991px){
	.gallery h3:before {
		width: 16%;
	}
	.gallery h3:after {
		width: 7%;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 192px;
	}
	.gallery-grids-left-gallery1-top img {
		height: 164px;
	}
	.gallery-grids-left-subr img {
		height: 356px;
	}
	.gallery-grids-right-hand img{
		 height: 161px;
	}

}
@media (max-width:900px){}

@media (max-width:800px){

}
@media (max-width:768px){
.gallery-grids-left.gallery-grids-left-gallery1-top {
		width: 50%;
		float: left;
	}
	.gallery-grids-left {
		width: 50%;
		float: left;
	}
	.gallery-grids-right-first,.gallery-grids-right-two,.gallery-grids-left-subl,.gallery-grids-left-subr{
		width: 50%;
		float: left;
	}
	.gallery-grids-right.gallery-8, .gallery-grids-right.gallery-9 {
		margin-top: 30px;
		width: 50%;
		float: left;
	}
	.gallery-grids-left-gallery1-top img {
		height: 155px;
	}
	.gallery-grids-left-subr img {
		height: 349px;
	}
}
@media (max-width:736px){
	.gallery-grids-left.gallery-grids-left-gallery1-top {
		width: 50%;
		float: left;
	}
	.gallery-grids-left {
		width: 50%;
		float: left;
	}
	.gallery-grids-right-first,.gallery-grids-right-two,.gallery-grids-left-subl,.gallery-grids-left-subr{
		width: 50%;
		float: left;
	}
	.gallery-grids-right.gallery-8, .gallery-grids-right.gallery-9 {
		margin-top: 30px;
		width: 50%;
		float: left;
	}
	.gallery-grids-left-gallery1-top img {
		height: 155px;
	}
	.gallery-grids-left-subr img {
		height: 349px;
	}
}
@media (max-width:667px){
	.gallery-grids-left-gallery1-top img {
		height: 139px;
	}
	.gallery-grids-left-subr img {
		height: 312px;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 172px;
	}
	.gallery-grids-right-hand img {
		height: 146px;
	}
}
@media (max-width:640px){
	.gallery-grids-left-gallery1-top img {
		height: 131px;
	}
	.gallery-grids-left-subr img {
		height: 290px;
	}
	.gallery-grids-right-hand img {
		height: 130px;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 160px;
	}

}
@media (max-width:600px){
	.gallery-grids-left.gallery-grids-left-gallery1-top {
		width: 100%;
		float: left;
	}
	.gallery-grids-left {
		width: 100%;
		float: left;
	}
	.gallery-grids img{
		height:inherit;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 300px;
}
}

@media (max-width:480px){
	.gallery-grid-sub-left-bottom {
		margin-top: 230px;
	}
}
@media (max-width:414px){
	.gallery-grids-left-subl,.gallery-grids-left-subr {
		margin-top: 25px;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 194px;
	}
	.gallery-grids-right-two,.gallery-grids-right-first {
		margin-bottom: 25px;
	}
	.gallery-grids-left-subr.gallery-grids-left-subr-long {
		padding-left: 12px;
		padding-right:0;
	}
	.gallery-grids-left-subl, .gallery-grids-left-subr {
	   padding-right:13px;
	}
	.gallery-grids-right-two {
		padding-right:0;
	}
	.gallery-grids-right-first {
		padding-right:12.5px;
	}
	.gallery-grids-right.gallery-8, .gallery-grids-right.gallery-9 {
		margin-top: 25px;
	}
	.gallery-grids-right.gallery-8{
		padding-right:12.5px;
	}
	.gallery-grids-right.gallery-9 {
		padding-left:12.5px;
	}
}
@media (max-width:384px){
	.gallery-grid-sub-left-bottom {
		margin-top: 176px;
	}
}
@media (max-width:375px){
	.gallery h3:before {
		width: 29%;
	}
	.agile_team_grid4{
		margin-bottom:0;
	}
}
@media (max-width:320px){
	.agile_team_grid {
		width: 75%;
	}
	.gallery-grid-sub-left-bottom {
		margin-top: 140px;
	}
	.contact-text-agileinf0 {
		width: 67%;
		float: right;
	}
}

.college_carousel .carousel-inner{
    height: 700px !important;
}
#wrapwrap header .navbar{
    background-color: #2f890b96;
}

.footer .fp {
  color: #aaa;
  margin-bottom: 30px;
  padding-top: 20px;
  line-height: 1.7rem;
  font-size: 18px;
}
@media screen and (max-width: 996px) {
  .footer .footer_icons {
    margin-bottom: 40px;
    padding-bottom: 10px;
  }
}

.footer .footer_icons ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.footer .footer_icons ul .fb:hover {
  background: #3b5998;
  color: #fff;
}

.footer .footer_icons ul .tw:hover {
  background: #1da1f2;
  color: #fff;
}

.footer .footer_icons ul .gg:hover {
  background: #f44336;
  color: #fff;
}

.footer .footer_icons ul .dr:hover {
  background: #ea4c89;
  color: #fff;
}

.footer .footer_icons ul li {
  color: #aaa;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  background-color: #363434;
  text-align: center;
  padding-top: 11px;
}

.footer .footer_icons ul li:hover {
  background-color: #087b81;
}

.alumni-img {
    height: 212px;
    width: 100%;
}

.contact_page {
    margin-top: 60px;
}
.contact-page-second-col{
    margin-top: 81px;
}
.contact_page .o_website_form_send{
    margin-right: 252px;
}
.faclility {
    margin-top: 56px;
}
.location {
    margin-top: 56px;
}
.gallery{
    margin-top: 10px;
}
.navbar-light .navbar-nav .nav-link.active {
    color: orange !important;
}
.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.o_livechat_button.d-print-none.o_bottom_fixed_element.o_bottom_fixed_element_move_up.o_website_livechat_button.fa.fa-commenting {
    display: flex;
}
#wrapwrap #wrap .container{
    margin-top: 74px;
}

.scholarship_form {
  background-color: #f4f4f4;
  margin-top: 45px;
}

.scholarship_form .card {
  background: transparent;
  border: none;
  padding-top: 40px;
}

.scholarship_form .card .card-body {
  padding: 0;
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .scholarship_form .card .card-body {
    margin-top: 0px;
  }
}

.scholarship_form .card .card-title {
  color: 36px;
  font-weight: 700;
}

.scholarship_form .card .card-title p {
  color: #3fc0b6;
  margin-top: 0;
}

.scholarship_form .card p {
  color: #6b778d;
  margin-top: 30px;
}

.scholarship_form .btn {
  /*margin-top: 20px;*/
    color: #6fb74a;
    background-color: white;
    border-color: white;
    margin-top: -33px;
    margin-right: 171px;
}

.scholarship_img {
  margin-top: 60px;
  margin-bottom: 60px;
}

.scholarship_img .img-fluid {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 7px;
}

.scholarship{
    background-color: #89d55a94;
    border-radius: 75px 75px 75px 75px;
}

.partner .company img{
    width: 100%;
}
.partner h3 {
    color: #a3a4a6;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.college_location {
  margin-top: 90px;
}

.college_location h1 {
  font-weight: 700;
  margin-bottom: 10px;
}

.college_location h1 span {
  color: #9be384;
}
.college_location h1 {
  color: #a3a4a6;
}

.college_location p {
  color: #6b778d;
  font-size: 16px;
}

.college_location .favourites img {
  border-radius: 50%;
  width: 100%;
}

.college_location .favourites h5 {
  padding-top: 20px;
  color: #a3a4a6;
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .college_location .favourites h5 {
    font-size: 17px !important;
  }
}

.banner .carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px;
  height: 15px;
  margin-right: 14px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
  border-radius: 50%;
}

.banner .card {
  margin-top: 100px;
  align-self: center;
  background: transparent !important;
  border: none;

}

.card-body{
 background: transparent !important;
 }

.banner .card .card-title {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .banner .card .card-title {
    font-size: 40px;
  }
}

.banner .card .card-title span {
  margin-top: 20px;
}

.banner .card .card-text {
  color: #fff;
  font-size: 18px;
  margin-top: 32px;
  margin-bottom: 35px;
}
.banner-1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(/theme_college/static/src/images/banner3.jpg);
  height: 100vh;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(/theme_college/static/src/images/About_banner.png);
  height: 100vh;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%), url(/theme_college/static/src/images/banner3.jpg);
  height: 100vh;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

img.img-responsive.zoom-img {
    width: 100%;
}
#wrapwrap #wrap .scholarship_container {
    margin-top: 13px !important;
}
a.btn.btn-primary.btn-lg.s_website_form_send.o_default_snippet_text{
    margin-top: 8px;
}