.footer {
    background-color: $color-footer;
    padding-top: 90px;

.footer_part{

    @media screen and(max-width:996px) {

        margin-bottom: 40px;
        
    }
}

    h4 {
        color: $color-white;
        font-size: 25px;
        font-weight: 600;
    }
    .fp {
        color: $color-p;
        margin-bottom: 30px;
        padding-top: 20px;
        line-height: 1.7rem;
        font-size: 18px;
    }
    .fpm {
        color: $color-p;
        font-size: 18px;
        padding-top: 10px;
        a {
            color: $color-p;
            &:hover {
                text-decoration: none;
                color: $color-white;
            }
        }
    }
    .footer_icons {

        @media screen and(max-width:996px) {

            margin-bottom: 40px;

            padding-bottom: 10px;
            
        }
        ul {
            display: flex;
            list-style: none;
            padding-left: 0;
            margin-top: 20px;

            .fb {
                &:hover {
                    background: #3b5998;
                    color: #fff;
                }
            }
            .tw {
                &:hover {
                    background: #1da1f2;
                    color: #fff;
                }
            }
            .gg {
                &:hover {
                    background: #f44336;
                    color: #fff;
                }
            }
            .dr {
                &:hover {
                    background: #ea4c89;
                    color: #fff;
                }
            }

            li {
                color: $color-p;
                font-size: 18px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 20px;
                background-color: #363434;
                text-align: center;
                padding-top: 11px;

                &:hover {
                    background-color: $color-sub-head;
                }
            }
        }
    }
    .ping{

        @media screen and(max-width:996px) {

            margin-bottom: 40px;
            padding-bottom: 10px;
        }
        .form-inline{
            margin-bottom: 15px;
        }
        .md-form{
            width: 100%;
            margin-bottom: 20px;
            .form-control{
                width: 100%;
                padding: 26px 12px;
                border-radius: 5px;
            }
        }
    }
    .footer_bottom{
        margin-top: 30px;
    
           padding: 30px 0;
            color: $color-p;
        font-size: 18px;
        background-color:#05393b;;

        a{
            color: $color-white;
            text-decoration: none;
            &:hover{
                color: $color-sub-head;
            }
        }        
    }
}
