
.nav-wrapper{
    background-color: $color-white;
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
z-index: 9999;
animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
-webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    .navbar {
    margin: auto 105px;


    @media screen and(max-width:600px){
        margin:auto;
    }
    #new{

        padding-top: 35px;
    padding-bottom: 35px;
    }
    
   

    .navbar-toggler {
        border-color: $color-sub-head;
        &:hover {
            background-color: $color-sub-head;
        }
        span {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 3px;
            padding-right: 3px;
            color: #149180 !important;
            font-size: 26px;
            color: $color-sub-head !important;
            &:hover {
                color: $color-white !important;
            }
        }
    }

    .navbar-brand {
        color: $color-brand;
        font-size: 36px;
        font-weight: 600;
    }

    .nav-item {
        .nav-link {
            padding-right: 0.8rem;
            padding-left: 0.8rem;
            color: $color-font;
            &:hover {
                color: $color-black !important;
            }
        }
    }

    .active {
        .nav-link {
            color: $color-sub-head !important;
        }
    }

    .search {
        span {
            color: $color-sub-head;
            color: #036b70;
            margin-right: 20px;
            font-size: 20px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            line-height: 41px;
            &:hover {
                background-color: $color-sub-head;
                color: $color-white;
            }
        }
    }
}
}
.banner{
    .carousel-indicators li{
        box-sizing: content-box;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
width: 15px;
height: 15px;
margin-right: 14px;
margin-left: 3px;
text-indent: -999px;
cursor: pointer;
background-color: #fff;
background-clip: padding-box;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
opacity: .5;
transition: opacity .6s ease;
border-radius: 50%;


    }

    .card{
        margin-top: 100px;
        align-self: center;
        background: transparent;
        border: none;
         
        .card-title{
            color: $color-white;
            font-size: 60px;
            font-weight: 600;
            @media screen and(max-width:768px) {

                font-size: 40px;
                
            }
            span{
                margin-top: 20px;
            }
        }
        .card-text{
            color: $color-white;
            font-size: 18px;
            margin-top: 32px;
            margin-bottom: 35px;
        }
    }
}
.banner-1 {

    display: flex;
    align-items: flex-start;
justify-content: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),  url(./../images/banner/banner1.jpg);
  
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  
  }
  .banner-2 {

    
    display: flex;
    align-items: flex-start;
justify-content: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),  url(./../images/banner/banner2.jpg);
  
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  
  }.banner-3 {

    
    display: flex;
    align-items: flex-start;
justify-content: center;
    background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),  url(./../images/banner/banner3.jpg);
    height: 100vh;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  
  }
